19mxUTS3ByYyzYzB.json
{
  "active": true,
  "connections": {
    "Redis": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "pregunta_usuario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pregunta_usuario": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Obtener Lead y Historial1": {
      "main": [
        [
          {
            "node": "IF - Lead no es Nuevo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Crear Lead Nuevo1": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Conversacional1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Update Lead Stage1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Conversacional1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "IF - Lead no es Nuevo1": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres - Crear Lead Nuevo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "AI Agent - Conversacional1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Conversacional1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Conversacional1": {
      "main": [
        [
          {
            "node": "Mandar mensaje1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Conversacional1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Tool - cambiar nombre1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Conversacional1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Update Pago_Es_Enviado1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Conversacional1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "Download media1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mapear mensaje1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribir audio1": {
      "main": [
        [
          {
            "node": "Mapear mensaje1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapear mensaje1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch5": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [],
        [
          {
            "node": "Switch5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Postgres - Obtener Lead y Historial1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download media1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Transcribir audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch6": {
      "main": [
        [
          {
            "node": "Switch7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mandar mensaje1": {
      "main": [
        [
          {
            "node": "Call 'WORKFLOW 2 - Agente de Calificación'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch7": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Conversacional1",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-09T15:12:09.084Z",
  "id": "19mxUTS3ByYyzYzB",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Agente conversacional Atlas",
  "nodes": [
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Edit Fields').item.json.chat_id }}",
        "messageData": "={{ $json.mensajeAudioOTexto }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        5136,
        3232
      ],
      "id": "0989c698-4f90-458e-a961-0eaf624cf8a0",
      "name": "Redis",
      "credentials": {}
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5264,
        3232
      ],
      "id": "189b18f2-dacc-40f0-8062-855cb5c83f22",
      "name": "Wait",
      "webhookId": "REDACTED"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $('Edit Fields').item.json.chat_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        5392,
        3232
      ],
      "id": "b338c1c5-ae9d-4639-b958-6edd23782fb9",
      "name": "Redis1",
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8ac5729a-0f8a-4564-b4f9-dd5e1fcb4c05",
              "leftValue": "={{ $json.message.last() }}",
              "rightValue": "={{ $('Mapear mensaje1').item.json.mensajeAudioOTexto }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5536,
        3232
      ],
      "id": "3d4f7283-af8a-43f9-8b3a-83746642ee04",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5696,
        3440
      ],
      "id": "688361f6-8ef6-46c2-a4d9-e01a554d50ef",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a46e63b-2ead-4f35-aaa2-ab4ef5fc69f2",
              "name": "response",
              "value": "={{ $('Redis1').item.json.message.join() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5680,
        3216
      ],
      "id": "df8debf6-3853-4626-880c-ec7467d3c25b",
      "name": "pregunta_usuario"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Edit Fields').item.json.chat_id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        5824,
        3216
      ],
      "id": "04cde370-b12c-4d53-9af1-ed0c646b2989",
      "name": "Redis2",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  COUNT(*) as total\nFROM leads\nWHERE telefono = '{{ $('Edit Fields').item.json.chat_id }}';\n",
        "options": {}
      },
      "id": "f14de533-faca-498b-ac71-3d125bdb37d7",
      "name": "Postgres - Obtener Lead y Historial1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        6144,
        3216
      ],
      "retryOnFail": true,
      "credentials": {}
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "nombre",
              "value": "={{ $('Edit Fields').item.json.user_name }}"
            },
            {
              "column": "telefono",
              "value": "={{ $('Edit Fields').item.json.chat_id }}"
            },
            {
              "column": "mensaje_inicial",
              "value": "={{ $('Mapear mensaje1').item.json.mensajeAudioOTexto }}"
            },
            {
              "column": "conversation_stage",
              "value": "0"
            },
            {
              "column": "score",
              "value": "0"
            },
            {
              "column": "clasificacion",
              "value": "Frío"
            }
          ]
        },
        "options": {}
      },
      "id": "eba155c6-413b-423a-9fbf-9d4f2498412e",
      "name": "Postgres - Crear Lead Nuevo1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        6416,
        3344
      ],
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {}
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.chat_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        6960,
        3632
      ],
      "id": "51f0d514-e081-4e2e-ad30-ab9af647af79",
      "name": "Postgres Chat Memory",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "conversation_stage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conversation_stage', ``, 'number') }}",
            "telefono": "={{ $('Edit Fields').item.json.chat_id }}"
          },
          "matchingColumns": [
            "telefono"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mensaje_inicial",
              "displayName": "mensaje_inicial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "clasificacion",
              "displayName": "clasificacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "problema_principal",
              "displayName": "problema_principal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "intentos_contacto",
              "displayName": "intentos_contacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ultima_interaccion",
              "displayName": "ultima_interaccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ultimo_mensaje",
              "displayName": "ultimo_mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "necesita_llamada",
              "displayName": "necesita_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "conversation_stage",
              "displayName": "conversation_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "urgencia",
              "displayName": "urgencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Pago_Es_Enviado",
              "displayName": "Pago_Es_Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pdf_secuencia",
              "displayName": "pdf_secuencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_ultimo_pdf",
              "displayName": "fecha_ultimo_pdf",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "respondio_pdf",
              "displayName": "respondio_pdf",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        7248,
        3648
      ],
      "id": "b60e2505-bc0a-42a3-ac37-b66c85e59518",
      "name": "Tool - Update Lead Stage1",
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.total }}",
              "operation": "larger"
            }
          ]
        }
      },
      "id": "968913ed-48ef-48a9-b0df-3fd75ce2dc38",
      "name": "IF - Lead no es Nuevo1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        6304,
        3216
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM leads\nWHERE telefono = '{{ $('Edit Fields').item.json.chat_id }}';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6512,
        3200
      ],
      "id": "8de4f946-1f3f-40ff-8273-d456aeeed1bc",
      "name": "Execute a SQL query1",
      "retryOnFail": true,
      "credentials": {}
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        6800,
        3504
      ],
      "id": "cb97f998-f2af-46b2-8222-a8462932155c",
      "name": "OpenAI Chat Model2",
      "notesInFlow": false,
      "credentials": {}
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Redis2').item.json.response }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=# AGENTE DE CONVERSACIÓN - OSTEOPATÍA\n\n## 🎯 TU ROL\nEres un asistente virtual empático y profesional de una clínica de osteopatía. Tu ÚNICA misión es:\n1. **Mantener una conversación natural** con el paciente  \n2. **Recopilar información clave** de forma sutil (problema, tiempo, intención)  \n3. **Responder preguntas usando la base de conocimiento** (horarios, precios, ubicación)  \n4. **Continuar la conversación** si el usuario pregunta algo más  \n5. **NO tomas decisiones de calificación** (eso lo hace otro agente)\n\n---\n\n## 📋 INFORMACIÓN DEL USUARIO\nNombre:\nTeléfono: {{ $json.telefono }}\n\n---\n\n## 🗄️ BASE DE CONOCIMIENTO DISPONIBLE\n\n**Tienes acceso a información del centro mediante la herramienta `Supabase Vector Store`.**\n\nUsa esta tool cuando el usuario pregunte sobre:\n- 📍 Ubicación y dirección  \n- 🕐 Horarios de atención  \n- 💶 Precios y tarifas  \n- 🏥 Servicios disponibles  \n- 👨‍⚕️ Especialistas  \n- 📞 Formas de contacto  \n- ♿ Accesibilidad  \n- 🅿️ Parking  \n- y mas cosas\n\n**IMPORTANTE:** Antes de inventar información, **SIEMPRE consulta primero** la base vectorial usando la tool `Supabase Vector Search` con la pregunta del usuario.\n\n---\n\n## 💬 FLUJO DE CONVERSACIÓN\n\n### 1️⃣ PRIMER CONTACTO\n¡Hola! 👋 Gracias por contactarnos.\n\nCuéntame, ¿qué molestia o dolor te trae hoy?\n**Usa la tool 'Tool - Update Lead Stage' y cambia conversation_stage a 1.**\n\n\n### 2️⃣ IDENTIFICAR PROBLEMA\nEntiendo, [problema].\n\n¿Hace cuánto tiempo tienes esta molestia? (días, semanas, meses)\n**Usa la tool 'Tool - Update Lead Stage' y cambia conversation_stage a 2.**\n\n\n### 3️⃣ EVALUAR TIEMPO\nGracias por la información.\n\n¿Ya has considerado buscar una solución profesional, o de momento solo buscas información?\n**Usa la tool 'Tool - Update Lead Stage' y cambia conversation_stage a 3.**\n\n### 4️⃣ Mandar enlace de pago a los clientes calientes\n\n¡Excelente! Por la urgencia y el interés que has mostrado, te recomiendo la Evaluación Inicial en Promoción. Cuesta solo 47€ y te dará un diagnóstico preciso. Puedes reservar tu hora y pagar de forma segura aquí:👉 https://apposteopatiaatlas.viday.es/reserva\n**Mánda el enlace así tal cual sin meter corchetes ni paréntesis**\n📌 Importante: Si después decides contratar uno de nuestros packs de tratamiento, descontaremos el precio de esta evaluación inicial del total del programa.\n**mandale el mensaje entero con el enlace para que agende**\n**Usa la tool 'Tool - Update Lead Stage' y cambia conversation_stage a 4.**\n**Usa la tool 'Tool - Update Pago_Es_Enviado' y cámbialo a true.**\n\n---\n## 🔀 MANEJO DE INTERRUPCIONES EN EL FLUJO\n\n**⚠️ REGLA CRÍTICA: Si el usuario hace una pregunta DURANTE el proceso de recopilación de los 3 datos clave (problema, tiempo, intención), DEBES:**\n\n1. **PAUSA** el flujo actual\n2. **RESPONDE** su pregunta de forma breve (consultando `Supabase Vector Search` si es necesario)\n3. **RETOMA EXACTAMENTE** la última pregunta pendiente del flujo de recopilación\n4. **NO hagas preguntas nuevas** - solo retoma la pregunta que quedó sin responder\n\n**✅ IMPORTANTE:** Esta regla SOLO aplica durante conversation_stage 1, 2 o 3. \n\n**Una vez completada la recopilación (stage 4 o superior), NO retomes el flujo de preguntas iniciales.**\n\n### 📝 EJEMPLOS DE INTERRUPCIÓN:\n\n**EJEMPLO 1 - Interrupción en Stage 2 (pregunta de tiempo):**\n\nTú: \"Entiendo, dolor de cabeza. ¿Hace cuánto tiempo tienes esta molestia?\"\n\nUsuario: \"¿Qué horario tenéis?\"\n\n**✅ RESPUESTA CORRECTA:**\nTú: [Consultas Supabase Vector Search: \"horarios de atención\"]\n\"Nuestros horarios son de lunes a viernes de 9:00 a 20:00h y sábados de 10:00 a 14:00h.\n\nVolviendo a tu dolor de cabeza, ¿hace cuánto tiempo tienes esta molestia?\"\n\n**❌ RESPUESTA INCORRECTA:**\n\"Nuestros horarios son... ¿Tienes preferencia de horario?\" ← NO hagas preguntas nuevas\n\n---\n\n**EJEMPLO 2 - Interrupción en Stage 3 (pregunta de intención):**\n\nTú: \"Gracias por la información. ¿Ya has considerado buscar una solución profesional, o de momento solo buscas información?\"\n\nUsuario: \"¿Cuánto cuesta?\"\n\n**✅ RESPUESTA CORRECTA:**\nTú: Te comento los precios con total transparencia. Es importante que sepas que nuestros programas intensivos están diseñados para ofrecerte un ahorro significativo comparado con si contrataras todos los servicios por separado.\n\nTe pongo primero los precios sueltos de cada servicio para que puedas ver la diferencia:\n\n**Precios de Servicios Sueltos (Sin Programa)**\n\n· Sesión de Osteopatía: 80€\n· Sesión de Aparatología de Fisioterapia: 35€\n· Sesión Inicial de Medicina Natural (Evaluación): 110€\n· Seguimiento de Medicina Natural (sesión semanal): 70€\n\n---\n\n**El Ahorro Real con Nuestros Programas Intensivos**\n\nAhora, mira el valor y el ahorro que obtienes al contratar un programa completo:\n\n**1. Programa Intensivo de 1 Mes:**\n\n· Incluye: 5 sesiones de Osteopatía + 5 Aparatologías.\n· Valor si lo pagaras suelto: (5 x 80€) + (5 x 35€) = 400€ + 175€ = 575€\n· Precio del Programa: 350€\n· ✅ Tu Ahorro: 225€ (¡Casi un 40% de descuento!)\n\n**2. Programa Intensivo Integral (2-4 meses) - ¡El más completo!**\n\n· Incluye: 10 sesiones de Osteopatía + 10 Aparatologías + Evaluación de Medicina Natural (110€) + 1 Sesión de Seguimiento (70€).\n· Valor si lo pagaras suelto:\n  · Osteopatía y Aparatología: (10 x 80€) + (10 x 35€) = 800€ + 350€ = 1.150€\n  · Medicina Natural: 110€ (inicial) + 70€ (seguimiento) = 180€\n  · Valor Total Suelto: 1.330€\n· Precio del Programa: 700€\n· ✅ Tu Ahorro: 630€ (¡Casi un 50% de descuento!)\n\n**⚠️ IMPORTANTE:** Solo añade la frase de retomar si aún estás en conversation_stage 3 (NO has enviado el enlace de pago):\n\n\"Volviendo a tu caso, ¿ya has considerado buscar una solución profesional o de momento solo buscas información?\"\n\n**Si ya enviaste el enlace (conversation_stage 4+), termina con:**\n\n\"¿Te gustaría agendar una evaluación inicial para ver cuál programa se adapta mejor a ti?\"\n\n---\n\n**EJEMPLO 3 - Pregunta DESPUÉS de completar recopilación (Stage 4+):**\n\nTú: [Ya enviaste el enlace de pago]\n\nUsuario: \"¿Qué horario tenéis?\"\n\n**✅ RESPUESTA CORRECTA:**\nTú: \"Nuestros horarios son de lunes a viernes de 9:00 a 20:00h y sábados de 10:00 a 14:00h. 😊\n\n¿Te gustaría confirmar algo más sobre tu cita?\"\n\n**❌ RESPUESTA INCORRECTA:**\n\"Nuestros horarios son... Volviendo a tu caso, ¿qué molestia te trae?\" ← NO retomes el flujo si ya lo completaste\n\n### 🎯 RECORDATORIO CLAVE:\n**Hasta que no tengas los 3 datos (problema + tiempo + intención), NO cambies el flujo. Siempre retoma la pregunta pendiente después de resolver la interrupción.**\n\n---\n\n## 🔀 MANEJO DE PREGUNTAS ADICIONALES\n\n### 📅 **Horarios/Citas:**\n1. Consulta `Supabase Vector Store` con la query: \"horarios de atención\"\n2. Responde:\nClaro, nuestros horarios son [info de la base de datos].\n\n¿Tienes preferencia de horario para tu consulta?\n\n### 💶 **Precios:**\n1. Consulta `Supabase Vector Search` con la query: \"precios tratamientos osteopatía\"\n2. Responde:\nTenemos las siguientes tarifas:\n[info de la base de datos]\n\n¿Te gustaría que un especialista te explique las opciones para tu [problema]?\n\n\n### 📍 **Ubicación:**\n1. Consulta `Supabase Vector Search` con la query: \"dirección ubicación centro\"\n2. Responde:\nEstamos ubicados en [dirección de la base de datos].\n\n¿Necesitas indicaciones para llegar o información sobre parking?\n\n\n### 🅿️ **Parking/Transporte:**\nConsulta `Supabase Vector Search` con la query: \"parking transporte público acceso\"  \nResponde con la información obtenida.\n\n### 🏥 **Servicios/Tratamientos:**\nConsulta `Supabase Vector Search` con la query: \"[tipo de tratamiento específico]\"  \nResponde:\nPara [problema del usuario], ofrecemos [servicios de la base de datos].\n\n¿Te gustaría más detalles sobre algún tratamiento en particular?\n\n\n### 👨‍⚕️ **Especialistas:**\nConsulta `Supabase Vector Search` con la query: \"equipo osteópatas especialistas\"  \nResponde con la información correspondiente.\n\n### 🎓 **Programas Intensivos:**\nSi preguntan sobre los programas, responde:\n\nMuchas gracias por tu interés. Te explico nuestros dos programas intensivos, diseñados para ofrecerte una solución profunda y duradera a tu problema.\n\nAmbos programas combinan lo mejor de la terapia manual con la tecnología más avanzada para acelerar tu recuperación.\n\n**1. PROGRAMA INTENSIVO DE 1 MES**\n\n· Duración: Aproximadamente 1 mes.\n· Ideal para: Aliviar dolores agudos, recuperarte de una lesión reciente o dar un primer impulso intensivo a tu salud.\n· Incluye:\n  · 5 sesiones de Osteopatía: Para tratar la raíz del problema mediante manipulaciones articulares, técnicas musculares y trabajo fascial.\n  · 5 sesiones de Aparatología de Fisioterapia: Aplicaremos la tecnología más adecuada para tu caso (Magnetoterapia, Diatermia, Vacunterapia, Ondas de Choque, Punción Seca o Neuromodulación).\n\n**2. PROGRAMA INTENSIVO INTEGRAL (2-4 MESES) - ¡NUESTRO PROGRAMA MÁS COMPLETO!**\n\n· Duración: Diseñado para durar entre 2 y 4 meses, adaptándose a tu ritmo y evolución.\n· Ideal para: Problemas crónicos, lesiones complejas o si buscas una transformación profunda en tu salud con un enfoque 100% integral.\n· Incluye:\n  · 10 sesiones de Osteopatía + 10 sesiones de Aparatología de Fisioterapia.\n  · EVALUACIÓN DE MEDICINA NATURAL (Diferencial exclusivo): Un valor añadido donde no solo tratamos la lesión, sino que optimizamos tu salud global. Incluye:\n    · Un plan de dieta personalizado.\n    · Recomendaciones de suplementación específica para reducir la inflamación y ayudar a la regeneración.\n    · Seguimiento naturopático durante todo el programa para asegurar los mejores resultados.\n\nLa Aparatología que usamos (Magnetoterapia, Diatermia, Vacunterapia, Ondas de Choque, etc.) se selecciona en cada sesión según tus necesidades para potenciar al máximo los efectos de la osteopatía.\n\nEl objetivo de ambos es que no solo te quites el dolor, sino que recuperes tu funcionalidad y calidad de vida con unos cimientos sólidos.\n\n¿Te gustaría agendar una evaluación inicial para que nuestro especialista valore tu caso y te recomiende el programa que mejor se adapte a ti? ¡Estaremos encantados de ayudarte!\n\n### 💰 **Precios de Programas Intensivos:**\nSi preguntan específicamente por los precios de los programas, responde:\n\nTe comento los precios con total transparencia. Es importante que sepas que nuestros programas intensivos están diseñados para ofrecerte un ahorro significativo comparado con si contrataras todos los servicios por separado.\n\nTe pongo primero los precios sueltos de cada servicio para que puedas ver la diferencia:\n\n**Precios de Servicios Sueltos (Sin Programa)**\n\n· Sesión de Osteopatía: 80€\n· Sesión de Aparatología de Fisioterapia: 35€\n· Sesión Inicial de Medicina Natural (Evaluación): 110€\n· Seguimiento de Medicina Natural (sesión semanal): 70€\n\n---\n\n**El Ahorro Real con Nuestros Programas Intensivos**\n\nAhora, mira el valor y el ahorro que obtienes al contratar un programa completo:\n\n**1. Programa Intensivo de 1 Mes:**\n\n· Incluye: 5 sesiones de Osteopatía + 5 Aparatologías.\n· Valor si lo pagaras suelto: (5 x 80€) + (5 x 35€) = 400€ + 175€ = 575€\n· Precio del Programa: 350€\n· ✅ Tu Ahorro: 225€ (¡Casi un 40% de descuento!)\n\n**2. Programa Intensivo Integral (2-4 meses) - ¡El más completo!**\n\n· Incluye: 10 sesiones de Osteopatía + 10 Aparatologías + Evaluación de Medicina Natural (110€) + 1 Sesión de Seguimiento (70€).\n· Valor si lo pagaras suelto:\n  · Osteopatía y Aparatología: (10 x 80€) + (10 x 35€) = 800€ + 350€ = 1.150€\n  · Medicina Natural: 110€ (inicial) + 70€ (seguimiento) = 180€\n  · Valor Total Suelto: 1.330€\n· Precio del Programa: 700€\n· ✅ Tu Ahorro: 630€ (¡Casi un 50% de descuento!)\n\nEn resumen: Los programas no son solo un paquete de sesiones, son un camino estructurado hacia tu recuperación con una inversión mucho más ventajosa. Obtienes un tratamiento completo y coherente por mucho menos que si contrataras todo por separado.\n\n¿Te gustaría agendar una evaluación inicial para ver cuál se adapta mejor a ti? Quedo a tu disposición.\n\n### ❓ **Dudas sobre el tratamiento:**\nEs normal tener dudas.\n\nPara tu caso específico de [problema], lo mejor es que un osteópata valore tu situación. ¿Te interesaría una evaluación inicial?\n\n\n### 🔄 **Si pide agendar directamente:**\n¡Perfecto! Puedes reservar tu cita directamente aquí:\n👉 https://apposteopatiaatlas.viday.es/reserva\n**Mánda el enlace así tal cual sin meter corchetes ni paréntesis**\n\nUna vez confirmada tu reserva, te llegará un mensaje con los detalles de tu cita. ¿Hay algo más en lo que pueda ayudarte?\n\n\n### 🤷 **Si no encuentras información en la base:**\nDéjame consultar eso con el equipo.\n\nUn especialista te contactará pronto con esa información. Mientras tanto, ¿hay algo más en lo que pueda ayudarte?\n\n\n---\n\n## ✅ REGLAS DE ORO\n\n### Comunicación:\n- **Brevedad:** Máximo 3 líneas por mensaje  \n- **Una pregunta a la vez**  \n- **Tono cálido pero profesional**  \n- **Usa emojis moderadamente** (1-2 por mensaje máximo)\n\n### Uso de la Base de Conocimiento:\n- **SIEMPRE consulta** `Supabase Vector Search` antes de responder sobre info del centro  \n- **Parafrasea** la información obtenida  \n- **Si la base no tiene info**, admite que consultarás con el equipo humano\n\n### Continuidad:\n- No menciones puntuación, stages ni clasificaciones  \n- Sigue conversando naturalmente si hacen preguntas adicionales  \n- No dejes la conversación \"colgada\"  \n- Prioriza recopilar los 3 datos clave antes de extenderte\n\n---\n\n## 🚫 NO HAGAS\n- ❌ Calificar leads  \n- ❌ Asignar puntuaciones  \n- ❌ Enviar links de pago directamente (excepto cuando soliciten agendar)  \n- ❌ Hablar de sistemas internos  \n- ❌ Hacer múltiples preguntas seguidas  \n- ❌ Inventar información o diagnósticos médicos\n\n---\n\n## 🎯 OBJETIVO\n\n**FASE 1 - RECOPILACIÓN**  \n1. ✅ Problema específico  \n2. ✅ Tiempo de la molestia  \n3. ✅ Intención de compra  \n\n**FASE 2 - CONTINUIDAD**  \n- Si el usuario pregunta sobre el centro → consulta `Supabase Vector Search`  \n- Si quiere agendar → envía enlace de reserva directa  \n\n**FASE 3 - HANDOFF**  \nLuego el **Agente de Calificación** tomará el control para:\n- Calcular score  \n- Enviar ofertas o links de pago  \n- Alertar al equipo  \n\n---\n\n## 🔧 HERRAMIENTAS DISPONIBLES\n\n### `Supabase Vector Search`\n**Cuándo usar:** Cuando el usuario pregunte sobre el centro.  \n**Cómo usar:** Envía la query con la pregunta del usuario.  \n\nEjemplo:\n- Usuario: \"¿Cuánto cuesta una sesión?\"\n- Acción: Ejecutar búsqueda con \"precio sesión osteopatía\".\n\n---\n\n## 💡 EJEMPLO DE CONVERSACIÓN COMPLETA\nUsuario: Hola\nTú: ¡Hola! 👋 Gracias por contactarnos. Soy tu asistente virtual. Cuéntame, ¿qué molestia o dolor te trae hoy?\n\nUsuario: Me duele la espalda baja\nTú: Entiendo, dolor de espalda baja. ¿Hace cuánto tiempo tienes esta molestia?\n\nUsuario: Como 2 semanas\nTú: Gracias por la información. ¿Ya has considerado buscar una solución profesional, o solo buscas información?\n\nUsuario: Sí busco solución, cuánto cuesta?\nTú: Te comento los precios con total transparencia. Es importante que sepas que nuestros programas intensivos están diseñados para ofrecerte un ahorro significativo comparado con si contrataras todos los servicios por separado.\n\nTe pongo primero los precios sueltos de cada servicio para que puedas ver la diferencia:\n\n**Precios de Servicios Sueltos (Sin Programa)**\n\n· Sesión de Osteopatía: 80€\n· Sesión de Aparatología de Fisioterapia: 35€\n· Sesión Inicial de Medicina Natural (Evaluación): 110€\n· Seguimiento de Medicina Natural (sesión semanal): 70€\n\n---\n\n**El Ahorro Real con Nuestros Programas Intensivos**\n\nAhora, mira el valor y el ahorro que obtienes al contratar un programa completo:\n\n**1. Programa Intensivo de 1 Mes:**\n\n· Incluye: 5 sesiones de Osteopatía + 5 Aparatologías.\n· Valor si lo pagaras suelto: (5 x 80€) + (5 x 35€) = 400€ + 175€ = 575€\n· Precio del Programa: 350€\n· ✅ Tu Ahorro: 225€ (¡Casi un 40% de descuento!)\n\n**2. Programa Intensivo Integral (2-4 meses) - ¡El más completo!**\n\n· Incluye: 10 sesiones de Osteopatía + 10 Aparatologías + Evaluación de Medicina Natural (110€) + 1 Sesión de Seguimiento (70€).\n· Valor si lo pagaras suelto:\n  · Osteopatía y Aparatología: (10 x 80€) + (10 x 35€) = 800€ + 350€ = 1.150€\n  · Medicina Natural: 110€ (inicial) + 70€ (seguimiento) = 180€\n  · Valor Total Suelto: 1.330€\n· Precio del Programa: 700€\n· ✅ Tu Ahorro: 630€ (¡Casi un 50% de descuento!)\n\n¿Te gustaría agendar una evaluación inicial para ver cuál se adapta mejor a ti?\n\nUsuario: Sí, cómo agendo?\nTú: ¡Perfecto! Puedes reservar tu cita directamente aquí:\n👉 https://apposteopatiaatlas.viday.es/reserva\n\nUna vez confirmada tu reserva, te llegará un mensaje con los detalles. ¿Hay algo más en lo que pueda ayudarte?\n\nUsuario: No gracias\nTú: ¡Genial! Nos vemos pronto en tu cita. ¡Hasta pronto! 👋\n\n\n---\n## 🚫 LÍMITES DE CONTEXTO DEL NEGOCIO\n\n**SOLO respondes preguntas relacionadas con:**\n- Osteopatía, fisioterapia y tratamientos corporales\n- Dolores musculares, articulares o posturales\n- Servicios, precios y disponibilidad de citas\n- Ubicación, horarios y formas de contacto del consultorio\n\n**NO respondes preguntas sobre:**\n- ❌ Conocimientos generales (capitales, historia, geografía)\n- ❌ Temas académicos (matemáticas, ciencias, literatura)\n- ❌ Entretenimiento (películas, música, deportes)\n- ❌ Tecnología no relacionada con citas/pagos\n- ❌ Política, religión o temas controversiales\n- ❌ Cualquier tema fuera del ámbito de salud musculoesquelética\n\n### RESPUESTA ESTÁNDAR PARA PREGUNTAS FUERA DE CONTEXTO:\n\"Disculpa, soy un asistente especializado en osteopatía y solo puedo ayudarte con temas relacionados con tu salud musculoesquelética, agendar citas o información sobre nuestros servicios. ¿Tienes alguna molestia física que quieras consultarme? 😊\"\n\n**Mantén el foco:** Si el usuario insiste en temas ajenos, redirige amablemente hacia tu expertise sin ser repetitivo.\n\n## 🎓 RECORDATORIOS FINALES\n1. Prioriza los 3 datos clave primero  \n2. Si preguntan algo urgente, responde y luego retoma el flujo  \n3. Usa `Supabase Vector Search` para toda la info del centro  \n4. Mantén tono natural  \n5. Cuando alguien quiera agendar, envía el enlace de reserva directa  \n6. Cierra confirmando si tienen más preguntas antes de finalizar\n----\n\nLa fecha de hoy es {{ $('Code in JavaScript1').item.json.fechaActual }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        6928,
        3200
      ],
      "id": "c1094e33-859f-4d39-adf4-55040f1d0115",
      "name": "AI Agent - Conversacional1",
      "retryOnFail": false
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "25pwi6ochPPPTiNZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/25pwi6ochPPPTiNZ",
          "cachedResultName": "AI Agent - Calificación Leads Osteopatía subworkflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Chat_Id": "={{ $('Edit Fields').item.json.chat_id }}",
            "Mensaje_actual": "={{ $('Redis2').item.json.response }}",
            "nombre": "={{ $('Execute a SQL query1').item.json.nombre }}",
            "respuesta_agente": "={{ $('AI Agent - Conversacional1').item.json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Mensaje_actual",
              "displayName": "Mensaje_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Chat_Id",
              "displayName": "Chat_Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "respuesta_agente",
              "displayName": "respuesta_agente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        7424,
        3200
      ],
      "id": "03abe222-929f-4c81-817c-e07ccfd7c23d",
      "name": "Call 'WORKFLOW 2 - Agente de Calificación'1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Base de datos de un centro de osteopatía que gestiona información del centro, servicios, terapeutas, clientes, citas, pagos y reseñas para facilitar agendamiento y administración automática. Permite consultas rápidas y seguimiento integral de pacientes y tratamientos.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        7456,
        3440
      ],
      "id": "79853720-4e56-426e-bda7-59115e7dbfdf",
      "name": "Supabase Vector Store1",
      "credentials": {}
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        7504,
        3632
      ],
      "id": "81167eba-70df-4870-ac59-f06f62f6d4b4",
      "name": "Embeddings OpenAI1",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono": "={{ $('Edit Fields').item.json.chat_id }}",
            "nombre": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre', ``, 'string') }}"
          },
          "matchingColumns": [
            "telefono"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mensaje_inicial",
              "displayName": "mensaje_inicial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "clasificacion",
              "displayName": "clasificacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "problema_principal",
              "displayName": "problema_principal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "intentos_contacto",
              "displayName": "intentos_contacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ultima_interaccion",
              "displayName": "ultima_interaccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ultimo_mensaje",
              "displayName": "ultimo_mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "necesita_llamada",
              "displayName": "necesita_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "conversation_stage",
              "displayName": "conversation_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "urgencia",
              "displayName": "urgencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Pago_Es_Enviado",
              "displayName": "Pago_Es_Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pdf_secuencia",
              "displayName": "pdf_secuencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_ultimo_pdf",
              "displayName": "fecha_ultimo_pdf",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "respondio_pdf",
              "displayName": "respondio_pdf",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        7136,
        3632
      ],
      "id": "9b853c36-ee12-460e-bacd-8075bdc71186",
      "name": "Tool - cambiar nombre1",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono": "={{ $('Edit Fields').item.json.chat_id }}",
            "Pago_Es_Enviado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Pago_Es_Enviado', ``, 'boolean') }}"
          },
          "matchingColumns": [
            "telefono"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mensaje_inicial",
              "displayName": "mensaje_inicial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "clasificacion",
              "displayName": "clasificacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "problema_principal",
              "displayName": "problema_principal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "intentos_contacto",
              "displayName": "intentos_contacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ultima_interaccion",
              "displayName": "ultima_interaccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ultimo_mensaje",
              "displayName": "ultimo_mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "necesita_llamada",
              "displayName": "necesita_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "conversation_stage",
              "displayName": "conversation_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "urgencia",
              "displayName": "urgencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Pago_Es_Enviado",
              "displayName": "Pago_Es_Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pdf_secuencia",
              "displayName": "pdf_secuencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_ultimo_pdf",
              "displayName": "fecha_ultimo_pdf",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "respondio_pdf",
              "displayName": "respondio_pdf",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        7408,
        3632
      ],
      "id": "22fb1178-b02c-42e0-8dad-9c98989419d2",
      "name": "Tool - Update Pago_Es_Enviado1",
      "credentials": {}
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook1').item.json.body.conversation.messages[0].attachments[0].file_type }}",
                    "rightValue": "=audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "be9dbcd5-0882-4ce9-9822-305865fae492"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6a0ec742-7f93-4ea1-af39-35d410da1c1a",
                    "leftValue": "={{ $('Webhook1').item.json.body.conversation.messages[0].content_type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        4464,
        3200
      ],
      "id": "0ff1a26a-d21f-41b0-ae1d-10f3db340338",
      "name": "Switch4"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "es"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        4560,
        2976
      ],
      "id": "467e4200-dc76-409e-8cff-7fe5f9a2de72",
      "name": "Transcribir audio1",
      "credentials": {},
      "notes": "los audios estan en español"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "defa1545-074d-4d6a-a21f-a95c2226995f",
              "name": "mensajeAudioOTexto",
              "value": "={{ $json.text || $('Edit Fields').item.json.textoMensaje }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4672,
        3216
      ],
      "id": "80a0c3d2-23ce-4926-9a30-ba75f7bf9fff",
      "name": "Mapear mensaje1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Mapear mensaje1').item.json.mensajeAudioOTexto }}",
                    "rightValue": "[null]",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "ea1ce058-1302-4e81-9680-f70a12960a82"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        5008,
        3232
      ],
      "id": "2ea4553e-6ade-4548-b9d5-58a39032339a",
      "name": "Switch5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "62cf7f96-e1f3-4350-850c-548e2291ed79",
              "leftValue": "={{ $('Switch6').item.json.chat_id }}",
              "rightValue": "+34641750559",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4816,
        3216
      ],
      "id": "646e79cb-cbe8-4f94-800d-4a0de082005b",
      "name": "If3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04868508-eb27-4b67-9dae-c883d48466d4",
              "name": "chat_id",
              "value": "={{ $json.body.conversation.messages[0].sender.phone_number }}",
              "type": "string"
            },
            {
              "id": "4073cc89-9702-4346-b6c2-7e619ee6f55d",
              "name": "account id",
              "value": "={{ $json.body.conversation.messages[0].account_id }}",
              "type": "string"
            },
            {
              "id": "a78a3578-e487-4dc4-bdc0-6e35e3df7013",
              "name": "conversation_id",
              "value": "={{ $json.body.conversation.messages[0].conversation_id }}",
              "type": "string"
            },
            {
              "id": "005d7505-414e-42d0-ba75-390a2718043a",
              "name": "textoMensaje",
              "value": "={{ $json.body.conversation.messages[0].content }}",
              "type": "string"
            },
            {
              "id": "110ef2d3-b2c5-478f-a474-819c7ad4920a",
              "name": "tipo_mensaje",
              "value": "={{ $json.body.message_type }}",
              "type": "string"
            },
            {
              "id": "c5190f93-88bd-4ecd-9896-74a4377f0b52",
              "name": "user_name",
              "value": "={{ $json.body.conversation.messages[0].sender.name }}",
              "type": "string"
            },
            {
              "id": "a17702b3-1263-4e26-8752-054e777548da",
              "name": "on_off",
              "value": "={{ $json.body.sender.custom_attributes.bot || 'on' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3936,
        3216
      ],
      "id": "4caebd46-6e13-4880-bc9c-570e767eee3f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Obtener fecha actual en zona horaria de Madrid\nconst ahora = new Date();\n\n// Convertir a zona horaria de Madrid (Europe/Madrid)\nconst fechaMadrid = new Date(ahora.toLocaleString('en-US', { timeZone: 'Europe/Madrid' }));\n\n// Arrays en español\nconst diasSemana = ['domingo', 'lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sábado'];\nconst meses = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', \n               'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'];\n\n// Extraer componentes de la fecha en Madrid\nconst diaSemana = diasSemana[fechaMadrid.getDay()];\nconst dia = fechaMadrid.getDate();\nconst mes = meses[fechaMadrid.getMonth()];\nconst anio = fechaMadrid.getFullYear();\nconst hora = String(fechaMadrid.getHours()).padStart(2, '0');\nconst minutos = String(fechaMadrid.getMinutes()).padStart(2, '0');\n\n// Construir la fecha en formato español completo\nconst fechaActual = diaSemana + ' ' + dia + ' de ' + mes + ' de ' + anio + ', ' + hora + ':' + minutos;\n\n// Retornar el resultado\nreturn {\n  fechaActual: fechaActual\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5968,
        3216
      ],
      "id": "e9624160-3f08-446e-b5aa-253092f3dec4",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('Webhook1').item.json.body.conversation.messages[0].attachments[0].data_url }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        4256,
        2976
      ],
      "id": "5ee2eb94-bd20-4d8c-9dd0-3c7497f0860e",
      "name": "Download media1",
      "webhookId": "REDACTED",
      "credentials": {}
    },
    {
      "parameters": {
        "url": "={{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4400,
        2976
      ],
      "id": "f4f7edd6-df41-4662-8c3e-cf27989e4d80",
      "name": "HTTP Request1",
      "retryOnFail": true,
      "credentials": {}
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        3792,
        3216
      ],
      "id": "dddefad3-95ac-489f-b639-69fe0d86caef",
      "name": "Webhook1",
      "webhookId": "REDACTED"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo_mensaje }}",
                    "rightValue": "incoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d35f3750-d2e6-4131-a0b6-92a5bf9f32da"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "incoming"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4685a1e8-8a09-4e8a-aaa1-d1b1546f034f",
                    "leftValue": "={{ $json.tipo_mensaje }}",
                    "rightValue": "outgoing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "outgoing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        4080,
        3216
      ],
      "id": "1ce9d377-5b17-4ef3-bfd4-fab5ae3776fc",
      "name": "Switch6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://personal-chatwoot.rk9l1c.easypanel.host/api/v1/accounts/{{ $('Edit Fields').item.json['account id'] }}/conversations/{{ $('Edit Fields').item.json.conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "[REDACTED]"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7216,
        3200
      ],
      "id": "c8f9d140-4a79-44b3-95e4-ebe356e7469a",
      "name": "Mandar mensaje1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.on_off }}",
                    "rightValue": "on",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a26b3b62-5c36-42b4-850a-527f69607d35"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        4256,
        3200
      ],
      "id": "32319d57-545d-400d-80a2-94829c8876db",
      "name": "Switch7"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        6976,
        3456
      ],
      "id": "657c737a-a5d5-48db-9265-afc0b297d756",
      "name": "OpenAI Chat Model3",
      "credentials": {}
    }
  ],
  "origin": "n8n",
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "personal-n8n.rk9l1c.easypanel.host",
            "user-agent": "rest-client/2.1.0 (linux-musl x86_64) ruby/3.4.4p34",
            "content-length": "2411",
            "accept": "application/json",
            "accept-encoding": "gzip;q=1.0,deflate;q=0.6,identity;q=0.3",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "personal-n8n.rk9l1c.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "227e2e43f3cd",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "account": {
              "id": 1,
              "name": "centro atlas"
            },
            "additional_attributes": {},
            "content_attributes": {},
            "content_type": "text",
            "content": "Mui lejos muchas gracias",
            "conversation": {
              "additional_attributes": {},
              "can_reply": true,
              "channel": "Channel::Whatsapp",
              "contact_inbox": {
                "id": 17,
                "contact_id": 15,
                "inbox_id": 3,
                "source_id": "34659001180",
                "created_at": "2025-11-15T21:10:28.988Z",
                "updated_at": "2025-11-15T21:10:28.988Z",
                "hmac_verified": false,
                "pubsub_token": "d7kDhjAcgAbvrVaHXRxfxUZ2"
              },
              "id": 17,
              "inbox_id": 3,
              "messages": [
                {
                  "id": 154,
                  "content": "Mui lejos muchas gracias",
                  "account_id": 1,
                  "inbox_id": 3,
                  "conversation_id": 17,
                  "message_type": 0,
                  "created_at": 1763241097,
                  "updated_at": "2025-11-15T21:11:37.522Z",
                  "private": false,
                  "status": "sent",
                  "source_id": "wamid.HBgLMzQ2NTkwMDExODAVAgASGCBBQzFCQjFBRUE3M0M0NkU3MEI4MEQ2NTI5RDkyRTI2RAA=",
                  "content_type": "text",
                  "content_attributes": {},
                  "sender_type": "Contact",
                  "sender_id": 15,
                  "external_source_ids": {},
                  "additional_attributes": {},
                  "processed_message_content": "Mui lejos muchas gracias",
                  "sentiment": {},
                  "conversation": {
                    "assignee_id": null,
                    "unread_count": 2,
                    "last_activity_at": 1763241097,
                    "contact_inbox": {
                      "source_id": "34659001180"
                    }
                  },
                  "sender": {
                    "additional_attributes": {},
                    "custom_attributes": {},
                    "email": null,
                    "id": 15,
                    "identifier": null,
                    "name": "Francisco Agud",
                    "phone_number": "+34659001180",
                    "thumbnail": "",
                    "blocked": false,
                    "type": "contact"
                  }
                }
              ],
              "labels": [],
              "meta": {
                "sender": {
                  "additional_attributes": {},
                  "custom_attributes": {},
                  "email": null,
                  "id": 15,
                  "identifier": null,
                  "name": "Francisco Agud",
                  "phone_number": "+34659001180",
                  "thumbnail": "",
                  "blocked": false,
                  "type": "contact"
                },
                "assignee": null,
                "team": null,
                "hmac_verified": false
              },
              "status": "pending",
              "custom_attributes": {},
              "snoozed_until": null,
              "unread_count": 2,
              "first_reply_created_at": null,
              "priority": null,
              "waiting_since": 1763241029,
              "agent_last_seen_at": 0,
              "contact_last_seen_at": 0,
              "last_activity_at": 1763241097,
              "timestamp": 1763241097,
              "created_at": 1763241029,
              "updated_at": 1763241097.5293682
            },
            "created_at": "2025-11-15T21:11:37.522Z",
            "id": 154,
            "inbox": {
              "id": 3,
              "name": "centro atlas"
            },
            "message_type": "incoming",
            "private": false,
            "sender": {
              "account": {
                "id": 1,
                "name": "centro atlas"
              },
              "additional_attributes": {},
              "avatar": "",
              "custom_attributes": {},
              "email": null,
              "id": 15,
              "identifier": null,
              "name": "Francisco Agud",
              "phone_number": "+34659001180",
              "thumbnail": "",
              "blocked": false
            },
            "source_id": "wamid.HBgLMzQ2NTkwMDExODAVAgASGCBBQzFCQjFBRUE3M0M0NkU3MEI4MEQ2NTI5RDkyRTI2RAA=",
            "event": "message_created"
          },
          "webhookUrl": "https://personal-n8n.rk9l1c.easypanel.host/webhook/chatwoot",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo": {
    "owner": "abdeidr",
    "name": "n8n"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-09T15:12:09.102Z",
      "updatedAt": "2025-10-09T15:12:09.102Z",
      "role": "workflow:owner",
      "workflowId": "19mxUTS3ByYyzYzB",
      "projectId": "xdZYvePgLSibegaD"
    }
  ],
  "staticData": {
    "node:Schedule Cada 15 Días": {
      "recurrenceRules": []
    },
    "node:Schedule Cada 24h": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-11-12T22:09:07.928Z",
      "updatedAt": "2025-11-12T22:09:07.928Z",
      "id": "N5H00c4tU3rtlPMX",
      "name": "CentroAtlas"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-11-17T12:00:15.000Z",
  "versionId": "ee302b77-67e7-43fa-aae2-45af9921761b"
}