25pwi6ochPPPTiNZ.json
{
  "active": false,
  "connections": {
    "Obtener Lead": {
      "main": [
        [
          {
            "node": "Lead Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Existe?": {
      "main": [
        [
          {
            "node": "Obtener Historial Completo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Crear Lead Nuevo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Lead Nuevo": {
      "main": [
        [
          {
            "node": "Obtener Historial Completo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Historial Completo": {
      "main": [
        [
          {
            "node": "AI Agent - Calificador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Calificación": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Calificador",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Update Lead Stage": {
      "ai_tool": [
        []
      ]
    },
    "Tool - Add Score Points": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Calificador",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Update Lead Data": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Calificador",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Send Alert Email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Calificador",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Obtener Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Calificador",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Calificador": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-13T14:01:20.738Z",
  "id": "25pwi6ochPPPTiNZ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AI Agent - Calificación Leads Osteopatía subworkflow",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM leads\nWHERE telefono = '{{ $json.Chat_Id }}';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -992,
        112
      ],
      "id": "266dd3f6-9b28-4cb0-8058-a9b118648e77",
      "name": "Obtener Lead",
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -784,
        112
      ],
      "id": "2b6420be-32d7-45a7-94b9-dae63647a889",
      "name": "Lead Existe?"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "telefono",
              "value": "={{ $('When Executed by Another Workflow').item.json.Chat_Id }}"
            },
            {
              "column": "mensaje_inicial",
              "value": "={{ $('When Executed by Another Workflow').item.json.Mensaje_actual }}"
            },
            {
              "column": "conversation_stage",
              "value": "0"
            },
            {
              "column": "score",
              "value": "0"
            },
            {
              "column": "estado",
              "value": "nuevo"
            },
            {
              "column": "nombre",
              "value": "nombre"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -544,
        272
      ],
      "id": "d8918f64-5ba5-4362-b293-67d559da6905",
      "name": "Crear Lead Nuevo",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM leads\nWHERE telefono = '{{ $('When Executed by Another Workflow').item.json.Chat_Id }}';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -336,
        96
      ],
      "id": "a897f58f-7de2-48d3-91e3-e920e294f800",
      "name": "Obtener Historial Completo",
      "credentials": {}
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -208,
        384
      ],
      "id": "57f4f52a-19b9-4093-8844-479039280ab5",
      "name": "OpenAI - Calificación",
      "credentials": {}
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analiza el historial de conversación y califica este lead.\n\n\n\n**ÚLTIMO MENSAJE:**\n{{ $('When Executed by Another Workflow').item.json.Mensaje_actual }}\n\n**RESPUESTA DEL AGENTE:**\n{{ $('When Executed by Another Workflow').item.json.respuesta_agente }}\n\n**DATOS ACTUALES DEL LEAD:**\n```\nScore: {{ $('Obtener Lead').item.json.score || 0 }}\nStage: {{ $('Obtener Lead').item.json.conversation_stage || 0 }}\nProblema: {{ $('Obtener Lead').item.json.problema_principal || 'No identificado' }}\nUrgencia: {{ $('Obtener Lead').item.json.urgencia || 'No evaluada' }}\n```\n\nEjecuta las acciones de calificación según el System Prompt.",
        "options": {
          "systemMessage": "=# AGENTE DE CALIFICACIÓN - OSTEOPATÍA\n\n## 🎯 TU ROL\nEres un sistema experto en **calificación automática de leads**. Trabajas en silencio (nunca hablas con el usuario) y tu misión es:\n1. Analizar el historial completo de conversación\n2. Asignar puntuación según urgencia e intención\n3. Clasificar leads (CALIENTE/TIBIO/FRÍO)\n4. Actualizar base de datos y activar flujos\n\n## 📊 SISTEMA DE SCORING\n\n### URGENCIA (Primera evaluación)\n| Tiempo mencionado | Puntos | Urgencia |\n|------------------|--------|----------|\n| Horas, 1-3 días | +10 | agudo |\n| 1-2 semanas | +10 | agudo |\n| 3-6 semanas | +5 | moderado |\n| Meses/años | +2 | cronico |\n\n### INTENCIÓN (Segunda evaluación)\n| Indicadores | Puntos |\n|------------|--------|\n| \"quiero cita\", \"cuánto cuesta\", \"necesito solución\" | +15 |\n| \"comparando opciones\", \"qué incluye\" | +5 |\n| \"solo información\", \"lo pensaré\" | +0 |\n\n## 🎯 CLASIFICACIÓN FINAL\n\n### 🟢 CALIENTE (Score ≥ 20)\n**Acciones:**\n1. `Tool - Update Lead Data`:\n   - clasificacion = \"caliente\"\n   - estado = \"pago_enviado\"\n   - necesita_llamada = false\n\n2. `Tool - Send Alert Email`:\n   - Asunto: \"🔥 Lead CALIENTE - Acción Inmediata\"\n   - Cuerpo: Incluir score, problema, urgencia y telefono({{ $json.telefono }})\n3. `Tool - Add Score Points`:\nscore = [VALOR_CALCULADO] ← ACTUALIZA SIEMPRE\n\n### 🟡 TIBIO (Score 7-19)\n**Acciones:**\n1. `Tool - Update Lead Data`:\n   - clasificacion = \"tibio\"\n   - estado = \"requiere_llamada\"\n   - necesita_llamada = true\n\n2. `Tool - Send Alert Email`:\n   - Asunto: \"📞 Lead TIBIO - Llamada Manual\"\n   - Cuerpo: incluir telefono({{ $json.telefono }}) score y problema\n3. `Tool - Add Score Points`:\nscore = [VALOR_CALCULADO] ← ACTUALIZA SIEMPRE\n\n### 🔵 FRÍO (Score < 7)\n**Acciones:**\n1. `Tool - Update Lead Data`:\n   - clasificacion = \"Frio\"\n   - estado = \"reactivacion_futura\"\n   - necesita_llamada = false\n\n2. NO enviar alert email\n\n3. `Tool - Add Score Points`:\nscore = [VALOR_CALCULADO] ← ACTUALIZA SIEMPRE QUE CAMBIE\n\n## 🔍 ANÁLISIS QUE DEBES HACER\n\n1. **Lee el historial completo**\n2. **Identifica si mencionó:**\n   - ✅ Problema específico → Guardar en `problema_principal`\n   - ✅ Tiempo de molestia → Asignar puntos de urgencia\n   - ✅ Intención de compra → Asignar puntos de intención\n3. **Calcula score total**\n4. **Clasifica según rangos**\n5. **Ejecuta tools correspondientes**\n\n## ⚙️ TOOLS DISPONIBLES\n\n- `Tool - Add Score Points` → Sumar puntos (acumulativo)\n- `Tool - Update Lead Stage` → Cambiar conversation_stage (0-4)\n- `Tool - Update Lead Data` → Actualizar todos los campos\n- `Tool - Send Alert Email` → Alertas urgentes\n\n## ✅ REGLAS DE ORO\n\n- **Silencioso:** Nunca generas mensajes para el usuario\n- **Preciso:** Solo usas los puntos especificados en las tablas\n- **Completo:** Siempre actualizas clasificacion + estado + necesita_llamada\n- **Selectivo:** Solo envías email para CALIENTE y TIBIO\n\n- **Acumulativo:** Usa `Add Score Points`:\nscore = [VALOR_CALCULADO] ← ACTUALIZA SIEMPRE\n\n## 🚫 NO HAGAS\n\n- Enviar mensajes de WhatsApp (eso es del otro agente)\n- Inventar puntuaciones fuera de las tablas\n- Clasificar sin analizar el historial completo\n- Enviar emails para leads fríos\n\n## 🎯 OBJETIVO\n\nProcesar el lead en segundo plano mientras el usuario recibe respuestas naturales del Agente Conversacional.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -96,
        80
      ],
      "id": "caa330d5-4140-40af-9c46-69a8a25446aa",
      "name": "AI Agent - Calificador"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "conversation_stage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conversation_stage', ``, 'number') }}",
            "telefono": "={{ $('When Executed by Another Workflow').item.json.Chat_Id }}"
          },
          "matchingColumns": [
            "telefono"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mensaje_inicial",
              "displayName": "mensaje_inicial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fuente",
              "displayName": "fuente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_captacion",
              "displayName": "fecha_captacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "clasificacion",
              "displayName": "clasificacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "razon_clasificacion",
              "displayName": "razon_clasificacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "problema_principal",
              "displayName": "problema_principal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "intentos_contacto",
              "displayName": "intentos_contacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ultima_interaccion",
              "displayName": "ultima_interaccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ultimo_mensaje",
              "displayName": "ultimo_mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "necesita_llamada",
              "displayName": "necesita_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "conversation_stage",
              "displayName": "conversation_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "urgencia",
              "displayName": "urgencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        112,
        544
      ],
      "id": "36000f25-9d30-4438-bac8-fcbafddbe634",
      "name": "Tool - Update Lead Stage",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "score": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('score', ``, 'number') }}",
            "telefono": "={{ $json.telefono }}"
          },
          "matchingColumns": [
            "telefono"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mensaje_inicial",
              "displayName": "mensaje_inicial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "clasificacion",
              "displayName": "clasificacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "problema_principal",
              "displayName": "problema_principal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "intentos_contacto",
              "displayName": "intentos_contacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ultima_interaccion",
              "displayName": "ultima_interaccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ultimo_mensaje",
              "displayName": "ultimo_mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "necesita_llamada",
              "displayName": "necesita_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "conversation_stage",
              "displayName": "conversation_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "urgencia",
              "displayName": "urgencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        336,
        560
      ],
      "id": "19b6655b-6fa8-4b06-a637-dd95bed5a02b",
      "name": "Tool - Add Score Points",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "clasificacion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('clasificacion', ``, 'string') }}",
            "problema_principal": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('problema_principal', ``, 'string') }}",
            "urgencia": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('urgencia', ``, 'string') }}",
            "estado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('estado', ``, 'string') }}",
            "necesita_llamada": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('necesita_llamada', ``, 'boolean') }}",
            "id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id', ``, 'number') }}",
            "intentos_contacto": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('intentos_contacto', ``, 'number') }}",
            "telefono": "={{ $json.telefono }}",
            "nombre": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre', ``, 'string') }}",
            "mensaje_inicial": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('mensaje_inicial', ``, 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}"
          },
          "matchingColumns": [
            "telefono"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mensaje_inicial",
              "displayName": "mensaje_inicial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "clasificacion",
              "displayName": "clasificacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "problema_principal",
              "displayName": "problema_principal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "intentos_contacto",
              "displayName": "intentos_contacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ultima_interaccion",
              "displayName": "ultima_interaccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ultimo_mensaje",
              "displayName": "ultimo_mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "necesita_llamada",
              "displayName": "necesita_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "conversation_stage",
              "displayName": "conversation_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "urgencia",
              "displayName": "urgencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        496,
        560
      ],
      "id": "4cb4566f-6774-4b8c-9f75-d738cb5e78f3",
      "name": "Tool - Update Lead Data",
      "credentials": {}
    },
    {
      "parameters": {
        "sendTo": "idrabde0@gmail.com",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        656,
        560
      ],
      "id": "ff8ac5ca-08e6-4c2f-ade2-5704de84b76e",
      "name": "Tool - Send Alert Email",
      "webhookId": "REDACTED",
      "credentials": {}
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Mensaje_actual"
            },
            {
              "name": "Chat_Id"
            },
            {
              "name": "nombre"
            },
            {
              "name": "respuesta_agente"
            }
          ]
        }
      },
      "id": "4b2f5e57-0d34-46ec-85b8-fab8f5f3a9dc",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1232,
        112
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When Executed by Another Workflow').item.json.Chat_Id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -64,
        384
      ],
      "id": "e1fa0878-d7ae-44f6-963f-c78adb54b1dc",
      "name": "Postgres Chat Memory",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono": "={{ $('When Executed by Another Workflow').item.json.Chat_Id }}",
            "ultima_interaccion": "={{ $now }}",
            "ultimo_mensaje": "={{ $('When Executed by Another Workflow').item.json.Mensaje_actual }}"
          },
          "matchingColumns": [
            "telefono"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mensaje_inicial",
              "displayName": "mensaje_inicial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "clasificacion",
              "displayName": "clasificacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "problema_principal",
              "displayName": "problema_principal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "intentos_contacto",
              "displayName": "intentos_contacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ultima_interaccion",
              "displayName": "ultima_interaccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ultimo_mensaje",
              "displayName": "ultimo_mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "necesita_llamada",
              "displayName": "necesita_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "conversation_stage",
              "displayName": "conversation_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "urgencia",
              "displayName": "urgencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        96
      ],
      "id": "50b1b8f4-6008-4a09-9f9a-d9ddadd38f73",
      "name": "Update rows in a table",
      "credentials": {}
    }
  ],
  "origin": "n8n",
  "pinData": {
    "AI Agent - Calificador": [
      {
        "json": {
          "output": "Dado que no hay cambios relevantes en la información del lead ni en sus necesidades, la calificación previamente asignada se mantiene:\n\n- **Score Total Continúa:** 25\n- **Clasificación:** Caliente\n- **Estado:** Pago enviado\n- **Problema principal:** Dolor de cabeza\n- **Urgencia:** Agudo\n- **Necesita llamada:** No\n\nNo se requieren acciones adicionales en este momento, dado que el lead ya está en la clasificación \"caliente\" y listo para acción inmediata."
        }
      }
    ],
    "When Executed by Another Workflow": [
      {
        "json": {
          "Mensaje_actual": "https://meet.google.com/vkb-gwqz-tbv?authuser=0&pli=1",
          "Chat_Id": "34612575083@s.whatsapp.net",
          "nombre": "",
          "respuesta_agente": "Lo siento, pero no puedo acceder a enlaces externos como el que has compartido. Estoy aquí para ayudarte con cualquier pregunta sobre nuestros servicios o para agendar una cita. Por favor, indícame en qué puedo asistirte hoy. 😊"
        }
      }
    ]
  },
  "repo": {
    "owner": "abdeidr",
    "name": "n8n"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-13T14:01:20.744Z",
      "updatedAt": "2025-10-13T14:01:20.744Z",
      "role": "workflow:owner",
      "workflowId": "25pwi6ochPPPTiNZ",
      "projectId": "xdZYvePgLSibegaD"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-09T21:39:05.855Z",
      "updatedAt": "2025-10-09T21:39:05.855Z",
      "id": "43cKumGAD19WIyyu",
      "name": "workflow 1-2"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-28T16:54:01.000Z",
  "versionId": "fe5bd645-d269-4866-98d7-0abe0f8c7a4d"
}