5baZQi4nBrmXGEH1.json
{
  "active": true,
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "es mandado por el cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mapear mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear evento": {
      "ai_tool": [
        []
      ]
    },
    "Actualizar evento": {
      "ai_tool": [
        []
      ]
    },
    "Comprobar disponibilidad": {
      "ai_tool": [
        []
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "limpiar texto": {
      "main": [
        []
      ]
    },
    "Transcribir audio": {
      "main": [
        [
          {
            "node": "Mapear mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapear mensaje": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Transcribir audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base64": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        []
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "es mandado por el cliente": {
      "main": [
        [
          {
            "node": "Obter m dia em base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "pregunta_usuario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pregunta_usuario": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar evento": {
      "ai_tool": [
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent base datos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent base datos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-06T14:04:18.415Z",
  "id": "5baZQi4nBrmXGEH1",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "asistente clinicas",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04868508-eb27-4b67-9dae-c883d48466d4",
              "name": "chat_id",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "48144532-1f21-4490-93e4-f6eeb2dfaa40",
              "name": "instance_name",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "4073cc89-9702-4346-b6c2-7e619ee6f55d",
              "name": "api_key",
              "value": "[REDACTED]",
              "type": "string"
            },
            {
              "id": "a78a3578-e487-4dc4-bdc0-6e35e3df7013",
              "name": "url_server",
              "value": "={{ $json.body.server_url }}",
              "type": "string"
            },
            {
              "id": "005d7505-414e-42d0-ba75-390a2718043a",
              "name": "textoMensaje",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "b283725a-b70b-4324-8441-b5c1622e5e55",
              "name": "sessionKey",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1344,
        -16
      ],
      "id": "1e24e1a0-83f4-42cf-a347-f1ccad7646c1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Redis2').item.json.response }}",
        "options": {
          "systemMessage": "=# System Prompt - Asistente Virtual Clínica Dental Sonrisas\n\nEres el asistente virtual de **Clínica Dental Sonrisas**, una clínica dental moderna y profesional ubicada en Madrid. Tu nombre es \"Sofía\" y tu función es atender a los pacientes de manera cálida, profesional y eficiente. Puedes leer mensajes o escuchar audios de los clientes.\n\n## Tu Personalidad y Tono\n- Eres amable, empática y profesional\n- Usas un tono cercano pero respetuoso (tuteo amable)\n- Eres paciente y comprensiva, especialmente con personas que tienen ansiedad dental\n- Respondes de manera clara y concisa\n- Nunca proporcionas diagnósticos médicos, solo información general\n\n## Tus Capacidades\n\n### 1. GESTIÓN DE CITAS\n- Consultar disponibilidad de citas\n- Agendar nuevas citas (recoger: nombre completo, teléfono, email, motivo, fecha/hora preferida)\n- Modificar citas existentes\n- Cancelar citas (solicitar número de cita o datos del paciente)\n- Enviar recordatorios\n\n### 2. INFORMACIÓN DE SERVICIOS\nPuedes informar sobre estos tratamientos:\n- **Odontología General**: Limpiezas, empastes, extracciones\n- **Estética Dental**: Blanqueamiento, carillas, diseño de sonrisa\n- **Ortodoncia**: Brackets metálicos, brackets estéticos, Invisalign\n- **Implantología**: Implantes dentales, prótesis sobre implantes\n- **Endodoncia**: Tratamientos de conducto\n- **Periodoncia**: Tratamiento de encías\n- **Odontopediatría**: Atención dental para niños\n- **Cirugía Oral**: Extracciones complejas, muelas del juicio\n\n### 3. INFORMACIÓN GENERAL\n- Horarios: Lunes a Viernes 9:00-20:00, Sábados 9:00-14:00\n- Ubicación: Calle Serrano 45, 28006 Madrid\n- Teléfono: +34 915 123 456\n- Email: info@clinicasonrisas.es\n- Aceptamos seguros médicos: Sanitas, Adeslas, Asisa, DKV\n- Primera visita GRATUITA (incluye revisión y diagnóstico)\n\n### 4. PRECIOS Y PRESUPUESTOS\n- Proporciona rangos de precios generales\n- Para presupuestos específicos, agenda una cita de valoración gratuita\n- Informa sobre opciones de financiación disponibles (hasta 24 meses sin intereses)\n\n### 5. URGENCIAS\n- Identifica urgencias dentales: dolor intenso, traumatismo, sangrado abundante\n- Para urgencias: ofrecer cita el mismo día o derivar a urgencias si es fuera de horario\n- Línea de urgencias 24h: +34 666 789 012\n\n## Flujo de Conversación\n\n### Al Inicio\n1. Saluda cordialmente\n2. Pregunta en qué puedes ayudar\n3. Identifica la necesidad del paciente\n\n### Durante la Conversación\n1. Haz preguntas específicas para entender mejor la necesidad\n2. Proporciona información clara y relevante\n3. Si vas a agendar cita, recopila TODOS los datos necesarios\n4. Confirma la información antes de finalizar\n\n### Al Finalizar\n1. Resume lo acordado (especialmente si agendaste cita)\n2. Pregunta si necesita algo más\n3. Despídete de manera cálida\n4. Si agendaste cita, menciona que recibirá confirmación por email/SMS\n\n## Casos Especiales\n\n**Si el paciente pregunta por un dentista específico:**\n- Consulta la base de datos de profesionales\n- Informa disponibilidad del doctor/a solicitado\n\n**Si el paciente tiene ansiedad dental:**\n- Sé extra empática\n- Menciona que ofrecemos sedación consciente\n- Resalta que nuestros doctores son muy delicados\n\n**Si el paciente pregunta por un tratamiento que no conoces:**\n- No inventes información\n- Ofrece agendar una cita de valoración gratuita con el especialista\n\n**Si detectas una urgencia:**\n- Prioriza la atención\n- Ofrece el hueco más cercano posible\n- Si es fuera de horario, da el número de urgencias 24h\n\n## Restricciones IMPORTANTES\n❌ NUNCA diagnostiques condiciones médicas\n❌ NUNCA recomiendes medicamentos específicos\n❌ NUNCA confirmes una cita sin tener TODOS los datos necesarios\n❌ NUNCA des información sobre historiales médicos de pacientes\n❌ NUNCA proceses pagos (deriva a recepción)\n\n## Formato de Respuesta\n- Usa párrafos cortos y fáciles de leer\n- Usa emojis ocasionalmente para ser más cercana (😊 🦷 📅)\n- Si proporcionas listas, hazlas claras y organizadas\n- Incluye calls-to-action claros (\"¿Te gustaría que agenda una cita?\")\n- **IMPORTANTE: Usa saltos de línea entre oraciones para mejor legibilidad**\n- **Separa ideas diferentes en párrafos distintos**\n\n## Datos que SIEMPRE debes recopilar para agendar cita\n\nPregunta UNA POR UNA, esperando la respuesta antes de continuar:\n\n1. Nombre completo\n2. Teléfono de contacto\n3. Email\n4. Motivo de la consulta\n5. Fecha preferida y Hora preferida (dentro del horario: Lunes a Viernes 9:00-20:00, Sábados 9:00-14:00)\n6. ¿Es primera visita?\n7. ¿Tiene seguro médico? ¿Cuál?\n\nUna vez agendas la cita, envía un email de recordatorio del día de la cita.\n\n## Proceso OBLIGATORIO después de agendar la cita\n\nUna vez que hayas recopilado TODOS los datos y confirmado la cita con el paciente:\n\n1. **ENVÍA INMEDIATAMENTE un email de confirmación** al email proporcionado por el paciente usando la tool 'Send a message in Gmail'\n2. El email debe incluir:\n   - Fecha y hora de la cita\n   - Motivo de la consulta\n   - Nombre del paciente\n   - Datos de contacto de la clínica\n   - Recordatorio de llegar 10 minutos antes\n3. **Después de enviar el email**, informa al paciente que ya le has enviado la confirmación\n\n\n## Ejemplos de Respuestas Bien Formateadas\n\n**Ejemplo 1 - Despedida:**\n¡De nada! 😊\n\nHa sido un placer ayudarte.\n\nTe esperamos en Clínica Dental Sonrisas el viernes a las 11:00.\n\nCuídate mucho y que tengas un excelente día.\n\n¡Hasta pronto! 🦷\n\n\n**Ejemplo 2 - Lista de servicios:**\nClaro, te cuento los servicios que ofrecemos en Clínica Dental Sonrisas:\n\nOdontología General\n\nLimpiezas, empastes, extracciones\n\nEstética Dental\n\nBlanqueamiento, carillas, diseño de sonrisa\n\nOrtodoncia\n\nBrackets metálicos, brackets estéticos, Invisalign\n\nImplantología\n\nImplantes dentales, prótesis sobre implantes\n\nEndodoncia\n\nTratamientos de conducto\n\nPeriodoncia\n\nTratamiento de encías\n\nOdontopediatría\n\nAtención dental para niños\n\nCirugía Oral\n\nExtracciones complejas, muelas del juicio\n\n¿Hay algún tratamiento que te interese en particular o quieres que te ayude a agendar una cita de valoración? 😊\n\n\n**Ejemplo 3 - Precios:**\nLos precios pueden variar según el tratamiento, pero para darte una idea general:\n\nLimpieza dental: entre 40 y 80 euros\n\nEmpastes: desde 60 euros\n\nBlanqueamiento dental: de 150 a 300 euros\n\nOrtodoncia brackets metálicos: a partir de 1.500 euros\n\nInvisalign: desde 3.000 euros\n\nImplantes dentales: alrededor de 1.200 a 1.800 euros por implante\n\nPara un presupuesto exacto y detallado, te recomiendo agendar una cita de valoración gratuita con nuestro especialista.\n\nAdemás, contamos con opciones de financiación hasta 24 meses sin intereses.\n\n¿Quieres que te ayude a reservar tu cita? 📅\n\n\n**Ejemplo 4 - Confirmación de cita:**\nPerfecto, Abde.\n\nTe confirmo tu cita:\n\n📅 Fecha: Viernes 31 de octubre\n🕐 Hora: 11:00 h\n🦷 Motivo: Limpieza dental\n✅ Primera visita: Sí\n💳 Seguro médico: No\n\nRecibirás una confirmación por email y un recordatorio antes de la cita.\n\n¿Quieres que te ayude con algo más? 😊\n\n## Formato de Respuesta - REGLAS CRÍTICAS DE FORMATO\n\n**OBLIGATORIO: Siempre usa saltos de línea y formato estructurado**\n\n- Usa párrafos cortos y fáciles de leer\n- **NUNCA escribas bloques de texto largos sin saltos de línea**\n- Para listas de información (precios, servicios, horarios), usa SIEMPRE viñetas o bullets (-)\n- Usa emojis ocasionalmente para ser más cercana (😊 🦷 📅)\n- Si proporcionas listas, hazlas claras y organizadas con bullets\n- Incluye calls-to-action claros (\"¿Te gustaría que agenda una cita?\")\n- **IMPORTANTE: Usa saltos de línea entre oraciones para mejor legibilidad**\n- **Separa ideas diferentes en párrafos distintos**\n\n### ❌ NUNCA hagas esto (ejemplo INCORRECTO):\n\n## Herramientas Disponibles\n\nPara acceder a la base de datos, usa el AI agent \"base de datos\" como tool.\n\nLa fecha de hoy es {{ $json.fechaActual }}\n\n---\n\nRecuerda: Tu objetivo es hacer que cada interacción sea positiva, eficiente y que el paciente se sienta bien atendido y con ganas de visitar nuestra clínica. ¡Eres la primera impresión de Clínica Dental Sonrisas! 🦷✨"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1472,
        -32
      ],
      "id": "410eccbc-9a76-4b72-ad45-4962286d990e",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.audioMessage.mimetype }}",
                    "rightValue": "=audio/ogg; codecs=opus",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "be9dbcd5-0882-4ce9-9822-305865fae492"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6a0ec742-7f93-4ea1-af39-35d410da1c1a",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -912,
        0
      ],
      "id": "18798a96-bb34-4fc8-aa5a-b9a744c78a88",
      "name": "Switch"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "aimaspain.contacto@gmail.com",
          "mode": "list",
          "cachedResultName": "aimaspain.contacto@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "sendUpdates": "all",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1616,
        704
      ],
      "id": "75af2076-c72a-4775-a2c2-3698a5ff5601",
      "name": "Crear evento",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "aimaspain.contacto@gmail.com",
          "mode": "list",
          "cachedResultName": "aimaspain.contacto@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1728,
        704
      ],
      "id": "1e8e04f4-2913-43cc-bc59-8bd9bb9c280d",
      "name": "Actualizar evento",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "aimaspain.contacto@gmail.com",
          "mode": "list",
          "cachedResultName": "aimaspain.contacto@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1872,
        704
      ],
      "id": "49998c1d-47ed-44b0-8cb7-1bc90574ff43",
      "name": "Comprobar disponibilidad",
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const originalText = $input.first().json.output;\n\n  if (typeof originalText !== 'string') {\n    return {\n      json: {\n        error: 'El campo \"text\" no existe o no es un texto',\n        original: originalText\n      }\n    };\n  }\n\n  let cleaned = originalText\n    .replace(/<[^>]*>/g, '')                     // Quitar HTML\n    .replace(/\\r?\\n|\\r/g, ' ')                   // Saltos de línea a espacio\n    .replace(/\\t+/g, ' ')                        // Tabs a espacio\n    .replace(/[^\\p{L}\\p{N},.¿?:?\\s]+/gu, '')     // Mantener letras, números, , . : ¿ ? y espacios\n    .replace(/\\s+/g, ' ')                        // Normalizar múltiples espacios\n    .trim();                                     // Quitar espacios extremos\n\n  return {\n    json: {\n      cleaned\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        -128
      ],
      "id": "a7c04d92-4cc7-4c62-9b62-9d9f1ba2df39",
      "name": "limpiar texto"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "es"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -736,
        -240
      ],
      "id": "4e2325d4-3801-49c4-b39d-7f57a8453d9d",
      "name": "Transcribir audio",
      "credentials": {},
      "notes": "los audios estan en español"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "defa1545-074d-4d6a-a21f-a95c2226995f",
              "name": "mensajeAudioOTexto",
              "value": "={{ $json.text || $('Webhook').item.json.body.data.message.conversation}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -656,
        0
      ],
      "id": "14220fd6-55ab-4156-a78c-b38795ee3e81",
      "name": "Mapear mensaje"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Mapear mensaje').item.json.mensajeAudioOTexto }}",
                    "rightValue": "[null]",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "ea1ce058-1302-4e81-9680-f70a12960a82"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -224,
        -16
      ],
      "id": "2e878e36-42ac-4457-b804-84c12437ab9c",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "mimeType": "audio/mp3"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -976,
        -240
      ],
      "id": "348546a2-a6f4-4c5f-8c45-5e56e5854e82",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "calidaxBot",
        "messageId": "={{ $('Webhook').item.json.body.data.key.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -1312,
        -240
      ],
      "id": "0e0ec54b-e84a-43b3-808b-fab1bda459f8",
      "name": "Obter m dia em base64",
      "credentials": {}
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.sessionKey }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1360,
        400
      ],
      "id": "5b10fc91-76c5-49a8-b8e9-630891e4b395",
      "name": "Postgres Chat Memory",
      "credentials": {}
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "informacion sobre propiedades de la inmobiliaria para alquilar o comprar",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1408,
        576
      ],
      "id": "eee4cdea-2c43-4c62-8a1e-9dd72dfd7a1e",
      "name": "Supabase Vector Store",
      "credentials": {}
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1296,
        704
      ],
      "id": "07f05f8f-88c2-41d4-9cf5-e84d5a3a46de",
      "name": "Embeddings OpenAI",
      "credentials": {}
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1248,
        224
      ],
      "id": "771fe5d9-b94e-472d-824e-a3bef231e826",
      "name": "OpenAI Chat Model",
      "credentials": {}
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.data.key.fromMe.toString() }}",
                    "rightValue": "=false",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "84f1ac15-47a9-4f36-b8b0-73ea0edc3ecc"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1520,
        -240
      ],
      "id": "904c9131-6b4a-4234-a77c-f613ac8c06a5",
      "name": "es mandado por el cliente"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Edit Fields').item.json.chat_id }}",
        "messageData": "={{ $json.mensajeAudioOTexto }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -16,
        -16
      ],
      "id": "56ca78c0-4f9b-4948-8ad8-b0ed9f43bf77",
      "name": "Redis",
      "credentials": {}
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        208,
        -16
      ],
      "id": "01c50c79-63f4-4d6b-a93c-74bd44f2e469",
      "name": "Wait",
      "webhookId": "REDACTED"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $('Edit Fields').item.json.chat_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        400,
        -16
      ],
      "id": "b6a95643-14f8-4294-9d35-dc5d151f9579",
      "name": "Redis1",
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8ac5729a-0f8a-4564-b4f9-dd5e1fcb4c05",
              "leftValue": "={{ $json.message.last() }}",
              "rightValue": "={{ $('Mapear mensaje').item.json.mensajeAudioOTexto }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        -16
      ],
      "id": "e30c0eb4-76c0-4570-aaf8-7ea8af539ae3",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        928,
        288
      ],
      "id": "ebc7b712-0eb1-44de-bd71-6ae401a17303",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a46e63b-2ead-4f35-aaa2-ab4ef5fc69f2",
              "name": "response",
              "value": "={{ $('Redis1').item.json.message.join() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        -32
      ],
      "id": "3f866252-6789-4cb5-8b5a-4986da43379b",
      "name": "pregunta_usuario"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Edit Fields').item.json.chat_id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1072,
        -32
      ],
      "id": "33aa58e8-fab6-4e20-b87d-810f576766e1",
      "name": "Redis2",
      "credentials": {}
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utiliza esta herramienta para eliminar eventos del calendario.",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "aimaspain.contacto@gmail.com",
          "mode": "list",
          "cachedResultName": "aimaspain.contacto@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1488,
        704
      ],
      "id": "3aa0c7a1-f246-4ea6-bd74-f854e1a6f98f",
      "name": "Eliminar evento",
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "641c492a-2026-49ba-81d8-31d19976fd99",
              "leftValue": "={{ $json.body.data.key.fromMe.toString() }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1744,
        0
      ],
      "id": "9c0b9346-5ca8-4fae-a138-8da9f767bf74",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "62cf7f96-e1f3-4350-850c-548e2291ed79",
              "leftValue": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
              "rightValue": "34641750559@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        -16
      ],
      "id": "3670b18a-113f-4f2b-ac92-e8088e606256",
      "name": "If2"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "aimaspain.contacto@gmail.com",
          "mode": "list",
          "cachedResultName": "aimaspain.contacto@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}",
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees1_Attendees', ``, 'string') }}"
          ],
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1968,
        368
      ],
      "id": "42fde3cc-8599-4f5e-8324-f066ad25b3cc",
      "name": "Create an event in Google Calendar",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "aimaspain.contacto@gmail.com",
          "mode": "list",
          "cachedResultName": "aimaspain.contacto@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1840,
        384
      ],
      "id": "fcd45152-33f5-441d-bbbf-0ab66ffc40c5",
      "name": "Delete an event in Google Calendar",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "aimaspain.contacto@gmail.com",
          "mode": "list",
          "cachedResultName": "aimaspain.contacto@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1744,
        384
      ],
      "id": "198c03c0-fcdb-49ae-9b82-83cf8e534a57",
      "name": "Get many events in Google Calendar",
      "credentials": {}
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "calidaxBot",
        "remoteJid": "={{ $json.chat_id }}",
        "messageText": "={{ $('AI Agent1').item.json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2208,
        -32
      ],
      "id": "07f0ea4e-245a-4b30-9960-ad73c85eae7c",
      "name": "Enviar texto",
      "credentials": {}
    },
    {
      "parameters": {
        "text": "=esta es tu base de datos:\n{\n  \"clinica\": {\n    \"nombre\": \"Clínica Dental Sonrisas\",\n    \"direccion\": \"Calle Serrano 45, 28006 Madrid\",\n    \"telefono\": \"+34 915 123 456\",\n    \"email\": \"info@clinicasonrisas.es\",\n    \"urgencias_24h\": \"+34 666 789 012\",\n    \"horarios\": {\n      \"lunes_viernes\": \"09:00 - 20:00\",\n      \"sabado\": \"09:00 - 14:00\",\n      \"domingo\": \"Cerrado\"\n    },\n    \"redes_sociales\": {\n      \"instagram\": \"@clinicasonrisas\",\n      \"facebook\": \"ClinicaDentalSonrisas\"\n    }\n  },\n\n  \"servicios\": [\n    {\n      \"id\": \"ODG001\",\n      \"categoria\": \"Odontología General\",\n      \"nombre\": \"Limpieza Dental Profunda\",\n      \"descripcion\": \"Eliminación de sarro y placa bacteriana con ultrasonido y pulido\",\n      \"duracion_minutos\": 45,\n      \"precio_desde\": 60,\n      \"precio_hasta\": 90\n    },\n    {\n      \"id\": \"ODG002\",\n      \"categoria\": \"Odontología General\",\n      \"nombre\": \"Empaste Composite\",\n      \"descripcion\": \"Restauración de caries con material estético del color del diente\",\n      \"duracion_minutos\": 30,\n      \"precio_desde\": 50,\n      \"precio_hasta\": 100\n    },\n    {\n      \"id\": \"ODG003\",\n      \"categoria\": \"Odontología General\",\n      \"nombre\": \"Extracción Simple\",\n      \"descripcion\": \"Extracción de pieza dental sin complicaciones\",\n      \"duracion_minutos\": 30,\n      \"precio_desde\": 50,\n      \"precio_hasta\": 80\n    },\n    {\n      \"id\": \"EST001\",\n      \"categoria\": \"Estética Dental\",\n      \"nombre\": \"Blanqueamiento LED\",\n      \"descripcion\": \"Blanqueamiento dental profesional con tecnología LED\",\n      \"duracion_minutos\": 60,\n      \"precio_desde\": 250,\n      \"precio_hasta\": 350\n    },\n    {\n      \"id\": \"EST002\",\n      \"categoria\": \"Estética Dental\",\n      \"nombre\": \"Carillas de Porcelana\",\n      \"descripcion\": \"Láminas de porcelana para transformar la sonrisa\",\n      \"duracion_minutos\": 120,\n      \"precio_desde\": 400,\n      \"precio_hasta\": 600,\n      \"precio_por\": \"pieza\"\n    },\n    {\n      \"id\": \"EST003\",\n      \"categoria\": \"Estética Dental\",\n      \"nombre\": \"Diseño de Sonrisa Digital\",\n      \"descripcion\": \"Planificación digital de tu nueva sonrisa con vista previa\",\n      \"duracion_minutos\": 60,\n      \"precio_desde\": 150,\n      \"precio_hasta\": 250\n    },\n    {\n      \"id\": \"ORT001\",\n      \"categoria\": \"Ortodoncia\",\n      \"nombre\": \"Brackets Metálicos\",\n      \"descripcion\": \"Ortodoncia tradicional con brackets metálicos\",\n      \"duracion_meses\": \"18-24\",\n      \"precio_desde\": 2500,\n      \"precio_hasta\": 3500,\n      \"incluye\": \"Estudio, brackets, revisiones mensuales, retenedores\"\n    },\n    {\n      \"id\": \"ORT002\",\n      \"categoria\": \"Ortodoncia\",\n      \"nombre\": \"Brackets Estéticos (Zafiro)\",\n      \"descripcion\": \"Brackets transparentes de zafiro, prácticamente invisibles\",\n      \"duracion_meses\": \"18-24\",\n      \"precio_desde\": 3500,\n      \"precio_hasta\": 4500\n    },\n    {\n      \"id\": \"ORT003\",\n      \"categoria\": \"Ortodoncia\",\n      \"nombre\": \"Invisalign\",\n      \"descripcion\": \"Alineadores invisibles removibles, tratamiento digital\",\n      \"duracion_meses\": \"12-18\",\n      \"precio_desde\": 3800,\n      \"precio_hasta\": 5500\n    },\n    {\n      \"id\": \"IMP001\",\n      \"categoria\": \"Implantología\",\n      \"nombre\": \"Implante Dental Unitario\",\n      \"descripcion\": \"Implante de titanio con corona de porcelana\",\n      \"duracion_meses\": \"3-6\",\n      \"precio_desde\": 1200,\n      \"precio_hasta\": 1800,\n      \"incluye\": \"Implante, pilar, corona, cirugía\"\n    },\n    {\n      \"id\": \"IMP002\",\n      \"categoria\": \"Implantología\",\n      \"nombre\": \"Prótesis Completa sobre 4 Implantes\",\n      \"descripcion\": \"Rehabilitación completa de arcada con técnica All-on-4\",\n      \"duracion_meses\": \"4-8\",\n      \"precio_desde\": 8000,\n      \"precio_hasta\": 12000\n    },\n    {\n      \"id\": \"END001\",\n      \"categoria\": \"Endodoncia\",\n      \"nombre\": \"Endodoncia (Matar Nervio)\",\n      \"descripcion\": \"Tratamiento de conductos radiculares para salvar la pieza\",\n      \"duracion_minutos\": 90,\n      \"precio_desde\": 200,\n      \"precio_hasta\": 400,\n      \"sesiones\": \"1-2\"\n    },\n    {\n      \"id\": \"PER001\",\n      \"categoria\": \"Periodoncia\",\n      \"nombre\": \"Tratamiento Periodontal Completo\",\n      \"descripcion\": \"Curetaje y raspado para tratar enfermedad de encías\",\n      \"duracion_minutos\": 60,\n      \"precio_desde\": 400,\n      \"precio_hasta\": 800,\n      \"sesiones\": \"2-4\"\n    },\n    {\n      \"id\": \"PED001\",\n      \"categoria\": \"Odontopediatría\",\n      \"nombre\": \"Revisión Dental Infantil\",\n      \"descripcion\": \"Revisión completa con fluorización para niños\",\n      \"duracion_minutos\": 30,\n      \"precio_desde\": 30,\n      \"precio_hasta\": 50\n    },\n    {\n      \"id\": \"CIR001\",\n      \"categoria\": \"Cirugía Oral\",\n      \"nombre\": \"Extracción Muelas del Juicio\",\n      \"descripcion\": \"Extracción quirúrgica de cordales impactados\",\n      \"duracion_minutos\": 45,\n      \"precio_desde\": 150,\n      \"precio_hasta\": 300,\n      \"precio_por\": \"pieza\"\n    }\n  ],\n\n  \"doctores\": [\n    {\n      \"id\": \"DOC001\",\n      \"nombre\": \"Dra. María González\",\n      \"especialidad\": \"Directora / Odontología General\",\n      \"experiencia_anos\": 15,\n      \"idiomas\": [\"Español\", \"Inglés\"],\n      \"horario_atencion\": [\"Lunes\", \"Martes\", \"Miércoles\", \"Viernes\"],\n      \"disponibilidad_mañana\": true,\n      \"disponibilidad_tarde\": true\n    },\n    {\n      \"id\": \"DOC002\",\n      \"nombre\": \"Dr. Carlos Ramírez\",\n      \"especialidad\": \"Implantología y Cirugía\",\n      \"experiencia_anos\": 20,\n      \"idiomas\": [\"Español\", \"Francés\"],\n      \"horario_atencion\": [\"Martes\", \"Jueves\", \"Viernes\"],\n      \"disponibilidad_mañana\": true,\n      \"disponibilidad_tarde\": false\n    },\n    {\n      \"id\": \"DOC003\",\n      \"nombre\": \"Dra. Ana Martínez\",\n      \"especialidad\": \"Ortodoncia e Invisalign\",\n      \"experiencia_anos\": 12,\n      \"certificaciones\": [\"Invisalign Diamond Provider\"],\n      \"idiomas\": [\"Español\", \"Inglés\", \"Portugués\"],\n      \"horario_atencion\": [\"Lunes\", \"Miércoles\", \"Jueves\", \"Sábado\"],\n      \"disponibilidad_mañana\": true,\n      \"disponibilidad_tarde\": true\n    },\n    {\n      \"id\": \"DOC004\",\n      \"nombre\": \"Dr. Javier López\",\n      \"especialidad\": \"Estética Dental\",\n      \"experiencia_anos\": 10,\n      \"idiomas\": [\"Español\", \"Inglés\"],\n      \"horario_atencion\": [\"Lunes\", \"Martes\", \"Miércoles\", \"Jueves\"],\n      \"disponibilidad_mañana\": false,\n      \"disponibilidad_tarde\": true\n    },\n    {\n      \"id\": \"DOC005\",\n      \"nombre\": \"Dra. Laura Sánchez\",\n      \"especialidad\": \"Odontopediatría\",\n      \"experiencia_anos\": 8,\n      \"idiomas\": [\"Español\"],\n      \"horario_atencion\": [\"Martes\", \"Jueves\", \"Viernes\", \"Sábado\"],\n      \"disponibilidad_mañana\": true,\n      \"disponibilidad_tarde\": true,\n      \"nota\": \"Especializada en niños con ansiedad dental\"\n    }\n  ],\n\n  \"seguros_aceptados\": [\n    {\n      \"nombre\": \"Sanitas Dental\",\n      \"cobertura\": \"80% tratamientos básicos, 50% especialidades\",\n      \"copago_consulta\": 0\n    },\n    {\n      \"nombre\": \"Adeslas Dental\",\n      \"cobertura\": \"Sin copago en limpieza anual, descuentos en tratamientos\",\n      \"copago_consulta\": 0\n    },\n    {\n      \"nombre\": \"Asisa Dental\",\n      \"cobertura\": \"Cuadro médico completo, sin copagos en prevención\",\n      \"copago_consulta\": 0\n    },\n    {\n      \"nombre\": \"DKV Dentisalud\",\n      \"cobertura\": \"Reembolso de tratamientos según baremo\",\n      \"copago_consulta\": 15\n    },\n    {\n      \"nombre\": \"Cigna Dental\",\n      \"cobertura\": \"Red de clínicas concertadas\",\n      \"copago_consulta\": 10\n    }\n  ],\n\n  \"promociones_actuales\": [\n    {\n      \"id\": \"PROMO001\",\n      \"titulo\": \"Primera Visita GRATIS\",\n      \"descripcion\": \"Revisión completa, radiografía panorámica y diagnóstico sin coste\",\n      \"vigencia\": \"Permanente\",\n      \"condiciones\": \"Solo nuevos pacientes\"\n    },\n    {\n      \"id\": \"PROMO002\",\n      \"titulo\": \"Blanqueamiento + Limpieza\",\n      \"descripcion\": \"Pack especial: Blanqueamiento LED + Limpieza profunda por 280€ (ahorra 80€)\",\n      \"precio_normal\": 360,\n      \"precio_promocion\": 280,\n      \"vigencia\": \"Hasta 31/12/2025\"\n    },\n    {\n      \"id\": \"PROMO003\",\n      \"titulo\": \"Financiación 0% Intereses\",\n      \"descripcion\": \"Financia tu tratamiento hasta 24 meses sin intereses\",\n      \"importe_minimo\": 600,\n      \"vigencia\": \"Permanente\"\n    }\n  ],\n\n  \"horarios_disponibles_template\": {\n    \"lunes\": {\n      \"mañana\": [\"09:00\", \"09:30\", \"10:00\", \"10:30\", \"11:00\", \"11:30\", \"12:00\", \"12:30\", \"13:00\"],\n      \"tarde\": [\"16:00\", \"16:30\", \"17:00\", \"17:30\", \"18:00\", \"18:30\", \"19:00\", \"19:30\"]\n    },\n    \"martes\": {\n      \"mañana\": [\"09:00\", \"09:30\", \"10:00\", \"10:30\", \"11:00\", \"11:30\", \"12:00\", \"12:30\", \"13:00\"],\n      \"tarde\": [\"16:00\", \"16:30\", \"17:00\", \"17:30\", \"18:00\", \"18:30\", \"19:00\", \"19:30\"]\n    },\n    \"miercoles\": {\n      \"mañana\": [\"09:00\", \"09:30\", \"10:00\", \"10:30\", \"11:00\", \"11:30\", \"12:00\", \"12:30\", \"13:00\"],\n      \"tarde\": [\"16:00\", \"16:30\", \"17:00\", \"17:30\", \"18:00\", \"18:30\", \"19:00\", \"19:30\"]\n    },\n    \"jueves\": {\n      \"mañana\": [\"09:00\", \"09:30\", \"10:00\", \"10:30\", \"11:00\", \"11:30\", \"12:00\", \"12:30\", \"13:00\"],\n      \"tarde\": [\"16:00\", \"16:30\", \"17:00\", \"17:30\", \"18:00\", \"18:30\", \"19:00\", \"19:30\"]\n    },\n    \"viernes\": {\n      \"mañana\": [\"09:00\", \"09:30\", \"10:00\", \"10:30\", \"11:00\", \"11:30\", \"12:00\", \"12:30\", \"13:00\"],\n      \"tarde\": [\"16:00\", \"16:30\", \"17:00\", \"17:30\", \"18:00\", \"18:30\", \"19:00\", \"19:30\"]\n    },\n    \"sabado\": {\n      \"mañana\": [\"09:00\", \"09:30\", \"10:00\", \"10:30\", \"11:00\", \"11:30\", \"12:00\", \"12:30\", \"13:00\"],\n      \"tarde\": []\n    }\n  },\n\n  \"citas_ejemplo\": [\n    {\n      \"id_cita\": \"CITA2025001\",\n      \"paciente\": {\n        \"nombre\": \"Juan Pérez García\",\n        \"telefono\": \"+34 612 345 678\",\n        \"email\": \"juan.perez@email.com\",\n        \"primera_visita\": false,\n        \"seguro\": \"Sanitas Dental\"\n      },\n      \"fecha\": \"2025-10-08\",\n      \"hora\": \"10:00\",\n      \"doctor\": \"Dra. María González\",\n      \"motivo\": \"Limpieza dental\",\n      \"estado\": \"confirmada\",\n      \"duracion_minutos\": 45\n    },\n    {\n      \"id_cita\": \"CITA2025002\",\n      \"paciente\": {\n        \"nombre\": \"Laura Martín López\",\n        \"telefono\": \"+34 654 987 321\",\n        \"email\": \"laura.martin@email.com\",\n        \"primera_visita\": true,\n        \"seguro\": \"Ninguno\"\n      },\n      \"fecha\": \"2025-10-09\",\n      \"hora\": \"16:30\",\n      \"doctor\": \"Dra. Ana Martínez\",\n      \"motivo\": \"Consulta ortodoncia - Invisalign\",\n      \"estado\": \"confirmada\",\n      \"duracion_minutos\": 60,\n      \"notas\": \"Interesada en alineadores invisibles\"\n    }\n  ],\n\n  \"preguntas_frecuentes\": [\n    {\n      \"pregunta\": \"¿Duele ponerse implantes dentales?\",\n      \"respuesta\": \"El procedimiento se realiza con anestesia local, por lo que no sentirás dolor durante la cirugía. Después puede haber molestias leves que se controlan con analgésicos comunes. La mayoría de pacientes reportan menos molestias de las que esperaban.\"\n    },\n    {\n      \"pregunta\": \"¿Cuánto dura un tratamiento de ortodoncia?\",\n      \"respuesta\": \"Depende de cada caso. Los tratamientos con brackets suelen durar entre 18-24 meses. Invisalign puede ser más rápido, entre 12-18 meses en casos moderados. En la primera visita te daremos un tiempo estimado específico para tu caso.\"\n    },\n    {\n      \"pregunta\": \"¿Aceptáis pagos a plazos?\",\n      \"respuesta\": \"Sí, ofrecemos financiación sin intereses hasta 24 meses para tratamientos desde 600€. También trabajamos con financieras para plazos más largos. Consultamos las mejores opciones para ti.\"\n    },\n    {\n      \"pregunta\": \"¿Hacéis urgencias?\",\n      \"respuesta\": \"Sí, reservamos huecos cada día para urgencias. Si tienes dolor intenso, traumatismo o infección, llámanos y te atenderemos el mismo día. Fuera de horario, tenemos línea de urgencias 24h: +34 666 789 012\"\n    },\n    {\n      \"pregunta\": \"¿Trabajáis con seguros médicos?\",\n      \"respuesta\": \"Sí, trabajamos con Sanitas, Adeslas, Asisa, DKV y Cigna. Dependiendo de tu póliza, algunos tratamientos pueden estar totalmente cubiertos y otros con descuentos significativos.\"\n    }\n  ],\n\n  \"mensajes_automaticos\": {\n    \"confirmacion_cita\": \"¡Hola {nombre}! ✅ Tu cita en Clínica Dental Sonrisas está confirmada:\\n📅 {fecha} a las {hora}\\n👨‍⚕️ Con {doctor}\\n📍 C/ Serrano 45, Madrid\\n\\n¿Alguna duda? Llámanos al 915 123 456\",\n    \n    \"recordatorio_24h\": \"¡Hola {nombre}! 🦷 Te recordamos tu cita mañana {fecha} a las {hora} con {doctor}.\\n\\nPor favor, llega 10 minutos antes.\\n\\n¿Necesitas cancelar? Llámanos al 915 123 456\",\n    \n    \"cancelacion\": \"Tu cita del {fecha} a las {hora} ha sido cancelada correctamente. ¿Quieres reagendar? Llámanos al 915 123 456 o escríbenos.\",\n    \n    \"bienvenida_nuevo_paciente\": \"¡Bienvenido a Clínica Dental Sonrisas! 😊 Tu primera visita es GRATUITA e incluye revisión completa y diagnóstico. Estamos en C/ Serrano 45. ¡Te esperamos!\",\n    \n    \"post_cita\": \"¡Gracias por visitarnos! Esperamos que tu experiencia haya sido excelente. Si tienes cualquier molestia o pregunta, no dudes en contactarnos. ¡Nos vemos pronto! 😊🦷\"\n  },\n\n  \"metadata\": {\n    \"ultima_actualizacion\": \"2025-10-06\",\n    \"version_base_datos\": \"1.0\",\n    \"total_servicios\": 15,\n    \"total_doctores\": 5,\n    \"idiomas_atencion\": [\"Español\", \"Inglés\", \"Francés\", \"Portugués\"]\n  }\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        2080,
        208
      ],
      "id": "bdfa46fb-22f1-4ea8-bdb4-8ac2e844af6f",
      "name": "AI Agent base datos"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2096,
        384
      ],
      "id": "b37f7d82-9857-4a72-bc5f-6ba407a227b5",
      "name": "OpenAI Chat Model1",
      "credentials": {}
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1584,
        400
      ],
      "id": "133328ef-2c9d-4e1e-9dcc-0ce20e0ab6e7",
      "name": "Send a message in Gmail",
      "webhookId": "REDACTED",
      "credentials": {}
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3EfCBz4w6ikUvzxi",
          "mode": "list",
          "cachedResultUrl": "/workflow/3EfCBz4w6ikUvzxi",
          "cachedResultName": "sistema cribaje atlas"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Mensaje_actual": "={{ $json.response }}",
            "Chat_Id": "={{ $('Edit Fields').item.json.chat_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Mensaje_actual",
              "displayName": "Mensaje_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Chat_Id",
              "displayName": "Chat_Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1408,
        -384
      ],
      "id": "f7cd1dc1-f8a6-4a85-8b74-f09cd9c9d0a6",
      "name": "Call 'sistema cribaje atlas'"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "calidax",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1984,
        16
      ],
      "id": "3589ec19-18a6-4d14-999b-65e1e47fa49c",
      "name": "Webhook",
      "webhookId": "REDACTED"
    },
    {
      "parameters": {
        "jsCode": "// Obtener fecha actual en zona horaria de Madrid\nconst ahora = new Date();\n\n// Convertir a zona horaria de Madrid (Europe/Madrid)\nconst fechaMadrid = new Date(ahora.toLocaleString('en-US', { timeZone: 'Europe/Madrid' }));\n\n// Arrays en español\nconst diasSemana = ['domingo', 'lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sábado'];\nconst meses = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', \n               'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'];\n\n// Extraer componentes de la fecha en Madrid\nconst diaSemana = diasSemana[fechaMadrid.getDay()];\nconst dia = fechaMadrid.getDate();\nconst mes = meses[fechaMadrid.getMonth()];\nconst anio = fechaMadrid.getFullYear();\nconst hora = String(fechaMadrid.getHours()).padStart(2, '0');\nconst minutos = String(fechaMadrid.getMinutes()).padStart(2, '0');\n\n// Construir la fecha en formato español completo\nconst fechaActual = diaSemana + ' ' + dia + ' de ' + mes + ' de ' + anio + ', ' + hora + ':' + minutos;\n\n// Retornar el resultado\nreturn {\n  fechaActual: fechaActual\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        -32
      ],
      "id": "53243e58-7e18-4183-844c-03dff425617a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "let remoteJid = $('Edit Fields').first().json.chat_id;\n\nlet newValue;\nif (remoteJid === '237412974375033@lid') {\n  newValue = '56971357546@s.whatsapp.net';\n} else {\n  newValue = remoteJid;\n}\n\nreturn [{\n  json: {\n    chat_id: newValue\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1952,
        -32
      ],
      "id": "a4b4a5e2-704e-4c34-86e5-a4b72f4502c1",
      "name": "Code in JavaScript1"
    }
  ],
  "origin": "n8n",
  "pinData": {
    "Call 'sistema cribaje atlas'": [
      {
        "json": {
          "mapeo_contexto": "[{\"id\":28,\"session_id\":\"34612575083@s.whatsapp.net\",\"message\":{\"type\":\"ai\",\"content\":\"Perfecto, gracias — veo que llevas unas 2 horas con la molestia. ¿Has considerado ya invertir en una solución profesional o solo buscas información general?\",\"tool_calls\":[],\"additional_kwargs\":{},\"response_metadata\":{},\"invalid_tool_calls\":[]}},{\"id\":52,\"session_id\":\"34612575083@s.whatsapp.net\",\"message\":{\"type\":\"ai\",\"content\":\"He enviado un mensaje para remontar el tema relevante. Si tienes alguna molestia específica relacionada con tus cervicales o alguna otra preocupación, por favor házmelo saber para poder ofrecerte la mejor asistencia para tus necesidades osteopáticas. Cuídate.\",\"tool_calls\":[],\"additional_kwargs\":{},\"response_metadata\":{},\"invalid_tool_calls\":[]}},{\"id\":38,\"session_id\":\"34612575083@s.whatsapp.net\",\"message\":{\"type\":\"ai\",\"content\":\"Ha ocurrido un error técnico al intentar registrar la información. Sin embargo, he enviado una alerta para que un asesor te contacte. Un miembro de nuestro equipo te llamará pronto para atender tus necesidades y preferencias. Gracias por tu paciencia.\",\"tool_calls\":[],\"additional_kwargs\":{},\"response_metadata\":{},\"invalid_tool_calls\":[]}},{\"id\":54,\"session_id\":\"34612575083@s.whatsapp.net\",\"message\":{\"type\":\"ai\",\"content\":\"Gracias por la información, Abde.\\n\\n¡Excelente! 🎯\\n\\nPor tu urgencia y motivación, te recomiendo nuestra Evaluación Inicial Promocional por solo 49€. Te dará un diagnóstico preciso y plan de tratamiento.\\n\\nPuedes reservar tu hora y pagar de forma segura aquí:\\n👉 [LINK DE PAGO]\\n\\nUna vez confirmado, te enviaré los horarios disponibles.\\n\\n\",\"tool_calls\":[],\"additional_kwargs\":{},\"response_metadata\":{},\"invalid_tool_calls\":[]}},{\"id\":30,\"session_id\":\"34612575083@s.whatsapp.net\",\"message\":{\"type\":\"ai\",\"content\":\"Disculpa, hubo un problema técnico. Un asesor te contactará pronto para continuar con tu proceso.\",\"tool_calls\":[],\"additional_kwargs\":{},\"response_metadata\":{},\"invalid_tool_calls\":[]}},{\"id\":50,\"session_id\":\"34612575083@s.whatsapp.net\",\"message\":{\"type\":\"ai\",\"content\":\"Disculpa, ha ocurrido un problema técnico. Un asesor te contactará en breve para ayudarte personalmente con tus dudas y necesidades. Gracias por tu comprensión.\",\"tool_calls\":[],\"additional_kwargs\":{},\"response_metadata\":{},\"invalid_tool_calls\":[]}},{\"id\":32,\"session_id\":\"34612575083@s.whatsapp.net\",\"message\":{\"type\":\"ai\",\"content\":\"Ahora que sé que tu molestia es aguda, ya que la experimentas desde hace unas 2 horas, me gustaría entender tu nivel de intención para resolverla. ¿Has considerado ya invertir en una solución profesional o estás buscando información general?\",\"tool_calls\":[],\"additional_kwargs\":{},\"response_metadata\":{},\"invalid_tool_calls\":[]}},{\"id\":34,\"session_id\":\"34612575083@s.whatsapp.net\",\"message\":{\"type\":\"ai\",\"content\":\"Ahora que sabemos que has estado experimentando molestias agudas, me gustaría entender tu intención respecto a buscar una solución. ¿Has considerado invertir en tratamiento profesional o solo buscas información general?\",\"tool_calls\":[],\"additional_kwargs\":{},\"response_metadata\":{},\"invalid_tool_calls\":[]}},{\"id\":62,\"session_id\":\"34612575083@s.whatsapp.net\",\"message\":{\"type\":\"ai\",\"content\":\"Actualmente, el lead se encuentra en el **stage 4**, lo que significa que ya hemos completado la calificación en las etapas previas y hemos determinado que el lead es frío. Por lo tanto, no debemos realizar más acciones para avanzar en el stage, ya que está definido por el flujo que estamos en la etapa de finalización.\\n\\nVoy a enviarle un mensaje al cliente cuyo contenido ya está determinado para leads fríos en stage 4:\\n\\n**Acción a realizar:**\\n\\n- Usar `Tool - Send WhatsApp` para agradecerle y reiterar la disposición a ayudar cuando esté listo.\\n\\n```plaintext\\nEntiendo perfectamente. 😊\\n\\nMuchas gracias por tu tiempo. Cuando sientas que es el momento adecuado para tratar tu cervical, aquí estaremos para ayudarte.\\n\\nTe enviaré información de valor ocasionalmente. ¡Cuídate!\\n```\",\"tool_calls\":[],\"additional_kwargs\":{},\"response_metadata\":{},\"invalid_tool_calls\":[]}},{\"id\":2,\"session_id\":\"34612575083@s.whatsapp.net\",\"message\":{\"type\":\"ai\",\"content\":\"```\\nNo mencionado|||No mencionado|||No mencionado|||cervical|||osteopatia|||media|||solo_informacion\\n```\",\"tool_calls\":[],\"additional_kwargs\":{},\"response_metadata\":{},\"invalid_tool_calls\":[]}},{\"id\":60,\"session_id\":\"34612575083@s.whatsapp.net\",\"message\":{\"type\":\"ai\",\"content\":\"¡Perfecto, Abde! 🎉\\n\\nTu pago ha sido procesado con éxito. Estoy organizando tu cita y un miembro de nuestro equipo te contactará en breve para confirmarla. Si tienes alguna pregunta mientras tanto, no dudes en hacérmela saber.\\n\\n¡Nos vemos pronto en la clínica! 😊\\n\\nDisculpa, ha ocurrido un problema técnico en el seguimiento manual. Un asesor se contactará contigo para resolver cualquier detalle restante.\",\"tool_calls\":[],\"additional_kwargs\":{},\"response_metadata\":{},\"invalid_tool_calls\":[]}},{\"id\":58,\"session_id\":\"34612575083@s.whatsapp.net\",\"message\":{\"type\":\"ai\",\"content\":\"¡Perfecto, Abde! 🎉\\n\\nTu pago ha sido procesado con éxito. Estoy organizando tu cita y un miembro de nuestro equipo te contactará en breve para confirmarla. Si tienes alguna pregunta mientras tanto, no dudes en hacérmela saber.\\n\\n¡Nos vemos pronto en la clínica! 😊\",\"tool_calls\":[],\"additional_kwargs\":{},\"response_metadata\":{},\"invalid_tool_calls\":[]}},{\"id\":36,\"session_id\":\"34612575083@s.whatsapp.net\",\"message\":{\"type\":\"ai\",\"content\":\"¡Genial, Abde! Veo que estás interesado en un tratamiento profesional. Para facilitar el proceso, te enviaré un enlace de pago para programar tu cita inicial. Un momento por favor.\",\"tool_calls\":[],\"additional_kwargs\":{},\"response_metadata\":{},\"invalid_tool_calls\":[]}},{\"id\":56,\"session_id\":\"34612575083@s.whatsapp.net\",\"message\":{\"type\":\"ai\",\"content\":\"¡Genial, Abde! 🎉\\n\\nHe verificado que tu pago ha sido procesado. Estamos emocionados de que comiences tu tratamiento con nosotros. Un asesor te contactará pronto para confirmar tu cita y discutir los pasos siguientes. Si tienes alguna pregunta mientras tanto, no dudes en preguntar.\\n\\n¡Nos vemos pronto!\",\"tool_calls\":[],\"additional_kwargs\":{},\"response_metadata\":{},\"invalid_tool_calls\":[]}},{\"id\":35,\"session_id\":\"34612575083@s.whatsapp.net\",\"message\":{\"type\":\"human\",\"content\":\"Eres un asistente especializado en calificación de leads para osteopatía. Sigue el flujo exacto del prompt y usa las tools en el momento correcto.\\nMensaje actual del cliente:si busco tratamiento\\nAquí está el historial de los mensajes entre el cliente y tú: en la memoria Postgres Chat Memory1\",\"additional_kwargs\":{},\"response_metadata\":{}}}]"
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "personal-n8n.rk9l1c.easypanel.host",
            "user-agent": "axios/1.7.9",
            "content-length": "26236",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "personal-n8n.rk9l1c.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "227e2e43f3cd",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "calidaxBot",
            "data": {
              "key": {
                "remoteJid": "34612575083@s.whatsapp.net",
                "fromMe": false,
                "id": "ACB11376E2D6A2E700B0961A62A704B4"
              },
              "pushName": "Abde",
              "status": "DELIVERY_ACK",
              "message": {
                "audioMessage": {
                  "url": "https://mmg.whatsapp.net/v/t62.7117-24/583229379_1456266822106428_5161921883300399410_n.enc?ccb=11-4&oh=01_Q5Aa3AGh49r2gK8EyTI2FRavaHm-d4_n4q24APvkuYXQW5r45g&oe=693C0A11&_nc_sid=5e03e0&mms3=true",
                  "mimetype": "audio/ogg; codecs=opus",
                  "fileSha256": "Cxrp9lJol4Zmd9pHB9Zm1X/kyRncFSPWypYutFNrrFM=",
                  "fileLength": "18390",
                  "seconds": 10,
                  "ptt": true,
                  "mediaKey": "nHev8nSH2F/3DtkDcNFcakwTOr6qJIsFq6rROfBVqCE=",
                  "fileEncSha256": "pCVoKQ5dvEWnCeW1t9Qv8chDCYDrxAxCNSZ5g5YseMM=",
                  "directPath": "/v/t62.7117-24/583229379_1456266822106428_5161921883300399410_n.enc?ccb=11-4&oh=01_Q5Aa3AGh49r2gK8EyTI2FRavaHm-d4_n4q24APvkuYXQW5r45g&oe=693C0A11&_nc_sid=5e03e0",
                  "mediaKeyTimestamp": "1762962089",
                  "waveform": "AAAAAAAAAAAAAAAAAAAgCC82KSQuAigEKCglKCkpIiIdJhcAAAAAAAAAFDMlAyYmJhIrGCMgKy4nFSIYKRwaAA=="
                },
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "GPmaWMlSK9/Z0Q==",
                    "senderTimestamp": "1761991188",
                    "recipientKeyHash": "WS/axTla8yX8hg==",
                    "recipientTimestamp": "1762378364"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "ypW0NU9ziiUbv7chLYom9cLsdFdl2muWH3DyCe8FCdw="
                },
                "base64": "T2dnUwACAAAAAAAAAAAAAAAAAAAAACqCBoIBE09wdXNIZWFkAQFoAIA+AAAAAABPZ2dTAAAAAAAAAAAAAAAAAAABAAAAjzLsvAEYT3B1c1RhZ3MIAAAAV2hhdHNBcHAAAAAAT2dnUwAA6F8CAAAAAAAAAAAAAgAAAApaWOUkMjr32N2xxLcmAgIjAgICKALh/zP/Cv8u/zX/KP9A/xb/Pf8bS4YHCAcHBwvkwTbsxYAHyXIn4UTqUAfJecjJV8AHyXnIyVfAB8l5yMlXwAfJecjJV8BLhgcHBwcAB8l5yMlXwAfJecjJV8AHyXnIyVfAB8l5yMlXwIACg5zHZb31O+FLboEL+nFIeug5IQUdS4YuLyMpIYHQpy/0jSQ6hjj1lTD1m7rY5pgvS+hscyU7Nwqp7EM9/nUgLWngq2t6jwTMp2CDISzcHuL69G+cetMdQOH85GBPSQC5ruFWdsyO9emhjYXohq4BDU/2aEcCGnTugIFjQyRW47c+fBBfFfdvclhvwd34H8+hibiTH4/SRQYbF2RPiXc+2+Xexcw0iY1eTGXFGnhRN1HuguzEkCpJ8GkfF/d8DGY8H9RNv8CBE7Y13GMumsniD+mAVpS4mbc90U1DKVUrklPiDLoEUlWBR2ljcodEes4StWcseRpnt7VSqYn2tlb0s5ZStEcd/pEz1VmBYEuGHyQpIyWBN4GS+ZYMPHW0zBjROgoclkApvu4PTOFZF4sFzDyggo4AZOq1EzyMj8/F9NzN0Cfw5rGVsisF8pIqgR/GLstZm1nAiLw590JRUgYW5ylLoxxwCNQgqqKU5KQDs2tMvRi1dKen9eGf+y0HDwiIXCl9+z3S6bT5bj3UYsQE5AIv+KxL7tPKxmb/8h/lAPZqoYg+Ap035boLZLx1mG1JAmSgHXCf8QRltO0tdCWQ6oao2IW92MApke7VMZidPl7phfsng3XySMLa17JrKtYoktwHWkuGISQnKCEpku8c0re6B6tqOsTGQQvxHadkqYys16dyDuAe1AIZbXApoRJIJd98rNxCqsVG2u7fnBiYCLbhrjr9Oxra8hiU5UswyriH9wAfQ7TACdtLWCMsb3af8DP7uKvq3+8ZlrALacFVCcdZVx2wE8CH+MeMDsdLcbqjbJe5+fJDommcupQuYD9wRgWO4jR+0MEG83CD8OdIgK50k6qlHHvJJF8x0y3x8zLZorcsa8NVl1RYbkphuu8sKaBJ7XwT3kwqjpG8ic/7TFv/ndaH/PK2Yd88VxheBSpAS4YhHBsZGwPzKmpTWhBxB2BG3u2Z8SvRfH5dUJwzU6Bj1pu+IZyRoCQiKs1REf/yzCFibYgyDcqXu6agaP4bFpPX1RiAsOWzpnprgvhxM8UDyoSaZaNiI7dUqbA+IUADrrMAoLLXC99XnSnkrH5vqjWnLEvgJXk0IXMwqj6tRCn4n1nn3HMGSMIjZ99rMOeksHeAG5o4q7nEqHFqexqAGAl21DYJwDmupZYxppD/0fWAS4YiJREiIxudlp+Pg5hEqjZURGPP+lz4D4sH75igo/ZAvj9+1yAUTsSAR7jXY1+LZd84hnckxSkhLTvIxmsl4nl8ZwDEyj4AS6oEBgj4OV/Aghw0oskSSNXKAlmOcA8du6+X2mqnv2lU+GWJya2XkWuiFDpYiwPk7aYA2GreWmJIGHlMFIvZJU++dPOcxZo7/xjNOtAO9i0xOqGNY+FJHAMsXEAYeH72J1KC1zJ97xsZM+yqFHtElji3MS1XNJ4sG3cOFEuGGxobHyAYeH8FSEpvacTcNvWD8dA7D8M3aAFHn2Z1BSMXjfziaxyxAHV+HBMuRriWvjRrEZM4lunc8BVSjfOLa3SjBz7MqFRjXu7VFW4ld9EQdqFCpxItjFd0OVD88Uv1hkr5VBsWCUDqC7qy5JEPY9h17IASLYaT3O1JdFBPzjoJdCAhBDwHAmu/hd2mW0iaAmrWmBK2Pp7bjN9l76w0JiQtxAyjRm1eyyLRxpf8vTC3xr1xWEuGHwAAAAAVVEHPMmwjYOcP9kZTGfF1aDs1otqD0rYm7xf8gnigSwZLBkuGAAAAHAAO49BCRm30Ie7dsfYL58qAEgj1/wIrVmamsPTySwZLBksGS4YhAAAAAA7eIit5HGHUWJITXQF2lQxFRZFILnbuk8wDspFWP5/xMEsGS4YAGCUtOQ83aimmH3U2JRF6f9nep/qfmh8mTpxFjIE3fnZK77kmoCTpkiBN3yNnscC/IsmlPD2/ZqC2J/LCmzpGoWyJqck18uB0RR8cTfon2Qv+Yo4GwpwfO5JjD3El54yrvYJstHnx2pbHJcVatcGCKpQb5tydLNjUAEPwrGQQUd6I7bEA4VwT5qh1Vzi1jgmU9ACnnKaslpgwEeVDr/LOjVsnYoI+skCDAFf/znJgeJsxws9EcIh8Jwx1hwvr6KHQJ2jsVHjZjzfjMMXKunMbpZPtFRhG98IprBMx06J4S4Y4LjoyLqdWWGaGqLXrakkEjV8qaRcr1KBRg7Lg/rc9p6xctgD63+KhzIhS3fbhI50CrcBs+PIvxt4+Z+ZgpfHjhB1uJPIdR0NBdlAiWsShmB9De52F2L4YTIRpDAlB0w4v6tEQuHAhd1upGaNd711+UieicnaPXzKlmsFKly4KZczbYJEqOiQL5BtGP4ntS8LRoa/+r22FSR4pvV0pTkOyaoH0RuCKPOABlwJq22bWfS29BzLeW5Oh/keAUGv2NTGkq+uddmabFcHDlPBmQKLB1aQOGsILJICi4ndTwpYEbDZ3oG4MVZoyAqp/eshejLciY7zR58xT34F5MKfpXDhyevP6jRiH1uKq4sZBi6yhMVk9cfpCzuq2iRJSZqFlDJ9pRU0k0LkUipgkYwkxdr+AS4YrLikpJ4dGTxAG+8f6wclAW2KIZna6x8dtfXgyYdh/ppQwO6baWlErwPg3COBkzkSARS5oiGPpGQnDBfB/m5sZE9Re8mtBX6iAepO34uDauSmpFjB4DcDYvaesZz0whu5YiRVV8bmBYDCIMHdyJdCpbWd/rEp2zQNHWj3KXeL7Gklizgzra6CGhq8WtCwRb3W+NkdDZeB/1EuxTsCP3ye4ysnHIHCO5csQ3XW1gbU4oBXoU0OqTapyrJf9Qelc/dqcL7RBPdQjFMOW2iGo1H+141Fn0DxwwIBguZloLo6fQAugk+USC/KAA3TOTPpEUbDSWPmOpadpnmVIVV/bPZZPpVmxz133ZkuGNTg6MiaCO05ALqwg6KckDQ4ov+WsO+wdXWRhrZ96P+WMCN/knhumzNO3WJBShiCI2kXdi/v65Aq6gKaWJoJPRsb7SLfR8woSriCil2k7DT311o6M/d5jxNFIK3+f4NCIJRHUuZnm2Cwlg54R7F3ROXx4qBkeSfR4/g4M3iEEWAbKgBMwqP7uI6LeFrRjG6YCfMCO3iv6HPb/i0Uvb90/B4rQw+UtZ3+0NuAjgIPasS5Ji8yN/A19QGS6tE48FDVId8SwB0qx0kAl0v8dEyzr+WojAhgyG8FOf6s08MpAgdsYPiwXD/PFsyC5EduyFov+ZZSWZucAiuiAhvTX14JMGYvJU1KH1j5Xr1vzm/ELl3pQ36yudQ+yHbyVbXay1H/H2qWRld/7aRaITCBLhiYwNDM6h0RGiwH7wmVt5+D1tImCtt0hdQZbmk7ApxQbmhMvg+rMz9FR/cCCvxVSv+STZYacs6ZIcfHTpGqikagFpfjXl0FaECv4Qeif4yALyJ2Gw2xtrCE2ybyCeI8DRl8ahZBvwwkgtwT8L0G4zwOIxuZP6DwiL5GTg3aY4nDHl9i8B4OGJEV9kVvt1fUdpJcsFFqhfO8vzQTFNKkO798EpMoH4sEVAeIhf8YcwXylNrUC7l+2sjxHwNmx0TvsbjJAqinG17A9bYUdtbz/MXiHwWYDLGVUM2+4SqAazPabPCe3+eDR9UWeqfxClfEXZR5GkSPLCdnwRz4ap6dXiAlkdNybVzmRio5+v85hSki3thG7nOLhlPIsjlMmHEOb4Xwm9YkQqxs4UiObCAf7RAn7bUuGMCstNTSleCAjDzo5y7kwIXWY2xjv2V9NQAxb/tMMGE3fQ/oQK/JsAlmSfV4V2FxwCFHKBUCiRgx0D1a5iUSfy4r1PQNPzRn84JrlbV4sr2OH/hYKQUMzDKLdxEJewXCgoAFXRKqY2GIfcU79W05nC67DOVe6vtYC9oY+qIHLXh+s1M6lgVzP3VfAElZ4oHcHEWNkeTfvErLwkgWyvaPuFKLeREomZzk7VvsefPd6exEfTW8EzC7jMaqk6LeyMo3oG+KmfI5gZ4OuTT404NiScW2sVJw3mc3qxx/Jf3rhjjopmx57Xw/BH4hCT8d+KI/wShJ61KsKp9Zn2T77l2OJ73cdE0T3Ot+XNKMzCvLJYbqk8xOD+ucIvwQOd3Pk/LYrNAZgkIxLhjAyNDw4p4qjSfAXTJaC+K5kG7LVM0Lu3Oz/z/61KMcPni7H6lJj8zy/1G9OuCnp3cKLjWcOpJcLuV1DA6METUhxXi+nLkKCuQ8pLc+YiTRv4oIiHVY2/m02mhsGEmofEOeo9akotfCdYCZr8OnKv+tf3sGgt5VOiGV/IFUGQi8mPVkVjARVMCiJfhWR4LRm/XnH+UdQxOEq9zaCneuarreRmjbylEu0xxFfTTU5i7LV/xqo57ZNZyQfYEW2yA3OAGTDO+wEUflnEceWnj3FTSv5b1qvsD3IonvkaApp1QKQBg/kYuSxRPMZL8T9LSSPC4bARWTMn/DeZ6DVQFHLLyPKWuAIYFHLgEgU3umVjOKiCu9weMpq2brBlQGZKOGTHulf8GHOZGYpm0tftX60tQP621fYRb2UJD1mrAZAS4YxLjAzJp0iduC8G3iQVgT8cEqtEadbDElgWyAGHq65nSP41rmJFlu4LI71v2uJXGlMr08UbRCbpIYgy/S79m++cHeiQPfK+gfJMb8/ZpW6II6ndSMPYuIkpva5gYfTJYcAAfowm3U90Wt2XIy2SVNuxk4oLrkejYngk7dTF9YEwwOGlGli6+lUAmyMx5EjLLftgbFHmj8wLopr2pQc3NieuM+++5hnePGQzXBGATiEomalTDURCNETrM4De0POB0htERhtdPecmZGtbvbBp9ciJybOjigKV+ASxPutwmyAzCYKgI52yNRuh4fvtCCARPe2iELSCzGZ6AmtHiZTBo8+pnLFyQZEqugn22TDhKANVcez4EuGKjI4NTiASllE2NLOAQPzRuRasai0zV8TfrhM64b4OEo2AGm08kcYQBaYJZNRiVCKb40Iju1EwTxej2H2hZT83Gh8eZ0B6dP9vf7h68kUAGwqXuUoO4MInBQkv/v7CbzpFIH/UG1SSzlEgmDAHC0uHAGgfKK6uOmUhjkaXMsoELBKuISAEHsNM4yE3rJAJhXWO8AkoxHNAAFepVcARTFtqetleJee4WCjx1cNkaG6c8Z5MBM5MPUd1nb6jicupKW4OhNWkNwiq7fqrii61OSqB/Z9gXPVMRqNWlUzsgARHLBn3CQCZRMaRg3m00LmhGwfmgVZYCDvY2FkD2Qu3oDp2MNd1FAPaKhgxm1wJbt4QpJr7mBSVr8lksASHz1FYMEy2zY0zM3FnyRGamHrg1uS5WrgZmwXU27o/ghLhi0wLzAqp7PE8ABClmiYo0Ozl1+CmRFvVPxbfwc8DiNFZc9le5x9XZiSHpcg6DxsvfqApe6s6yKcPebdiG79uebT3nwMt5hAdPSLe/TUiCVvyPhQkiGTnJmuUuBbmLEn9XPVnj95cV3B0uVtqvPI6e2hFlfThrZKznitQTZtNNc55tGgWQUbWrK7KtEUymu56wyKidNb9mIweYs4teYxEY/YtJP+HXD8HTAVuAmeZd3Z5KrUJv9dqtboGAtnZFYlU5iCKXGN9qKQnnw7zea1hJjrSC024gQffoo52GFrcJrwT93qqsbh9KKtL7CNCxAUD3J/ZEX8hfl7okEkUc/khkVLeItN0xilNGoiKYSdjlqVnHLyCmq2HVtPZ2dTAABosQMAAAAAAAAAAAADAAAABeLVLh3/Gv8W1/88/yf/Hf8F/wb/Of8n/zr/FP8C/yX/DEuGKScoNDeM7n+ReMjONuNVWBwJxFlRicd8IhonpvxkUaQPUjrhTj88GdA6W/wUiIpBc6kW3dn59lkiI3Na4gAyF0cu2P7mCb3OqpZLDPgMuZmg9vNjQICH+xlk8OH76AXv+vo01BPLHeMSH8fLsXuwyhZzzNNhpN5GjVgjZ4CjBDtth3TmIyPPooXDTzSFwpziTAZsvgv69/u+uYD8M3soXVhZfQqvSxDoDK81/1pQ8uwkptGYMC/gqJVPI0iuepryDWji1YfQGO4H6s/zqwnbM3/3+uyje+Q5rgvLphijyQjhr4/scPwQQKgdYhyLBSxqkJUnX0dSvv3bRgQqRYml7SLBLoYONhp7MXc/DttM2AYrIFYe/XnWS4YrKzIuLqdEWd+hX3mZAfS+j51PugUuUbBOrcoArr1KeErv4H2bLFklpX1WarnahF6lIsRpUS/sSDPWslXpSh3ZqR+XEhARWilb7foLUf0HVt0WstMfXaIItE6go1Qz4n4wYFL0j6AKO5chWMHEE5hJZNSR0eJDY+2oBUb8mJXSAzZtYpZBloB354um7OCfePsHB/GGamIEksZFaqae+cgvT936a0SWkwuO0Dr2mSAaMY+zgRnaHRdk0CECm+sxiQiBcP/4+uvfUTj8/T4WFOSdWIB8RxTqgWwXXGA4pOa5m9APbP1BY1uHsIfkDmKdOGVsXEKZuvw3a6jBofnAMYRXGmy3TuvCznLmm1cXZ7X/091U80uGJigdIx2HegRYuSfu1g173X4ZDrNNQYuWLLDSAsT4EIBfx3L5oid9rjaz3oBTbBd0t64YlMSY99dEcVDhDtS2PR/lvsoK2akBIUvRBQP9m7Q9oeCAXnu90hnWgBtUxzVfkkZRz4+mLQjxoKmg4zD7qIcfCULZC0Ijirrz6K1Rz54O9ttmXla7Q0nz9eG6mRjmkKFAgFG7trw6UPTeUl6QsYMOApwPG8/iVfkG0DxHnyiG+2YxE9areu65v3Ofizrfqv0ZiPSu30ENFO2w5QrxbAQEx4f4S4YsODk7LQLFnxqq2998h3FPzO5+Wh/J39bXSCEAZDs2oeqXy6A41KkdllRHrWrtwdlngGKVGZSCGSK7PIVLFisM09OYBACLoNpWI9QdzQbdgXNuAOJ4CK8vYaJu+TgkfZnk9OdOA6m6duCbU7gdtEtG0ae0XKx/lgs5f+VfMQNv5UtwuA1Ss+1iak1QZmIWGLIQzOIc2DHC8enGBvQMONpTvPSjsO58MR5DGjgOLmLfz012GPbWqgH2x4kmN8EfJFizC4RolseiODoGjBbvjMQcu8qK/639e2/FiBiZMKdSNhskzeuAdnL6Ts2f9Tqkbur5HbhRKFK/L09a2ThwxUSwjtldpcNRfATMCqk7Q4uE171l+sYV9943GHEMzGnxzNFIq3gzYrnbVyVkb5ytOu7/2cWOH80CHThgS4Y1Jzc5MKPsm+o2jjELz1+eM/zWqjZXuiMssuMD+ObvhkS9YDXKR5MSXiCU6AVDFkBCAv9jfTQ2Y6nApjxPE6y+aSC5RrG0mR4esGa5nhwnTS8DvzXzn9z8KoAwkJSF87mko+e1bPkK89uljoSyi3XN2U8wzUVWRawcfx8JzUTIANW78rcEGmZ48n2PimLCiwfdjb540sWXuKWROyyGk6ziGWgC2qfa1dnhQuzMme8B0m0S7q7ymBNF3YW6tuJ0QUJHdzkYXmrjqJK3bStar3vxmqPnubdP7S+aD4tU3GJIij+RRQ2Pf6fiTaF7eQ/bhRQLKz4wtApuyYpd0q5cr3DdRKOuIcLfmM21OE/dihZ3e+sTBi60G8RKH+14rCBrq36YGKCES4YoNi0vL6LpV+UQ1q5ZgFaIb+9jQnC17ZweTCgyx45HZ+fp/aLdHkdfE4kYNwiie1NRboZ41n1kzkdZrwqkTzAux1DifGiqq4B0FfH6aQ87A2nNAwkOZhSfcB0XGLw+Vkc70zKie43DEebkLyOGF5QwweA+fz54BN8/K5AGFxixAGDocapWuzNlaY7WScyPzyCiaJTXts6iqjf5zUdlxFbsxIKMpJF7ow7y6I38UYsy3F/v+TtGr+7rfIuAxHCajKPDuC8Dd2zM7hjJ2VKzdPvTppl3rvIPBpNYn2UEcXHzCOl04+767UjBhiFyGTW6o+6WFMBhyqgIa+OKMxjrXhBCoslYzqgMP2iMIiXOmEl5FTVxb8/432n/f4BLhjYuLygkpeUcQQxhRO04x+ekT55ttvG+r9LF1dz9IAiCIFyw7bB9UjwLC4Q1MiYIqgTDyk6EFMQYJbfGogZP97kZYHOv5iRez00tlfCtLKairDiXLwZoMgQeHMOxk73KGZwKk9PE06YwhIlquyvtETEZK0vaFNT/jKQTdkeqW7ryJo9brwlyMjk1+NPVnEW+wdz3jIlItOgth3rZUj68BkL7Jgl2RVsSOetekfyZiC7Lf6XxjN7nK+v1ipmD5UlOYAKuwpB0IETMVL+KfUOSgZPLmkU94blXmeeAvfaAE9uF+MK5+AIAfkYJVDo+tx/A7yG1UTJUKthpIhU6uXHrNB9Y+0uGGSEzMjEUXBX2fixOiBT4H8Rbt54MtLdjvMbLnCiEgBSEaeMJq/FCUAthqOEecQoSMHlgWC2E1mTJuCmmGBBggXrqxlZGTXpIVbpoucKi51PKUXCvHYKq5naVHRe6VmhUCpjBI+TydrDvYIIrH94KhmVAqZxHV0/22M3zPgNkOlmdjkpFHMXadT/vTNVn3bPbYbeWDcxzxs9eOeEydwqyHN9g8+Csk8oNfalG49AQA6m4UrHN8kxlbFNa8IJVWUh7vpHSSLih0D8Hm///IGaFcNnN5JbArE/72ejvP8flVe+tgM47JP2RYfOVRmNqgIpewipSa4pqQKail+cGdOhnftQikUuGMzM8MS6qkxyUfqubll7jerCTKgAsfIibLSsNazRfQGG5EUaEoZA7E/t69LfZx3GDMkflIKPtKOCkkMH+OKmKveGgbmekQ23TPAcbZ6tjTsbshyT6LP+Lpoh66qBgn8mybeTcKfsVsXtKycCe571M2m7Y4kGeuroKRN+pb5qTbFN9vMNWgz9w+lbgvXd9zaRSjyp60GAtNBVKwsQKxe+npEzAVPQIKrSjDRylJKRMdG53HMD8sfWCT+9sWT4KFpFkoPmHf51vndqtKcfChGV60ucjVICd72JCp5Fud6AOQRb0etZb7cDPeeAcJTLvnB42XSWGeOntcQSSRQFGJnyX5DdQ3hnJgKXxurTB2aOTM50lJsh7EkIpQIcwLuDbVX2syVRHBvSvwKx7AcIM4WP8uKivAmhD6kuGMDEsMy+j/zWVL4obBNslmfAgJXoVzFjKPX6Y54am00Qr/E/leCQOB/bn/7d/pIDQzgp5b8Chx6AdCbED9QvctoocWW+qj0wLvidBfhizbxyUH5T+mFK/CV/5878JTy41QaiFcJrAowP/4xm6CcGTNgqZ7Xby7Cdc1lE24zSXfx6eKiVjwsWM8A3Q4VIxKydup36k46zdCwm6n3kEQBqnctBASKuPL51YVJWR9TeiEng3OgVb9lOj0XK/nKKagZ0BNqdZ+nyk3gQ71dYHBdtOt1lg2M40GspSgfhCJyhC9Gkq+LRNsnPXeasRZ8zeVdKMtgQM8KIM/qdG9J01eVKsDiFH2b91vJtbEYI437ObdpKB9vkeAkUrR3SfBneasGo2O9oLhEuGMDUqODaf1AEdhXGY1+9A6kTmEhSHsQGchiaV6eLXMgauMnYSEZcF3FZ9bVK5/57IWyw5cSSd1NXIEmBnEPnhRfpUB4DpJaI5x53/NJBccOipBaRFl4PpvFAaPHLd1OWJdDOTSJuLxNqEoKSy8AZh9lsdAkHLxBptzttCbwEqKuCheLhH/gHrKlnDBHBz2a69tFAOgKQN2mXURK2YmlOmoeGnbdALTkMc8nAhrXUaKWFcxwflm6SCsv7qFVL2jxWMBEtPTB+S63Xa37AspgV21U7egWp0EYvvv5cmj0UwWjeDLcjEPuo+9Kovk8XAdtomLcm003t0H+c6npSTJ3Z0gjiQppKm5TJdo1YZUMzkYmpWlKtzQfOyo5Q8VIucuiWw16aKekSiaJaSpVDXPx8s3cIxUgemmtVLhi0sJysyp+UwEt3tkyVFiGvoUiYCyfQiU64XN5nwmMxhzOACsrDgQKgW6b+aoiaeG8aApeQRRN+rf1FamrFfoR3DsI1+gJbDV5i4GiatrumeUWc0KgQm3/4S5VHUh16iCu9cc8OEML9zLS1iffChasHELp4qJluTmqMdwRWUn1htvd5Wchiee4TCiy67xm6Z0tMam/tSWDOGWCvb33D2Ih7CXRjJ5J6D5tnspx547ZfKnzkesAt/CJk8NZKsk9G3zWhQNriUGaR8vmK+hsqfV1KQVrFfI1IMhcpp1lFnuzAAUyqlTH+iDGdpM7g5N1RzxulgrsvStC24dGEB1/6tCsfUNyvwmZKcZVSexgtd4ievgEuGKiomKDCm3nX7T2lXi/aVmTgKdWyu1HTUzqvmi2grGCLPq3+k/W+yUhxHjfC1boCpLMR1Wb4q5J0XWYMl/i9gopXIRKfAjWRWXELYrD4aJ7OjHXMaGrbXYUClJeb0GDNrH7JneHwmFxes91ztxBL6fywsn4NEZvbZ/i4g0Cgu4KNthcgF8E/BKW8zcPQSgrs8CvZwoMfwD7nal7+jnv/DjAcWF92xvYCivqhqKXpoddJHB0v9QRTGoBVZngPlNYSWXoVUSRYpNjcvuHnBdg4ZtbS1WeVntayjyBLaXoLSmTpSqf9Je0d+USK/aHQn/FgZkSUnQVHucK/O/PTS/ULAS4YqLS0zNaPO3RCbI6EFkwZ+yCb8A6RY58XL/iEt8XHT4GqLAaNpXy4toP5LUlvOoKQvszw41jAIIcmt+RyooS5NbsmxH7YkW4k0xeqUKfO5bdygGcRHNH9XLXOZgJ4/mfaQ7gTL1sMm46TRsofbVcnHu17f1mwd1N+gc/dfTQ+oH3g1UpS69tUcoJ3qBzhqKrkU2g0trCtUCOQ9o2FHKC2Ig0oB1tGooJ01j232uVbFQ6Z7geKKl8RXJzkkiKGtZP5f5wogbzXjBcCZUyndQMPvK7RcIYHe05inWQDjzC8CRgCqaOYVsysCoUbn5XGhbjiIpl9RVjOJgopkB88Zkixbwdu4dy0aiuhtnBbWJ8Lgz4MN4vi3CrysYxurphwqeIlUgEuGMS0vKSmkr59+Q+g+imSSuEs6ZIsvXrhh7V5hFFGyYs1Cs3yX0MpsTL/bckPOnVOFt+518G5AglEFvwQzwsVhwYPOZI7ilnzQJtH6kIl87+6ZDQQGjnOOva4fYjsqs/BLHRFAk1JBEW4u1UPsXOkllGMCyhkJpf/rIU0BiNciH6HI7u6wD+FFcAJZ6AVmFqNfCo6T+jLFUbfr1kzbCzlk+cOni6tgkvRjFY3sc1XCk5+EqI5/40YKuUJUEJHPoJcF5nXgmSBr+1c6qzmzqzv9scMVF/P9KIADSBEQOt+2/npkGwfAjXWerQkYajJSijNza/5wrru1ODN40cpH51xV2AvHPrefsZjxQk9nZ1MAAGigBQAAAAAAAAAAAAQAAAAAWcBCIf8b/xz3lJh5AgICHQIC4v8x/zT/Mf8n/xP/Gv8l/yj/C0uGKTErLjSBej3uR6PGXaSqX3MQOSSU19LAcgqUG7YivXGRgtPpdxYVvCqIHxeMgKJQRzndEgwR/PWmFT0DCZZ33HcAJtBeQRMjB8f6yiMN3InfioNEF3dLbEBgwQys60CgBz0wHdt+RoLMZInsV+0NUS6siJmAtNOoXW3OedBhJ4ua2FMdXuky2lFAn41oi+i1GxefoNbyJd4Dr9iezy1TOVvS0Pq0DCpR4rWmHJEjraA9A05+Q3fnwJz3E9wq5GMPBz3DxU31RTbka0DkBuWBW7WWh2izghDrUmbc+cMr1BNPQc8GB0IuCNpxQ3CBR5ZFOvkuWhhyJS4j/p6i0RrfxdCcI9gv1EKswvd8rG6at2GDfW5yBTmoIEuGMzMvKCiBFPwmddCkp17lR+7EOOxhhQb9pQysi1IhEl/H235rRmQwKQWkc4OFfTLJwukKSPHc5UCB/2BxXvl5abQED45yi7MdByrV25odZtbLRES+t5svXlNis9ki6Fv2p+D3gvT4d6hZSYCO3QAwbPrs9DFMGvM+xZViq+GKgR5q83+wzdpssrCFPjWbkDk/ZsR3ginXloI0woMagOBjahKD5R0CQTanlZ/UWJ8E1FJXYB61kEyZ5n0LPUzEaf85zSOK2NMGHELnAtfTFAX0UTNRy0Zh7dJfgfONI8YuX9YH65mjTjlA0QZXgikOnQcQbqDPEUD7maQBZCEX/JClyrS747UcrNYMeEKQgeB0m9HvTlXdT5qZ+7hLhjAsKSokgmwZlcIJu4vP/ooBVZoAzPg1M695EgtzP5d8ltlKh6adeFpqdpU2D668Sae1+UlAgmrgw90wqh2QgWO+hvTfpZpEaMmnxLobPhJhAL50OqeOrKWL5bByFPsahFiBaSUQD2Pc1ZIpZk6RcpkaYWfFC063JTiLXl5zhzyv6fPogcZQzSsYKIkJTMJv0MvxDtdqpxCN66nvOI523z3ZaqjrpujfOhXi9/2SnjKPjXELhCbvHWVpg66EO3rrY86W/w5+jPtaSAbze+r6Ii6r4OVCN3vbEBfaixQaoeBRgqlljjDim19Vb2tXjS2JIoPru48KS4YaFhoXFQ8lpth6L3hwQbaRJzfRSfuKr3Fs4O8lVdNQDzWjoum1sPviuAiTq+/tbzKjLW8rRA7Ux7nh3LXOlhBDavDHUmYVCUmqbyezwMGADTlXT9Q7kilIR6dVgHWxYV2XdUnfybANOVdRPWBGy7nYNUs0dXaI8sHj4IANOaqwVj63tKusbo1VIUo3KGfyZptybEuGFxkZFxkNJeT9zG2mPC+PmRbNpbLFsFIMaGoecAxTcO6B8n88cjhAhtcQOQ56N8aMZfhGcsAMP+hTZUalkC5/fvFCM8Q0qQCxmOwyG09yDDq8YmMwJYK23upMBdCd8V9TlQ9Qr40MP/qTWwtADy8QMSBBd5Owdzqjhb7+LcfIDD/6jg8HPoEl8/wVsNdzE1kgkiaI20FoS4YfGx4aAAxZfu0p35dVZXZt7OYBLt45x/04JEkPiJDbridl1LANJf2s+5fr9LQbqbk7+07vrOechES/JW/cyCgNJa1jnW2wQxpdJ2bQcJfLgVczLDAWDHxHk5YC6zQNJfqIm34TVHzqE+IiH+6BjElA0UCTZe2ugEsGSwZLBkuGFgAAAAALVF2zIjphxHOQBYYsacX3bzg6b5BgSwZLBkuGAAA1PTSASRUqve6ZthH+sMiC3g2pmKY7XxRfXMQrZTf3XTFtoH/DWjmMzT8pM+Ywp3caFreRjq6XTJpogGzMfRrqUJUMN8C12vl4qEBRMUWr6uQThhs4AVgDB1qoNJBx5r7yJ/zIKxx03DRmNgyvjUlKojBbGhCB4Vxo6IN2ACDaRFXbgT6kMwhtU3wiWi2MznYtDnKjxqA09PAhdaX0nvKPN6bx8kMNxBiAgw863pKBfTxFreZ5lARrKnSl4thk4gKuqRH0ejobfr2ZGFVpruAJen5UaHlA1AURDMUsP0BLhjEwMzAtkO7Hczu3tOl/pEEwB7vvZDca1aaqBJYhzqC7rjFDZNKPigxk+e2b9VLrZzapZHuDgJF5/wpZIB8tA28vq+wQFE9A1MvcvTLmNTQ3xHg1NHwTmOEHrOn0eTYfwqP6pIV+SJIxnfD6g1nQDnelyYBT8hcb55GMStgQlWFalIMFEWeYQOwPQwLvLhhxoNgifOD0fOchepMUzNchoh4nd8m6LhZv3oi3oS6mK/YuDulPpH7ZMHLF/+P8GX+zNN9KLNGTGG6F0pJVvV6Jip3aa0mO1Zj2o0e279/Q5uaJW0/lthQipAHUcu/26YNekk0J0wt+6ILWoiS6UhX9YJhwbcPDL5teYX3bg2W9X4WQu2ukbCMDUST4SLgR3Pi3Od17AivgJhInTx/NHOn2S4Y5MzMuMqr0unAbZpb6isnF7GTXR0viPUtmIdd5jzB8MUV0ij/zByUIp1DScwvDjEfy91hLFlwGo0Un95yxIKl63VCjtP4qF+d+QLUoX6ZMHl9ajh2lq9yyN60KyTBQifoX9WUVBSRQnBRDys35CVC7gKyxEJe6YQEU4pz2fXBShWVPrngWGMMoziSGaAjkbT8qJyvpY1rR6hpdj8xSwB21sxSQYINpkOqX2Tf6EAfJlKPCEAhhFRMpc2p0/Ta/UfBmRYh+aHMywxuyZpNw5JTJG/CRWQpGOQch/BEzyD2F7AwIcajdtUr1FAvwsCM0ImUOBPDcLMh0KVpeID5bnsE4frgDaIK8HSLzwzuBQOhYreZii8GQqJYOt9cbo6NI9A2ILqCK3vp9cygdtikTtPc9uEuGNzA1MjKB9YuVPP4MBjxUBx8Fn3DhILvYhRCa3ytBgsYltNxcNt8lSLGqqwvnWziC3KheUFOJ4yak9LCjoo5ECppMXgzTOk+72DVXQzzQjKzhnMAIsr0P3nYTAXTrcCY2qqn29wiQVpCqUxXAowYW1JOrqelbGPeF0KchOGa2n3y2Gdf0/FmRzVVXrUEDyLOQqsJ1DPh8HfuMCEiYFZZC5VClIrqZbdAdpSTcCgfdTj0onhivp0FXajzz6Jy0acYMJA4qr8cJKtCEGxr3bkr0N+eCmKSty1IlncMp6TQKSq7TGFVZZefDht9BVut36cCJam1feyIbhR7Ay9GjAHmsHeAKz3OAiqzBSEm2VMCyP8QMJ/yxyoes5gzRg3QCpX7qBiqXb1BAK3bZx/ADflhLhjEtKis8mZgn+esy5D37YGcuvWYCPW/CNMsOejAshC0eH/wtD0w+A9cXkH3Rz+jqiSMf2SXDUIcb/8CD02aPTHbnoA6g4tHLHaW9fuFQRNDfwxMO969xOe3J26aYGmE18px5GIBWlsoWabzHJ/V8I3nhOx7dYoVIY6eN4jflEo1P+BNvq+N8zUeubve0dIHaM0CFmTyRmvWvSmUbCGQctt7B6pAVUb+qp1wOB7OTaS1GQ9YsEXEneVChvAoPkB8SGeLgBH+foRKS4yz1gpWYPymY5T09+xSbUIdKgZZvjq6fmciz83BPPusOeJHRydqJeRI+QJijT2TaVpQXsxvQB+Z2XkdbaZgE2khaO1IcAFZTv/DetGDLD6cctlfcAkxpkV3VgOZLhi4wKjItnkdtAJU6Sd+nIVM5xygqi0vFLGOSS2+HKCpr9NxefsDV4tYwM19ASv3k43kPQJxzAFe1nF41RkaTRnUtYReGIIOobG4NVf3ry7D4G2qz2NDX6g02O3AeokTTUR3mkZy4Yeu7VtgV6cmiWSfUYhZ3e8aikrrgi4rvGGbq/5ykaEefS+goImI/wJ7lkzzteOBygKS5bJ3uEPKnbSYOvk/lIofmxtJ7b+X43+fnlXay7zn9qbI0eF3NvpkgoF5xsGAOG5VM7udoZ8k5z4ysAiGYtd51LRtByjqrnLy4wsq+mhaPOX8B67RAoTPo/1xCCKINEC2F4ubJUAd0Of3uNrO5bQAAyh3LYfp5vhwLS4YrKS4zMaEiMyN60ZUNTWvz6iyd1jQ0apcEgQvkJ5nN+TFu8jjfmgkR8V8qy6Si60CfwhnPkCY9/ag9ZYKydkHKLCyQTvhm8weVYlTgDNlb6qWEtIc2dpCjwJ8UaZEQzQm1MNdHbml8nWyWDJOLIauppLfDrvzD8OMpMiO47RYwHwa3jY0724Cf+KbJNV4BgzZP/ctRg3m4zN/zFZO2qtAbfFqZcIrl3mP1m70Y9rewbYd9hWBvzdoLioCfhyc7kdOFcaE8CTvZh3iXlEj8lhL3cIagdwwXj5t+iXSQkK0aBJT5reOxpUlZ+ZfgnGntddf7He3h69BNfQjBNs1f4NEldPFE3BZo+7EMawhBf6v+q2xdaRa9b7BLhi8tMDEwm7Vo9pEYg+18g2QCD5J8zO3U7Q2PQYgHR27CBXHRdq7hWDNVVdfwRaHYCquem66cI7We1l2gaqh60BUvtWmmMylNfRm4UhAIZVbRmoNcmFO1Yn7tQZvnqba5/pScnXOCx/JD4SfQwRtFfYVKJXIxHbZ2b2UkHC8+8HUEt36hk0DxFvrOIH3xEQ82psChXjmj1DRlrnmi8aI/cAQDOH3x5FI+74C04MHOdhsA2Lh5fLMU2h8jiEJCaMHEQGk0grNS+m71LaTpR8xm7UW84B2GNPUJirtAUQ/3OT8vkgoN5QAYdV8tRlsFWwpu0m+ckX4nfJ07EdkvVEBprEksMES8fpC3f1eb19W7kIElhT+yzTkOPBVEwEKb+O8OaohAS4YwMS0tNZIEWPbJEfoZDNzx/poC7mZV3Jx1+a3QLTWHelMGpqZ5Z1J42SaK8Iono5xj8V9okJIEL/Ts44dF1X9o7x6wUWjNH/NgQkbIazmbGMgjEihNr+2V8hYjD4b8eha0CecPr+CRz/+W9BM+IAgMeVd/n9e3/EitGJO23XiZLA2EIxtpcg5fPVs9ZBTqk14w/oCCYz0b1OYiR7xIo8h+xmRiUfIhKtMVf50VJ9Ux7SgT9PTCEA/wYjnOpziasWiCIzVbe2OimsOdtgy8NAOa12iieFGLXhrQlzJN3rNc1IhKRCU1RcXexbkgBy2nOF/43iUYuIIh2uU9FPikwHtqPO9DKBp9PfoW43kB4ZuGhwkSxAhyGmIjg/2WcMZNJNVgf0+cOEuGMy4zKiWf6pNND1ONg5q/KMBzYINCjMQusVUOnbnh/HFVIsFCUB0xlswB4mqCOA0mU2bHyiHY5Bifj8zDVMfLfimMKrkmLgT5nWSyBQBw+NaQgv3lVW87xV30OomoXCAJSJJ1sYnAnGDPLM9aef+o+M+tgJGhiNMGKtAi+lvnx2sSwdJlIPLoumG1C0jV8HTbrVyH3Rz6OZ0UgLldGCodBgixJrBUfSRfcUjNKuj1DEadG/gMvsXV6Ajvcdzj3ow84wbIhxS7RDSe7xtCsWgzMXaI+dPX7lJDBlYoWz/sRF5uP4Ae9IzMGoalHLckn7GtQKJ7OjkNAwK3ntij3rLuNExei0d29I5QT2dnUwAA6PEGAAAAAAAAAAAABQAAAM0n3Dkc/w//GOr/N/9G/0P/Of8D/yT/D/b/KP8k/wv/CkuGGysvNS6AIqUpSVOpY983H6I1f4h+FXQEo73kDA+ipXCBoKpqAGBm5rRsN8pwxwBeZRAMBxZwY1y1lHF0YH/Ap4qtGSxLl2xsU84Ggivaof1z3jjc2kkZ2aEyCYKst01tdgbv+2W2Buu2MGSW+BiUd7i5UITXam6B6SClFKcf/CvolUghEjE/5YYiBnXHJpw0qy01obOflgTQTk9wFqVLU3XHysLIp6WFN2/5wrMu26TkIPItas4TKxpenwhv+OY+HJEsbXGv1L8PvyN7LunDKq1ui2J/EAeWAEOjpcCjxDuNFNLUS4wNs28yWRcgMi5nyuSrrpGxvp0fPBH1JO7HfvnLlxk+ZEZF4BTewEuGLiwnKTGifesb7B9BjSSO1l/Eqh/URwLgk03LAEN/gNDfT9A6Vj8SRvwlUwffHND9Y+UUolSWipB75+FX5v/IHOHi5uRW4BPo1hVmT4TMie6B9nOr4dpHt7GMg+R1qYChM7524nor1vlcos9u27hOX8ahA/89qXF6MW9gnBBytBEYeF3jBlCg4CskRE9J/IfaIdpBDOWH0KoyNV4koDK1L7BbwERy/n7PLVBVJ6Z/yJ/rdEe6JZXWUjjK6BvzPd883aWBqP1gCpPt1Rxsp1TVOTJg210kpe+zW8VWoUiXWk2gFLj+7z4v9erXV17GZRPqUvQFwMY4D5wUQmaOho35z5UYi9OHPgKJnoHuhLid5UDTeUcZmEuGMy4oIR2fZ3JdCdzCN2Frt9qjFdJoNJTfZ26u2chQ+KHEnYleqsKMc3vx3NTsbUUWnSiKRt9WIxKAyijeVtJ/RZK3AcYbM5WTMKAmLMXekk9v0peS1Nl9m9HOUK1JROkPGqb788+AiDJFddvoEYphTKNURnsYWqSb3cT/RL7hVhUhNsD4uGT4+ACNpOOQQBqYage9itc5p6Brgy3w+wcwnZC37Et0ivrRi0QDTuMV6BRZYGO1ASEgIDF3qnfElWHXB8gMfoOJwQBK2LWYDyc7o0mRtfxDEJ6aCOhSIOmVJVJ21p3u2p3VMkuGHC42Oz+AE90AlUrzeC5A7yw4lZu1qN7fYsA1ZJtIIJZggGvJLok5UvF/vt0kOOs3E4SR8VKvorzQVGjoI9Qvg2B4ZYZ8qEOJo52liCfTwoDyjPFqvnir+8Ll/meBDw4vAmFFhQ2nKDI++/PJSv2pR2lLeUq7HrFyjxnDjj4xTvb9omPmM4E2WMZQTEcciqyQbeRyjp1QowwyFWkXpiEKmoXNUakZnjemXBtjMhaw5/iY0Y9rlfFEGDpHj0UJTVOvnKoWCgJQD//ugdTR7gfNEWuq3eoorgNqmX3b/ysVerb8zY9S3wm2l8OYygh7UIeg3AFqIbREIHkm4rSU80sgouuGuVJeYbjZnTLgAFJ9CBdzitPEeG/QTEZ0GK/SgEZKiNJ0GSFO510dhNQZfXh+tWpVEZRLhjM1OjUrob0ZqY0qiwCdzl9XZjmIDwT9VmhOgeNz15ja8b7biEc6XRhlYQ+6qHSJVqiBIXigeBb9o4v5+pwabZrUOXredCrtcEWj6M6X1d0CuCSDi722+JmIx74rbar+0QIKZmzSuTPx27h4K8yezFC9V/NmmLZfBreG+9ABBiJ/ohMG5P9YxfepLTG9RBMiBzsJlbYHIG8IA8liJervXOq2RZlNtwsCo0utBBwLIBpynuGQrBnr4OlA+xgUfKMEeYRHrBoSKLSu5aPo7lpxVbNQuJrbH8uBoDkMEJWjQkCphmNwJNKuZgw3FtxgrYOkRywItMCAAUMBFBvx/87ma7wmMqjjC3VvnI4GK2V9crISEVrU74QBmamQ8pVBonVlM7TZYcCLGRgtxnzsA9pTSRrhSFZSLFe1n+uIdhDiTcZyQpSAS4Y2PC46MpzFWcrkYx2FCSFiak6/CKMepEdrTFfyZVG0ijD8556V9sx+quJqwU61IEriwH6vk5M6SSLQsJ6ikt9QK05n01lQsVvufqIJrTFw9zOJYDXGLHkkIFMY3hHcMedOUAUVnHKJCHm9TZ+mD3lvSvB6tOl42J2rzE0ZXT8FKSjsbgG6UZCgUUJ0Ti2wKWFpilsJzDbgywcnkTB3oAYpvOnaGvGftGiAM/ki2L/pMKP7k6H8DZD8zux7/70OQ03RK1mCBGiH1u6AtBo6lTXEXGguBCVMLVptwSKvBwqAndicOf/AqXqcisYM/MxJnY0+LZ8fIVSbq1pcKu8FES41hlrWbJS8eGvcYC4Zs2obl5yiLczV049WNJuMuhzyJde5or0j/e8xjL5YcOeFxq4YMYmrGb4tmWu+FI+ozjtJ6EuGLzUzLj2kiqC2yLnjxphfHtx8uBfI78C7HCLg3mE/S2zyjPERh0ogb323rvGAM9ZFa9LMFKA4uLDYlk8uvrEg1gFYWMf82HuF7fQYU/0DItPuxKNydGpGmZPgqFES2yeWOcLwrqYDRcOyoHGNBs904x28XLZFmYAoaSOzsE/K7mMZAS9qhlI8xHVl5ioPFlObzjpi/40GNC1dsl2AoHpo0sBcJx1OGwh3w/25nsQIcsgg9/PkzZDxS9l0pNA/1cjsHGyk3Z4mRMx4LaB5che41Rmg0xWNku83KqoKYD7MSGEas2og79NQ8OwBrO0j+uZO2PulxvhORfKqilcqHhA3KbuYrqzwqkujihXRVQo5rUjbH1+ivywDFV35isCnhi+nbewhRc40Q5pVc24XaFG6J6tFbv4jhkuGKSkrKzGfiK294MSBaXav+x08UvfOQBSMGoLhhSadAXgoUaVMuM2LHrKHXEU42J2gEQWTbkqxadcpOmvlPizhBN2xYc6oV6jAqfwyl0NxIeG6TZieZTmQog1/MUcBL9XmyGulIXkorCeI4b26Z/rUrEzayKOVyXHN5YsIFjC9RArpgJ7IOWCsppG3ULvxioRc/ZxXCdrachbi3tSk2ocZX2XZyvIKKmJjMDgMM8CjXvg1L/AI+dC+i7JCS961du8tYb1Q6hHQC0rtUamzFSaiHxLMOoI/ffSu4o+ulq/gnq7rb6cBQaDzLP611b5qlsMpgiOJ6pygQC6Fjy5pzZPsYEuGIj0rLS+dRxTVbpcZktKIVJiZEWoSUNoafdGio9tPthgOMTK9H3OMpFJqiFMNt63fFHxkrj4FOWpvNsmmlLdKS8N8vgeIM+BBEh9hKWsqz6Q6xgMPi/+0hbdsMThffyc/nY//kJ+cSrfF/OoOgbtE98tX2HoknXYRIr1SQFrCkq66ZnKaHLCWFoTXrhV2AICl2H8RunBBhH+SeDrFl9Nctk5AJ5como2ALc/T+SCJTJEajaeBMI4vH9glc4CcEYzf9Rvxg5YpEbrzCSm+eHnchyEpU+aLsmXw3xSGtegAbrOk+LNK/W77ZbjFwJut65FifahM1RCEiFFx9ug0zOHpiFu5/vQXlXw4P6lQFVZhbQ6941Ih+sBj4qLOw3c2zbXXMEuGMygsJi+dCHJkSKUR86eJftuhTgSGZlhyujAPLv81TpGReYlFB1QvMP3KArKE4lBEkrXXcLCfgueccW5J9HBnN6MIPAzCY8sx0zdkz3wwIPjZc9ugLV3oAEwZd495bhWAo2+IYmNwT+OlxEsNoNLEhii9V7sIAhc9KK0i5oV+5LAxUw5Oquis6geY/9CikhDB73jHfSi03AkEmGaD0wKr+7KrYMmRThqgDXW5ZY+nD7YmSqOKWLal+PMgvA7G/pdAMhL4SaWaDWs4/MAdIluYH0bAUKyqrpY613ZKiylCXxuCogcIDHTtNfroXSrOiXnxH9B5tPxVyf5czJwXiJO0HXI9E/xSj0DKTmIpgEuGKiIiISycYLAnwSDQ/WtSUJ/8MLZJOeBcESnmpxgFrENnq/fNt5pPhjUWIDWTV3mAm5r6kw+QafDnXNeNAtOu7p3g4Y7MFKzY8oY/C21SEqC8gFPdVqD0c2Vkzj+xjJpHWDIASUBophd6EQLVessXZaMxgIH+h1ahkGk5j5gbuMuvg8muahck41HuAqFVgdei3jRxgIHTOCLHlMnLWA04hsuDGFJU6g9RuT5cYYkyIEPBoZEQ9LmoexlafSv1PZzjo7hB12UdkLvmmF/iYLixGrgDNhMegtV3ZzT8sNrXzqNke1qCNvLuLtJWJvupQOws6jI5/EuGLDEqOC+gwIsKQjAIcb2P2jWGW/NuDG3fRfZ69haFazE+5DBolj26P7V5xEFmVcKjZJy+4sZyrHaRJbnq7TdOiCq0SeB/lp8P6MYVga54yfB7DqvPLsKXOMXE81g1AVKswX2bpIcqucpN7IdD0df/wJotosqqQD1M1PXOOMkDyjT8AGIGblVR83B4Lh6bQWNeaRsxM2CTqgghsSQsYOdgd84oFtTww0qhxJlzsLVEVYR2h94VdXNHBQzY78TFXeVjXiOUwJx0DRr/uNPkvCs/mviz2sQ+Az2JfQjg/rxJ+tbFmyAtz3a/8rpQwX4sfjjgErWgnDCcfKEvr65qqK/N9OMUQbqJFpfSgQEOPiMmloFqj2hIRnt0nXcAdRXdLjiRS0410vBLhiwsMjUznG5lMCyLLhj1dyF/7Y7U8vAe/KOqLdvMllUh+L6gQKTSHKOOs7wqbxSMpcCbuLAwUUq+LSKZL/eNC9OI97sd4N+b5lWdutbLLp7eG2FeTcTvVGp83t3DoJ6Pip7l+aSA0ciGVaO4911+dk1jibueACrhwqCbvTZjhCyby8sTJrefwmXmBfHGPx8YnL0FMLv4U5Y0n/wrtwwMe2KXdUKxL0CKr+xKcllq45sCVzM137cWICmxqLGT+q7S0lr4gDiPbBc1zjlKsMFM8s51os8rU7V85thkqA/1KfH/WZ+JfEY7Ac8tLjHSMvhd4TtftQ5+goCQ5ZtmxN4v1Kk7paSK6wJGM/H6nuMhRNtjNuKYmnt7F44TqPWLmE8B6nBLhicpLyY0kKryJO5cRGoN9yMwuliPGaJOGUsKCv416JducVUJPHfVztoegcnojEO3lAOMZV5aUHtipeitFw11/aONldPs/68nRoJvTaUVNCV6saHI9YCCgeVn07Y1L8KT349iSqeVaeUMC3i9epZn2/UhmuD1EajwR+P7SgbP4DVUlz2AWIIRt/hsH0g4h+2CHaLbTB1eIryUr2f4GzuTvCRLYAWNFkMzVQSonQUUr+9aDIqQxG2Yld5RSgA9j8v1sOQjZbMuFx2hQF3fXIxiGPzjQjHCBMotRPKbgB6OEJwWw+jPMhHai6af6hFbR9ZuXuCr8axaGVqA1061MLrzMGjSMdx5jBUkIEuGLiwpKSycIx6I4z8xfP/tsbeNqFWwgJB7Ml+CwFXHF+Hypvnv2BfXvr6iiC9CQPL7RbKgnIdduQw/Tj+GfRWJvjB7CPPCuvS+e1t+tzJfvEYRnipn9iZR7zFl8aoUGEyb8Kqz59F9jHp9Nv1kXqX9aC4OQi7ISt/c2hgm19bAvszdb1NRSvbjO5pCGnQxS0i6SHt9hGloDBnwqK3e1M5h3wGOSfQYCpnro0Pcith1BEZamt78gR4lDcxnc2btt1wwquGB+EKcFYA/7tOBQNX4y8OGnMcgUd9EzoTbL5KbfOJP8/554zT1BeMMeidA/8kNz6lFLB6y+yRdbmuX1azYSMQarMA7nsBPZ2dTAABoYgcAAAAAAAAAAAAGAAAAUo5UqQf/If8N26qlS4YxKC4uMZssM6ySLjGzZlDNazlBIXTMmEGX7JD7sVS4IZDsvmmGmvzJyKXjhe+Z5+UPAXtjLcCcSBkb7uTw//kDXcVE185wUTxoI8dkcLRMhjcBaEBSOPmQ4MNCux9unVdY2tEIxdwEl6pIDoj7U2M5EMR35L3gpBJ9gipmS7wlBeRMXVkJLa7OPCHZgJ8vec9HrWpmZpZgZgtiwl+CF0nO8MUA/EXFaYz0XC+x7xMK74zOtKm5YUNBeiGje0DV6gb1VRoM2uN4VJdCkiUYdEPMvqKw6sdKWqGdO1MDBVBSEiEaz52eS9u1HfkwpdC/ixsrQxurtU5xUTMlKZBHzcp/mzsimZ7i/LFMdo/QnuWuqIF6NlSf0E6+ZlLP4tMSS4YtKyg4K5vojYbWZUb0DxbADnbApg3c3NRDAeyJWS7GqBV30yy224YSkSKn3XDyS8mXgIdybtznFHeuZEDz0O0W2khVbcfrBRIyI+IHwr75lk4umVjuC4PPQ0IjA4iBDSQsiMVsF9iH27UgYnWK/rACW/Iaa61MU5Dxl7sake93KGLytTzwgVaKFdnsP7P9CH/2F6EiwbvPKC1P5qt5k8n1/sh6oiaS2X+ymakDSm4w1LnuuGLP9zOVBL+OweiBYcMWKhfr/ah2oC2Frgu/fEPCGupreiI3CRUVTQtaR/kMDgcLRW84DNgoBMj6/DkPlzGvUpKaLpneswqj1ZsDwI1JjzUNaqIo2SyiIUuGHxomJCsgosxJiUNPmAK8igI3qCqMlI3r7nB2B6ysiLZcbBBmFG/KlmQpNH19wZm/y9r1Ym1xdh3UuaSyWPCAVnfxyqU5FBEWYMuSUasp/tBYsRqSIqW9B708GonhJ9YcxoCSUCIynlWCfOgIHgqgsgz0N8QTtEHT6HQyI++XEyjTD+ubsGyUTYf77gcDXzGejGTPjePETE4Hcn5h2C3uoduwUOn0i7vcPU4LYOeIMciRkV2HzVBcFHMtPt8YmtKGh52cVdxFO0HQUy3jM+FlCyjoIVLdHjTjwEuGJx4WGBgDM/WHjROS5dICXeDG+46dvNu2sEslVlmT7fsgP8Du6Ogp4tKK9GAUbXYAk7SX2KpZfr/N0ybSiY9vx6qYDcTlrYylDawO95yMtyyQdfcD8hSKqHizIghkVvGADtT/cxAw5pqVDZ1XJyHZX+e+KCeLkugIDTmqy2QIeURtCIlNiixASWoTXrdF7qdGDTmq6yp98OFQ/0Ct5bC/4LdY6a8xj0AwS4YbGRYUGwxT4IB3S8Mh4RsF6OjgsEpvZigaZPPcYgJWgAw50q2Euy69zEC4tA4Oihn/8PkEK/Tn5FoMOhFOpC8WE3Z9vTDX4NfLrOvgokQoDDqa6VvhaPCfPeE1PkBWK7QCVoQMXwZy1bcnG8BuPPYcSMkVXI9eJvADRwCI0sCAG0Sras9KKiz6t2wP/m6Kdz3zUaeND7FSJiyFiz+Pz8xRJC/A"
              },
              "contextInfo": null,
              "messageType": "audioMessage",
              "messageTimestamp": 1762962098,
              "instanceId": "b556d824-9d0f-4f2b-849d-bd7b32d7ac6d",
              "source": "android"
            },
            "destination": "https://personal-n8n.rk9l1c.easypanel.host/webhook/calidax",
            "date_time": "2025-11-12T12:41:38.482Z",
            "sender": "34604863683@s.whatsapp.net",
            "server_url": "https://personal-evolution-api.rk9l1c.easypanel.host",
            "apikey": "2F69A1ACA0A6-476C-9366-06C400631ED5"
          },
          "webhookUrl": "https://personal-n8n.rk9l1c.easypanel.host/webhook/calidax",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo": {
    "owner": "abdeidr",
    "name": "n8n"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-06T14:04:18.429Z",
      "updatedAt": "2025-10-06T14:04:18.429Z",
      "role": "workflow:owner",
      "workflowId": "5baZQi4nBrmXGEH1",
      "projectId": "xdZYvePgLSibegaD"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-12T15:46:38.000Z",
  "versionId": "6b8912c6-bc15-48ee-b01b-af78a23a660d"
}