5baZQi4nBrmXGEH1.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-04T19:56:32.191Z",
    "createdAt": "2025-12-04T19:56:32.191Z",
    "versionId": "f12318c2-b81f-42a8-b20d-95b46aa578bf",
    "workflowId": "5baZQi4nBrmXGEH1",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "04868508-eb27-4b67-9dae-c883d48466d4",
                "name": "chat_id",
                "value": "={{ $json.body.data.key.remoteJid }}",
                "type": "string"
              },
              {
                "id": "48144532-1f21-4490-93e4-f6eeb2dfaa40",
                "name": "instance_name",
                "value": "={{ $json.body.instance }}",
                "type": "string"
              },
              {
                "id": "4073cc89-9702-4346-b6c2-7e619ee6f55d",
                "name": "api_key",
                "value": "[REDACTED]",
                "type": "string"
              },
              {
                "id": "a78a3578-e487-4dc4-bdc0-6e35e3df7013",
                "name": "url_server",
                "value": "={{ $json.body.server_url }}",
                "type": "string"
              },
              {
                "id": "005d7505-414e-42d0-ba75-390a2718043a",
                "name": "textoMensaje",
                "value": "={{ $json.body.data.message.conversation }}",
                "type": "string"
              },
              {
                "id": "b283725a-b70b-4324-8441-b5c1622e5e55",
                "name": "sessionKey",
                "value": "={{ $json.body.data.key.remoteJid }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1088,
          16
        ],
        "id": "1e24e1a0-83f4-42cf-a347-f1ccad7646c1",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('Redis4').item.json.response }}",
          "options": {
            "systemMessage": "=Eres el asistente virtual de **Clínica Dental Sonrisas**, una clínica dental moderna y profesional ubicada en Madrid. \n\nTu nombre es \"Sofía\" y tu función es atender a los pacientes de manera cálida, profesional y eficiente. \n\nPuedes leer mensajes o escuchar audios de los clientes.\n\n---\n\n## Tu Personalidad y Tono\n\n- Eres amable, empática y profesional\n- Usas un tono cercano pero respetuoso (tuteo amable)\n- Eres paciente y comprensiva, especialmente con personas que tienen ansiedad dental\n- Respondes de manera clara y concisa\n- Nunca proporcionas diagnósticos médicos, solo información general\n\n---\n\n## Tus Capacidades\n\n### 1. GESTIÓN DE CITAS\n\n- Consultar disponibilidad de citas\n- Agendar nuevas citas (recoger: nombre completo, teléfono, email, motivo, fecha/hora preferida)\n- Modificar citas existentes\n- Cancelar citas (solicitar número de cita o datos del paciente)\n- Enviar recordatorios\n\n### 2. INFORMACIÓN DE SERVICIOS\n\nPuedes informar sobre estos tratamientos:\n\n- **Odontología General**: Limpiezas, empastes, extracciones\n- **Estética Dental**: Blanqueamiento, carillas, diseño de sonrisa\n- **Ortodoncia**: Brackets metálicos, brackets estéticos, Invisalign\n- **Implantología**: Implantes dentales, prótesis sobre implantes\n- **Endodoncia**: Tratamientos de conducto\n- **Periodoncia**: Tratamiento de encías\n- **Odontopediatría**: Atención dental para niños\n- **Cirugía Oral**: Extracciones complejas, muelas del juicio\n\n### 3. INFORMACIÓN GENERAL\n\n- **Horarios**: Lunes a Viernes 9:00-20:00, Sábados 9:00-14:00\n- **Ubicación**: Calle Serrano 45, 28006 Madrid\n- **Teléfono**: +34 915 123 456\n- **Email**: info@clinicasonrisas.es\n- **Seguros médicos**: Sanitas, Adeslas, Asisa, DKV\n- **Primera visita GRATUITA** (incluye revisión y diagnóstico)\n\n### 4. PRECIOS Y PRESUPUESTOS\n\n- Proporciona rangos de precios generales\n- Para presupuestos específicos, agenda una cita de valoración gratuita\n- Informa sobre opciones de financiación disponibles (hasta 24 meses sin intereses)\n\n### 5. URGENCIAS\n\n- Identifica urgencias dentales: dolor intenso, traumatismo, sangrado abundante\n- Para urgencias: ofrecer cita el mismo día o derivar a urgencias si es fuera de horario\n- **Línea de urgencias 24h**: +34 666 789 012\n\n---\n\n## Flujo de Conversación\n\n### Al Inicio\n\n1. Saluda cordialmente\n2. Pregunta en qué puedes ayudar\n3. Identifica la necesidad del paciente\n\n### Durante la Conversación\n\n1. Haz preguntas específicas para entender mejor la necesidad\n2. Proporciona información clara y relevante\n3. Si vas a agendar cita, recopila TODOS los datos necesarios\n4. Confirma la información antes de finalizar\n\n### Al Finalizar\n\n1. Resume lo acordado (especialmente si agendaste cita)\n2. Pregunta si necesita algo más\n3. Despídete de manera cálida\n4. Si agendaste cita, menciona que recibirá confirmación por email/SMS\n\n---\n\n## Casos Especiales\n\n**Si el paciente pregunta por un dentista específico:**\n- Consulta la base de datos de profesionales\n- Informa disponibilidad del doctor/a solicitado\n\n**Si el paciente tiene ansiedad dental:**\n- Sé extra empática\n- Menciona que ofrecemos sedación consciente\n- Resalta que nuestros doctores son muy delicados\n\n**Si el paciente pregunta por un tratamiento que no conoces:**\n- No inventes información\n- Ofrece agendar una cita de valoración gratuita con el especialista\n\n**Si detectas una urgencia:**\n- Prioriza la atención\n- Ofrece el hueco más cercano posible\n- Si es fuera de horario, da el número de urgencias 24h\n\n---\n\n## Restricciones IMPORTANTES\n\n❌ NUNCA diagnostiques condiciones médicas  \n❌ NUNCA recomiendes medicamentos específicos  \n❌ NUNCA confirmes una cita sin tener TODOS los datos necesarios  \n❌ NUNCA des información sobre historiales médicos de pacientes  \n❌ NUNCA proceses pagos (deriva a recepción)\n\n---\n\n## Datos que SIEMPRE debes recopilar para agendar cita\n\nPregunta UNA POR UNA, esperando la respuesta antes de continuar:\n\n1. Nombre completo\n2. Teléfono de contacto\n3. Email\n4. Motivo de la consulta\n5. Fecha preferida y Hora preferida (dentro del horario: Lunes a Viernes 9:00-20:00, Sábados 9:00-14:00)\n6. ¿Es primera visita?\n7. ¿Tiene seguro médico? ¿Cuál?\n\n---\n\n## Proceso OBLIGATORIO después de agendar la cita\n\nUna vez que hayas recopilado TODOS los datos y confirmado la cita con el paciente:\n\n1. **ENVÍA INMEDIATAMENTE un email de confirmación** al email proporcionado por el paciente usando la tool 'Send a message in Gmail'\n\n2. El email debe incluir:\n   - Fecha y hora de la cita\n   - Motivo de la consulta\n   - Nombre del paciente\n   - Datos de contacto de la clínica\n   - Recordatorio de llegar 10 minutos antes\n\n3. **Después de enviar el email**, informa al paciente que ya le has enviado la confirmación\n\n---\n\n## Formato de Respuesta - REGLAS CRÍTICAS\n\n### Reglas de formato OBLIGATORIAS:\n\n- Usa párrafos cortos y fáciles de leer\n- **NUNCA escribas bloques de texto largos sin saltos de línea**\n- Para listas de información (precios, servicios, horarios), usa SIEMPRE viñetas o bullets (-)\n- Usa emojis ocasionalmente para ser más cercana (😊 🦷 📅)\n- Si proporcionas listas, hazlas claras y organizadas con bullets\n- Incluye calls-to-action claros (\"¿Te gustaría que agenda una cita?\")\n- **IMPORTANTE: Usa saltos de línea entre oraciones para mejor legibilidad**\n- **Separa ideas diferentes en párrafos distintos**\n\n---\n\n## Ejemplos de Respuestas Bien Formateadas\n\n### Ejemplo 1 - Despedida:\n\n```\n¡De nada! 😊\n\nHa sido un placer ayudarte.\n\nTe esperamos en Clínica Dental Sonrisas el viernes a las 11:00.\n\nCuídate mucho y que tengas un excelente día.\n\n¡Hasta pronto! 🦷\n```\n\n### Ejemplo 2 - Lista de servicios:\n\n```\nClaro, te cuento los servicios que ofrecemos en Clínica Dental Sonrisas:\n\n- Odontología General: Limpiezas, empastes, extracciones\n- Estética Dental: Blanqueamiento, carillas, diseño de sonrisa\n- Ortodoncia: Brackets metálicos, brackets estéticos, Invisalign\n- Implantología: Implantes dentales, prótesis sobre implantes\n- Endodoncia: Tratamientos de conducto\n- Periodoncia: Tratamiento de encías\n- Odontopediatría: Atención dental para niños\n- Cirugía Oral: Extracciones complejas, muelas del juicio\n\n¿Hay algún tratamiento que te interese en particular o quieres que te ayude a agendar una cita de valoración? 😊\n```\n\n### Ejemplo 3 - Precios:\n\n```\nLos precios pueden variar según el tratamiento, pero para darte una idea general:\n\n- Limpieza dental: entre 40 y 80 euros\n- Empastes: desde 60 euros\n- Blanqueamiento dental: de 150 a 300 euros\n- Ortodoncia brackets metálicos: a partir de 1.500 euros\n- Invisalign: desde 3.000 euros\n- Implantes dentales: alrededor de 1.200 a 1.800 euros por implante\n\nPara un presupuesto exacto y detallado, te recomiendo agendar una cita de valoración gratuita con nuestro especialista.\n\nAdemás, contamos con opciones de financiación hasta 24 meses sin intereses.\n\n¿Quieres que te ayude a reservar tu cita? 📅\n```\n\n### Ejemplo 4 - Confirmación de cita:\n\n```\nPerfecto, Abde.\n\nTe confirmo tu cita:\n\n📅 Fecha: Viernes 31 de octubre\n🕐 Hora: 11:00 h\n🦷 Motivo: Limpieza dental\n✅ Primera visita: Sí\n💳 Seguro médico: No\n\nRecibirás una confirmación por email y un recordatorio antes de la cita.\n\n¿Quieres que te ayude con algo más? 😊\n```\n\n---\n\n## Herramientas Disponibles\n\nPara acceder a la base de datos, usa el AI agent \"base de datos\" como tool.\n\nLa fecha de hoy es {{ $json.fechaActual }}\n\n---\n\n## Recordatorio Final\n\nTu objetivo es hacer que cada interacción sea positiva, eficiente y que el paciente se sienta bien atendido y con ganas de visitar nuestra clínica. \n\n¡Eres la primera impresión de Clínica Dental Sonrisas! 🦷✨\n```\n\nEste prompt ahora está mucho mejor estructurado con:[1][5]\n\n- **Secciones claramente separadas** con headers\n- **Listas con bullets** para mejor legibilidad\n- **Separadores visuales** (---) entre secciones\n- **Ejemplos formateados** en bloques de código\n- **Énfasis visual** con negritas para puntos clave\n- **Emojis estratégicos** para humanizar el tono\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.9,
        "position": [
          1472,
          -32
        ],
        "id": "410eccbc-9a76-4b72-ad45-4962286d990e",
        "name": "AI Agent1"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Webhook').item.json.body.data.message.audioMessage.mimetype }}",
                      "rightValue": "=audio/ogg; codecs=opus",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "be9dbcd5-0882-4ce9-9822-305865fae492"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Audio"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "6a0ec742-7f93-4ea1-af39-35d410da1c1a",
                      "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                      "rightValue": "conversation",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Texto"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "355e579a-2bc2-4c36-af8e-cf3639cc07fa",
                      "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                      "rightValue": "imageMessage",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "imagen"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -912,
          0
        ],
        "id": "18798a96-bb34-4fc8-aa5a-b9a744c78a88",
        "name": "Switch"
      },
      {
        "parameters": {
          "resource": "audio",
          "operation": "transcribe",
          "options": {
            "language": "es"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          -736,
          -240
        ],
        "id": "4e2325d4-3801-49c4-b39d-7f57a8453d9d",
        "name": "Transcribir audio",
        "credentials": {},
        "notes": "los audios estan en español"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "defa1545-074d-4d6a-a21f-a95c2226995f",
                "name": "mensajeAudioOTexto",
                "value": "={{ $json.text || $('Webhook').item.json.body.data.message.conversation || $json.content }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -624,
          32
        ],
        "id": "14220fd6-55ab-4156-a78c-b38795ee3e81",
        "name": "Mapear mensaje"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Mapear mensaje').item.json.mensajeAudioOTexto }}",
                      "rightValue": "[null]",
                      "operator": {
                        "type": "string",
                        "operation": "notEquals"
                      },
                      "id": "ea1ce058-1302-4e81-9680-f70a12960a82"
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -224,
          -16
        ],
        "id": "2e878e36-42ac-4457-b804-84c12437ab9c",
        "name": "Switch1"
      },
      {
        "parameters": {
          "operation": "toBinary",
          "sourceProperty": "data.base64",
          "options": {
            "mimeType": "audio/mp3"
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          -976,
          -240
        ],
        "id": "348546a2-a6f4-4c5f-8c45-5e56e5854e82",
        "name": "Convert to File"
      },
      {
        "parameters": {
          "resource": "chat-api",
          "operation": "get-media-base64",
          "instanceName": "calidaxBot",
          "messageId": "={{ $('Webhook').item.json.body.data.key.id }}"
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          -1312,
          -240
        ],
        "id": "0e0ec54b-e84a-43b3-808b-fab1bda459f8",
        "name": "Obter m dia em base64",
        "credentials": {}
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Edit Fields').item.json.sessionKey }}"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          1360,
          400
        ],
        "id": "5b10fc91-76c5-49a8-b8e9-630891e4b395",
        "name": "Postgres Chat Memory",
        "credentials": {}
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          1248,
          224
        ],
        "id": "771fe5d9-b94e-472d-824e-a3bef231e826",
        "name": "OpenAI Chat Model",
        "credentials": {}
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Webhook').item.json.body.data.key.fromMe.toString() }}",
                      "rightValue": "=false",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "84f1ac15-47a9-4f36-b8b0-73ea0edc3ecc"
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -1520,
          -240
        ],
        "id": "904c9131-6b4a-4234-a77c-f613ac8c06a5",
        "name": "es mandado por el cliente"
      },
      {
        "parameters": {
          "amount": 1
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          208,
          -16
        ],
        "id": "01c50c79-63f4-4d6b-a93c-74bd44f2e469",
        "name": "Wait",
        "webhookId": "REDACTED"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "8ac5729a-0f8a-4564-b4f9-dd5e1fcb4c05",
                "leftValue": "={{ $json.message.last() }}",
                "rightValue": "={{ $('Mapear mensaje').item.json.mensajeAudioOTexto }}",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          624,
          -16
        ],
        "id": "e30c0eb4-76c0-4570-aaf8-7ea8af539ae3",
        "name": "If"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          928,
          288
        ],
        "id": "ebc7b712-0eb1-44de-bd71-6ae401a17303",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "4a46e63b-2ead-4f35-aaa2-ab4ef5fc69f2",
                "name": "response",
                "value": "={{ $('Redis3').item.json.message }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          912,
          -32
        ],
        "id": "3f866252-6789-4cb5-8b5a-4986da43379b",
        "name": "pregunta_usuario"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "641c492a-2026-49ba-81d8-31d19976fd99",
                "leftValue": "={{ $json.body.data.key.fromMe.toString() }}",
                "rightValue": "false",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1744,
          0
        ],
        "id": "9c0b9346-5ca8-4fae-a138-8da9f767bf74",
        "name": "If1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "62cf7f96-e1f3-4350-850c-548e2291ed79",
                "leftValue": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
                "rightValue": "34641750559@s.whatsapp.net",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -448,
          -16
        ],
        "id": "3670b18a-113f-4f2b-ac92-e8088e606256",
        "name": "If2"
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "value": "aimaspain.contacto@gmail.com",
            "mode": "list",
            "cachedResultName": "aimaspain.contacto@gmail.com"
          },
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
          "additionalFields": {
            "attendees": [
              "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}",
              "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees1_Attendees', ``, 'string') }}"
            ],
            "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}"
          }
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          1968,
          384
        ],
        "id": "42fde3cc-8599-4f5e-8324-f066ad25b3cc",
        "name": "Create an event in Google Calendar",
        "credentials": {}
      },
      {
        "parameters": {
          "operation": "delete",
          "calendar": {
            "__rl": true,
            "value": "aimaspain.contacto@gmail.com",
            "mode": "list",
            "cachedResultName": "aimaspain.contacto@gmail.com"
          },
          "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          1840,
          384
        ],
        "id": "fcd45152-33f5-441d-bbbf-0ab66ffc40c5",
        "name": "Delete an event in Google Calendar",
        "credentials": {}
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "aimaspain.contacto@gmail.com",
            "mode": "list",
            "cachedResultName": "aimaspain.contacto@gmail.com"
          },
          "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
          "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
          "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          1744,
          384
        ],
        "id": "198c03c0-fcdb-49ae-9b82-83cf8e534a57",
        "name": "Get many events in Google Calendar",
        "credentials": {}
      },
      {
        "parameters": {
          "resource": "messages-api",
          "instanceName": "calidaxBot",
          "remoteJid": "={{ $('Code in JavaScript1').item.json.chat_id }}",
          "messageText": "={{ $('AI Agent1').item.json.output }}",
          "options_message": {}
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          2416,
          -32
        ],
        "id": "07f0ea4e-245a-4b30-9960-ad73c85eae7c",
        "name": "Enviar texto",
        "credentials": {}
      },
      {
        "parameters": {
          "text": "=esta es tu base de datos:\n{\n  \"clinica\": {\n    \"nombre\": \"Clínica Dental Sonrisas\",\n    \"direccion\": \"Calle Serrano 45, 28006 Madrid\",\n    \"telefono\": \"+34 915 123 456\",\n    \"email\": \"info@clinicasonrisas.es\",\n    \"urgencias_24h\": \"+34 666 789 012\",\n    \"horarios\": {\n      \"lunes_viernes\": \"09:00 - 20:00\",\n      \"sabado\": \"09:00 - 14:00\",\n      \"domingo\": \"Cerrado\"\n    },\n    \"redes_sociales\": {\n      \"instagram\": \"@clinicasonrisas\",\n      \"facebook\": \"ClinicaDentalSonrisas\"\n    }\n  },\n\n  \"servicios\": [\n    {\n      \"id\": \"ODG001\",\n      \"categoria\": \"Odontología General\",\n      \"nombre\": \"Limpieza Dental Profunda\",\n      \"descripcion\": \"Eliminación de sarro y placa bacteriana con ultrasonido y pulido\",\n      \"duracion_minutos\": 45,\n      \"precio_desde\": 60,\n      \"precio_hasta\": 90\n    },\n    {\n      \"id\": \"ODG002\",\n      \"categoria\": \"Odontología General\",\n      \"nombre\": \"Empaste Composite\",\n      \"descripcion\": \"Restauración de caries con material estético del color del diente\",\n      \"duracion_minutos\": 30,\n      \"precio_desde\": 50,\n      \"precio_hasta\": 100\n    },\n    {\n      \"id\": \"ODG003\",\n      \"categoria\": \"Odontología General\",\n      \"nombre\": \"Extracción Simple\",\n      \"descripcion\": \"Extracción de pieza dental sin complicaciones\",\n      \"duracion_minutos\": 30,\n      \"precio_desde\": 50,\n      \"precio_hasta\": 80\n    },\n    {\n      \"id\": \"EST001\",\n      \"categoria\": \"Estética Dental\",\n      \"nombre\": \"Blanqueamiento LED\",\n      \"descripcion\": \"Blanqueamiento dental profesional con tecnología LED\",\n      \"duracion_minutos\": 60,\n      \"precio_desde\": 250,\n      \"precio_hasta\": 350\n    },\n    {\n      \"id\": \"EST002\",\n      \"categoria\": \"Estética Dental\",\n      \"nombre\": \"Carillas de Porcelana\",\n      \"descripcion\": \"Láminas de porcelana para transformar la sonrisa\",\n      \"duracion_minutos\": 120,\n      \"precio_desde\": 400,\n      \"precio_hasta\": 600,\n      \"precio_por\": \"pieza\"\n    },\n    {\n      \"id\": \"EST003\",\n      \"categoria\": \"Estética Dental\",\n      \"nombre\": \"Diseño de Sonrisa Digital\",\n      \"descripcion\": \"Planificación digital de tu nueva sonrisa con vista previa\",\n      \"duracion_minutos\": 60,\n      \"precio_desde\": 150,\n      \"precio_hasta\": 250\n    },\n    {\n      \"id\": \"ORT001\",\n      \"categoria\": \"Ortodoncia\",\n      \"nombre\": \"Brackets Metálicos\",\n      \"descripcion\": \"Ortodoncia tradicional con brackets metálicos\",\n      \"duracion_meses\": \"18-24\",\n      \"precio_desde\": 2500,\n      \"precio_hasta\": 3500,\n      \"incluye\": \"Estudio, brackets, revisiones mensuales, retenedores\"\n    },\n    {\n      \"id\": \"ORT002\",\n      \"categoria\": \"Ortodoncia\",\n      \"nombre\": \"Brackets Estéticos (Zafiro)\",\n      \"descripcion\": \"Brackets transparentes de zafiro, prácticamente invisibles\",\n      \"duracion_meses\": \"18-24\",\n      \"precio_desde\": 3500,\n      \"precio_hasta\": 4500\n    },\n    {\n      \"id\": \"ORT003\",\n      \"categoria\": \"Ortodoncia\",\n      \"nombre\": \"Invisalign\",\n      \"descripcion\": \"Alineadores invisibles removibles, tratamiento digital\",\n      \"duracion_meses\": \"12-18\",\n      \"precio_desde\": 3800,\n      \"precio_hasta\": 5500\n    },\n    {\n      \"id\": \"IMP001\",\n      \"categoria\": \"Implantología\",\n      \"nombre\": \"Implante Dental Unitario\",\n      \"descripcion\": \"Implante de titanio con corona de porcelana\",\n      \"duracion_meses\": \"3-6\",\n      \"precio_desde\": 1200,\n      \"precio_hasta\": 1800,\n      \"incluye\": \"Implante, pilar, corona, cirugía\"\n    },\n    {\n      \"id\": \"IMP002\",\n      \"categoria\": \"Implantología\",\n      \"nombre\": \"Prótesis Completa sobre 4 Implantes\",\n      \"descripcion\": \"Rehabilitación completa de arcada con técnica All-on-4\",\n      \"duracion_meses\": \"4-8\",\n      \"precio_desde\": 8000,\n      \"precio_hasta\": 12000\n    },\n    {\n      \"id\": \"END001\",\n      \"categoria\": \"Endodoncia\",\n      \"nombre\": \"Endodoncia (Matar Nervio)\",\n      \"descripcion\": \"Tratamiento de conductos radiculares para salvar la pieza\",\n      \"duracion_minutos\": 90,\n      \"precio_desde\": 200,\n      \"precio_hasta\": 400,\n      \"sesiones\": \"1-2\"\n    },\n    {\n      \"id\": \"PER001\",\n      \"categoria\": \"Periodoncia\",\n      \"nombre\": \"Tratamiento Periodontal Completo\",\n      \"descripcion\": \"Curetaje y raspado para tratar enfermedad de encías\",\n      \"duracion_minutos\": 60,\n      \"precio_desde\": 400,\n      \"precio_hasta\": 800,\n      \"sesiones\": \"2-4\"\n    },\n    {\n      \"id\": \"PED001\",\n      \"categoria\": \"Odontopediatría\",\n      \"nombre\": \"Revisión Dental Infantil\",\n      \"descripcion\": \"Revisión completa con fluorización para niños\",\n      \"duracion_minutos\": 30,\n      \"precio_desde\": 30,\n      \"precio_hasta\": 50\n    },\n    {\n      \"id\": \"CIR001\",\n      \"categoria\": \"Cirugía Oral\",\n      \"nombre\": \"Extracción Muelas del Juicio\",\n      \"descripcion\": \"Extracción quirúrgica de cordales impactados\",\n      \"duracion_minutos\": 45,\n      \"precio_desde\": 150,\n      \"precio_hasta\": 300,\n      \"precio_por\": \"pieza\"\n    }\n  ],\n\n  \"doctores\": [\n    {\n      \"id\": \"DOC001\",\n      \"nombre\": \"Dra. María González\",\n      \"especialidad\": \"Directora / Odontología General\",\n      \"experiencia_anos\": 15,\n      \"idiomas\": [\"Español\", \"Inglés\"],\n      \"horario_atencion\": [\"Lunes\", \"Martes\", \"Miércoles\", \"Viernes\"],\n      \"disponibilidad_mañana\": true,\n      \"disponibilidad_tarde\": true\n    },\n    {\n      \"id\": \"DOC002\",\n      \"nombre\": \"Dr. Carlos Ramírez\",\n      \"especialidad\": \"Implantología y Cirugía\",\n      \"experiencia_anos\": 20,\n      \"idiomas\": [\"Español\", \"Francés\"],\n      \"horario_atencion\": [\"Martes\", \"Jueves\", \"Viernes\"],\n      \"disponibilidad_mañana\": true,\n      \"disponibilidad_tarde\": false\n    },\n    {\n      \"id\": \"DOC003\",\n      \"nombre\": \"Dra. Ana Martínez\",\n      \"especialidad\": \"Ortodoncia e Invisalign\",\n      \"experiencia_anos\": 12,\n      \"certificaciones\": [\"Invisalign Diamond Provider\"],\n      \"idiomas\": [\"Español\", \"Inglés\", \"Portugués\"],\n      \"horario_atencion\": [\"Lunes\", \"Miércoles\", \"Jueves\", \"Sábado\"],\n      \"disponibilidad_mañana\": true,\n      \"disponibilidad_tarde\": true\n    },\n    {\n      \"id\": \"DOC004\",\n      \"nombre\": \"Dr. Javier López\",\n      \"especialidad\": \"Estética Dental\",\n      \"experiencia_anos\": 10,\n      \"idiomas\": [\"Español\", \"Inglés\"],\n      \"horario_atencion\": [\"Lunes\", \"Martes\", \"Miércoles\", \"Jueves\"],\n      \"disponibilidad_mañana\": false,\n      \"disponibilidad_tarde\": true\n    },\n    {\n      \"id\": \"DOC005\",\n      \"nombre\": \"Dra. Laura Sánchez\",\n      \"especialidad\": \"Odontopediatría\",\n      \"experiencia_anos\": 8,\n      \"idiomas\": [\"Español\"],\n      \"horario_atencion\": [\"Martes\", \"Jueves\", \"Viernes\", \"Sábado\"],\n      \"disponibilidad_mañana\": true,\n      \"disponibilidad_tarde\": true,\n      \"nota\": \"Especializada en niños con ansiedad dental\"\n    }\n  ],\n\n  \"seguros_aceptados\": [\n    {\n      \"nombre\": \"Sanitas Dental\",\n      \"cobertura\": \"80% tratamientos básicos, 50% especialidades\",\n      \"copago_consulta\": 0\n    },\n    {\n      \"nombre\": \"Adeslas Dental\",\n      \"cobertura\": \"Sin copago en limpieza anual, descuentos en tratamientos\",\n      \"copago_consulta\": 0\n    },\n    {\n      \"nombre\": \"Asisa Dental\",\n      \"cobertura\": \"Cuadro médico completo, sin copagos en prevención\",\n      \"copago_consulta\": 0\n    },\n    {\n      \"nombre\": \"DKV Dentisalud\",\n      \"cobertura\": \"Reembolso de tratamientos según baremo\",\n      \"copago_consulta\": 15\n    },\n    {\n      \"nombre\": \"Cigna Dental\",\n      \"cobertura\": \"Red de clínicas concertadas\",\n      \"copago_consulta\": 10\n    }\n  ],\n\n  \"promociones_actuales\": [\n    {\n      \"id\": \"PROMO001\",\n      \"titulo\": \"Primera Visita GRATIS\",\n      \"descripcion\": \"Revisión completa, radiografía panorámica y diagnóstico sin coste\",\n      \"vigencia\": \"Permanente\",\n      \"condiciones\": \"Solo nuevos pacientes\"\n    },\n    {\n      \"id\": \"PROMO002\",\n      \"titulo\": \"Blanqueamiento + Limpieza\",\n      \"descripcion\": \"Pack especial: Blanqueamiento LED + Limpieza profunda por 280€ (ahorra 80€)\",\n      \"precio_normal\": 360,\n      \"precio_promocion\": 280,\n      \"vigencia\": \"Hasta 31/12/2025\"\n    },\n    {\n      \"id\": \"PROMO003\",\n      \"titulo\": \"Financiación 0% Intereses\",\n      \"descripcion\": \"Financia tu tratamiento hasta 24 meses sin intereses\",\n      \"importe_minimo\": 600,\n      \"vigencia\": \"Permanente\"\n    }\n  ],\n\n  \"horarios_disponibles_template\": {\n    \"lunes\": {\n      \"mañana\": [\"09:00\", \"09:30\", \"10:00\", \"10:30\", \"11:00\", \"11:30\", \"12:00\", \"12:30\", \"13:00\"],\n      \"tarde\": [\"16:00\", \"16:30\", \"17:00\", \"17:30\", \"18:00\", \"18:30\", \"19:00\", \"19:30\"]\n    },\n    \"martes\": {\n      \"mañana\": [\"09:00\", \"09:30\", \"10:00\", \"10:30\", \"11:00\", \"11:30\", \"12:00\", \"12:30\", \"13:00\"],\n      \"tarde\": [\"16:00\", \"16:30\", \"17:00\", \"17:30\", \"18:00\", \"18:30\", \"19:00\", \"19:30\"]\n    },\n    \"miercoles\": {\n      \"mañana\": [\"09:00\", \"09:30\", \"10:00\", \"10:30\", \"11:00\", \"11:30\", \"12:00\", \"12:30\", \"13:00\"],\n      \"tarde\": [\"16:00\", \"16:30\", \"17:00\", \"17:30\", \"18:00\", \"18:30\", \"19:00\", \"19:30\"]\n    },\n    \"jueves\": {\n      \"mañana\": [\"09:00\", \"09:30\", \"10:00\", \"10:30\", \"11:00\", \"11:30\", \"12:00\", \"12:30\", \"13:00\"],\n      \"tarde\": [\"16:00\", \"16:30\", \"17:00\", \"17:30\", \"18:00\", \"18:30\", \"19:00\", \"19:30\"]\n    },\n    \"viernes\": {\n      \"mañana\": [\"09:00\", \"09:30\", \"10:00\", \"10:30\", \"11:00\", \"11:30\", \"12:00\", \"12:30\", \"13:00\"],\n      \"tarde\": [\"16:00\", \"16:30\", \"17:00\", \"17:30\", \"18:00\", \"18:30\", \"19:00\", \"19:30\"]\n    },\n    \"sabado\": {\n      \"mañana\": [\"09:00\", \"09:30\", \"10:00\", \"10:30\", \"11:00\", \"11:30\", \"12:00\", \"12:30\", \"13:00\"],\n      \"tarde\": []\n    }\n  },\n\n  \"citas_ejemplo\": [\n    {\n      \"id_cita\": \"CITA2025001\",\n      \"paciente\": {\n        \"nombre\": \"Juan Pérez García\",\n        \"telefono\": \"+34 612 345 678\",\n        \"email\": \"juan.perez@email.com\",\n        \"primera_visita\": false,\n        \"seguro\": \"Sanitas Dental\"\n      },\n      \"fecha\": \"2025-10-08\",\n      \"hora\": \"10:00\",\n      \"doctor\": \"Dra. María González\",\n      \"motivo\": \"Limpieza dental\",\n      \"estado\": \"confirmada\",\n      \"duracion_minutos\": 45\n    },\n    {\n      \"id_cita\": \"CITA2025002\",\n      \"paciente\": {\n        \"nombre\": \"Laura Martín López\",\n        \"telefono\": \"+34 654 987 321\",\n        \"email\": \"laura.martin@email.com\",\n        \"primera_visita\": true,\n        \"seguro\": \"Ninguno\"\n      },\n      \"fecha\": \"2025-10-09\",\n      \"hora\": \"16:30\",\n      \"doctor\": \"Dra. Ana Martínez\",\n      \"motivo\": \"Consulta ortodoncia - Invisalign\",\n      \"estado\": \"confirmada\",\n      \"duracion_minutos\": 60,\n      \"notas\": \"Interesada en alineadores invisibles\"\n    }\n  ],\n\n  \"preguntas_frecuentes\": [\n    {\n      \"pregunta\": \"¿Duele ponerse implantes dentales?\",\n      \"respuesta\": \"El procedimiento se realiza con anestesia local, por lo que no sentirás dolor durante la cirugía. Después puede haber molestias leves que se controlan con analgésicos comunes. La mayoría de pacientes reportan menos molestias de las que esperaban.\"\n    },\n    {\n      \"pregunta\": \"¿Cuánto dura un tratamiento de ortodoncia?\",\n      \"respuesta\": \"Depende de cada caso. Los tratamientos con brackets suelen durar entre 18-24 meses. Invisalign puede ser más rápido, entre 12-18 meses en casos moderados. En la primera visita te daremos un tiempo estimado específico para tu caso.\"\n    },\n    {\n      \"pregunta\": \"¿Aceptáis pagos a plazos?\",\n      \"respuesta\": \"Sí, ofrecemos financiación sin intereses hasta 24 meses para tratamientos desde 600€. También trabajamos con financieras para plazos más largos. Consultamos las mejores opciones para ti.\"\n    },\n    {\n      \"pregunta\": \"¿Hacéis urgencias?\",\n      \"respuesta\": \"Sí, reservamos huecos cada día para urgencias. Si tienes dolor intenso, traumatismo o infección, llámanos y te atenderemos el mismo día. Fuera de horario, tenemos línea de urgencias 24h: +34 666 789 012\"\n    },\n    {\n      \"pregunta\": \"¿Trabajáis con seguros médicos?\",\n      \"respuesta\": \"Sí, trabajamos con Sanitas, Adeslas, Asisa, DKV y Cigna. Dependiendo de tu póliza, algunos tratamientos pueden estar totalmente cubiertos y otros con descuentos significativos.\"\n    }\n  ],\n\n  \"mensajes_automaticos\": {\n    \"confirmacion_cita\": \"¡Hola {nombre}! ✅ Tu cita en Clínica Dental Sonrisas está confirmada:\\n📅 {fecha} a las {hora}\\n👨‍⚕️ Con {doctor}\\n📍 C/ Serrano 45, Madrid\\n\\n¿Alguna duda? Llámanos al 915 123 456\",\n    \n    \"recordatorio_24h\": \"¡Hola {nombre}! 🦷 Te recordamos tu cita mañana {fecha} a las {hora} con {doctor}.\\n\\nPor favor, llega 10 minutos antes.\\n\\n¿Necesitas cancelar? Llámanos al 915 123 456\",\n    \n    \"cancelacion\": \"Tu cita del {fecha} a las {hora} ha sido cancelada correctamente. ¿Quieres reagendar? Llámanos al 915 123 456 o escríbenos.\",\n    \n    \"bienvenida_nuevo_paciente\": \"¡Bienvenido a Clínica Dental Sonrisas! 😊 Tu primera visita es GRATUITA e incluye revisión completa y diagnóstico. Estamos en C/ Serrano 45. ¡Te esperamos!\",\n    \n    \"post_cita\": \"¡Gracias por visitarnos! Esperamos que tu experiencia haya sido excelente. Si tienes cualquier molestia o pregunta, no dudes en contactarnos. ¡Nos vemos pronto! 😊🦷\"\n  },\n\n  \"metadata\": {\n    \"ultima_actualizacion\": \"2025-10-06\",\n    \"version_base_datos\": \"1.0\",\n    \"total_servicios\": 15,\n    \"total_doctores\": 5,\n    \"idiomas_atencion\": [\"Español\", \"Inglés\", \"Francés\", \"Portugués\"]\n  }\n}",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agentTool",
        "typeVersion": 2.2,
        "position": [
          2080,
          208
        ],
        "id": "bdfa46fb-22f1-4ea8-bdb4-8ac2e844af6f",
        "name": "AI Agent base datos"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          2096,
          384
        ],
        "id": "b37f7d82-9857-4a72-bc5f-6ba407a227b5",
        "name": "OpenAI Chat Model1",
        "credentials": {}
      },
      {
        "parameters": {
          "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
          "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
          "emailType": "text",
          "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.gmailTool",
        "typeVersion": 2.1,
        "position": [
          1584,
          400
        ],
        "id": "133328ef-2c9d-4e1e-9dcc-0ce20e0ab6e7",
        "name": "Send a message in Gmail",
        "webhookId": "REDACTED",
        "credentials": {}
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "calidax",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1904,
          0
        ],
        "id": "3589ec19-18a6-4d14-999b-65e1e47fa49c",
        "name": "Webhook",
        "webhookId": "REDACTED"
      },
      {
        "parameters": {
          "jsCode": "// Obtener fecha actual en zona horaria de Madrid\nconst ahora = new Date();\n\n// Convertir a zona horaria de Madrid (Europe/Madrid)\nconst fechaMadrid = new Date(ahora.toLocaleString('en-US', { timeZone: 'Europe/Madrid' }));\n\n// Arrays en español\nconst diasSemana = ['domingo', 'lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sábado'];\nconst meses = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', \n               'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'];\n\n// Extraer componentes de la fecha en Madrid\nconst diaSemana = diasSemana[fechaMadrid.getDay()];\nconst dia = fechaMadrid.getDate();\nconst mes = meses[fechaMadrid.getMonth()];\nconst anio = fechaMadrid.getFullYear();\nconst hora = String(fechaMadrid.getHours()).padStart(2, '0');\nconst minutos = String(fechaMadrid.getMinutes()).padStart(2, '0');\n\n// Construir la fecha en formato español completo\nconst fechaActual = diaSemana + ' ' + dia + ' de ' + mes + ' de ' + anio + ', ' + hora + ':' + minutos;\n\n// Retornar el resultado\nreturn {\n  fechaActual: fechaActual\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1248,
          -32
        ],
        "id": "53243e58-7e18-4183-844c-03dff425617a",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "jsCode": "let remoteJid = $('Edit Fields').first().json.chat_id;\n\nlet newValue;\nif (remoteJid === '237412974375033@lid') {\n  newValue = '56971357546@s.whatsapp.net';\n} else if (remoteJid === '31684007297203@lid') {\n  newValue = '56994359766@s.whatsapp.net';\n} else {\n  newValue = remoteJid;\n}\n\nreturn [{\n  json: {\n    chat_id: newValue\n  }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1952,
          -32
        ],
        "id": "a4b4a5e2-704e-4c34-86e5-a4b72f4502c1",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "operation": "push",
          "list": "={{ $('Edit Fields').item.json.chat_id }}",
          "messageData": "={{ $json.mensajeAudioOTexto }}",
          "tail": true
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -16,
          -16
        ],
        "id": "611bebcc-3ba1-483a-91ab-d0e556f663b8",
        "name": "Redis",
        "credentials": {}
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "message",
          "key": "={{ $('Edit Fields').item.json.chat_id }}",
          "options": {}
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          416,
          -16
        ],
        "id": "1cfb0b87-2fef-448a-9026-521c170e3ac6",
        "name": "Redis3",
        "credentials": {}
      },
      {
        "parameters": {
          "operation": "delete",
          "key": "={{ $('Edit Fields').item.json.chat_id }}"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          1104,
          -32
        ],
        "id": "dfa9061a-65f6-4fc5-9a13-2f2c7e2db135",
        "name": "Redis4",
        "credentials": {}
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "39dc89a0-156c-4085-a8e0-ce74f7e8be36",
                "name": "chat_id",
                "value": "",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2160,
          -32
        ],
        "id": "a7641227-a775-4c33-af74-ea39371e676b",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "resource": "chat-api",
          "operation": "get-media-base64",
          "instanceName": "calidaxBot",
          "messageId": "={{ $('Webhook').item.json.body.data.key.id }}"
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          -1520,
          304
        ],
        "id": "98d4e7b1-f104-4395-9d1a-c6a604481b7c",
        "name": "Obter m dia em base",
        "credentials": {}
      },
      {
        "parameters": {
          "operation": "toBinary",
          "sourceProperty": "data.base64",
          "options": {
            "mimeType": "={{ $('Webhook').item.json.body.data.message.imageMessage.mimetype }}"
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          -1344,
          304
        ],
        "id": "07865e20-cfe2-47ce-8557-7263efd45848",
        "name": "Convert to File1"
      },
      {
        "parameters": {
          "resource": "image",
          "operation": "analyze",
          "modelId": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "list",
            "cachedResultName": "GPT-4O-MINI"
          },
          "text": "Describe la imagen",
          "inputType": "base64",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          -1152,
          304
        ],
        "id": "b0b0592f-d5a1-480f-9e14-650854559d0f",
        "name": "Analyze image",
        "credentials": {}
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "117de225-3973-45e8-883f-4830afd55bbd",
                "name": "content",
                "value": "=<image>\n{{ $json.content }}\n</image>",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -928,
          304
        ],
        "id": "01da2f5b-c733-4153-b0bb-8fe3ba4b9b2a",
        "name": "Edit Fields2"
      }
    ],
    "connections": {
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "es mandado por el cliente",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Mapear mensaje",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Obter m dia em base",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent1": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transcribir audio": {
        "main": [
          [
            {
              "node": "Mapear mensaje",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mapear mensaje": {
        "main": [
          [
            {
              "node": "If2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch1": {
        "main": [
          [
            {
              "node": "Redis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File": {
        "main": [
          [
            {
              "node": "Transcribir audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Obter m dia em base64": {
        "main": [
          [
            {
              "node": "Convert to File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "es mandado por el cliente": {
        "main": [
          [
            {
              "node": "Obter m dia em base64",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Redis3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "pregunta_usuario",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pregunta_usuario": {
        "main": [
          [
            {
              "node": "Redis4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If2": {
        "main": [
          [],
          [
            {
              "node": "Switch1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create an event in Google Calendar": {
        "ai_tool": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Delete an event in Google Calendar": {
        "ai_tool": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Get many events in Google Calendar": {
        "ai_tool": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent base datos": {
        "ai_tool": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent base datos",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Send a message in Gmail": {
        "ai_tool": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "AI Agent1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis3": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis4": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Enviar texto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Obter m dia em base": {
        "main": [
          [
            {
              "node": "Convert to File1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File1": {
        "main": [
          [
            {
              "node": "Analyze image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze image": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "Mapear mensaje",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  },
  "activeVersionId": "f12318c2-b81f-42a8-b20d-95b46aa578bf",
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "es mandado por el cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mapear mensaje",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obter m dia em base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribir audio": {
      "main": [
        [
          {
            "node": "Mapear mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapear mensaje": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Transcribir audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base64": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "es mandado por el cliente": {
      "main": [
        [
          {
            "node": "Obter m dia em base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "pregunta_usuario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pregunta_usuario": {
      "main": [
        [
          {
            "node": "Redis4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent base datos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent base datos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis3": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis4": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Mapear mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-06T14:04:18.415Z",
  "id": "5baZQi4nBrmXGEH1",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "asistente clinicas",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04868508-eb27-4b67-9dae-c883d48466d4",
              "name": "chat_id",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "48144532-1f21-4490-93e4-f6eeb2dfaa40",
              "name": "instance_name",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "4073cc89-9702-4346-b6c2-7e619ee6f55d",
              "name": "api_key",
              "value": "[REDACTED]",
              "type": "string"
            },
            {
              "id": "a78a3578-e487-4dc4-bdc0-6e35e3df7013",
              "name": "url_server",
              "value": "={{ $json.body.server_url }}",
              "type": "string"
            },
            {
              "id": "005d7505-414e-42d0-ba75-390a2718043a",
              "name": "textoMensaje",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "b283725a-b70b-4324-8441-b5c1622e5e55",
              "name": "sessionKey",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1088,
        16
      ],
      "id": "1e24e1a0-83f4-42cf-a347-f1ccad7646c1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Redis4').item.json.response }}",
        "options": {
          "systemMessage": "=Eres el asistente virtual de **Clínica Dental Sonrisas**, una clínica dental moderna y profesional ubicada en Madrid. \n\nTu nombre es \"Sofía\" y tu función es atender a los pacientes de manera cálida, profesional y eficiente. \n\nPuedes leer mensajes o escuchar audios de los clientes.\n\n---\n\n## Tu Personalidad y Tono\n\n- Eres amable, empática y profesional\n- Usas un tono cercano pero respetuoso (tuteo amable)\n- Eres paciente y comprensiva, especialmente con personas que tienen ansiedad dental\n- Respondes de manera clara y concisa\n- Nunca proporcionas diagnósticos médicos, solo información general\n\n---\n\n## Tus Capacidades\n\n### 1. GESTIÓN DE CITAS\n\n- Consultar disponibilidad de citas\n- Agendar nuevas citas (recoger: nombre completo, teléfono, email, motivo, fecha/hora preferida)\n- Modificar citas existentes\n- Cancelar citas (solicitar número de cita o datos del paciente)\n- Enviar recordatorios\n\n### 2. INFORMACIÓN DE SERVICIOS\n\nPuedes informar sobre estos tratamientos:\n\n- **Odontología General**: Limpiezas, empastes, extracciones\n- **Estética Dental**: Blanqueamiento, carillas, diseño de sonrisa\n- **Ortodoncia**: Brackets metálicos, brackets estéticos, Invisalign\n- **Implantología**: Implantes dentales, prótesis sobre implantes\n- **Endodoncia**: Tratamientos de conducto\n- **Periodoncia**: Tratamiento de encías\n- **Odontopediatría**: Atención dental para niños\n- **Cirugía Oral**: Extracciones complejas, muelas del juicio\n\n### 3. INFORMACIÓN GENERAL\n\n- **Horarios**: Lunes a Viernes 9:00-20:00, Sábados 9:00-14:00\n- **Ubicación**: Calle Serrano 45, 28006 Madrid\n- **Teléfono**: +34 915 123 456\n- **Email**: info@clinicasonrisas.es\n- **Seguros médicos**: Sanitas, Adeslas, Asisa, DKV\n- **Primera visita GRATUITA** (incluye revisión y diagnóstico)\n\n### 4. PRECIOS Y PRESUPUESTOS\n\n- Proporciona rangos de precios generales\n- Para presupuestos específicos, agenda una cita de valoración gratuita\n- Informa sobre opciones de financiación disponibles (hasta 24 meses sin intereses)\n\n### 5. URGENCIAS\n\n- Identifica urgencias dentales: dolor intenso, traumatismo, sangrado abundante\n- Para urgencias: ofrecer cita el mismo día o derivar a urgencias si es fuera de horario\n- **Línea de urgencias 24h**: +34 666 789 012\n\n---\n\n## Flujo de Conversación\n\n### Al Inicio\n\n1. Saluda cordialmente\n2. Pregunta en qué puedes ayudar\n3. Identifica la necesidad del paciente\n\n### Durante la Conversación\n\n1. Haz preguntas específicas para entender mejor la necesidad\n2. Proporciona información clara y relevante\n3. Si vas a agendar cita, recopila TODOS los datos necesarios\n4. Confirma la información antes de finalizar\n\n### Al Finalizar\n\n1. Resume lo acordado (especialmente si agendaste cita)\n2. Pregunta si necesita algo más\n3. Despídete de manera cálida\n4. Si agendaste cita, menciona que recibirá confirmación por email/SMS\n\n---\n\n## Casos Especiales\n\n**Si el paciente pregunta por un dentista específico:**\n- Consulta la base de datos de profesionales\n- Informa disponibilidad del doctor/a solicitado\n\n**Si el paciente tiene ansiedad dental:**\n- Sé extra empática\n- Menciona que ofrecemos sedación consciente\n- Resalta que nuestros doctores son muy delicados\n\n**Si el paciente pregunta por un tratamiento que no conoces:**\n- No inventes información\n- Ofrece agendar una cita de valoración gratuita con el especialista\n\n**Si detectas una urgencia:**\n- Prioriza la atención\n- Ofrece el hueco más cercano posible\n- Si es fuera de horario, da el número de urgencias 24h\n\n---\n\n## Restricciones IMPORTANTES\n\n❌ NUNCA diagnostiques condiciones médicas  \n❌ NUNCA recomiendes medicamentos específicos  \n❌ NUNCA confirmes una cita sin tener TODOS los datos necesarios  \n❌ NUNCA des información sobre historiales médicos de pacientes  \n❌ NUNCA proceses pagos (deriva a recepción)\n\n---\n\n## Datos que SIEMPRE debes recopilar para agendar cita\n\nPregunta UNA POR UNA, esperando la respuesta antes de continuar:\n\n1. Nombre completo\n2. Teléfono de contacto\n3. Email\n4. Motivo de la consulta\n5. Fecha preferida y Hora preferida (dentro del horario: Lunes a Viernes 9:00-20:00, Sábados 9:00-14:00)\n6. ¿Es primera visita?\n7. ¿Tiene seguro médico? ¿Cuál?\n\n---\n\n## Proceso OBLIGATORIO después de agendar la cita\n\nUna vez que hayas recopilado TODOS los datos y confirmado la cita con el paciente:\n\n1. **ENVÍA INMEDIATAMENTE un email de confirmación** al email proporcionado por el paciente usando la tool 'Send a message in Gmail'\n\n2. El email debe incluir:\n   - Fecha y hora de la cita\n   - Motivo de la consulta\n   - Nombre del paciente\n   - Datos de contacto de la clínica\n   - Recordatorio de llegar 10 minutos antes\n\n3. **Después de enviar el email**, informa al paciente que ya le has enviado la confirmación\n\n---\n\n## Formato de Respuesta - REGLAS CRÍTICAS\n\n### Reglas de formato OBLIGATORIAS:\n\n- Usa párrafos cortos y fáciles de leer\n- **NUNCA escribas bloques de texto largos sin saltos de línea**\n- Para listas de información (precios, servicios, horarios), usa SIEMPRE viñetas o bullets (-)\n- Usa emojis ocasionalmente para ser más cercana (😊 🦷 📅)\n- Si proporcionas listas, hazlas claras y organizadas con bullets\n- Incluye calls-to-action claros (\"¿Te gustaría que agenda una cita?\")\n- **IMPORTANTE: Usa saltos de línea entre oraciones para mejor legibilidad**\n- **Separa ideas diferentes en párrafos distintos**\n\n---\n\n## Ejemplos de Respuestas Bien Formateadas\n\n### Ejemplo 1 - Despedida:\n\n```\n¡De nada! 😊\n\nHa sido un placer ayudarte.\n\nTe esperamos en Clínica Dental Sonrisas el viernes a las 11:00.\n\nCuídate mucho y que tengas un excelente día.\n\n¡Hasta pronto! 🦷\n```\n\n### Ejemplo 2 - Lista de servicios:\n\n```\nClaro, te cuento los servicios que ofrecemos en Clínica Dental Sonrisas:\n\n- Odontología General: Limpiezas, empastes, extracciones\n- Estética Dental: Blanqueamiento, carillas, diseño de sonrisa\n- Ortodoncia: Brackets metálicos, brackets estéticos, Invisalign\n- Implantología: Implantes dentales, prótesis sobre implantes\n- Endodoncia: Tratamientos de conducto\n- Periodoncia: Tratamiento de encías\n- Odontopediatría: Atención dental para niños\n- Cirugía Oral: Extracciones complejas, muelas del juicio\n\n¿Hay algún tratamiento que te interese en particular o quieres que te ayude a agendar una cita de valoración? 😊\n```\n\n### Ejemplo 3 - Precios:\n\n```\nLos precios pueden variar según el tratamiento, pero para darte una idea general:\n\n- Limpieza dental: entre 40 y 80 euros\n- Empastes: desde 60 euros\n- Blanqueamiento dental: de 150 a 300 euros\n- Ortodoncia brackets metálicos: a partir de 1.500 euros\n- Invisalign: desde 3.000 euros\n- Implantes dentales: alrededor de 1.200 a 1.800 euros por implante\n\nPara un presupuesto exacto y detallado, te recomiendo agendar una cita de valoración gratuita con nuestro especialista.\n\nAdemás, contamos con opciones de financiación hasta 24 meses sin intereses.\n\n¿Quieres que te ayude a reservar tu cita? 📅\n```\n\n### Ejemplo 4 - Confirmación de cita:\n\n```\nPerfecto, Abde.\n\nTe confirmo tu cita:\n\n📅 Fecha: Viernes 31 de octubre\n🕐 Hora: 11:00 h\n🦷 Motivo: Limpieza dental\n✅ Primera visita: Sí\n💳 Seguro médico: No\n\nRecibirás una confirmación por email y un recordatorio antes de la cita.\n\n¿Quieres que te ayude con algo más? 😊\n```\n\n---\n\n## Herramientas Disponibles\n\nPara acceder a la base de datos, usa el AI agent \"base de datos\" como tool.\n\nLa fecha de hoy es {{ $json.fechaActual }}\n\n---\n\n## Recordatorio Final\n\nTu objetivo es hacer que cada interacción sea positiva, eficiente y que el paciente se sienta bien atendido y con ganas de visitar nuestra clínica. \n\n¡Eres la primera impresión de Clínica Dental Sonrisas! 🦷✨\n```\n\nEste prompt ahora está mucho mejor estructurado con:[1][5]\n\n- **Secciones claramente separadas** con headers\n- **Listas con bullets** para mejor legibilidad\n- **Separadores visuales** (---) entre secciones\n- **Ejemplos formateados** en bloques de código\n- **Énfasis visual** con negritas para puntos clave\n- **Emojis estratégicos** para humanizar el tono\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1472,
        -32
      ],
      "id": "410eccbc-9a76-4b72-ad45-4962286d990e",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.audioMessage.mimetype }}",
                    "rightValue": "=audio/ogg; codecs=opus",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "be9dbcd5-0882-4ce9-9822-305865fae492"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6a0ec742-7f93-4ea1-af39-35d410da1c1a",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "355e579a-2bc2-4c36-af8e-cf3639cc07fa",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagen"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -912,
        0
      ],
      "id": "18798a96-bb34-4fc8-aa5a-b9a744c78a88",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "es"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -736,
        -240
      ],
      "id": "4e2325d4-3801-49c4-b39d-7f57a8453d9d",
      "name": "Transcribir audio",
      "credentials": {},
      "notes": "los audios estan en español"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "defa1545-074d-4d6a-a21f-a95c2226995f",
              "name": "mensajeAudioOTexto",
              "value": "={{ $json.text || $('Webhook').item.json.body.data.message.conversation || $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -624,
        32
      ],
      "id": "14220fd6-55ab-4156-a78c-b38795ee3e81",
      "name": "Mapear mensaje"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Mapear mensaje').item.json.mensajeAudioOTexto }}",
                    "rightValue": "[null]",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "ea1ce058-1302-4e81-9680-f70a12960a82"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -224,
        -16
      ],
      "id": "2e878e36-42ac-4457-b804-84c12437ab9c",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "mimeType": "audio/mp3"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -976,
        -240
      ],
      "id": "348546a2-a6f4-4c5f-8c45-5e56e5854e82",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "calidaxBot",
        "messageId": "={{ $('Webhook').item.json.body.data.key.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -1312,
        -240
      ],
      "id": "0e0ec54b-e84a-43b3-808b-fab1bda459f8",
      "name": "Obter m dia em base64",
      "credentials": {}
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.sessionKey }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1360,
        400
      ],
      "id": "5b10fc91-76c5-49a8-b8e9-630891e4b395",
      "name": "Postgres Chat Memory",
      "credentials": {}
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1248,
        224
      ],
      "id": "771fe5d9-b94e-472d-824e-a3bef231e826",
      "name": "OpenAI Chat Model",
      "credentials": {}
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.data.key.fromMe.toString() }}",
                    "rightValue": "=false",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "84f1ac15-47a9-4f36-b8b0-73ea0edc3ecc"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1520,
        -240
      ],
      "id": "904c9131-6b4a-4234-a77c-f613ac8c06a5",
      "name": "es mandado por el cliente"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        208,
        -16
      ],
      "id": "01c50c79-63f4-4d6b-a93c-74bd44f2e469",
      "name": "Wait",
      "webhookId": "REDACTED"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8ac5729a-0f8a-4564-b4f9-dd5e1fcb4c05",
              "leftValue": "={{ $json.message.last() }}",
              "rightValue": "={{ $('Mapear mensaje').item.json.mensajeAudioOTexto }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        -16
      ],
      "id": "e30c0eb4-76c0-4570-aaf8-7ea8af539ae3",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        928,
        288
      ],
      "id": "ebc7b712-0eb1-44de-bd71-6ae401a17303",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a46e63b-2ead-4f35-aaa2-ab4ef5fc69f2",
              "name": "response",
              "value": "={{ $('Redis3').item.json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        -32
      ],
      "id": "3f866252-6789-4cb5-8b5a-4986da43379b",
      "name": "pregunta_usuario"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "641c492a-2026-49ba-81d8-31d19976fd99",
              "leftValue": "={{ $json.body.data.key.fromMe.toString() }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1744,
        0
      ],
      "id": "9c0b9346-5ca8-4fae-a138-8da9f767bf74",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "62cf7f96-e1f3-4350-850c-548e2291ed79",
              "leftValue": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
              "rightValue": "34641750559@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        -16
      ],
      "id": "3670b18a-113f-4f2b-ac92-e8088e606256",
      "name": "If2"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "aimaspain.contacto@gmail.com",
          "mode": "list",
          "cachedResultName": "aimaspain.contacto@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}",
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees1_Attendees', ``, 'string') }}"
          ],
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1968,
        384
      ],
      "id": "42fde3cc-8599-4f5e-8324-f066ad25b3cc",
      "name": "Create an event in Google Calendar",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "aimaspain.contacto@gmail.com",
          "mode": "list",
          "cachedResultName": "aimaspain.contacto@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1840,
        384
      ],
      "id": "fcd45152-33f5-441d-bbbf-0ab66ffc40c5",
      "name": "Delete an event in Google Calendar",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "aimaspain.contacto@gmail.com",
          "mode": "list",
          "cachedResultName": "aimaspain.contacto@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1744,
        384
      ],
      "id": "198c03c0-fcdb-49ae-9b82-83cf8e534a57",
      "name": "Get many events in Google Calendar",
      "credentials": {}
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "calidaxBot",
        "remoteJid": "={{ $('Code in JavaScript1').item.json.chat_id }}",
        "messageText": "={{ $('AI Agent1').item.json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2416,
        -32
      ],
      "id": "07f0ea4e-245a-4b30-9960-ad73c85eae7c",
      "name": "Enviar texto",
      "credentials": {}
    },
    {
      "parameters": {
        "text": "=esta es tu base de datos:\n{\n  \"clinica\": {\n    \"nombre\": \"Clínica Dental Sonrisas\",\n    \"direccion\": \"Calle Serrano 45, 28006 Madrid\",\n    \"telefono\": \"+34 915 123 456\",\n    \"email\": \"info@clinicasonrisas.es\",\n    \"urgencias_24h\": \"+34 666 789 012\",\n    \"horarios\": {\n      \"lunes_viernes\": \"09:00 - 20:00\",\n      \"sabado\": \"09:00 - 14:00\",\n      \"domingo\": \"Cerrado\"\n    },\n    \"redes_sociales\": {\n      \"instagram\": \"@clinicasonrisas\",\n      \"facebook\": \"ClinicaDentalSonrisas\"\n    }\n  },\n\n  \"servicios\": [\n    {\n      \"id\": \"ODG001\",\n      \"categoria\": \"Odontología General\",\n      \"nombre\": \"Limpieza Dental Profunda\",\n      \"descripcion\": \"Eliminación de sarro y placa bacteriana con ultrasonido y pulido\",\n      \"duracion_minutos\": 45,\n      \"precio_desde\": 60,\n      \"precio_hasta\": 90\n    },\n    {\n      \"id\": \"ODG002\",\n      \"categoria\": \"Odontología General\",\n      \"nombre\": \"Empaste Composite\",\n      \"descripcion\": \"Restauración de caries con material estético del color del diente\",\n      \"duracion_minutos\": 30,\n      \"precio_desde\": 50,\n      \"precio_hasta\": 100\n    },\n    {\n      \"id\": \"ODG003\",\n      \"categoria\": \"Odontología General\",\n      \"nombre\": \"Extracción Simple\",\n      \"descripcion\": \"Extracción de pieza dental sin complicaciones\",\n      \"duracion_minutos\": 30,\n      \"precio_desde\": 50,\n      \"precio_hasta\": 80\n    },\n    {\n      \"id\": \"EST001\",\n      \"categoria\": \"Estética Dental\",\n      \"nombre\": \"Blanqueamiento LED\",\n      \"descripcion\": \"Blanqueamiento dental profesional con tecnología LED\",\n      \"duracion_minutos\": 60,\n      \"precio_desde\": 250,\n      \"precio_hasta\": 350\n    },\n    {\n      \"id\": \"EST002\",\n      \"categoria\": \"Estética Dental\",\n      \"nombre\": \"Carillas de Porcelana\",\n      \"descripcion\": \"Láminas de porcelana para transformar la sonrisa\",\n      \"duracion_minutos\": 120,\n      \"precio_desde\": 400,\n      \"precio_hasta\": 600,\n      \"precio_por\": \"pieza\"\n    },\n    {\n      \"id\": \"EST003\",\n      \"categoria\": \"Estética Dental\",\n      \"nombre\": \"Diseño de Sonrisa Digital\",\n      \"descripcion\": \"Planificación digital de tu nueva sonrisa con vista previa\",\n      \"duracion_minutos\": 60,\n      \"precio_desde\": 150,\n      \"precio_hasta\": 250\n    },\n    {\n      \"id\": \"ORT001\",\n      \"categoria\": \"Ortodoncia\",\n      \"nombre\": \"Brackets Metálicos\",\n      \"descripcion\": \"Ortodoncia tradicional con brackets metálicos\",\n      \"duracion_meses\": \"18-24\",\n      \"precio_desde\": 2500,\n      \"precio_hasta\": 3500,\n      \"incluye\": \"Estudio, brackets, revisiones mensuales, retenedores\"\n    },\n    {\n      \"id\": \"ORT002\",\n      \"categoria\": \"Ortodoncia\",\n      \"nombre\": \"Brackets Estéticos (Zafiro)\",\n      \"descripcion\": \"Brackets transparentes de zafiro, prácticamente invisibles\",\n      \"duracion_meses\": \"18-24\",\n      \"precio_desde\": 3500,\n      \"precio_hasta\": 4500\n    },\n    {\n      \"id\": \"ORT003\",\n      \"categoria\": \"Ortodoncia\",\n      \"nombre\": \"Invisalign\",\n      \"descripcion\": \"Alineadores invisibles removibles, tratamiento digital\",\n      \"duracion_meses\": \"12-18\",\n      \"precio_desde\": 3800,\n      \"precio_hasta\": 5500\n    },\n    {\n      \"id\": \"IMP001\",\n      \"categoria\": \"Implantología\",\n      \"nombre\": \"Implante Dental Unitario\",\n      \"descripcion\": \"Implante de titanio con corona de porcelana\",\n      \"duracion_meses\": \"3-6\",\n      \"precio_desde\": 1200,\n      \"precio_hasta\": 1800,\n      \"incluye\": \"Implante, pilar, corona, cirugía\"\n    },\n    {\n      \"id\": \"IMP002\",\n      \"categoria\": \"Implantología\",\n      \"nombre\": \"Prótesis Completa sobre 4 Implantes\",\n      \"descripcion\": \"Rehabilitación completa de arcada con técnica All-on-4\",\n      \"duracion_meses\": \"4-8\",\n      \"precio_desde\": 8000,\n      \"precio_hasta\": 12000\n    },\n    {\n      \"id\": \"END001\",\n      \"categoria\": \"Endodoncia\",\n      \"nombre\": \"Endodoncia (Matar Nervio)\",\n      \"descripcion\": \"Tratamiento de conductos radiculares para salvar la pieza\",\n      \"duracion_minutos\": 90,\n      \"precio_desde\": 200,\n      \"precio_hasta\": 400,\n      \"sesiones\": \"1-2\"\n    },\n    {\n      \"id\": \"PER001\",\n      \"categoria\": \"Periodoncia\",\n      \"nombre\": \"Tratamiento Periodontal Completo\",\n      \"descripcion\": \"Curetaje y raspado para tratar enfermedad de encías\",\n      \"duracion_minutos\": 60,\n      \"precio_desde\": 400,\n      \"precio_hasta\": 800,\n      \"sesiones\": \"2-4\"\n    },\n    {\n      \"id\": \"PED001\",\n      \"categoria\": \"Odontopediatría\",\n      \"nombre\": \"Revisión Dental Infantil\",\n      \"descripcion\": \"Revisión completa con fluorización para niños\",\n      \"duracion_minutos\": 30,\n      \"precio_desde\": 30,\n      \"precio_hasta\": 50\n    },\n    {\n      \"id\": \"CIR001\",\n      \"categoria\": \"Cirugía Oral\",\n      \"nombre\": \"Extracción Muelas del Juicio\",\n      \"descripcion\": \"Extracción quirúrgica de cordales impactados\",\n      \"duracion_minutos\": 45,\n      \"precio_desde\": 150,\n      \"precio_hasta\": 300,\n      \"precio_por\": \"pieza\"\n    }\n  ],\n\n  \"doctores\": [\n    {\n      \"id\": \"DOC001\",\n      \"nombre\": \"Dra. María González\",\n      \"especialidad\": \"Directora / Odontología General\",\n      \"experiencia_anos\": 15,\n      \"idiomas\": [\"Español\", \"Inglés\"],\n      \"horario_atencion\": [\"Lunes\", \"Martes\", \"Miércoles\", \"Viernes\"],\n      \"disponibilidad_mañana\": true,\n      \"disponibilidad_tarde\": true\n    },\n    {\n      \"id\": \"DOC002\",\n      \"nombre\": \"Dr. Carlos Ramírez\",\n      \"especialidad\": \"Implantología y Cirugía\",\n      \"experiencia_anos\": 20,\n      \"idiomas\": [\"Español\", \"Francés\"],\n      \"horario_atencion\": [\"Martes\", \"Jueves\", \"Viernes\"],\n      \"disponibilidad_mañana\": true,\n      \"disponibilidad_tarde\": false\n    },\n    {\n      \"id\": \"DOC003\",\n      \"nombre\": \"Dra. Ana Martínez\",\n      \"especialidad\": \"Ortodoncia e Invisalign\",\n      \"experiencia_anos\": 12,\n      \"certificaciones\": [\"Invisalign Diamond Provider\"],\n      \"idiomas\": [\"Español\", \"Inglés\", \"Portugués\"],\n      \"horario_atencion\": [\"Lunes\", \"Miércoles\", \"Jueves\", \"Sábado\"],\n      \"disponibilidad_mañana\": true,\n      \"disponibilidad_tarde\": true\n    },\n    {\n      \"id\": \"DOC004\",\n      \"nombre\": \"Dr. Javier López\",\n      \"especialidad\": \"Estética Dental\",\n      \"experiencia_anos\": 10,\n      \"idiomas\": [\"Español\", \"Inglés\"],\n      \"horario_atencion\": [\"Lunes\", \"Martes\", \"Miércoles\", \"Jueves\"],\n      \"disponibilidad_mañana\": false,\n      \"disponibilidad_tarde\": true\n    },\n    {\n      \"id\": \"DOC005\",\n      \"nombre\": \"Dra. Laura Sánchez\",\n      \"especialidad\": \"Odontopediatría\",\n      \"experiencia_anos\": 8,\n      \"idiomas\": [\"Español\"],\n      \"horario_atencion\": [\"Martes\", \"Jueves\", \"Viernes\", \"Sábado\"],\n      \"disponibilidad_mañana\": true,\n      \"disponibilidad_tarde\": true,\n      \"nota\": \"Especializada en niños con ansiedad dental\"\n    }\n  ],\n\n  \"seguros_aceptados\": [\n    {\n      \"nombre\": \"Sanitas Dental\",\n      \"cobertura\": \"80% tratamientos básicos, 50% especialidades\",\n      \"copago_consulta\": 0\n    },\n    {\n      \"nombre\": \"Adeslas Dental\",\n      \"cobertura\": \"Sin copago en limpieza anual, descuentos en tratamientos\",\n      \"copago_consulta\": 0\n    },\n    {\n      \"nombre\": \"Asisa Dental\",\n      \"cobertura\": \"Cuadro médico completo, sin copagos en prevención\",\n      \"copago_consulta\": 0\n    },\n    {\n      \"nombre\": \"DKV Dentisalud\",\n      \"cobertura\": \"Reembolso de tratamientos según baremo\",\n      \"copago_consulta\": 15\n    },\n    {\n      \"nombre\": \"Cigna Dental\",\n      \"cobertura\": \"Red de clínicas concertadas\",\n      \"copago_consulta\": 10\n    }\n  ],\n\n  \"promociones_actuales\": [\n    {\n      \"id\": \"PROMO001\",\n      \"titulo\": \"Primera Visita GRATIS\",\n      \"descripcion\": \"Revisión completa, radiografía panorámica y diagnóstico sin coste\",\n      \"vigencia\": \"Permanente\",\n      \"condiciones\": \"Solo nuevos pacientes\"\n    },\n    {\n      \"id\": \"PROMO002\",\n      \"titulo\": \"Blanqueamiento + Limpieza\",\n      \"descripcion\": \"Pack especial: Blanqueamiento LED + Limpieza profunda por 280€ (ahorra 80€)\",\n      \"precio_normal\": 360,\n      \"precio_promocion\": 280,\n      \"vigencia\": \"Hasta 31/12/2025\"\n    },\n    {\n      \"id\": \"PROMO003\",\n      \"titulo\": \"Financiación 0% Intereses\",\n      \"descripcion\": \"Financia tu tratamiento hasta 24 meses sin intereses\",\n      \"importe_minimo\": 600,\n      \"vigencia\": \"Permanente\"\n    }\n  ],\n\n  \"horarios_disponibles_template\": {\n    \"lunes\": {\n      \"mañana\": [\"09:00\", \"09:30\", \"10:00\", \"10:30\", \"11:00\", \"11:30\", \"12:00\", \"12:30\", \"13:00\"],\n      \"tarde\": [\"16:00\", \"16:30\", \"17:00\", \"17:30\", \"18:00\", \"18:30\", \"19:00\", \"19:30\"]\n    },\n    \"martes\": {\n      \"mañana\": [\"09:00\", \"09:30\", \"10:00\", \"10:30\", \"11:00\", \"11:30\", \"12:00\", \"12:30\", \"13:00\"],\n      \"tarde\": [\"16:00\", \"16:30\", \"17:00\", \"17:30\", \"18:00\", \"18:30\", \"19:00\", \"19:30\"]\n    },\n    \"miercoles\": {\n      \"mañana\": [\"09:00\", \"09:30\", \"10:00\", \"10:30\", \"11:00\", \"11:30\", \"12:00\", \"12:30\", \"13:00\"],\n      \"tarde\": [\"16:00\", \"16:30\", \"17:00\", \"17:30\", \"18:00\", \"18:30\", \"19:00\", \"19:30\"]\n    },\n    \"jueves\": {\n      \"mañana\": [\"09:00\", \"09:30\", \"10:00\", \"10:30\", \"11:00\", \"11:30\", \"12:00\", \"12:30\", \"13:00\"],\n      \"tarde\": [\"16:00\", \"16:30\", \"17:00\", \"17:30\", \"18:00\", \"18:30\", \"19:00\", \"19:30\"]\n    },\n    \"viernes\": {\n      \"mañana\": [\"09:00\", \"09:30\", \"10:00\", \"10:30\", \"11:00\", \"11:30\", \"12:00\", \"12:30\", \"13:00\"],\n      \"tarde\": [\"16:00\", \"16:30\", \"17:00\", \"17:30\", \"18:00\", \"18:30\", \"19:00\", \"19:30\"]\n    },\n    \"sabado\": {\n      \"mañana\": [\"09:00\", \"09:30\", \"10:00\", \"10:30\", \"11:00\", \"11:30\", \"12:00\", \"12:30\", \"13:00\"],\n      \"tarde\": []\n    }\n  },\n\n  \"citas_ejemplo\": [\n    {\n      \"id_cita\": \"CITA2025001\",\n      \"paciente\": {\n        \"nombre\": \"Juan Pérez García\",\n        \"telefono\": \"+34 612 345 678\",\n        \"email\": \"juan.perez@email.com\",\n        \"primera_visita\": false,\n        \"seguro\": \"Sanitas Dental\"\n      },\n      \"fecha\": \"2025-10-08\",\n      \"hora\": \"10:00\",\n      \"doctor\": \"Dra. María González\",\n      \"motivo\": \"Limpieza dental\",\n      \"estado\": \"confirmada\",\n      \"duracion_minutos\": 45\n    },\n    {\n      \"id_cita\": \"CITA2025002\",\n      \"paciente\": {\n        \"nombre\": \"Laura Martín López\",\n        \"telefono\": \"+34 654 987 321\",\n        \"email\": \"laura.martin@email.com\",\n        \"primera_visita\": true,\n        \"seguro\": \"Ninguno\"\n      },\n      \"fecha\": \"2025-10-09\",\n      \"hora\": \"16:30\",\n      \"doctor\": \"Dra. Ana Martínez\",\n      \"motivo\": \"Consulta ortodoncia - Invisalign\",\n      \"estado\": \"confirmada\",\n      \"duracion_minutos\": 60,\n      \"notas\": \"Interesada en alineadores invisibles\"\n    }\n  ],\n\n  \"preguntas_frecuentes\": [\n    {\n      \"pregunta\": \"¿Duele ponerse implantes dentales?\",\n      \"respuesta\": \"El procedimiento se realiza con anestesia local, por lo que no sentirás dolor durante la cirugía. Después puede haber molestias leves que se controlan con analgésicos comunes. La mayoría de pacientes reportan menos molestias de las que esperaban.\"\n    },\n    {\n      \"pregunta\": \"¿Cuánto dura un tratamiento de ortodoncia?\",\n      \"respuesta\": \"Depende de cada caso. Los tratamientos con brackets suelen durar entre 18-24 meses. Invisalign puede ser más rápido, entre 12-18 meses en casos moderados. En la primera visita te daremos un tiempo estimado específico para tu caso.\"\n    },\n    {\n      \"pregunta\": \"¿Aceptáis pagos a plazos?\",\n      \"respuesta\": \"Sí, ofrecemos financiación sin intereses hasta 24 meses para tratamientos desde 600€. También trabajamos con financieras para plazos más largos. Consultamos las mejores opciones para ti.\"\n    },\n    {\n      \"pregunta\": \"¿Hacéis urgencias?\",\n      \"respuesta\": \"Sí, reservamos huecos cada día para urgencias. Si tienes dolor intenso, traumatismo o infección, llámanos y te atenderemos el mismo día. Fuera de horario, tenemos línea de urgencias 24h: +34 666 789 012\"\n    },\n    {\n      \"pregunta\": \"¿Trabajáis con seguros médicos?\",\n      \"respuesta\": \"Sí, trabajamos con Sanitas, Adeslas, Asisa, DKV y Cigna. Dependiendo de tu póliza, algunos tratamientos pueden estar totalmente cubiertos y otros con descuentos significativos.\"\n    }\n  ],\n\n  \"mensajes_automaticos\": {\n    \"confirmacion_cita\": \"¡Hola {nombre}! ✅ Tu cita en Clínica Dental Sonrisas está confirmada:\\n📅 {fecha} a las {hora}\\n👨‍⚕️ Con {doctor}\\n📍 C/ Serrano 45, Madrid\\n\\n¿Alguna duda? Llámanos al 915 123 456\",\n    \n    \"recordatorio_24h\": \"¡Hola {nombre}! 🦷 Te recordamos tu cita mañana {fecha} a las {hora} con {doctor}.\\n\\nPor favor, llega 10 minutos antes.\\n\\n¿Necesitas cancelar? Llámanos al 915 123 456\",\n    \n    \"cancelacion\": \"Tu cita del {fecha} a las {hora} ha sido cancelada correctamente. ¿Quieres reagendar? Llámanos al 915 123 456 o escríbenos.\",\n    \n    \"bienvenida_nuevo_paciente\": \"¡Bienvenido a Clínica Dental Sonrisas! 😊 Tu primera visita es GRATUITA e incluye revisión completa y diagnóstico. Estamos en C/ Serrano 45. ¡Te esperamos!\",\n    \n    \"post_cita\": \"¡Gracias por visitarnos! Esperamos que tu experiencia haya sido excelente. Si tienes cualquier molestia o pregunta, no dudes en contactarnos. ¡Nos vemos pronto! 😊🦷\"\n  },\n\n  \"metadata\": {\n    \"ultima_actualizacion\": \"2025-10-06\",\n    \"version_base_datos\": \"1.0\",\n    \"total_servicios\": 15,\n    \"total_doctores\": 5,\n    \"idiomas_atencion\": [\"Español\", \"Inglés\", \"Francés\", \"Portugués\"]\n  }\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        2080,
        208
      ],
      "id": "bdfa46fb-22f1-4ea8-bdb4-8ac2e844af6f",
      "name": "AI Agent base datos"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2096,
        384
      ],
      "id": "b37f7d82-9857-4a72-bc5f-6ba407a227b5",
      "name": "OpenAI Chat Model1",
      "credentials": {}
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1584,
        400
      ],
      "id": "133328ef-2c9d-4e1e-9dcc-0ce20e0ab6e7",
      "name": "Send a message in Gmail",
      "webhookId": "REDACTED",
      "credentials": {}
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "calidax",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1904,
        0
      ],
      "id": "3589ec19-18a6-4d14-999b-65e1e47fa49c",
      "name": "Webhook",
      "webhookId": "REDACTED"
    },
    {
      "parameters": {
        "jsCode": "// Obtener fecha actual en zona horaria de Madrid\nconst ahora = new Date();\n\n// Convertir a zona horaria de Madrid (Europe/Madrid)\nconst fechaMadrid = new Date(ahora.toLocaleString('en-US', { timeZone: 'Europe/Madrid' }));\n\n// Arrays en español\nconst diasSemana = ['domingo', 'lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sábado'];\nconst meses = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', \n               'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'];\n\n// Extraer componentes de la fecha en Madrid\nconst diaSemana = diasSemana[fechaMadrid.getDay()];\nconst dia = fechaMadrid.getDate();\nconst mes = meses[fechaMadrid.getMonth()];\nconst anio = fechaMadrid.getFullYear();\nconst hora = String(fechaMadrid.getHours()).padStart(2, '0');\nconst minutos = String(fechaMadrid.getMinutes()).padStart(2, '0');\n\n// Construir la fecha en formato español completo\nconst fechaActual = diaSemana + ' ' + dia + ' de ' + mes + ' de ' + anio + ', ' + hora + ':' + minutos;\n\n// Retornar el resultado\nreturn {\n  fechaActual: fechaActual\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        -32
      ],
      "id": "53243e58-7e18-4183-844c-03dff425617a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "let remoteJid = $('Edit Fields').first().json.chat_id;\n\nlet newValue;\nif (remoteJid === '237412974375033@lid') {\n  newValue = '56971357546@s.whatsapp.net';\n} else if (remoteJid === '31684007297203@lid') {\n  newValue = '56994359766@s.whatsapp.net';\n} else {\n  newValue = remoteJid;\n}\n\nreturn [{\n  json: {\n    chat_id: newValue\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1952,
        -32
      ],
      "id": "a4b4a5e2-704e-4c34-86e5-a4b72f4502c1",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Edit Fields').item.json.chat_id }}",
        "messageData": "={{ $json.mensajeAudioOTexto }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -16,
        -16
      ],
      "id": "611bebcc-3ba1-483a-91ab-d0e556f663b8",
      "name": "Redis",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $('Edit Fields').item.json.chat_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        416,
        -16
      ],
      "id": "1cfb0b87-2fef-448a-9026-521c170e3ac6",
      "name": "Redis3",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Edit Fields').item.json.chat_id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1104,
        -32
      ],
      "id": "dfa9061a-65f6-4fc5-9a13-2f2c7e2db135",
      "name": "Redis4",
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39dc89a0-156c-4085-a8e0-ce74f7e8be36",
              "name": "chat_id",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        -32
      ],
      "id": "a7641227-a775-4c33-af74-ea39371e676b",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "calidaxBot",
        "messageId": "={{ $('Webhook').item.json.body.data.key.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -1520,
        304
      ],
      "id": "98d4e7b1-f104-4395-9d1a-c6a604481b7c",
      "name": "Obter m dia em base",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "mimeType": "={{ $('Webhook').item.json.body.data.message.imageMessage.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1344,
        304
      ],
      "id": "07865e20-cfe2-47ce-8557-7263efd45848",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Describe la imagen",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1152,
        304
      ],
      "id": "b0b0592f-d5a1-480f-9e14-650854559d0f",
      "name": "Analyze image",
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "117de225-3973-45e8-883f-4830afd55bbd",
              "name": "content",
              "value": "=<image>\n{{ $json.content }}\n</image>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -928,
        304
      ],
      "id": "01da2f5b-c733-4153-b0bb-8fe3ba4b9b2a",
      "name": "Edit Fields2"
    }
  ],
  "origin": "n8n",
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "personal-n8n.rk9l1c.easypanel.host",
            "user-agent": "axios/1.7.9",
            "content-length": "50895",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "personal-n8n.rk9l1c.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "227e2e43f3cd",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "calidaxBot",
            "data": {
              "key": {
                "remoteJid": "34612575083@s.whatsapp.net",
                "fromMe": false,
                "id": "ACF5FBF88AA4468F2139905123ABFFED"
              },
              "pushName": "Abde",
              "status": "DELIVERY_ACK",
              "message": {
                "imageMessage": {
                  "url": "https://mmg.whatsapp.net/v/t62.7118-24/22518056_1184309796985038_1449908892912576458_n.enc?ccb=11-4&oh=01_Q5Aa3AGTzru6NlR5_ZENH0mj-6oYcJOWzA0USvLdleQ7shaUAg&oe=69492F62&_nc_sid=5e03e0&mms3=true",
                  "mimetype": "image/jpeg",
                  "fileSha256": "Mk1qyJpoUkfjpzq0MN+9EhmXU+SabcBJ5Kr6VP1fHzU=",
                  "fileLength": "36134",
                  "height": 1599,
                  "width": 899,
                  "mediaKey": "cbrjeWq0IYMxj2zGsVo5QEyUej7V+8kbcbOxrAu+QV8=",
                  "fileEncSha256": "5OjB0IRKeIljJrG9LU5k5iBoXqPeTYe7bUMhbkwZIfQ=",
                  "directPath": "/v/t62.7118-24/22518056_1184309796985038_1449908892912576458_n.enc?ccb=11-4&oh=01_Q5Aa3AGTzru6NlR5_ZENH0mj-6oYcJOWzA0USvLdleQ7shaUAg&oe=69492F62&_nc_sid=5e03e0",
                  "mediaKeyTimestamp": "1763823930",
                  "jpegThumbnail": "/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEABsbGxscGx4hIR4qLSgtKj04MzM4PV1CR0JHQl2NWGdYWGdYjX2Xe3N7l33gsJycsOD/2c7Z//////////////8BGxsbGxwbHiEhHiotKC0qPTgzMzg9XUJHQkdCXY1YZ1hYZ1iNfZd7c3uXfeCwnJyw4P/Zztn////////////////CABEIADwAIQMBIgACEQEDEQH/xAAtAAADAQEBAAAAAAAAAAAAAAAAAwQCAQUBAQEBAAAAAAAAAAAAAAAAAAECAP/aAAwDAQACEAMQAAAAoWxY5ypQ0iQb8a7UycsDSlAK9+ZRU3cVodEYnmr9VCeYxPc0Exj/xAAkEAACAQMDAwUAAAAAAAAAAAAAAQIDERIEEzEQIVJBQlFhYv/aAAgBAQABPwBuNjP6HWaI1fk3GW7DRUYuiZIlG4oGJkjszBP0HBIsJiYmNlyOsgR1NJ+4jUg+JIbN+XiUJU8WpQuVklJNKyZk1w2Rq1FxJm/LyZoYR2eDWRTdX88dE+n/xAAWEQADAAAAAAAAAAAAAAAAAAARIDD/2gAIAQIBAT8AgE//xAAWEQADAAAAAAAAAAAAAAAAAAAAETD/2gAIAQMBAT8Amj//2Q==",
                  "contextInfo": {
                    "entryPointConversionSource": "global_search_new_chat",
                    "entryPointConversionApp": "whatsapp",
                    "entryPointConversionDelaySeconds": 4
                  },
                  "scansSidecar": "5N3RgE9xsYYRU8yrXJeemyCe+lgfiEAO5yCGbRUlp+5xlA4xWiVb7w==",
                  "scanLengths": [
                    8347,
                    15229,
                    3657,
                    8901
                  ],
                  "midQualityFileSha256": "Y8E6+I6/8T1Wy/lbD5M/Vzs67WEYJhdvy0LQWycVZ/8="
                },
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "7kMPy0IsLbcR+A==",
                    "senderTimestamp": "1763720164",
                    "recipientKeyHash": "WS/axTla8yX8hg==",
                    "recipientTimestamp": "1763720128"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "UYjwX79qyNbCY83l9lLsukeSjU/dnGEIxON2xahPk6s="
                },
                "base64": "/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAYGBgYHBgcICAcKCwoLCg8ODAwODxYQERAREBYiFRkVFRkVIh4kHhweJB42KiYmKjY+NDI0PkxERExfWl98fKcBBgYGBgcGBwgIBwoLCgsKDw4MDA4PFhAREBEQFiIVGRUVGRUiHiQeHB4kHjYqJiYqNj40MjQ+TERETF9aX3x8p//CABEIBj8DgwMBIgACEQEDEQH/xAAxAAEBAQEBAQEAAAAAAAAAAAAAAQIDBAUGAQEBAQEBAQAAAAAAAAAAAAAAAQIDBAX/2gAMAwEAAhADEAAAAvVjcxrQUoAY3g3qCQMY3hMTUOW89h6fN2NsSXc5yunn3kmppgQ63kb6zmjWStILcgAoiiKIoiiKBSLAqIoiliwAAABBSN2Y5unRfM687YFkYNmjBCmTWuXQtlABszO0Xk605O2DmBZ0jbuXx65XWOrnTbnDq5DpzQ65xS3ISwk0MbCVSLCWjNoiiKI0WKIoKIoSgUiiKIoiiKIoiiKF3qOTpV5Z78SATRM21MNCdMs+XTnufP8AX6enV9f53h+r8rWsEuuWc6r39N3N8+utOPm93zDn34eiygAvo4+gillB5+3nIIvp83rOrJfm1dYlAoi0iiKJVIpIoiliiKIUiiKIolAAABQAAAAAAABQFmztvUly1o4+bvwSFNKnNKSTWFq5nxtd/P8ARnP3WTp97w/N9HmkksdPN6/L7a9ucTN6zPM38j3eOx6OfUAA69fPTvOMXu4DXOwqC9uKPQ4DFNZKsFJSABSKIoiqiiKIFAAAFIqIolAAAAoigABKIogCideXVfXzmJd9PPa589YRrNk3JGdMw3gXplrPhz7fJqPq8PJxvszk1uZ1LeXQiwEozN0moWgAAAAEKQoCC01hQAKgAoiiKqKIoiiLFBAAAAAABVioigAAAAACKIC3NNzMNzIQUBAAILcpNMw3MisrdSQ0yNMjTMjbA2wNuZekwNsDbmOjmOkwNuY6OY6Oaz0UuSiUCgUltMtDLRctjLQzN5MrAEiiKIsAAKQoAABFqCoKgrI0zI0yNMw0yNTMNsF0wNzEOkwNuY25k6OcOjmOk5jpOZejnDo5jo5DrOY6OY2wNsjTI1IKAAABLCg9hu5xdDLe44uo5aSummzDel5OlObrDm6Q5Z3kxISsisjTI1MjTI0wNsDbA2xDbA2xDpMDbEOkwNsQ6TBdzA3MDbENzI0wNMDUkNMiyCoLAIKgAAACAVZoJ0MPRzjm6w53p0PO6bOF9PZfnvbk8jpzsVTIPb25dUrWS2UgPOzqzv159FWUllAGbgmNYTjJk3Mw3Mw3MjTA0yrTI1IKgqCoiwoIAAASiBUsAIBLABLAQAAQAABAAABYXViH0PB9iOWt7muU7YTj1aXy+nl6EmtRec35jwZzvWQXLQ+hvhbj13PomvNnPG59E4Qm8aO+uI7OI7TkOs5w65wN8rg5ggIKSiLAAAAAIAAAAAABYAQASwSwAgEsAEABAAAAEKlANSyX1fQ+f3zfXvx7O/CeE+py8/E+lfBD6WfnD6HzXGpvNsqDo5j0XOrn6Pp8/bOvm8mdY1cw3cDbA2xTTBdMjUgubCLBKICAACooiiKiKIolCKIogAAVLACASwSwAgIAQAEAAACAAIBdILYNXA3mCoLcjTNKgqC3I0g7bxbj6OvBZcRbAFAUlACKIsVKICLCLACKIAAAAAAAABKIFAiwASwSiAgJLACAEABCwAACIqCpVAAqCoKACoKlAKlAO9NYUhQFAFAAAABKWSiAgIsAAIoiiALApYUiwAASiLACASiAgIQEEsAEAQAAEAAgAFsCoKlAAFgqUAqUAqD02W4FAFCgFJQAAiiASlksEogIogAAAAUAACKIsAAICLACAgICSwSwAgEAFEAAkAEKRagoAAKAACpRYKAD1FuAFBQFAAooiogAIsWLCLBLABKIAAFAAAAAAiwASwAgICAhBLBLBLAQAEUAEIgAFAAAWCgAWUAWCgWUA9ZdYFJSFAKUAAgACLAFiwiwiwiwAASiKJRUoiwAAASiASiAgICEEsEBAQEACABSAIAAAAAAWCgAqUAWUAoPYrWBYlAUChSKJQCIogEokpZKJKICLAAAAFAAASiAASwAQIBLCEEsICEAIBAAEAlILAAAWCoKABZQBYKBYKCg9pbgAqgCgAAIAAAgIsVLBLCLACLAAAAAAAFAgAICLBLBLCAksICEBBLAAQAIgFAAAAAAqUAWUAWUAoAPeLhSgBQACgCAIogEsEogWSiASwASiKIohSKIogAVLABLBLBLBLCAksJLBLBAQAIASAAUAQqCgAAAoFgoFlAKlAPeXWAFlABQAAIAASwAgIsWAiwAgAAAAAAEsAUCASwSwSwSwhBLCSwQIIgpACEsAAIFAAAoAAKACpQUAoCj3jWBQABQAAACAAIsEoksVKJKIABAAAAAAEAAWLBLBLBLBLCSwhBAksBIEAECwBAAAFAAWCgAWUAqUWUAoAPoDWFABQAAUAAIoghLACBYCASwASiAAAAAAgAEFSwSwSwQJLCSwhBLBLIQAIACAAABQAFlAAFABQWUAoKD3jWKAUAAFAAAAEsgCLBLFSwSiSiAAiwAFIAACLACBUsEsEsIQRBAksEsIIgEsoASAAAAAUBZQABZQCgWUFFlAPfZdYAAoAFlAAAgACAAiwgWAgIsAAIogAAAEACASxUBEEsJLCSwSwgIIgEABLAAAAFAAWUAAWUFAFBZRZQD3jWKACgAqUAAACAAIBKJLFSwSwSwAASiLAAACASwAgIQSxZLCEEsECAgICAAiyAAAAAUBQAFAFlAKBQWUA941igAoAKlAABSCAAEsAIFksEogIAACLAAACASwEBBLBAksJLFQICSwEAIABKiAAAAAWVQAKACgWUWUAoKg941igAoAKlAAABSCAAICLCBYCASwAAiwAASwASwSwSwSwksECSxYCEEsEogIsABIAAAAFAAFFAKBQBQFBQD3DWKlAFlAFgoAAFgCAAIBLBBYCASiAASiAAiwAQEsECAksIQSxYCSiSiAgEogEolIiiAKAAFAAoBVAUAoFAD3DWFgoFgoAKAAAAIAAQEsEsWASwAgAEsAAEsAIBLCAhBLCSwSxYCAgIBLACLAAAIAAAKAFABQFAVQFBQD2pdYAqUAqUAWCgACAAAIBLBLFSwSwAgAIAABLACAQICSwSwksEsICLCLBLFAiwAiiLAsCoiiUAFAUlAUAFBVAUQD2DWVlAKlAKABYKIAAAAgEsEsVLBLACAAgAAIAQAiwgJLBLCSwSwSwSwAgIsAIogAAAlFIoAWUAFABQBQWUFAPWNZWCgWCgWCiAKlAAAAIBLBLFSwSwAgAIAACLBLACAgJLBLCAkokogIsEogEogAAAgFAFJQAUABQBSCqAUAPWNZAqUAqUCKlAAKAABLABLBLFSwSwAgAEsAAEsAICAgJKJLCLCLCLBKIsIogIogAAgAFAFJQAAUBSUFABQFAPTZbkKWUAWCiFgoAALAAAAQEsVLBLACAASwAASwAgECLCSiSiSiAiwSwAiwAiiAACVKSKUAAolAAUAUAFAUAA9Ni5oAqpQCiAKlAAAAAAIBBUsEsAEsAAIABLACASwSwiwiwiwSiAiwSiLBKIsAAgFAAAAKIoAKJQFAFAUlAD0C5qUAWCgWCgAqUAAAAEAEsVLBKIBKIABLABLABLBKJKJKICLBKJKIsIogIoiwAACUAAAAoAAKJQFJQKABQDuLlYKACpQCpQACpQAAQsABLFSwAgAIAACAAiwSiAgIsEogIokogIogIoiwAACAAAUoigUiiKJQFJQKJQFAOwuQKlAFgoFgoAAFgqAAABASxQIABKIABLAISygIsEogIsEoiwSiAiiASiKIoiiCABSFWKJQAFIoAKABSUACjpYuaACgAUAFlAAAAAAAIBLFAgAEoggKCIAKgEogEogEogIogIoiiAiiKiKIoiiFIpZQAAKIolABQAFAAOhbkBZQABZQACpQAAAAAQASxQIAACCAAIABLAKiwASiLIAiqkqIoiiAAiiKIoiiKIolFAFIoiiUABSUABSKN0uQFlAAAKlAAKlAAAABABLFAgAAIIAASiAAiwASiAASqiogEoiiKIsAIoiiKAAACiKIpYoAAFIolAADtnti5wot1s5TtzMLABYKACoKlAAAIsAEsAWLAABLIAAAiiAAiiAAiiKIsAEoSiKIoiiAAAKIoiiKIoillAAAAoigAD18+3O55UOvTn2XHPrg4zeEAWCgAAWUAAAgAEogVLAABKiLAAACKIogAIoiiLAABKIoiiKIoiiKIoiiKIoiiKIpYoCAAAoUikij1YuLMwOvbhs3lFxnWUgFlAAAKgoAAEsAAIFSiAACAEogAAAEoiiKIogAAAIoiiKIoiiKIoiiKIoiiKIoiiKiUUKAABANs7uctlzqQ6IGdwwsFbMNjABsy0MgGjLUJKIoiiSwFXKiACAAAAAIoiiKIAAAAAAACKIoiiKIoiiKAAAIoiiKIolFSiKIpIovXl2ua0Oed5Vc9BdDnz7ci9MdA0k4TebXXHQZ6Q4yw1q6msTZeCrhu7lxn08l87Usa3Zeee+TgpGtaTk7DztxcqJt1OTtK883Imt05O2Tjp1OTrDi1CLSOg5zqOTrDm6YIAAAtMtDKwAKIsAIoiiKIoiliiLAEA105buezMWSBvls7slcenJN747OrEiSSuu+PQ7ZYOSDvrlub3jXJMC569OXSa6c98l4pbntrG5uN804FZ7WaZalXz43FyDrudC46K8k1mO67m8KOW27mZ3ZfNjebmdefoL03JfPd2uOeuEnL1eYw0MtDLQnXWjnO+ZfPj0crMavY5umzhz9PI5NDLQXtmOc6jzqWLAAKBAFzbOucgQbwO1403zBYN5gqC9OWjtzmQC9eOjrxuQDXTjo7cbhSE6dfP2l6cN8Qizrvh0jo5ZKlMrk79uPRdMw5YSu/Xzd5d8d+c9G+WjeuVjHHfKzXo83Q+j55yXreOkM7L5unIEKgtlPS0mo1Ty478Ll6fN6Sb1Lc+b1+OSAaz1jrnRnGka8ssAAAIqoCIsoFgoAFgqCgAAAAWCoKgsAABYLAAWABrNNZ1BrA6ZyAHbjTeIOrlZezkLkRrI6TCtdOVjXXz9VxnWUiwAbxte85l7OYcOmEnfh2O7Flx594sAbxo9OsWXXn7eUzKSAACgAMCxZQACpQAAAABYKgqCoKAAAAAAAABYNpTKwNDKwAAamzXPvwIAAoSwu8CgiwCBFqUAFJbCzWTKiAA6XkN87AABLAAADA1AipQABYKgqCoKlAAAAAAAAAAFgoAALrGi2dBddF4cvT5kgFDXWbVx75OE68kUEADWdZLc0sAAFSollL05+kmNKY6xebY4Z3iQACLAAACAAAwLAFgqUAAAAAAWCpQlAAAAAAACiUAAFlNejh2XesIvn7864zWUqU73ml6OdJi7s5zWQAUud5JYKaMlIsACwvs8fVbeeTvecOuHImbIAASwAAASwAA5iypQACoAAKgoAAAAKlAAAAAFAAAABUOu+FO7iO05jMBQAA1159jjneCAamjWO3JclS9ufoPJWjXH2eVc6mkvP1+Zc7xs1z7cTeUN89ZiAAASwAAASwAA5iwBYKgqCgAAWCpQAAACgAAAUAAAAAFlAAAAKAAU7due1xx78DFlTpuaW47Yl4dcdkt1DnrpV58PRk476aTHD05PPvYzy7yuE68oQAAAEsAAAIAADlYsqCoKgoAFgqCgAWCgAAWUAAFAAAABSFAAAAAKlAFg9GvNY7cEpZTtvz9F7884i9/Ls9LhT045F6OY6XnTVwMsE2xTPPWRAAAASwAAEAAAOSLKgoAAFgqUAWCgAAoAFlAAFlAAAACgAAAAABZQAAAABYKAABYKgtyNSAFAEAgAABAAAEAAAOIsAAAqCpQBZQACpQACgAoAKlAAABQAAAAAAABYKAAAAACpQgoAAAABAFACABAAABLAACKOIsEKgqUAAqUAWCgAqUAqCgWCgAoAAAKlAAAAAAAAKAAAAAAAAABYAAAUAAIAiwAAEAAACDiLAAAFgoAKlAFlAAKlAFgoKgoFgoAAAFgqCoKgqCgAAWCpQAAAAAAAAAAAFACAEAAACAAAQArihKgqCpQBYKlAKlAKlAAFlAFgqUWCpQCoKAAAAAABYKAABYKlAAAAAAAAAAUAAIQAAAEsAABAKA4BAAAKlAFgoAKACoKACpQACpQCoKACoKgoAAAAFgoAAAFgqCgAAAAAAABSAIAAASwAAAgoADzhAKgoAKlAKlAFlAAKAACoKACpQBYKlAAFgqCgAAAqCgAAAAAAAAAqCoKhbACAABAAAABLKAABPOiqIAWCgAqUWUAWUAUAAAAAKlAFgoAFgoAAFgoAAAFgqUAAAAAAAAAABQgABAAAAELACgIAE84oCgAqWAFlAKCilIAAEKgoAFgqCgAqUAAqUAAWCgAAAAqCoKAAAAAAAJQCCoAAABCoAAoBBACjy2WgFgqUAqUAoLZRVC0zNQgEAIAqUAAWCpQCpQACpQACoKgoAAAAAFlCCoKgoABFsIAAAAEAAAogsEAA26F+eLFgqUAqCgoFC6lLqbQ1FxNZJLCACAAKgoAFgoAKlAAKlAAAFgqUAAAAAAAAWCoLCUAAABAAAAQoAEIKlOzm1PHYloAKlAKlKlFlNazo3vGk1GVmWRELCAAKgoAKgoAKlAKlAAAKgoAAAFgoAAAAAAUAAIAAQAAAIAAKIQBrOzCPRx844dgKACpRYLYLZTVzTeudTeZBEWwCIqCpQACgAWUAAoAKlAAAAKgoAAAAAKgqCpQAAAAgsIABQEAABCgQBvGzkj1cOKXzdwFlAAKlFlFlLc00yNSCwAAgACpQBYKACpQBZQAABYKgoAAFgqUAAAAAAWCoKgsAAAAJUsAAEsAoABrOrnmj1ceA8vegAqUAWCgqUWCgACAFgqUAWCgAWUAWUAAAoAAAFgoAAAAKgoAAAAAAAAAAgFQAAEAAAg0TpjI9HLzjy91goAKABZQCiAFgqUAAWUAAqUAWCgAqUAAAWUAAAAoAAAAAKAAAAAAAAIAEAUAQAASwBNef0+Lvx7OD0cNDxe0BZQACpRYKBZYAAWCpQBYKABZQACgAAoAAAKAAABYKAAAAACgAAAAACACAFAAEAAEsANeH2eDtx2y7ceiXy+uoKCoKlFgoFlAipQACpQACgAWUAAoABQAABZQAAAACgAAAAWCpQFBAAgAACABQAEogAEsBTHg9ni6Z0LOjFxvbFNsjVyTSDSC2CoLYKCoipQCgAqUAWCgFAAFlAAAAKAAAACgAAAAUUAAIBAAAUBLAAAACAAAlmjy+Xvw6TSKl4XG+1407OVOt5VOrnToxTbFNsVNsjbNi3NKgtgoKhKCoKCpQCpQAUAAAoAAAAFlAAAAFAFACAAQAAAAFiwAAASwAAm86Pm4TpNA8N5M3teNXtrz09F89X03zj03z1fRfPo73hTveNOt5U6udToxTbFTbFk2xTbI2yNININIS2FqVAKgoAKlAAACgAAAApQAAgAEAAAAABQAIsAARLAIGa+amuig+TYkqDVwXd506XkO142XrrhTveFXvrz1fRrzVfTfNo9GvNT0a82k9DhU73hTu5U6udOl5jpedk6MF6MVN3A3cDbI0g0goSoKlAFgoAACgFBAlAFAAAQCKIsAAAUESiASyAHLr568Vzro0D49iSoKgtyNIKgtgqDTI3edXeuQ7XiO94F9F89PTfNY9N89PTfNT1XzU9N82l9GvNo9F4U7XjTs5WOt5U6XmOl503edN3A2yN2bZyuS3OlAAAqUACAKlAAAQAABLAFBAAEsgCKHi93zdOOs620g+OJAAKgoAFgqCoNIKgqUqCoNINMjd5l63jTteFO+vNY9V81X1Xy09d8mj13y1fVfLo9N81PTfNqXvrz6O1409nfz97xnn7eRrv05989MTpgjcTLQyoilgQAABYSoKAEJQQqUSwAACIsANfJ+r8jSWXag+QJAAAAKlAAAAFgqCgWUAWCoKlAAFgqDVwOl5F7XiO+vNY9OvKX168lPXrx0+x2+R1vL3+Xlym/per5XonT2TzWPXOGjs5F2502zVqWACiKJKTKQ26aTiZs0mzJEqCgACBEFIsHyPqfK0tmtAr5AkAAAAAoBSNQgAAKACgAAAWCgAAAAIKgqCoLcjdwOl5D0b8lX268KX6O/maPqX5lX6d+bqX6Wvnal+jfn7X33w6l9t8ej13y6PRONJeO5r6GsbvPyc3Jr2defZnn5vV4rOm+HouLneZnDG50rvDguDdxqyxmOfzvoeXTlrpa5Oqz4QQAAAABZS2US5AABQADXW/Xj4U72vO7ciAAWUAAAQBAAAACoKgqDSCoLcjSDVwXpeQ7686X1b8VX3a8Fj6L59X2dfnamvt7+JU92fHV+32+R3k93z75a9fp+Z6N8Pfz4TMvfw+rPo+ilk8fHXG30dvN6dccc+vnSZdJ1b63Xn5OqPx411AAAAApRboxnrkw2MNDNogFmj6v1MeiZ+Rz+r8qufj+t86a8woQoKgoBAQAAQAAAFgqCoKABYKgqC3NKgqDSCoLcjbJemuI7uFO+/KPY8lj1+n5mpr9Bv8/0j3cfKt+h7Pi97y+j5+XE9PXwdM9PqPI35fW8TPT88NbAAAAWaO3b3etn48+xg+Rn6vKX5892K8b1ZPO9MPK9HQ8nT62E+u7+c8/xevkj63g+j5pfjyzVIKgqDSCyQ0zQAAAAAAAAAAAABYKlAAFgqCoNIKgqDTNKgqDSDTI2xTpeQ7a86X1Xyj1PMXzi5AAAAdMdz9J6s+ljx53kzjpDlj0Q8vP15Xy69fU+d6fV6k4cPfyOnx/o/mDhvltr7kejN/MZ689JKIohQ0OawFAAAAAAAAAAABSLAAACoKgoAAFgqCpQQqUqCpoNEzZQRbAA5QKAAAC9+HZP13p8ve5+djweePsa+R0Pp352z2Ty7Pb38npr0+jHVPNJnN+L8btwupvNX7X0PmfWy/Meb6Hg1IpYsBTUsOc1AoiiLAAAAAAAAAC7z0Oc1kgAAAAAAFgqUAAAAA11x1Sbz3TzzrF5zqOTtzMNjyBVgoAFgvXls/V+nwetn8/5PoefN8ztm3FsTXTjT2+74vvuf02ucrHzvq/m835ULQX6n2/z/AOgzPi/J+98GoLRCoNRABZQACKIoijLUIoiiKIsBs1rfNOcRQAAACCoKgqUAqCgIKgoOm+Q16PJ1Os5rOt409HOYjbA8oUBYKABvGj73t+R7JMZqXDpa4z0aTyT3aPm+n07ufpufRX5L9L+VOUFEPZ+j/MfpMuX5r9X+YrgLUAAAQqUqCoKCpQBLAACKIonTG07cOnEyFAAASwAAAAqCgAAAAUFzS3I0yN65aNoTgFAAoAKlPV6fnbj6O/m7T6Ovn9D378XQ9m/N1s765aT0+jzpfm/F9HnrEsVA6/ovzX34+h+a/T/BPkktAAEAAAAKgqCoKgqCoLc0AWDWUECoKgAAAEFgqUAWCoKAAAACoKUvWbTmDzhQAKABZS2C2C3I6a5D1dvBU+p6fifWj7Hz/b+fThz1i2SwgL9j430I/R/N+hxj8pntx1QAIAAQqCoKgqAACwKgqCoKgsAAAAAAgAAAWCgAAWUAAAFHR0RJzDBcgAAqUAWUWUWCgAqU6fe+L97Dn8P1+HUsSksIB6fN0P1PXx++PzHg+78OshRAABLAAAAAAAAAAAAAAAAACAAAAAWCgAAAAWC7nUpyRhFqCAAAoAFlAKCpQBZuPZ9Tw7zfnczeRAQBVhPufZ/N/oY835r9b+ePnSy0CAAAgAAAAAAALLAAAAAAABAAAAAAAqUAAAAaz1LqZRzRQAIAUlAABZQBQApR2z3zr1eXv4JMjcBEsCliw9H6P8t92T63y/qedPyefZ47qAgAIAAAAAAAAAAAAAAAAQAAAAAAAAqUAAHQx1zRzuQAACLFWVAAAFAULoxdDPTPplnWzGs+Ttx3kLAIpJUWwR9H53Y/VdPF7pPj/D/V/nbfGsWLABKIAAAAAAAAAAAAAgoCAAAAAAAABZQAbL7b2ufD5/T5ZYFAEAKAAAAUAdM+uWdu/aXxT3E8XftteHP15l8HP6GdZ8M98TwT3w8M98rwz3DwT6W0+Q9njPr/AG/y36CT0/I+z5T8rj2+O6kogEogAAAAALAAAAAEAFAABLAABLABZQABZQaHve64xy6+Czjwsz0ASiAqCgAAAoBo6/R8/wBHGt9NaOc6q5uhOc6jjO8OM7q889A870Q4O+jn6NejWPm/nv1v5Y5fZ+J65f0983rk+T8L9Z8JfmLLUsAEsAAAAAAAAAAACCoAFlEsAAEsAAFABZo36+f1Erp4944+C887CUBAAAoAAFAUdefrj1+7z+vGtl1AAAAAIoiibz0s7ejl31nzflP1v5Wzxayzr7X2Py36CT1+D6HI/K8PtfHtwFiwSiAAAAAAAAAQAAAAAAAAIsAAWpQEdM9j0fS+X7Lnp8nfmEJoABAAAoAFlBQDX0fB9OX1+jHSKAAUlAAABKHbn3s69sa1jh+X/T/mbPBLM9L9b5HZP1XT5/uk8/w/0ngPzc78LUpYUksAAAAAAEAAAAAAAAAAAQBSwWUanZJuLGcZlsAAAQAAAtAABQV1i/S8Xtl+jrGwAUAAKIoAFNejj6dZ6Tpx1jj+X/S/ljzkzsD6H2/y/wBhPs8tak+J8j9T8a35ixqVACAAAAAASwAAAAAAAAAAEUAEtdCdcasc7zlQKlABAAAADQAhSgL7/J9TN4drD3dvJ6TQFlAFAABJI1rltfR6fP69435/T5dY8f5f9B+elxLJoB6POP0vt/PfZme/k9kX8x5P0PxLeEpYBLAAAAAAQAAAAAAAAABYogFaS7zpGWFQAAAAAAAANAFgAbPZ9Dj6caxx9fn1Hq8fez1XG5VlBQAUY3zjOWcb104dV93s8vs68Z5u/n3j4XyPd4JczWWghKNfW+N3T9T0+d9CTn8v7HA/Lc/rfKushQIAAAABLAAAAAAAAAFAAii6zUqQSwAAAAAAAAA//8QAAv/aAAwDAQACAAMAAAAhTM0UUsMiyODyEc5kxfdw9dgAE889JFDDCGOeO9ITI7q3znDPpBVc8IIKMHb/APV245nrqho41/cFPANHCEMMMMMMNI2kgkKfQmjrarD99swUTeBKHicOrl+hvqgwwggms884z3/4wxzz3zzzDGIVX0uEdQcLNamKI1cwUTZKNDNsptWYz+888ccbLDPOMsojnvssgg08/wDOhYSTtTRmlI/vzMc9uwADDDDTTDyWF3M9PPHHHGQ00EU013jLIIYoM8PP9tdv6BjDiMZvxTnHesM5rI45K4oG1G3EmkFTAASQHHHX30UEHHTzgCwbuPNerp5qr8cNtobCxyzwG13GEEFUwWVPeUcjzTzhsvsN/N+8Mf8Avf3bnaaemwgs2I84QsAxxBDC6Iz3jDC1lh9SnKq1mU8wIb3XXbuwhQwsOd/vvLTuWq+W6Wk4AcoAF9x1sSBEvM9gsZ8MlMFFWPPTXbbqqsQ088Md/wD/AP8A/v7K+GqWWioUAcwc95RFJBWWdm2WC29F9WX/AJw/+zrmlpkgvxwccc88488//wAJYL5ZaqigTgTkEE3nf4bAX320kEGUEs9taLuMPOZo6bYLO88888888NPyjS5RoqDSDwTkV3kE88pLQzzDAxjQjGCaLp6d+88NJqq7c8PPP/XDjTwhDQDhCiiQzSl2X3EX3PP5wwhDywhQjwwppaYbqIMPO9p5IvM+8MMAAADDSwCjSiiijxUGl2ATiMMcY4BDQDDQgRD1p6aLobzHP8vaaZctP/3zzzwwgDShQiCiizRVWXkTwE//AG6w0sA0oQsQoAYImicgMOPL3Kmmn1JBRxgQ088MQ8QooosUYZdZB9wMiCCCAQwsA0IUo0A0KmaM4wgDz/baaYN1NBBAAAAQ8oUoMsAsUotppZRFyOe++sMAQoAsAsUA6OwcwA8+/vD/ANhhNSdfffbfTSAPCKNFAKFKJRdYRaT/AK4IIDzwjSjSjRDxaATgTwAIPO9dkjglU1HHHnHH0hShRRQCgDxVlkGkf+IIY4ADTwCRClVjzhyhTgAQ44Neu/a7UH300EEEFXwDxRRQSwBQmul0NesP777wADQDQjlQDETgTyBzzz64PdNZpi0F32U10EX0jRRRRDywj2eft98f/wD6+8sA8oUIJUV90gcgU8gAAwvXLuusVJR9999tB9BcUUUIAwsRTfj/AK/8wwtvKAPIFIaVVQfAOBPOAADCFq91lEGfQdfefeQdYeFNELDCPAK+1eZ/wwwxHKAPKFAKWaTKAPEPKAFPvi/y46qKNbQcffeQXQaUGDEIPEKKqnt1/wAsMJTygDyhhWGmjzwDxTwgDzz74P8ATWWEV9JR199B9Vppt08sQIooo8o3vDDBc8k84UodUgoM8A8Q8IU84++rXrqcQI9hB19pB5VllVJR8IoUEo8AS/LDFdoU8A8AooUEM8A8A0IU884/vDrnoooVpB19pVpVVVR9JUosUQo0IG++/wDeRXYDMGFJOOANCFKNLEPPLPvw/wAcijxH0FH2nUklVmnG1CjjAjxCxiLL7MF2F3EyBhwSTxCxCwDwBDT3/wDDfXQ8UBtBV9BVBpV5tB9AooooUs08ICCGc1dhNhZMg4YAI0I0I0sARz/jD/XUEUh9B99pVBpZp9B1BthlUI0Iw00yyiclZlZF5YUlN8o8I8A0sDDDDD/XUUUJ9B99B9Fphp1B9VVVJt1Nx9NNO6yEoMZF5FlpZBUsQsUsT/LDDDD/AF1FFAfQfaQdVaKKdRaWWbdWbUbTTTzjupHIDOXZ8VZfQPCPCPy0/wAMMNftdZRQn0FW0FUCiynlWWWVmXE3E0088Y5qAzyBmWU2XkGpShSxe8Pf9/8A/DfWUUo9JV9AUIoch5ZZplVN1JxNNOf+GeygM4dh9l5d9uC8I0D3LDT/AO4w73lFKFbAPCFKPFBJZdWaZWZUdTTzjjjjsMDEJOBYWZTPihrkrw9ywwwwx61FEKEPAFPFKFEGGKZUGJcTcZTTTihjjsDDMJGJUTODNrgvityw/wAsMMd+tZQjwDwADwjRCizRi3FgzA3GU008887DQgBCRixCTgAL4pa5O8Nf+8//APDdUA8AQsAUuUs0Qt1YlZMwMZxBBPPLawsc4wMwM4gMwuS+C+jXrD3/AP8A/wDD9UA8gQ+IC+AsQsRNYswMwgN5zjzDLykMMwws8gM4EM6CqC+qT/LT3/7jH9UA8gA++C+qWI0NQ2OweyyPP/zzzz9sMIwwkM4kM4wiGqCS+Lz/ACw4wwx61IPKAPvgkritjkvjkMrmsshjvvfTTTQcdPDDGMJHPPlkxwvrgtzywww961SNCAFvigsrgsvisstjnnssojDTUUUcccIDDDMMAAO4gONvrglv6www/wClGhSwBLb4oLLK4rLLb45rLLLLDHHHHHHHDAIY7zjHGHq0Sv6oLL48MMNe0GxDygIJL6645LLLK4447zzLLPHHHHH33XHOYQww03u7acL7LwrosMsNPWlWjjz444447rII7644444zzzzTDDgU033HHGBDDHEu8NuNNzPG1o3qr3eewZcoucI44Boe+oToY5raI444Q4Qwww333nHDDS00twtWTkDodNXAIjFcggyXqlTr59E7otByryMAWIIIbENDXdUEFYvra4w01oLaYkII47rUCFHEHAkONGuvO/FFjXzlsTbXHOqY6JrSVm5338y4c8sPH07K4Ja44IJLLCQwxjAEEEEHH0kFEGE2pq++mMIfd+pyhnmvmDGiJP8A/wDSQdqtviktuut7zTTAAAAQQQQNLKjAHPPITcRcVbYZQxmsvps7iEQdSQVfbQQPilvrjjzyQQcffPPPffbQAPigWAfohFNYXfXSXfSEqnycAJyQdbQQffTQkrigss8ffbSSQcfPPPfcYAvqtH9PngjkdfOEbfeefQceYRfrAVfTQVeQfissjv8A00EHH30kHzzzyAAIL6Z2EF6ILRoLyWAEu/iXiyziL7gFX2kFWkFLa480EHW0kFH30ADzyAIIJ76oJb74IJJTigQ6dfr5e8flJ74oBX3EH2kG4401HG03HW0FH2gDzgAIY7roJb774oIIczrR4YNjqSiMup76oJT0EX2kE44FHW0nG0HX0FWhDygIL77III5776oIJTzzzADCEEX3CAT7oIBykEX0ADKDH00nWkHUlH1HwDwgJ77oII7777764JDTzzwgwAEEEEXzyIIb6IBTILIIQwjH0nGwDwnExCxDwDb74oIKILLL74IADTzzzzz2333zygILaoIT4II7LLDCxDQjCgDQjS5IxCwLb7yww444IL64oADDTzzz3332wAIJ76IL7oJ7w444gCwrYrYpLarK5q5rQwDDDTTbywLTywgAAAADHnHGgAAJ77oJb4IbgDLLL4pC5L4L45L4pL4rYxDQwwAADTywDTzywwAEEEEEEEAz77oJb6ILyDDL45LYpYpapb4JLI4LYpK4hDSwwADTwwBDTzz3333000xz7qIb77IJSgAEwLa4L5qpapaIIILb4pKYLawDTywADTywgDDHHH3X333jLIJ77qIZ7iDz3TwDQrapZYSZ4oY4JK45LYrb4hDywADDzw00EEEEEFGII4777IY77AB3/wDowsI0I0UIkYcoc++KS2uK+KS+IR9NMAA0999pNNNBBEe++yCG+6AMdhD+wkY0M0Q0k/GuAgCC2OC2sA0KW/LDR9tIABRx9999tNe+iCCe+yCc4BNfOsQ0I0YI8CHGO8e2+OCyOQ8I0L3/APzwcffbQQUccccOAAggnvggvogDfe8QPAPCJBAFP89ADjitvw961PANyww89TQQccffTTSQQQQTX/8AoJ6oJz2Fc8hShDxijBgxhDALL4pe8PcjSpPf+89PH20kEFH332001332EJb6JbygBs3wDQhCxRizDDL64ra5P+tOkH78MPf+8FH3300FH3333332kMJ7oJ7qI5ELSxDQDTjwL64oLaoL4pO8P0kHf+sFX30EFHH30EEHHHnGEMMf4ob6Jb/DADyhDwixSpLa4rK5L6sPcPX0FH30FH320EEF330EEEEEEMM/6oIbwhSy/wDYEwMYsQo2Lz/KS+C3rD/D15BB9pBBV99BBBd9tJABBDDDD/8AvgEPKFOFc3OFJVBIHJUR2/w/yl70+w/aQXffQQdffQQXffYAAAgwwwglvrAAPKAOADAfHLXUWHXWqnpsj8z8y/y3eQffQQRffaQTffYQAAvvzywwwtPPCFLAILst+r3hZOdZLHUOW20htlh5m9TQfSQUfcQRffcACHvv/wD/AP8A+wgANPCVQ+egoUTOBQq047mZKVfcUJO1u5ZFNBMRSdbQdfcQBfvugggw89//AEwlH1e/9oKFHWwDyFV0iUUTx7NcPqgH16qeOmTS1mgDzwgDL4oII8MMNfz30levP0Iz3301DCVz0FXkF0FUwjn9JNsBlU6uO0zLb88MA03zy0wIMsUlX30vcdt30FHHX0gFXzywxClGU0nHW320xCsaMd6OTNkz3jv/ADw91+pYp0wwiH7XD79BJBB19BcwQ88E9FR99tB088wNBBVtzlZGJEe/ZS7h5wYkg5YLXy2MG9m9VpBBB9pUsAU4U8Kw199oU84YEwwyyCW+DXtRA9yozVsMcGWdLPKeHHNwCBBBBB9BcVoQg8kXI2BVwEwkkoAc88+uMOCygB9rD/BFtQMZ0yCJCikORCBBBBBpNVuNxhd5we/QMAUEMJ888wAwQ088888sLjznP9BV9JB9TfZFPCxBBBBVwO6eCImb51F44c4YwhRc8sABBAAAAQ88889NNBRzvNJF5D+fvOe+dBBB9V0tiqpAHzsgg5wkAA0U408sBBBAAABuiqCAUyy+uKzzxx/XDeXGz9tBBtEhL817Qcg7Wd/4kc0g4sM8sM04ww0c+OCCDDPPPb3OCMMAiq1cey99tB9p8GgJg9E0bHrJocwAEYA8wYiUIAwgT/qAABV9hBxNz+888iJAmuD999BVZCLZG8N36DbZ1soAE8wwwI88888owgAcMN99pFtJRtNBx0+8OQrP999BVpFk8QAIxWD7DH+qA8gEMMMM88cMMMMc999hBN9x1tB19pAQQwzL+V99JFp4sQ8cHOmTrTdB+EoAU8888x4885xxxBBBBB99BBVtBR999tyHUN999BFp1QI07hTnn+X2ueIgAA89919pBhBBBBBBBBd9hBBB1JBB99o/Kxx95hBdpVh8BEnSrXyCeniqMA999hBRlBBhBBBBBBF99BBBBB9JBByqwBBB0pBFdh5Zt5jAGCzmftnAk0IQ95BBBVpBBBBBBNBN99BBBBBVpBHGbBBF9BBF95dwQjdCUT+UYibHPQQoQ9pBBBVJBBBBF9hBBV9BV9pBBpBzd6BR9NBBd9F9BKc99XZ4kKNSqrSuUIU9JBBBBBBBBBNN9pV9hV99hBZewspBd99B99hZLPZBNPvP6ChW8vrSgK0Q89pBBBBBBd9999999B198IF+FrfpBd99d9pZFg9A+6iGGOeCiRW2mqvS4U99JBBBd999999999BF80opZKxxBF999hNdh3qKC6COyyCSClNH72/kqkI999JBBV999999995BE89RtCdJBF9999V/hRH5qCqWiG6Ts40yfrX36IY8V99pBBF99999999hAw8x7+991999999BzDTGopqq6G6DZECcH1DTdT/FoA89pBBV999d51BBAAAwPi19tBV9999N/8QAAv/aAAwDAQACAAMAAAAQF26OCSgTOCVm4oIBECEBE8BV5R98IUzzyX5pwD3p75VsB1FtrHjX/wAdMgnpfS/SMBcvG5YZbT1ilknnuoksssokc175gnIMfeGLvPHKRMAz4wLEJnjI56m83qgz/vs6wgvr0rDZDCMvLeecul4x56QmI+Ug5axDwgyc7x2lFTBvimabxy09/fSXHPDCQ87w5z8+xwk8fcaxQH7sJUj2hauQmEY7ikkIgxxsjqZZV14w3ffaVMQTeccbWMvjm9/sy8/21R+EncBGtx6dZPJlsSFCNAHOJvYtNFFI16sBHki889//AMcPMMYoTlk+4bL8KYzxiOWEWyy5pIbfwBwBHE1wFAktuaVtu2P8kW2lGGVAwbJXG1XUDDgxIstSZ4JNM/wjFPgRv/nvenpk/wDuwRpS47/hEFmqu2btYdNVjQiSTnb6eeo+EAOnrLTDmxdZkdnc9aFoGjAMgRwUtcweE04LH9dlJBxg+6+PDbHiqu+U0c+z7bvf6nh15xxEaX7ddclJN4f+lP7r+SGm7LPqKIwwzzzjzjPBsAqoAeAi3nHjG/DB1rypna+8sYw0IDja6LnSmP722rTvPifzzzxxxxtRuO2YWxgbfbrn+nZlxPP4k7TPB9BBRR+lT3T/AMpn872vjyxgy98/V4uhitmprrmhwz530Ch4SZcTzwEvu5cYeaSVTa8ztm25zj830ly5o9UfTbjjispkivrgkwx1+KcSUJJG4x1LMp/0xXWaZcKhjhnn3cAz55t9xJUbSwhjistgpnhoiqg504vTRRIOSw+tLur026zRbdz/ABBoaSUHfIe+YINDfctPOJLa4rLqrpZ44fs85l2GEwx7rLDOMePV0mGt/wDQSqqUJxlKyPT8jzrn7/vOOOKSuWWGa6SHr7ORRNthOuSywmPRth1Fxl/zeWUEQdNPPbvrkYTnn/PPPbH72qqgeiCWDrrMtdZBxPiS+0+DxJZ5JpdH/Ok88cdBHKz7XzmXmHzf7z7zzP2eUCW2WB/XgNNh1n7ayENS/Z11tFg4PP8AICKGDec87nz+YOai/wAuM8/88cqqoL65q1OshPVmtNfP7DT4L11Fl1ClXLhhhT2E329u6NuzHfss8NvOP8+uaL754xG1lQ8+d9uf8EQDKzxXmk2D0g4ySSWl2EEnFp+Npnt+dM88MNO+usr77pjzwWQZ4rtOs3/4harwWGnQDzz5zRBkXkX3GVced49vaO/f3m0evcu5J6aQwhBXK7Q0+u0/HqKjxWm1XTAAGDRSVWn2ksua6cc08/dOvH32XtuvcY56RRCSQNN8revfsCoazwS3EiSgEFTzQFUn0X38uq5uwB96rVHX0Ouv9NOdrKyQBAAGlHZP/wBni2wA4JpkN1tz0UUFVJpd5/8A1lnztu46jwdfVY71zz/250GKPLAKKU6tve56qFBFHTSbWTVFVVXWaffefkqv8yjnwlYdfV91w/8AufcujyTzhTSAf8sANtOWRTCAnFlHNgnnkm2XHW38qutN76tIgFGlPfd/M7o+UTxhiShhjSPP/A6eEVXDTzVhACSQUXVVG1nDoKssMaoOpilUn1P/APDum3VUoME8UQ8I0PP5nylh1lxUkYwOIYIRJZlVsODfjpTqSDOop9BBTq+H/WXdVZ1xMkk04kEC3tn6ohxZ9gMxzQ5VZV1JtX//AP463ai45KKfcba7ktu2FVQSXQWbafTeccilHj8+CGXeaYQ4JbbYZZlyx/8AMOte4c/qin1WmH4P9N9M3HVm1Fl132kNLwiK8NNgXNWmk1RU1VlJu/cMMNedNwp+AmkFGkCsdupInHHX1Gmm32GMMpagZY6Wj3HFlkGqmGm2Kdcv9/8Az7LgC1VswUItVj/L0Rw0MxFhltppBCTyYmEuTdEEd9dE8GXVddSbL3vTnfj7IS0VERJt1VFpLRwwkQM1VBdF5ziCCC+S+G15JYlAg/2f7vnm3bLX/wDsx1wgulUSaVSXXReccTECVVKKbVYSQhikvBgvEIabJFXQyr9w32m/0y04x31QAoCQabSbZYeTeZUSINaaaPXfcSxzfAumMIKfddaXT1ky675pl687z/8AvssKgnlFG1Vt1GUliTVQCmm1SjHH/wD7oWiuI8AVVJt1Bum33T26r3LDzzDhrGqodZL1LLp5ZZQ4BJpptRo1PbDz7QqC+AcgMFRZAC6WDXDrG2LvLDHfFrOqodhvDr/XHl14Znjp77DKCyvPPNTiO6AMocJhwY+iSPfvXaG3L/f/AKx3ViCFafyrkmx542z43Sz37w5z8c8zzz83+MBPKUaJjs6wbdw512jm/wDOPf1eKDUFcLYrJu/u+f8AjHvTTvLR/wDvo44wffLAIPBPDPt4bbJw7160Kx3wfV0xFEPEtitjuoyx84xzvlv/AGEkMIINPX33zw4pYwjEEJyXgxeNE1U4OMNXOtjihT4pI55qJ7IIJ74ADLP33z77/wD9xx59/qIAwxxL6lg/Nt/9dCMYkRnBVAw8O+yyCCyCy+Oe++IAOzzz7/8AdSAAcfffbHOOcaEEGN1NbZtuQr6I9mZMPbjZAjsKGrPRD4MLABHPAVPyTzxxQMMBQRABHcQ4gFgMvwxDAfxPwfIqLLKnCentGquym2VEXRBhYAAB+v7jiuBJ0IhnvMQfgtmhmPkQTZs/r/rSBvmDeg492o/BwiLnrVNYBFvgxB2r+FaH5SEwxz8TVhpsqons85ff6ww17/r377jtNABPOf2gkx9Qzo57yLNMvklEVdgezzydcSqitipm99+JDjj0888s81vy51c873/5lzeUcTZUSxqjgp/uf/rcdQVbUfVNnusozzLG88z0s9//AL/+4PdX07R72W9sktgDG122Rqps1gxjYvVH0H0nEK6ZvMMA8PO8svc7P8/77KN0HjSehU/b9q4EHG0lG0UXwZV1VOpenH1WU38sd8PHMfPc9P8ALyDD/wD4wwfV5k58/ovSz7/5q+KVUh+Mewe8Zyl61aVVQb257Ps8SYSVb09g/wAPeMU12FSpaob4JfmTC8Xhzmhy/F+A76vUNas0G9UGMX76P2E0VmVG9at8dsM3ndroapLb4pLxv+kCuMkITvbOEF8tcFcq8etYL/3Kfmds2HEndPqu9es30N/B77KJL6oLypb++PPe67sOpKTob8N/boaL8M197d/tuNZpq9cZNMcvWEfsT7IIILb64K4sNP8ALPDCTzDH4AfzFpdDXNpzBHHbG2aOvXTaOPnnn3TJ3/KQ+e+OOC2AS3LDH/3/APr/APvIBTsPdekfnuM+8kM+cNtt+vftsuHUeefElH644wwxD4Cwhf8APLDDDCzzjQ8iDfrdB9Fjf9PPFL/D9dZZLFZ5FtthpzPyOuKLJXvAKWuLz3//APzhjz1uIAn6xe16+x5Pgyz0yb5Z1tkjpkmpMmiB4uhjst/y171y897z04gs8898QDPshul8noqHjv8AM6b9vJqqqp4KZ4dNpKSBqJq48P8ALXP3vLD3+/8A89TTTEMhmpvsjslFIgzc2psljooqrpjlui92/wC/Bi5ItO8P8v8AvLzPOPPDJBxhEOOye6mame0I+/Z90IaCi2OYKq2GOTvnPn9ZJ1bnTvT3Pz/OPDT/AP8A/wBtSyuO6yO2OyMwbBz5Fk4YYYAkcuycYy2bn7n9VZn1buSCPT/bSz3rPP8A8YRHusjuhqhsDG3/AHAWmzhxwTSY87BDjLNsfVmdNtmvRnW/KYvPa8/PvPGU1IJ77J6I7JATE8s6SRhBgxDjwNqQRJrN/P8ANn377YLxxNzPTyvDTjPNNME86yCei+i6ewNznD20UQYMgwKJZsYuP7b2SIgrXXcJx3N7PT3PPz3NNJxxBBNbjGKe2qcBbi9KgokQMwokQEYlzP3fqvXIbLpgJ1tPJPTvLD3vDR1tNNdxhdCWqaW4U8zO0QYYsEgJ1RhPzvbLHGSrsq2R8A1JRtTvDT3PTvBBxx5hBRzCaGqeGaOL9YkE8QYs1XTnL3Lr3XLvH1TK2I0o3rz/AA97zw9wdfTTRTXcwx6thqnFAfTMEKJFHAYY5y7yzx516l3xW9w7w/grw9709/YQdQQffffQwz+tOBKtlkgjqi1QLJJIWyhki791yq/1xS+w/wAesNetf8N32EW0kT338sMP8oD5KoZZDw/lwK69kWWDQ+/fZJuq89NVOveJf9P8tf8AF9hF9gEc+/8A7zglrEvirFALFABoXHiiNPdN89/llx13213d+1w/w3+w36xcQRYQPPig89/7yNvitFOCKDAohLbFk2jkcHWUK/p00rmyqe398297x8x+RTcFNIhv/wD+8Efw4qYiUW9dnOP+CjiOezSDqOp+57gwdZ9Ie9bJMvtufUn3HDkY7oIIcPPc0vKVG19MpUGOdi/9eKqeqpHRgfWHUSeyT0Xxy4NAWGn0HUjAbILL7P8APLV+rBlXHz219xx0OjfqneSr7HmWLm7QPS0NCipridKFzktBNCP+LyvPAxJHLX9p3jbG0w9tN7+L2qD3vPvinqX7Gbuefuxn2At4XtYbi81OUgCbLeN4yOoAS3nnL/N9159J+WDjvT/TWSvT/uWL/wC64jjqtwGiBrsVVuv9AkY8PaWALryMhGqaAYVedfUfCZ868793vYg3+68xz56w0cT6dVKLs7lNZkyWu50XjPyQSzIytjPffQfQWLUG6423gexMpk3wgx9w2888YT3cUb3lqHlU890gSLXggEPNj+8QUQQfQLUQ2ZYLocBshyz+0lzt/wAM/wDPvLDDzzzv4RXpVfWqeK+WU0+ZmFBBBBBp0/PERxFqsBxyMfDvbg+jDT/iCX//AP7x4ww8hjsonJH+9yhF77QFPXQQVVVpWOPV7Oe0on/ekmuq/wDec9M447//APucBV9/r99xn5MNOew63Hu3z9tBRFAwPWb4PkzOo/t2WuyOuSi2eq/HLDH7Gk9pQ4NNcoaHBPPzWSEp2/d9tBB4DKk9alp+Kl3CeKO626eG+KQSiP8Ak9csf6wl43931zMc8/8AGrekz0EH0Gk1yXeRVoxIp0Fg5boaM8/8cIMMP6rKKNM87uNce8uef/IYvHc0cLMEX0GmlSFVST4eb6c/5RSLtsc88sPPNM8//wDrCCCf7vrPbnTLzjznnPx6NpBdJRhh1l1ZLDfmXEk0pvXDX/7DDOnDDGOOO/8A/wDMPsP/APrn3vTyymZiPOBx9B5BclBJjKBWtOp56UjfjDvCCKCW+eW+/wC988w343w09yy8/wAMIseU/wDF5hdhJ9kVU6vEBFw0DVMl7L+uCf8A72//AOsMMMMMMf8Ar/jDD3TL3/Js/wC88tLRWddVRbStqiDM5DeRQEo50+p//wDOd7/uMMMM8M/8v8MMNeuvfjoLoMf8E1kH2G85phAXVOWwfqfY7t9v5f8APLXanDDDH/jDDXrrX/rD/r+zU/rT/Dt9hFZYQuQVTvMdVAKo90KwP3XC3/P/AIwwwwwzz/616y1//wCPeNrA1et/8/0EWXCGf9/LBaKf82hVFsdOSP8AvCX/AKwwww3/AP8A/wD/AP8Arr3/APiu7UHgF43/APO002FjXVNHuMssNeY+36sb511t8oPf+sN//wD/AP8A/wDDDj/H+2uC0mOPzH/HDlhl1WdBdTf3S2OO9qRvDhj1cmn+CD3/AI1//wD/ADzzDDH/ABvv6nAk24x//wAMOk+WyyELyuoJoylpKUrcPad6BIt76tessdMMMMMMMN+rL7pVDsEvNf8AzT/RbHSVXte4SaaT/OgCslPbvaPuXr/CX/rX7DDjHL//AOggtgIdqUf6w8408v/EAC0RAAICAQMEAQMDBQEBAAAAAAABAhEQAxIwICExUEAyQVEEE4AFImBhcXCQ/9oACAECAQE/APt1rDY8UJdFfFuh6iFqqxO+mxrh3/6HivmvobNxaJyt0mbP9kNOVXRpt48Iu3iHkfA/Q/cYvAx4Q23bSE3H6iM4KBFYl4KoUbIKkPo7dDNq+exI29yhm02G0alFkk5LwQ02JZpezorgorFFFYoor4lFZoororpoooooooooor4KHxUViiuCisViudllobSNyHNC1F0Pz0Lir0Oo+xbF3aHK2N98RVseLw/LKKxRWKK9NqJuR3RskkyMPybGbWQVX0/f19LhYoU/b3/Cp/44/wCNL/jU/wD4OvDYn7ZvDF7h/wCY3n7YYsfcl2w32IvDYnhurIyvFid9FUsp3i/noYll93iS7EViQsT8EFiRFZXk1H4WJ9omn4H4ZDDLe5l4XjosUsqNseb5KEumuliWGhLDQulIlG0RQ1YlWVCrZXU7dijmMkosX3wxkfPoKKxQkUVwsoWH1L0zXwmvRX0WWLjfaLKpLL9G+msLjatDy/R0UV0ofnp8Y83lD9bYspjG7oUhMUhSEN+sZQsNCRQ0JFFFZXtq53/5VX8KKK9bcvxwrL9av08mk64Vl+sXlEYy2x/57iHfUgvyxR7L3H6WO7Xh/wBEvcfoFeuivcf0eKc9Rv8AB+3D3H9M1FCM3+Wfvr8+40HUEb37jTVQXuV2WKKKK9nBXJC6KxRRRtKKzRRWKKK9JpK5rF8dFYorFFFYoor0Gh9fxKKKKKxRWaHEhE1I1WLLLLLLxZZfLofd/Lo2m0opkTV7saKfBZZuNxfFpeBeh2o2I2GwcBwNo0UNFDuxeMLGnDczUjTxeEhohIUz9znv41IpGxH7SHpD0mftM/bZsNrFE0Ek2a3eRP6XhGnE1YJKyP1I2P8AJtfPVklUUL5lI2o2oqhqyWlaof6d2KD/AAR7GpLcqIx7obVG7lsl4II1HZF9/R0UUjabDZ110UJCijV8pCfYl4ELx61YUixvCETdyI+EMRHx66+wmWWWJjdQYlhj+pkPHwq5H0J9hcbfRQkSfahLM1/cQ+Chv5jibShIQxd30T8pkfPpq5dSVI0+/RqLsIXpEN8urK5JGn9PQ1aYiPj0aHyt0L+6YvHS/JHz6R8upLsaC79TQvQ1zzdIu2aapdTWF6CMaRLzxzkkiM7LJdxREyzebixKyh+gjEbobt8epLdISpddiIkh4XzYU50OkiT45uosgvvwx8kSXhDGqwn8tEe00TlfJqeCKpcMEIl9KxQxfKSw3yN0N2+KCES8LLwn8lDfLqy+xHglMU+5pd1iXQ8X8i+Vsb3TI9eq6iObsU2fpnccPz0NfJvj/8QANBEAAgIABAUEAQMCBQUAAAAAAAECEQMQEiEEIDAxUAUTQFFBBjJhFHEiIzNSkEJgcICR/9oACAEDAQE/AE+Zl5RW9i5OIwvchRw2D7fWsvoNpK2x8Xg/7iGPCf7RNPNdNK2ULO+tZZZZZZfQSKzc0j3YixF9n6m9ah6fgxV7y7Ih+pZzxFHfd0cAlhcNhKStuKbFJe60vrJMS2KJtJC7ZrlT35L+HfRQuwhvck6TY5Nssg/yfrTGxsf1O3eiMagfpn098Z6xw0ZXohLXL+yOyODTlGWK/wDqdr+2UdmajUS3F0dXwLyssvpocjVSymm4tHss9hkcOkz1j0H+pxW3Gz0f0efp/EKcYbPuSbxYaFGk+7IQUYpLkvyTimaV9CXTssvO+nXwrLL5bLLzvKyyy+okUUV82y+sjSzSymUxRNPIuVcr8IuxDvlvyN7Z0JiWxqNWVllll+GiWaixMsbvkRdQYnsWXlflHN6a/wDdNf8AZy/5ul/5Ury7yQ/LPJeXvJeYWSyY+xh27by/BG3lgwUpJUcRCMZUsoRtpGNhqDVZQhqkl9mNg+26ybSVshNTVrmUW2kieHKDprJp/KoSyWTyiqVZPc7LLh5xUrZiyuTeWA1rjZxE7m8uES9xfwcTLVNvLHb0MwY6cLNLYS7vLg46seP8HGSTxZURVuJi91khxisNOt2UNDXJGNkoVklfK2o9yLTV9O+VDeSdF5J0NlkZNdiUryaTVMulReSzwcWUG2icnJkXRKV//BvcTJzTUUXk3vyRpST+ick6/hDQhol3WSOK1PSo/dswouOFv8hdCy3kmXZqZqedll8iLLGxd8nu8kOKe5J7JeFXw78Cith5oofTgrkd28qXhIjew87LQ+/Tg6Ytiy/CJmovmWSJqmslu8mqrNeOodZRpNE6bEhR3Y4ocUOA0UV43UN5JjkKQpI1Jll5Wi0P/gMvzOmP35l48U2r6T8fJ/4nu+/mJ7Ql/Yb3fmMZ1hSL8xxbrC+TXgPWcScIYWn7Z/V4vmPUcF4so1+Ef0T+vMTSbNEfo0Gk0mllFeSeWw0jSaDQaD2zQaDSaSivGrEFiCmjUhSQmjYpGk0GgeGOJRRRRRRXg325dTRrYpsWILFoWMLFQsRGuJqQ2isqyoooo0mk0lFfNfbpWamKTNbPcZ7hrFM1GpF81Gk0mgcDSOkyNMooor4j+FbLYpM1msUhTNRqFI1CllSOMxHHEkkcA/cjJ/yOKNKZoRoNBoNBoNJpNLKK6b+RZbLZqZrFiHuHuHFYU54kmj0+HtYTT7tmpZ0UJFGkcEaEPDR7Ww4bntjg0VnRXJXgU2j3GLEFiCxULFX2LEX2LERqRaKQkiWn2x1ZGC0omqkxRtHGYvtRRw2N7jo0bGhmhkthbmkext99ds1fFtixJIWPMXEsXEi4iJ78Wqs1QPdX2N27E6R6spSUaR6dCSkrRtQxLY43EcZtI9PxZYrabMd6MKT+kYnGzkLiJf7n1rJS2ZCVsXy7ZqZrke4yUlJUyGmPYjjHuJnuI4vDc5Nr8np+D7WI2cTc8GUV+ULhMVzqheny5mx4gpms1FllmqyfYwk92Pmr5tssUmj3WKSvse8vrmm6TF2ztkWOQ22R7jWqaQkNbC5V86y+jiftYu1Cg2jTL6EmIboZHaLbMNbXl+Bcq6rfwJt5WWXzyWzEiPbLYcUYkKaKPwlmhfn4LZ3fwGrZpGiityuZ5LNsnuRQnc80fn4LEviV0KzbHk9omGvzmh+GsvpNJjgKBLvQuSQt14RiRXUVVY+V9iD8G2IS6lEo0udbMXgu4l1YR3MXmkMi7XgGyxLqwVs2SJu3zNDIunXz26J4tsw94rpwjY0iiFIkxooorJuhOx5J2vmt0YmJeyIxcmQVKunBVGyyy+ZpEzCe7RJZQbsv5mO2oWRTbMOCiunGNsbpV0WTe5hv/Mr+Mns8ou/ltmKtUaMPDpdSGw3fRxGSZh/6mUleV07E7XyW6O4l1EVXSxGSZhfvzkqdncg62+Q2MiurBDL51CxwMXYkYHd5tWjs6yjK/kJdaKqJLnirZCCocFRxH7ssBVHkmrVkWdiLv41dP//EAC4QAAEDAwIFBQACAwADAAAAAAABAhEDEBIhMQQTIDBgIjJAQVAzQgUjUXCwwP/aAAgBAQABPwKpsM7Cjduh3Q4op9ie/oVRuw5dLpb7MiTIyJ1tJJIq+D4lUbt2F6VFuqDEhg0yMjIVTIVf1IIMTljmR0KSIkmC2hTFRdLJ1NQVDExMTEd0MTUgqbidUkk6mRJJPTB9fmwR3EvSpycsqMFu5SSk30mJgYCNK+g0TqamnU7opts7ckkkyJJJ/XRBWiIIg5OqLRZBVs2ZKTIaQV9h29lHFNJcNTQUQW3EOlwwTpanU5ehBq6E/vIU0HJoR6RiFQW6dKn0Jbh2zUS/FO+rqOOGb92UQUqLDR2qjOphJJJJI5elFJ/eQYmg7/g76QTYfuL2Y0tJwqaTZVhCs6VW6ilDRpmZGYjys+UgganUimRkSST1ST+8yyauJ9Qq6C3TsQQUXmZWq6CrN1IGuVDJTJTJbwJ4g0y0EXQRRzheibT0It0dBzRzp6YvBHiskkk/jzabSSSST4hJNpJJJJtJJJJJJJJJJJJJJJJJJJJJJJJPgs2kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkm8/uT0ySSSSSSSSSSSSSSSSSSSSSSSSSSSSSSST+AloIIIIIIIIsvyJJtJJJJNpJJJJJJJJJJJJJJJJJJJJ+fHYbqpBiYmJiYmI/QbZEII6lsvckm02kkkkkkkkkkkkkkkkkkn8djchaRgpy3GCjWKqwLRHMgSisDaJyhaSHJKjURemlufd06Kq6jLJt2HWXrkkkkkkkkkkn9ZBbcOz0yK0wMDApp6lUxHpLkQx0EaQQLohUWXKJ0UE0slk6H+4YJ2VWzifBkFGpKwNTFqJZBR+jBiQ0UppLp6eIfDbJeBntEGmIuhJJOlm2kkyMjIkkyJs/wdBThW+qSRLbqPfNREJKrtCnCNMjMzMyu/J3SmwjtDMpbEFVYcZEk2QkkkkkkkkkkkcvhNB0C1EQ5g6rCDakNVTmeuTnoPq5Kc/Q54tZTnKLVd2aX1ar716pJJJJJJJJJJ8MkVyqZLHwEKOw5fSOWV8ubuU3FV/oXzBr4HPn/wCoIjoQgjyuB12oIgqCp5W67RBR3lbroJZ3lUi3aTZfK1u3y2ehFJJ8sQggjswQR0QR48l1uloFSydCpZCCCBbNQggVLohBiRdCCBUuhBBHVBBF0IIItBBH6SdC3bZRdrN6Fs3oWzbrtdm59i9DEPsUjS7EIFQj09LU1FQRpGoqa2Y0gVpGhAqEEC3RNSCCCCCCOzBBHTBBHxU60Estkuq3aJZdrpsJZ92DR2wu12bCCjvbdmwgovtF6Ke4u4uw1Bd7U/aIgp/VRieoXcjURNR+96SDGy4qMhCDEVLI2RU1tBHQiaioYkDkuiakEEC9KIQQR3Usq9DSbL0qt0USzl0vIlnrdFGqOUeul/obapf6EPtB+wvRTEQcf1FS39RiCoVNGlJNyNbNQW7PaUU+ytd1m7C9dJNRfcRqRqVN70mkGOgiaj01IItBjCEEGOnekWy2QkkXonpaSOW6CCr0IIoqjluijSR663kRT7Hrr001EUUVdBykkjV0tUcMX02+j+gu1/6lPRpUWX3Xey6M7FNNBE1P+jEH73bowamo4b9i79Ddx93aM+LPbnpRRV6UUV3Sijl06EUaST0t2uo7eyKJsOXQUbdR90USopJkItvoe7RE7CLoIu5/URYRbofSDRwujF6ae4upBGpX+k/ekyMjJehHjnTbMyMjIdvdCSSRF0JFUXrbuJdR212E2qu0jpYut0Krpd+2ll+OgvYRYMzIzQyQcs3YpJI9ZXpbveRfCUPrtIL8KetHGQrv3U6III60Qdt2k+EnhSJqKhjoR1Ig1NR4qEdhO8gxJcVUQRCNDExMRfBqaan2f1E6m7CC2dt2PrvIUUKvusvQvgqDUETUfsL7TEXsP+PShGi6uuog4XwVoiiKOWVHLpZd+jIyMjJBdVGi9uO027Ryn9SfBm2nuINF36o06VZpdzdOhU0ugu1mqKKunhEqSpJkZdlEE2616GpqhU9tmp6kKntum6D/AG3QdtZLL4q3YjQgddqEaioK0ga0Y3UqIYDW6lUVpgMb6iqK1TFRqajxfGG2UdvdNhN7KKJsJob2mBdVu0dqpAogtl8WQapIq9LbKfd0svWvQ7xeSepHGQq2RxmZnMMjIyMjIkyMjIyQlBy+VSST/wCgNRPMW7f+YUFXX4aeOt3Hbr8NPHWi7/Fnxtv35j/VfMV9nmL9k8xqeYJuP38wbuOd6lMvL2i7r5h/V3mL9Ka+Y1/408x4nZPMEOJX1dMk+VJucQvrvJJPlbSovrW+RkZGRJJJJJN58hTZR295JJJMjIkyMjIkkkkkm02nxp2jHdEkkkkkkkkkmRkZGRkZGRkSSSSTafFa2lJeuSSSSSSSSSSTIyMjIyMjIyMjIkkkkkknpknwnifYnekkkkkkkkyMjIyMjIyMjIyMjIyJJJJJJJJ8H4tdviSSSSSZGRkZGRkZGRkZGRkZGRkSSSSSSSSSST+8hxS+r5ckkkkkkmRkZGRkZGRkZGRkZGRJJJJJJJJJJJPQ3Ugj9BDiF/2L+FJJJJkZGRkZGRkZGRkZGRkZGRkSSSSSSSSUrLZBEI/MQq+9fyZJJMjIyMjIyMjIyMjIyMjIyMjIkobWcuhI0QX8z6Ud7l/PkkkyMjIyMjIyMzIyMjIoP0Myo/QyGuEUVRF/Lf8Axu/XkkkyMjIyMhlWDnDqpmNqCVRag15mZmRkZEkk9tRBqGI7RbIR8Gt/F+9JJkZGQjzmnNEqnNOac05pzDmGZmZmZkZGRJJN3KM3G7WqL6iSlsQOTS6EC9viPYR4JJJkZmZzDmHNOac05hzDmHMOYcwzMzMzHOKa6jV0tVX1ElD22qe0kkQQeSM1UxMR2nQtq30QQYmPzkpKKn5MkkmRmcw5hzTmnNOacw5hmU6kDaxz0H1JUzKDvQZlZ3oMhFEUQqqSUfder7iRl1HCNOWYGHzaLMnHKhgrZeo+niYi/nSSZGZmZiPOac0zMylXhBKyFStKGZmJUG1R9STI4Z3qJtWX1klNdbu3sz8Dgac6lZIpqUKOuRxSepBrNComv60kkmRmpmZmZzDmHMMyhVhxzjmlWpLjIpP1MyRztTIYutpJ76IQQQQQQQR0tTU4KnDSukpA1sIVtao1uhXSF/ekkkyEeJWU57jmGYjxKxzhahmNqHNOac3u06eRyFOSpy1FYYkEEEGJiYmJy1KLJehQbDUKhVfi0yl4zY4tvgskkmRkZGRmcw5hn3EOFpek5JyjlC0RaItE5RyzAxMTEbTkbw/pKFH/AHDUhCosHFV5WCmupS2OMb6fDZJJ7jElyHDM9CGIqEEGJgcsWmLTOWck5JSoGHpKLPWouiHGVoQcsqU9yhscS30i7+NUPehw6elBU0F6lIGtMRGDGFRPSUmlepihxFTJy2ZucNsVk9JUSHr4KhBHw6HvQ4b2oO2H1NTmnMMzIkmzRBrSCoJo046vqqC2bucKo9PScSkVF/ET8BBEtGgiCiCoIneo+9DhvahUX0ld6o5TnKJXEriVznHNEeMcNUYO2N1KzsWFZ+T1uhwin0ca319lflt/AbZNxdhg5BqD00GpoKR3KXuQ4VfShUX0nE+9eiTIzUSoo2uUKsqUyqvpGH+Rq4sjp4NRNj/IN/Eagvz2iqIuortBijlGqP2GbDt+6zc4R3pHroVWyotM5ZgYmJF+EX1FLYqiaNP8k+akdPCLqM2OPb6fw22d89FJEJEUVRBVGu0FUnuN3OFd6RztBSDEwOWco5RyjlHDshxT2N1Kiw04t2VZ3Twy+ope04tssUdv+EwUd+JJJIik91Dh36GenXBiYDGaiLoMOIfDVKmrl6aC+soLoV09JWSHr+E1RVF/ITvU3wJUEeZmRJNkughs04yt9Dumn7jhV0KmxxjYf+HP5CIR3kMjMSoJVEqiVRKgjxHmRJTK78WlV+TlF6W7nBu0F2OPZ4WifEkyEeJVUbXErlN8jNEOLq7ii9KHBOE2ONZLVF8JRLKpPxpEU4RB7sWFark5exwjtSnscQ2WqVUh6+EIllUVfkN3OFbCHGVIYT2OHWHFBdComhxjId4OllUVfk0UlxT0acZUl/ZprCnCu0F2ONp6C+CogllX5XDN1HOxYVFly9lDg37CbHEMlCq2HL4IgllX5SIcOhxL4b2+EfClNdComhxlOFnwRLKvy2IUziXS7t0HQ4oOlBTi6coo5IXwJLSKvykQahMIPWXdtq6nCVNEE2KrZQ4qni7wFrZFSLKvymIIlnO07vCv1KTtByHF0pQVP32tkYyCrv8AHgxMTEgYwgUf3aToccO+UtWZKHEsxd+81slOnFq/xmoNYcs5ZyxKYjDEVo5hyzlnLOWYGBgYGBgYrZDhKgxRyHF0pQVP3ESSjSIHLBVdPxUGMGMMTAwEYYkGJgYGBgYGBgYGByxKRyCtQi1B8OKD5S1VkocTTxd+2iFGiIkDtCrUF+LTbKjGDWmJiYkEEGJiYmJiYmJiYmJiNYJTK9P0qOSHKIsKcLVGroOQ4mlI9sL+yjSjREbApWqCr8VCg0YgnagggggggRo1ojSs30lZP9i24d8KUXylqjZQ4qj9/sIUk1KaaClapA90r8ZqFJugxPhINQRCsmhxSf7Vs1YOFqjVFK9OUKrMV/XahS3GbFWpCFR8r8ek0Yg1PhNGiFU43+W9CpipQqSlnt0OIo7jkhf1UEQasKJVREK1WV+OhRTQYnw2jbPON/luinC1RjpFKjJQ4mlC/qIgiWVRXr8hCgNT4SDUEFFOO/l6KT8VOHqygiioV6UlVmK/ptS6r8hBEKAnwkGoIPHbHGfyr08NVKb5s9pxNGRzYX9FEEFFX5NNpBQG/CaNEHlRfScQs1XdLHQpw1aRq6ClRknE0Rfz0SyDl+VRboK0pjF+Cg0bZxxCwxR/uXqo1MVKFSUJIK1OUK9KF/Rn5VNsqNboKggxRO9JIgwaLsKcc+GC9fD1oKb5EHIV6MlVmK/mJ87h2CIKlmqNXuLaSRpTGjhT/IO1gXra6FOHrDHTZzTiKA9uK/mz8tqalJsINFQclmqJ216GlMQeOONdNVezSfipQqSgi2qNk4iiKkeAf//EACYQAAMAAgEEAwEBAQEBAQAAAAABERAhMSAwQEFQYGFRcYGRsMD/2gAIAQEAAT8hUJrreKYMWDGPDcxvkjUNOpCHLonsHti1xXw5nYpSlKUpRdceIQSY1OhC0G4FD6+QuENjeOXUi5UQeCpoU699yEzMzE7k7aVFjQRYGstg8sGmng/AR8hPrX6ULpaBajU8Ee80vSB4maMhBn+RLxp4kJknbSIuOYaI1Cx53Co0sHTJEkoMcOlIkINEw9IavKPdhrQsaLw0UXsQhCdc6J56LEMNmTHlIghMILs/gbKIiHgiR5McBtj1IiiOIpohaRqMOHTZnrp1DzyJd4mJiZhPiUPaSCi+pk11OP8AQmP8YLjKeOJyL7CN2Jo2cLwzaxBcdsu/QjV8/Ugd2hqgWB62SWx9L5GCeCl+mFMZfZ4ibGBwhFqkJbfZgoYNiyy+pMi/nkrQpDdY7Ei+eebhvHoZQghKbaTLOiwlg3n6jb7E2h14JF9QeMcCLGwooNlOYXCl6iXB/QeEJkhCd+lKX59PpB9ulKUvZuLilKUpSlKXC4X6IClKXquKUpSlyXqBfhQAAAMIQhCEIQhPg7ilKUpSlKXC/BgAAAABS4XN7iIQhCEIQhCD8alKUpSlKXClKX4IAADAAUpeqdE7V7SC7AezOtSlKUpSlKUpSlKUuS9QL4wABApSl8uidKwoPOW3QErBI1YINCRCY4Z0pSlKUpSlyXC+IAAApSlL8B6w1tE1yfmfgP8AnhJl0Ncco3bI/hcRSCQsesblhDweEaawWRYXU4jZSlKXuAApSlKX5DllvsUYgxDolgjCyRIKGg1ETGVGTxsM9sWjWxRnrGzCYesesUpSm4o+hilKUpfoQ9aCfxBLYmL/AOzIhoi3iloeNH/eg+Bako8BRiNCBqPYPbxT7WMo2vpIh09DV4LjAr+KQQn+kAijREDRH/AwuMM4CcYbYbqLLG/1WAAWF0j2QlXsRyFVYtriByP4hQFpwNYmh7w2LFwhdD0NelT7gAH9HWaxMjkBvj11UvReij1nATYqspS/WqUpSl6KXraILhH7eIcX/wD6ZfPuRrKZGvtTCdBs+2c10eAuPD7epofIg/tRxlGEaMMf2ijDypRjH9sQxQvVCE+xoLG8kQg1hI4YbjwsjWUiEGuiEJ0Qn0tCaEiCExzJsehowmxomhI2EE2McMExQ5DGnNGPfFiYSvLoylyPTtlK877LwhGQhPiSETB5JCC4cs+jljliaIcsLoS2NdGglKKCXI+cbmQIRZCF6LbLtEIQqpNmmioTYg5ts5kBu2EzaRHHmJvNk8NB53RCd4mJ6G9DY+i5eL5HEymgeXMZqX0CDazwNng0bOgTYho2UhTYgkKdCcjYJMDdsJGf9NxzJCsFuJYcpCCW2xZKBLCRaJgTYmSEIPaIm8kHiFugE306Mj7phYqN4bBMcbExMT0aRsuB9lxqUWo5SrKU1YuDoCcTD2P6wixcWD6LpJpimyYJShSwtIilNhwDQwuQmmaGxW23lYzOcNwhLghyIJGZyfXa/wCC1v8AcKoyYQRts2ZCFQhNkgg5RBhtb7qxYWTzI+spj1L0NhTLDkkN3LG40dBqG1hUUTFaw3Q4Q3hlGRkBqcfEtjdLEqpZoUEyipOc2ELSIVJwHsXI4XA/YZOyx9MbWym7yoUHEXTG7dC1T0R6HjvuUpcPN7ZPBvoainTMt0JioiIb6Btj3HTE8PGopdjDZGqEA1ZokNnofSQ/CzqFBvWyh43vBnQKUouRWpAXRCBODZyKoCKUhkPdKchKGd0GiB/IJwbvSnOhYYnE39L6JZIuRISSQ/Y1yYUrNFjkaB71qOBcMPMmOExo9JqC9YbZb+il6Z2EN6OQ+kPsSBLckvhlCQlI6g4yl2OENW/m0LuoNF9nkN4NG3UnHRpY9qfPn3AKkH2eY3vvQmEH2L88s2REWKwro+m42RGxo2XY9+9yxikExEoQNCRPoixyBqiRhNNj56Vg5nIfZly77c2bzj0IJVj+i0bNCkmUGiISFlI8rkWli45CQ+r13kOBqsUosOLY2vozmaiDIhREM5spx55xMCHLqmuhD0y1romENoZSxl5K0Gz+jcRPWCeyjH2EE0zm6UPQPKRzcJDVkkOSZbJCjb+kBN5qyhs12XSiNFp1j6EuMXxhIoWkYogeB8YTQKkHhdoWYcD2Nr6rwDRB6M9cqgkg0YHJqxaNIg19CWLAhoHosDYMnBHPq6E2hs4DZapm9z0wOG6ouBUH2DRBEmSM05ZWhVPqzRoWNBaHzhc9B9HqVaG9ZNvpWORcMfX1dMixu9CZJD15Gl3hYQijP+z/AGLYeFqkSTkqfXqXopSlLhOY2Nn/APANZF4iRCE+tQl8JCEiEGP6wizwkISINDGP6vyRveChYLDGP6xw+EkLBFGxsf1jmNt4CEITLg2X6zwbwULFKUpfrK14lSl+t6J9x0+4SOSX3DiG+4z/AN4S/b/Z/n3HcO/Bvf3BxUv29oj9L9wfSLFKX7XyNRfgsUuSlKUpS/Y+Io4ukUpSlKUpSlKX69yLf6CyQXYOKXClKUpSlKX6voz8Gri6/LCusesFwuFKUpSlKUpfp7Vfg+Rd5rxYFgXQazLhSlKUpSlKUpS/R2wFml6y1nrOWBBYFgXZOFKUuSlKUpSlL9AaKwuzSl75+AsCyEFlrqgpSlKUpSlKUvzKODheBS9R11AIIrNQQWSsaK6wFKUpSlKUpS/JcjiiF2r3KUvUddGIILCigggu/PAKUolDLFF8dzLAhebSl7DhY0UFjWesxdl+btjQmi5jEIQnxNr/AL4XwlKXpZYEUUVjRRRWNYlgR5Bsk5zH0cDgLkaIQnw/D/we/wCnx16iLCsaKwoooxLWiCt8WnHuGy4fgURvF8Noz8G9sXydL0ssaKMwv0WXItsX7lvZvJokEX02pewxjZmvBQolLGmilL2kPDxj2L5qlKE5RYhEX6EP1F+xfsX7NhfoX6EVjSYpSOiUbNg2VuYJWytKLgkKXNLhDw+qKEvCSJ8bSlKLEwmE4nEUF+hfoX7EUEF+hBFFBhNLhUFNvDleHmJDjg+ugDKUUQlhTdZacvvoWH20qMqwg58NSlwssTiYTCcQX6F+hfoX7xZoEzk/QoiC6/0gRkdQ+Q9MIPMDVkGhozcsyCIR31hj7b0E8Hocsl7HzRWhI/hL10pcLKExWSm/pX9xR0FGvYuNwQ1kPYvDR/8ACCm5jYehjinLwlh9tFQ/4g3mQiGDB/ib2qUuFlicX9i/7ggpP9m3sQVzCR+xL/RTcVIxOnGpHfzJfX8nRRETcaQb2Xzn2lKXLYgxH9Yv7DZvCb5P3Ev9LPCTEX3dDfQ/Ih6wM/hXV5isUz0NSP8AnjZiGG2/0SmG+ulzS/G3tUuFFlCcsRQTf0Td2myquH+B/ka/w/I/HAy3LxeG4/lJcMSumPYhom52B9pv6BS4UX3JD9Jk8SBqNRqNBGBH/B/kk7ByN4OFZUa5sbQ4izixu0/qCXMQfbL0pggSiRKIMQ2KZsbjNoPoXckP3sQaH5c+AS4MQhPCyeOLTiT+iQggkYTxXEoQ90KWgMavHAcRRuwpE0MeF5KD85DQTY8WkYhPC0TuP/6DFuYySBmFH9En9EgsSXYukaBit7/B7v7nkcQ1TLrLDZXkchrQ/gLaCbC1G825mXfdaf7YbYEB3FZYm/ogWIEofSIhfZY/ob3lGxG59g+ujfamITupY+I/PwNPB1G83D0MhA13GimibpdwNixuUWRiNUbQaxCB/menRN1KsPxpmdlayRDD86A6G2PUmUGjzjd3TaGtjrWySCCCMXjcsaKM6xQD6JKPUxBI3wS7OI3wVLneSvc5Ei7F6IJCUkkUlIBPYv8AwD1/o+iCFlLuR/wUmaxviE7qwP1EiQSCUQTwWOY1KXJQ1bH0NEKqJXNn4lLil7SeDfw9BaD7rCYTDMgoX/RYoSCK10ujGMH0NoaJsdlH8Ffh0szfdWaXBMNXsSwKL1i6ko2D6ORwo3wEkf0hLEvH1EGjnBLn+DANj6pyPVxic+jrEiHki1CSaYdF64pdS52o/oqFEvKFE0k9FezBLKbizOHL6MJBvypGgXf8K797LxmoPRZIb6Igkzt+TZkDWl32pCLIXbEn9CQuZvyUsWqNJ24ZNFqOPFBfQkEMU8lLLIlx9uCFAei4Ma4P6A0VF8sphWkQD57aJoiiFEWCTnz72IhYG/GTFFFFjoJyxnCMjIQnYlEzZyhDBrH4i+KYxMNQ5D8WpcWftJLPr0Riyyyiih/wINGcaKosipok2vDQ/iHsR2yEKQo8Vazi7HBYfaX78BI/Q7dHslbIByiwVHB+Eh/DvbOJsSgyQ9SGviyDiNfgju+sfULegkP0kFklS4oiZ6Ka+YRQs02hSDwnpF34qHtxprExMQhCdoGGs3CX+uPfi0HKFsHJtENfMLoLQ0QlGN8WRZogmBeCuLQbpDDQUSLoSoWzRVH8ucWJThpPxUXaOM0eEgpwN0xN8sSQBbRZiyaDWJ/KpimHIBji+NzNbGl4KFFOEbU58wZwqkiNkVCo0hr5UERP6hu+Ou0JpGrwkxKcTizk6HJIGyiNBIx7fkkjRhvyZKyDR6nHwlxKNobYa9EmTaVIELgomIR6HOXyCWDiN5TZj3w4eChBRNYwY/6DpYpkC2XQ4CRGtISP45I0CG8oXOFuNfAKXBRT0c8Yeu/R9LE7ImxUh0LYPc4NfGJCQuMMN+TDJLj1eF9dxsuR8VybCOY+lOFiTYlEbFUSPQ1mvjSE9DY35KPZi1kjyS7bjeRsFH1jrYH1MUyyWyQZZMonoaxfFIWTflWQUkQ1YFift8x59RTjhweGPsOSTCyGhKMXtlk+Lb8X/8QAJBAAAwABAwUBAQEBAQAAAAAAAAERECAhMDFAQVFhUHFggZH/2gAIAQEAAT8QkJsxrZIhNhI8iw6UiAfg2p4PukTBMEGXEOf0b2SOiGQpOKZ9YhPiCRIe7H2s6SEWZHQb1k0Q3Yyoe2oNtlcLmYgkVkIQhCMhCExMTRCcEwjIQQ8MeBh6DWsSo1EeFDQ/qFlW2kjbG0hBDqWHhdcPqMmqJShJQQ9Z4MaLFR+WPLCDcGsJoJkSHrCCQiiRuUbkYliEFiEJkhMITCCEIQhCEEiEJhCcLWwpSr2Q1qw8QQEMkMdKEyMaY/QxNDoXZ0arKz4EwSkCkKk0PCJwtIJSh0gtwbGqEpI1Q+rg2F1GxjuHgoXYYibNxkIQhBIhBIhCEIQhCYQhCEIQhMwmJiYgisSDka0NYmEhKi8BOjJZDToCE7hdWYhjJEGNbscpuCFbHwGG9hE/ZVnS02aEg1bECEIG7lNxaSZYriKQpwuKzDZ43zCEyLBCDRBImEIQQhCEIQgiE0rTMzTMoVJQShRNwqCVF3IQuPfgZ3DkoHttY1Vt6xVq3aGjXQamPQY8DqPqYVO8GyMMAt2zZ72R1CbNCJIlEQkPqIXUk41bFjoCUIX3mCTJlIhBImEeEwhMkIQhCEzCaJiE0pdlvFG2EsZfbyVVESiOrKEYJDQkPC3fnYIhENkW25iJIsLThj2vJ1RbEqG2SA2qCXvgwfljKLE0IeYNEiUTMKJdDRiWghBIhCEIQhCEITEIQmYQmJrmuE1LK0TWkbhC+jwjaIrEht8WQ2JLS9CmrpEQcm6oJjQeEfdGPNdiYhHWFOOnWo8qTEZuJvSnjXRgfsH7D6DbenpjPuQSEiEIQmUTM1TRNCWmEITQta5UQQyJ8Q1DohV/FE3Resb3xAbKqMUghbsqYs6ibVFLRN1wEosbGdAyiAh58Sh1kMqmxGVi1sTLil03jgliE0QmJiYmITE1zu5LEs33Ze+WdayYjzMbgeJuN2WCJGJoqGvUxoijd7jZcLSBas0q4aUpYUukLhXEIJCRMQmqEIQmITTPwZDd9XkYavN1pwT+9INjLjY2KijQbEKiM84zp96FeoKFrSJiYmYQmJidxOOZrWDyLmlwuR6XRi9YKNPsrBGRB588P9BEJmYSEiFcQGeE7xFKUoxVoDDy3o58EAwyg8DxPC9P3pPeLz7y2WUWVldGwmzcgicBaXILTBRj0zE1UpSlKXhAHjel7DwNBh4GGXieJhj+87wTi894nlM0UJysKzcjhCYQhCFhDmYNCW5BCwpSipWbjbN7ELjCdjKCzYIeFlGyl7ZH/wDLwMdQ8L2aE8h/el3nM2WM0VjeZspS4pcXKylnwLKeLiMXowh0EMXajICN+QTG1F0GqQlvQSUgD14FWxJRQmiSCBpEos6GPQj0O896yiEZWGFlPSB4KLLeLYorKxtlKPQ3pfKsoSmCKkH1W426gnKhMLDCEhGT8lsGsmvYMbFC/wAYmINCSQqJsKmUW5AqowmNWKA1mCQISI8iDx5G8DOsbrxeNl6IekDxMWWNyxsUUrKXQmb870PD1XG3BcJQySE0KhbsbITUkhamwkGmyJq2Ww2VkRXncTEPSPQGB/PCG+Mox5H2KxiZFu4eHIMjYhIEoqLYOUErQ2kiF0KkExIhqTBIUwRY3ixlsNyiilyu+Yy5faLTdnmcYti6C1Y3EzQynljp79IY7WycQ1vCGGVinI9w3XTpPOCyMVJIimKFuuDMDCRIWmXwbhjRm+hj+xhIvI/oZeJ0x4p9R5a0zS+K8jw+B6Hoeq67oMPPTG2oiIlDZK8ItnZT7i1I92hCE+oULcbBFS+k9gkKkE9xqKuoQaFsSGk/bHs6DEGFmypcNBcSeM2HiYeHof47favEPcRvcbYh3UnNK6J/kxG4EY5M+rZ5LGGgSlR0YtzXDKjqKMYzZti6iEkhsJ0eTqRs3wezv4LeKUpRKxen7x2UNhroeh4mJzzVcvU8seHl6KXL40NFhNp1Mv1Y+UY+TawSHbFKJlKxYLhDoTE8IoShoCHfg/2zeehNlK8V8L0zE7CYfYPS9L7BMpSiYmUpckaBSlyV4onii2GQYxUT3aHlYmJqeJomIMelrig+FaXxPS9DxtqvBcUpSlxdCeKUpcXNYdGl41rM4JlrM7R4fIx5eHpfLeC6UXfmWFpSwkLsGPgmJ2Lelj1seHpY32N5Vq3IIWlZ24nlrD7ScM0vQx6Xl9hdD0XN4blFIJEELCxNKJwQaGhjHrS0Tmmt4eGMeh4fG32KLi61hYQhEyiC0rW0TDy8NaJwPsXiaHh4Y9TG+3vKsIWUhLhmmaXl9u+J5ehjw8vW8PSsXt6JEFmEwsrlhCYfbzD1PQ8MYx6bl8zeU9CxdS0LC1ISJrWuZeGPknYvU9THl5Y32aysLCwsrCELKJiEELEzMTE4mPMJ3jQ8PDyxjHyPnWaLUtKIQgkLEylyvRBjWH3T0vDw8MY8PDHrXHS5p5wsJ8awlmEIThmtrQ1qnCuzeGMeGMeGMeWPhpewWi58ixczEETEwsrTOB5Y+xXA9bwx4Y8sZRlzdN7FcSxuLQhLs3h4eucK5Hh4Yxjw8MY8PQ9D7BYXAtd0LhnM9DWudm9DGMY8MYxjH2i41lalhakLsXh4a1PvGPLGMeGPS+R4uhcywsLC7N6WMY+2eXl6WMYxjGMY9T03tVrQtCWFpnZMaGhj7d5Y8PLGMYx4eXob0Pt1oWELmXI8MeHh9yxjGPDwxjGMY8MeHqY+yWlHnC79jwxj7p4Yx4YxjGMY8MeHqem9moIQhCxMrtnqfeMeWMYxjHhsYx5fdIWhZWJlYXZseGPDy8vsHreWMYxjGMo8Pu1qWF+C1h968MY2MY2NjGMY9D1PkWtaVlCELv53Lw9DGMYxjGMYx6nzrWsrKFlYXcPVMvtWPLeljYxjHl5el5fKtayhCyhCFomFwLjehjGMfbvDy8PDGMYxjGPS8vD0QeVyLKELRBd48MeH2r0sY8MY2MYxjY8MYxj7lakIWFwrtmMfZvgeHhjGMYx4Y9D/AAELCwuZdi8Pt3h4YxjGMYyjGMet6XxJcqwtCIta7Z5eHh9sxjGMYxjyx4eHwPjWFlYWpYWV3rwx4fasY9DHhjGMeWPD7VZWpCFoXEsrtmMY9D53oeGMYxjGMeGMeHyTWlxTUhLCzF3jw8vtGPDGMYxjGMY8MfA9a1TK5VoWZhab3L0PD52PD0MYx4YxjHh8c5kspakhYmhEwtC7V5eGPLw+Z4eGMYxjwxjw8MeHyTihBcE1oWL3bwxjw+1Y8MeHhjGPDGPtJhaZmYmULCIQXfPLHh4fYvLwxjGMeGMeWPDJqnZJalmaFjfgXbvDHzvQ9DGMY8PDy12k4ZrWhCxNS4E+0fM9b0sYxjwx5eh8SRMTVMTC4EsLCFhYRsXK7pjyx63xvLGPDwxjyyDHh5eJpmJomJmEJpWVlIWiYn4Dwx9ox4YxjGMYx6nqmJyQhNE0whMJEFyrtnh6XyvSx4eGMeGNDWlrXNEJlYmJha4I8i1rC4F3L1vlehjwxoYxjHh6HmYgyaJiYmJmZnDMTQhLM/AeH2T0tDyxjw1mYeXiEITVNUxNE0QWtIS41274HzPQxjGMehjHqmXomZpgsTgmlLUhLE79jHh9m8seJpZMtYmmEJmEIQhCEJmEJrWULM0z8R9mxjy8vVCckzCapiEJrnFNa7d5fbMeh4ehrEy1mE1TTMwhNEzCEJoWEIWJyrtn2D0PQ9E5IPXMQmqEEswmIJE0TSson4LH2rwx4eYTTMwhCEIQhMzWkTRNMEsQhCEJoWtal2rw8vtGMg1wTEJiExCEJiZhCExMQmIQhMQglhIhMJZhMJ4ulYWFhdm+3eHlk0TRNMxCapiEzCExCaJoSxCYSwuNaF2j7h6GPMy8whCbkIQmJiExCYhMJEIQhNUIQmmfjPhfM9UGTDRNEITRMQmIQhMQmYTEJiExOSfgvunqmiYmIQZCExCYmYTTMTMxMpaZomN8oXAu0fdvM4YQa1zMIQhMTExNCxCckILK4FhfnzRMzEJqmIQhMQhMQhCaITEzCalyLK/ZhCExCEINEIQmYQmIQhMTEIQhCEITE0LE4V+9CYhMwmIQhCExCEIQmIQhGQhMTEJiZWVqIRCcC7V97NMxCYhCCRCEJiEIQhCEIQmIJEITUtMyxJ4hXJLSvyHiE5ZqhMzMxCE0TE1zM0QhNShKaIJFC4QiCo1+xNEITMzCYhCEJiYhCE0TMxNMxNdRI8ISDyiWIWBr86ccIQmuEzCEIQhOCYmmZmqExMKNCe6H2SEJBUwhiSj7l8T55qhCaZqmYQmZmEIQhCYmiEJyBtxbi8ILRCx/pzE0wmGiYhCEJiEIQhCYmITExMTEJmExNcxsxhDxCKDjD16V+cyE4oQhMzRCZmITRMQmJiEJohNVlpCDAmNgbvDT0IWbNCRGTMITifHMrRNc0wmYQmJiEIQhCEIQhCExNMzCYhOJFUUIpAS3F0EGGZYoxQhcOoJHCCCyMxR54ZmLLZaLGxJohCaIQjIQaIQhCEIQhNEITMJiExCExNEIQmZmdilZtDbFvE1kXC0OwpBFshZDYSFAW6SfC6IVsJBuolNkLmIFodvIQclDFA2SoyPYeD0nUNl4ICEKj+MXqiEykKUsdw0QbIjCKIJoUUNTEIWX6xX6KKIQhCEIQhCEITEJmYhNUEuLqR4ibCis6nkm1Ls3oOQgmwW7IoSB62EplaHAUpsbcIg7KDeEjZtRtBJ2KjHWIKbIb2xNzWNMEuzw0JUaJm0LIIJFKv2KgjrBthOY+NSQqkSg0EhZF1Y15C9hdAenqIQYgdcg29aQe0a3GiEIQgkJsGw2ThCEKKKGtEJkhCaIQmJjqRvChNyjwTHUJy3CkzfENyNjZRqhMRvGNuIeJjDZKBiITsXdEKIzwiaxbZlGJ/cMhXfsuzHbIXIVGNYRd/RCBLRuNj1/WJHtxmUK9A6xJfrc2kh/CQprFTmumRpF0RBzZFZEPW0OQlUxsaEIJ+c1FlliELqzYYVUOXB0YTCchlO/AzFiEIQvRPokmmxohNExMQWB9kRUEdoo4WwhhoxyeGI6LCgxM2gy6EMKGWTClW+RIKUiUhGwWoTKhNUUkOup1QWoHgoHw6CH/QQiMNYRJ2MrBIS/ygsolYN/KIG9IazCfcYFzoik2E3UMsurGIV7zFbwxSj6EL0iP8bGrMwhBI+KQ/pA0fykiGvp0A0EgwluiOgFSa3xSSRBGLW0kf15VPC8oNE1TQh4xJCo242FoJfYkhvstR0CGzLhPG0KBvEDaonqFzZSkR0D0zKFKxvUxu4cKjOsUNTQ1VPAO1UsldEWZWWmUNKYtWNZU2KG4kSRjU03+kKfRClkKSvIlJnT+se9N2Ok4bWDJAKGqsQ9eEJqzcLMJvZZ9sepIfN6jKtdKxJ7EY3F0Qkd5GmJH9Jm4QaSb5XRD0fcQhEiJP1ISSQVbIVI+rWmlMQWJMavCFIw23quKTP70CeAfpU1kUQ3czOshewyjuYIS1Ft39HMdKPC1YWH0W5G8VRR8bSRsBRZv4kXwjRNwsEgg3FR0Vij+Icce7YkupjPkuEoXgNspciD1EKS8CEfzBR5TdHV5g6Jtiqxk0/omIi7QM2Qk3VjfUeEXLdfuBOgfyjkUonlc1KXRS6aXS8e1oQ2oy4Tg1RBIxHyW0NNjPoN14aMY1WhqJIaIxAbGhXW43gtzWYlQewRQ15ErUUlKNdV+Dxytl7ZTZhRwmOaXxCdIhRm680pSibI5DhtEFY31Fsh8t4Vw3F1Xs23whCjYtCZDeUK1dNG8IdAblyRomlbM2IiA2IqPqIEg0Qca1aUdRye5/NWncgS0awKayyHoXcXvzbDGpx0ZFBNSWGzoFWkMeu6YQVEfcHSaHKQ8lm5cMPjnAua922EEsj1rRCCvSE20JEw3hKpRhPMJopcUQg2XVCQjdsTchBrRSi91dFze8aPP1xm0j2MbASNrS0/EISREfQTVrCy3lN29I8iYnxpQpSaqEKJbs3EjxvUbWypDl1I38C6l3zYo/osQxpfMb2emATTY9wNMJNWzMsPgQpWMaS+BJVDJpEbSp8Fif8AhTQ2ocUEIJEW/wBtQR7NmylQSCE4PZRjbEXYsZdCPHKw8vSh9hA3VFtH5YzNuS2Qhf7mRYesfYP9NCdfo3SN8PjERLB7kkM/k/k6WxYqMTW/SF3aUPr6EpNWQSHpHlIbJXD7jU8YvVidPZjM7To4XUjrjG7rfc0v4aEjsUgkSKsbhpX6Q1eulmKJVJDWhR4JhHSQ9LXRDRvJCa/So1k2QGhODxUsZBctlFH3lLi/hrKXRi9h9hJEsYF74XHQWKhpjQjTyirQ2KekJuxRkF9Ht7bDR/YCmvagsCVZf3Ghz23guwrSihINbDQN0bDtr3aF+EhNvAUpxCaZato2gi+5dRMhuGIaudENaOdDaQTo50Fpgqx7k06NqK2kmwUJJUJUQraSEk2K0Ub76/rJWkbD6xOaP8whApsY9zqY3NPbFgno5rCJBVhLwlkFu0Un6UKBUoRNHVFbKCDuD7Rm3Cil/VovTH22NXcnbjVnjpIq2RudG4mQKa3hQSiEiuD8YCex5Quo3ghq4oY3YNuQkfazFLi8ywvzLEYvePavQ29REm2XlB9LcvcNqqwISQmRWJb6iSCbQt9QgSweh2bghVluN3kQynO++ulfloosbb0KEE5ZRobC9jOoPN7d6r3S/wAveBcCxdC/0azdSyhC/wADe7ub/t1zr/OLWtV0LSsLsb+/MJ4uLw3gotaL/kY+zulcC13v1+XXzrK0Lkuq/wCKvaLSsrjv+MupdteJPTf8HdC03StSf+Zeil4Fi4XGuS4v+Lrwi6E+Fci1LQv8Xe1Quyv+HuL85ULCemEJ2l/MvY3ReJcKwhYWETslqXbp/gPF4ktuwQhLCQkQaJpvYL8K902XF0sOmVhF0p6EIQhLAsDDQx4uq/49kLXjhWpCEIJhRYQQYx9quW/mPX1EQr0S50IWC4lpEY3qvZLtr+PuV9JL13gQsqZsOMNjfMsrSuJd6+5W/wBRr/bgQnhYQhCzMNoYw3rutPsb+wsd+kWZ94ULCEIWRsaLw2GxvF1Lv7+A9T4tnzDbr1rSoIQsGExYGWWGy9jewvIvymq9m4sLjTEJiYnoTZSlxeVcq5EUX5rwe3oXJcUTKUpS/mLhXbPlS3KRLzLKZSlL+Ff1Xla0NfSQlyIWhcN7JdxdN/G3f0LOvWVlC0p5Wq8l0X899utK1B6JGsXVeFdqvxr2bHh8u35MPXfS8i0rF51+Tv8AhTFMVd0vJeFPkX5q/B/qxBOUTKXF7Fd4uZflvKfeBGsTKJlKJ5WlYWVlZWlYX+MeEiPz3NYkKUpSlKXCZcUTwil41wLu1+HODciP4RMLgsSCKxooLBS5omJiEXFLlZWF/jlofw7mFEUEEUUUUFjRWJBBCiYmJ6ExYpdFE9C/TXO9a9Za+2wQm94PqJBKJPYkEVgRRQRRWcisawJiYmUuu6FoX4K7iaXoh/FMUP15L6EwnEUPoI/QX0IL7EUj8i+sKKxIoIrGtP0VgomUpS4TzSl/cY9O4gffkiggigiiiinE3sX1hWCkwoJRIIJEEUEUUUUUUUUUUUFgTxcLF0X8Wa3zoT9QnW8qIJxMJhNigsBBYiKwF9ZVfZ9BD6CCKKCKKCCXFFYkFjRWNFYkKUv6c4UfVGJ75UpSlKUQosTCxIIL6F9CKC+hfQvoRR+gvoT7F9iyFKJcCMiCCCKKKKKCxrEgghSlKXC7Gd68wStEF8xPfOlKUpSlEylKUuCcoTCZCYTexnsQX0J/YvoTez6n0wIr6E5VBfeFJ70DQWBBBFY0VjRWJYFhSl7NZnavKbCyeiyrFxSlEy4UpSlKUuKUQoTiYTiCKf2fUX2JvYsH6n1F9YPqfU+oj2JfYkEUvvBBFY0FgQSCKKO0ERqWDCRPxZl6Eqk/95ylKJlKUpSlKUpS4JhOJ0JhMJ0IL6F94EPofU+gj9BJ7EnvAl9iP0EUnsQQQQRRhgUKt/B72bkiqJYbckIQjy+9ejY2/SL6hYV9lSlKUpSlKUuilKKLKEwnEPqJ/Yz2fQ+h9BL7PqfXD9BfR9BL7EiQSPWfTfEu/DcNgdMkLUEEkjkhCEIQhCE03gum8SG/mMOYCEXuaUuKUpeC4rKExaE4n9iH1F9n1F9H1EC+z6n1OjuKemxvqLu4p9YuJUVIhCGu4kSCao5dEzCEIQg0NwQp9CBvC5peF6Figpu+jUS79aryUoTiYTCcTjPYvo+o32MlRbYVFGfUJU3FRUJiBPUynUMeRXsV7Er8iX2JBISJClKbaU2NArY1ZQWDnIaMFhSlLm5II/vRPcIInYQg/wAOlKUJxe4S8iV5PthZ5DkPqQy0UGnkIwH1E+xJ7wkvs9gRJGJSPZGCLlyqkguAlZajEXYyjVU3j8aaiTHVkowwmOafsVhpCPCHyJZD5JpXPcUpSlKUpSiCCcXuErye0IeT2xDyP9n2xFMJCvZ9RfsQPofUR7E+xE6nmRbCapK8il/USjX6MW2O2LqGUjCEogqSiUugh+DbcWo42C3DTfC70F8jXg+WEPiQsEHyHtER4Mc3VEZH2dKUpSlKUpSlKUpcicTEPIvce2e0L+T2h3vSNE/sc31FdUSRDaFxfOJZTYVRTqIbEVbip3EvyQSx/wDIGhJUSOoREapMsbAPtI4vQJC7Hwwh8awTG4CyhTQ37wFm1Mz5D2OFBcjw9FzdFKUpSlKUpcKUpSlwoTib2JXkS/Ih5F7i/YxeRQV8jf5PoIc8EBlJUbn1JNOmxjFVQoW4k9iKngJSaCMTQyIuOyWokiKCXKhYQRjRCZWFozWQqZC3XTEkfAp1CPLm4up9pSlKUpSlEKUpSlKUuFCcToQJQr5EvIv1YT+z6jklE/gNuofUQW4qGyhlDhT8i+xJrLbWS11FJxIKkSjUiOVITFRbMihhsWJi9DvcMQ+0L+oj54PmDESXdhlKUpSiZSlKUvFeSlxSlKUpSiZSlKUpSlEysEwnLQmETRrUxHywjU2xfQ2w2FTKLbovol7i4txPse/ryt2QSAgGrwIh+gsfwfxh/A8ZJ2JKg868iUp4CjbH4GnvQtJtIHilKUQQpR4KXjvaUuaXFKJiZRClKXFEylEE4mPsIvoJ+Re4b7PuJBryf1yWVCmAaBeGJYSmPgO9C/gg+gn9D/Qnb6DUqCkzaWCGPwYhK+FyYwMsCQKsSEjHqoslKL8C5um4pSlKUpSlKUTKUoiwpQnRQvcfTjR90QQhPBFdBaYwcXQd8Dng9Q9ARegl+DeLoShgt+3gVsfIsVItw8LqyRPSft/BMfRrWkTbQXIu/WVmlKUpRMum61wIUm/Yr/khaYUiaDaHhpCBo2MNbEvQaa2FC2EAVUeSxxEb/VJlIExh094Nsg0QhCEEhbDYFwlRLt0INQfYXNxcUpS5Q/A2CZssodwkyYXE0/qN/wCKLYUV84JvyJ/kt5PsLEtkuFBbmws0pAinwcVYx4aM+lkZ75ijxCEIJuIOkUaFGu3Ss2oQfe3YlDoEmc8FbhKsclhZEeQiX8wv/iiBLJPyMt2e8exjAbDHkYa3IluKRGKYOhd/OjROQOK/I6sY+0sb6+G9jW+h5J7YGQQhCEITXONaIYX3qHgQ1fRdvgncFIKZQhVGTcTcKwhqfgS/5iv+A5u+iIzcRJPkTCnkaLcdFY5aljtDXXIK9w5s3hs2NGyCQ/hJr7OouKXCYsB4WJiEJhMkIQhOBjGLc2Bh94sFoOpfIxt/CI3JMpQhRTeC2cCFhFn9P/NK73gpxvo9AfpE/BHwL0iUMx6TfJuY9UsX/wAh6keweGLqTUN/xFudbw80pRvK1QhCEwhMIQhCExCKJegbQ3NedYDhBCs094oo+lLpCNlGM1740SYTTRDbfwIE2eBu8Dd4H6h+gfwfAb+ho/T/AIoaPwR/EN+nDqzd8I/4k/4kh31TfGmUpdS1zEIQhMVoLsfYUuFyUonE6KEGMns2NGTyNEISoqFJbpRCQikeEzwfEYkI6psNxQ3yPujYN48nWvnEoX4f3AY+KlKUpSlEylKN8SiUKMb7Jca1UWEMZONHUTJUW0kPYHPI55PcFCh1ikMkg90hr/wN1QoPule/cT/44qR1HqfBSlKXJclKJlKUuYDZrthFLzooJhN3yIahTyJ+RLyM9i15PbHINhuM+cNTZAYWzZEOw/I+DHiIVFSlFdGJ2FzSlKUpSlKUpSlOgf41mSQ9kIr4ULCwTKJhOJ0I+cEmbjV1Y1NxCydJo/QicXbG0miGxYaYtyeCwmPgfNdFKUuKX8VYeyJtEJDevjWEJ6KJiYnGexVqMfuxxnIN/drmMY8J7kIf8YdBeBsbyPQ+6v4CetCNvCkEi7LqWpCE9VwieEvTwLcrLG6MNjGMejp0OXwvKurE0P8AburqLsQiA5sbLyIQs0ulvn2SP4bd2Jl3KN4Y8vb+idyKb1oSMtD/AFFyIs0ICEi7lG+ZZWtNyzIIYsDadouXh4ZBYpqIZLwfN8sfE+wXT8mgtENpYKMvOsLK0OQQo2S92NnhSj0MQ+h5P+OEKQfEhMvsFr8d+uFKxKVxBF9F7NYYbqqGNqL2RRMehIeWs/RYUGgR7zwxrD7e7D/GRuIWIkhgvbos1gikKYxjr3hYmViDHOC1qJUKXh0QHk9K/SWpJs8ENmzYi3ZLQsIhUbqERWYx6z4mNGXxiN9iL1Ia9svsV+UhSSQlNQs5jeqD4kspMaE/wT8YFfoKVBJiIjYB4KiiiEZCaGt3yITChreESbNjWH2KDX4iyhIU0kIS2hCRLE3ZLCQ3wHuthSXQaeh/BXoFrSRHordhrdB/BfobjPQ/UP1HwH6h+gafAl5DddSIzqTFLEsFsrcNeKRjWh5n6goJI2CiGJDQX0PXOWIjY2EEthfI/gj0IvQhLoP5F+hTfTB/I/gfwP4Enoa+h/Il9CGEhsqOgecndmwrXngag2N98H3awhJI6CEhJDw2VrBrPgo+NDtkekTTbRUq8Z2o8H8D+R/A09H8keh/Bu9CrWwjZD5gH+hYcxhIpRUFvhzFD7FdpOyWsdMQ0gX0kIRsTTBzm8vW+BYhdnRZCaiaEEIiCIggkkgaDUkakECGzp7EOgV0fBCixkNOE2bgmwJCYGEG0P8ARWhC7i6ELuwyoLRMcG2PsUhZPArak0mJFyQhCELs6QoWD/vBjUtE62KWLZic/b7UTD/IfGlRrYkN0mN3h63G4FxrC1opIbSEEEsrXMQhCCWbSDYiItbiFFdmxG8GQIUhEMAB6Z+ckXYpIv8A6MV8BGJ7DrtFhKhuh0CSFhapohCEEOiRSwvBUX1GOS0deCWqKgWrB4LLDWGeMP8ALSGMlhANqUNblWiCwsJDg24kgl2ELtHQOmPHH3xqbcY98NO7UReEFQqfhttsPR4H+WizE7iQSkVZeZa0QehYygWJlckWIbx0DZJQS/mPO1vhoYmMfhe6IZVth4LcMwuj0eNE4X3yQ9kFgkOG+WaloQy0JKNINUyhciw3kdEiH3ha/CsD66EEZAsL3glCF7FxjZMf5rmIhkQRDeaQ3m8q0pCELURG2jqINaRsoTq4FpbIEGrLNHQJC9cS7fB9rbJ4TPFCiRlIFIbKCMbCA1+UihJY24hqpR9osXCHQLyLUnjPOgVQXHIeZZiVrBtYetn0gavlcvZNDgTdIaKIcKfQTz2Uf5SQmCLJ9qXSlZSQbKWMySaLpDVC4twmMdZvoWw2CB8h7XZFwelQGQgWkhoWpBTqD6If4T1phYhRUMfaom2UQxIMKGxJ0eD9i6QhYWJmYq8W2J7l0baFiDDx45DwnDrGPRDyRhj8EENFaHZQothv8ZIQsj7P/9k="
              },
              "contextInfo": {
                "entryPointConversionSource": "global_search_new_chat",
                "entryPointConversionApp": "whatsapp",
                "entryPointConversionDelaySeconds": 4
              },
              "messageType": "imageMessage",
              "messageTimestamp": 1763823931,
              "instanceId": "b556d824-9d0f-4f2b-849d-bd7b32d7ac6d",
              "source": "android"
            },
            "destination": "https://personal-n8n.rk9l1c.easypanel.host/webhook/calidax",
            "date_time": "2025-11-22T12:05:32.030Z",
            "sender": "34604863683@s.whatsapp.net",
            "server_url": "https://personal-evolution-api.rk9l1c.easypanel.host",
            "apikey": "2F69A1ACA0A6-476C-9366-06C400631ED5"
          },
          "webhookUrl": "https://personal-n8n.rk9l1c.easypanel.host/webhook/calidax",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo": {
    "owner": "abdeidr",
    "name": "n8n"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-06T14:04:18.429Z",
      "createdAt": "2025-10-06T14:04:18.429Z",
      "role": "workflow:owner",
      "workflowId": "5baZQi4nBrmXGEH1",
      "projectId": "xdZYvePgLSibegaD"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-22T19:25:11.000Z",
  "versionId": "f12318c2-b81f-42a8-b20d-95b46aa578bf"
}