6shWTP0u38H2OyRH.json
{
  "active": true,
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Agregar Datos a Sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cada 5 minutos1": {
      "main": [
        [
          {
            "node": "Leer PostgreSQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer PostgreSQL1": {
      "main": [
        [
          {
            "node": "Detectar Cambios1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Detectar Cambios1": {
      "main": [
        [
          {
            "node": "¿Hay cambios?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay cambios?1": {
      "main": [
        [
          {
            "node": "Limpiar Google Sheet2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sin Cambios1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar Google Sheet2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-18T21:42:12.090Z",
  "id": "6shWTP0u38H2OyRH",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "PostgreSQL a Google Sheets (cada 5min si hay cambios)",
  "nodes": [
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "738845eb-91e5-495f-a320-67590d1629f4",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        480,
        480
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "aa59c8b3-2a7a-4c98-ae39-0568e3bb3be9",
      "name": "Cada 5 minutos1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -528,
        576
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM leads ORDER BY id",
        "options": {}
      },
      "id": "455c7580-45f4-40c3-b419-bba8bef23f1b",
      "name": "Leer PostgreSQL1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -336,
        576
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "// Función hash simple sin dependencias externas\nfunction simpleHash(str) {\n  let hash = 0;\n  for (let i = 0; i < str.length; i++) {\n    const char = str.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return hash.toString(36);\n}\n\nconst items = $input.all();\n\n// Convertir todos los items a string ordenado\nconst dataString = JSON.stringify(items.map(item => item.json));\n\n// Generar hash\nconst currentHash = simpleHash(dataString);\n\n// Obtener static data del workflow\nconst staticData = $getWorkflowStaticData('node');\n\n// Obtener hash anterior\nconst previousHash = staticData.dataHash || '';\n\n// Guardar el hash actual\nstaticData.dataHash = currentHash;\n\nreturn {\n  json: {\n    hasChanges: currentHash !== previousHash,\n    currentHash: currentHash,\n    previousHash: previousHash,\n    recordCount: items.length,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "eeec2263-b5b2-46a5-8c45-cd78f180862d",
      "name": "Detectar Cambios1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "b7f27467-e8f0-4d49-b97c-c91505e8e54a",
              "leftValue": "={{ $json.hasChanges }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "01c07504-4d4d-47fb-a799-068247b01525",
      "name": "¿Hay cambios?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        80,
        480
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "[REDACTED]",
          "mode": "list",
          "cachedResultName": "centro Atlas a postgres",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oEBlGnunp6bPSqYdw6fH7fScNFwtYneIauL3GXaKaCk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oEBlGnunp6bPSqYdw6fH7fScNFwtYneIauL3GXaKaCk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "hasChanges",
              "displayName": "hasChanges",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "currentHash",
              "displayName": "currentHash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "previousHash",
              "displayName": "previousHash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recordCount",
              "displayName": "recordCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mensaje_inicial",
              "displayName": "mensaje_inicial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fuente",
              "displayName": "fuente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha_captacion",
              "displayName": "fecha_captacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "clasificacion",
              "displayName": "clasificacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "razon_clasificacion",
              "displayName": "razon_clasificacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "problema_principal",
              "displayName": "problema_principal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "intentos_contacto",
              "displayName": "intentos_contacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ultima_interaccion",
              "displayName": "ultima_interaccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ultimo_mensaje",
              "displayName": "ultimo_mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "necesita_llamada",
              "displayName": "necesita_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "conversation_stage",
              "displayName": "conversation_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "urgencia",
              "displayName": "urgencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "handlingExtraData": "insertInNewColumn"
        }
      },
      "id": "c45f2fe2-212c-4731-90fa-0454f79bd1f0",
      "name": "Agregar Datos a Sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        672,
        480
      ],
      "credentials": {}
    },
    {
      "parameters": {},
      "id": "29e19734-b20c-44fa-9df2-3ff1982b8d1b",
      "name": "Sin Cambios1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        272,
        576
      ]
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "[REDACTED]",
          "mode": "list",
          "cachedResultName": "centro Atlas a postgres",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oEBlGnunp6bPSqYdw6fH7fScNFwtYneIauL3GXaKaCk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oEBlGnunp6bPSqYdw6fH7fScNFwtYneIauL3GXaKaCk/edit#gid=0"
        }
      },
      "id": "cca9dd25-af3e-4f9a-84a6-800acf23e8ff",
      "name": "Limpiar Google Sheet2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        288,
        352
      ],
      "credentials": {}
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "abdeidr",
    "name": "n8n"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-18T21:42:12.096Z",
      "updatedAt": "2025-10-18T21:42:12.096Z",
      "role": "workflow:owner",
      "workflowId": "6shWTP0u38H2OyRH",
      "projectId": "xdZYvePgLSibegaD"
    }
  ],
  "staticData": {
    "node:Cada 5 minutos": {
      "recurrenceRules": []
    },
    "node:Cada 5 minutos1": {
      "recurrenceRules": []
    },
    "node:Detectar Cambios1": {
      "dataHash": "-y50l7s"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-18T22:14:17.000Z",
  "versionId": "0ebfc3df-2b6f-4e17-9994-3540ac576cb8"
}