7pZjH66VW8fZfFdc.json
{
  "active": false,
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mapear mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Transcribir audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Comprobar disponibilidad": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "limpiar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "limpiar texto": {
      "main": [
        []
      ]
    },
    "Transcribir audio": {
      "main": [
        [
          {
            "node": "Mapear mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapear mensaje": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-02T11:03:16.169Z",
  "id": "7pZjH66VW8fZfFdc",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensaje }}",
        "options": {
          "systemMessage": "=Eres el asistente personal de Juan Pe Navarro. Siempre te hablará Juanpe.\n\nLa fecha y hora de hoy es: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1760,
        760
      ],
      "id": "78b0edbb-7147-4b68-9f56-6cba8ad98c12",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.data.message._data.type }}",
                    "rightValue": "=ptt",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "be9dbcd5-0882-4ce9-9822-305865fae492"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6a0ec742-7f93-4ea1-af39-35d410da1c1a",
                    "leftValue": "={{ $json.body.data.message._data.type }}",
                    "rightValue": "chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        760,
        740
      ],
      "id": "988051f9-b329-4f76-8161-4c398129679f",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "body.data.media.data",
        "options": {
          "fileName": "fe.ogg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        960,
        500
      ],
      "id": "ff85c72e-5c15-494f-b161-650b457d2462",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9ab83bb8-0010-4684-ae19-79e992cb39ea",
              "name": "body.data.message._data.id.remote",
              "value": "={{ $json.body.data.message._data.id.remote }}",
              "type": "string"
            },
            {
              "id": "26e6f1fb-f66d-4080-a01e-9e889cb2156e",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "object"
            },
            {
              "id": "62738a51-4284-40b5-a761-0dd788569ab6",
              "name": "text",
              "value": "={{ $json.body.data.message._data.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        540,
        740
      ],
      "id": "6b22e667-7eb3-4648-b3f4-e3384df130ee",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "divisual@divisualproject.com",
          "mode": "list",
          "cachedResultName": "divisual@divisualproject.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "sendUpdates": "all",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1960,
        980
      ],
      "id": "b1e8c605-562f-4998-82cf-532a27fe08a2",
      "name": "Crear evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "cwz4sgH2dCRABNU8",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utiliza esta herramienta para eliminar eventos del calendario.",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "divisual@divisualproject.com",
          "mode": "list",
          "cachedResultName": "divisual@divisualproject.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1820,
        980
      ],
      "id": "0171a21d-a672-4aea-805a-fe92b21db3c7",
      "name": "Eliminar evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "cwz4sgH2dCRABNU8",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "divisual@divisualproject.com",
          "mode": "list",
          "cachedResultName": "divisual@divisualproject.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2100,
        980
      ],
      "id": "84fb3485-de0f-4f61-ac9b-e400fad4bd26",
      "name": "Actualizar evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "cwz4sgH2dCRABNU8",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "divisual@divisualproject.com",
          "mode": "list",
          "cachedResultName": "divisual@divisualproject.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2240,
        980
      ],
      "id": "8f55e592-3619-4ff4-97cd-49aa658be1da",
      "name": "Comprobar disponibilidad",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "cwz4sgH2dCRABNU8",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.data.message._data.id.remote }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1640,
        980
      ],
      "id": "e3e5e57f-8b3b-4180-8070-a65d6bf6500d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1480,
        980
      ],
      "id": "91323efd-2101-4103-af50-d147771b945e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "KWnDJaHtIyR96qkG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 📩 Entrada de mensaje mediante Webhook en WaAPI\n",
        "height": 300,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        280,
        620
      ],
      "id": "5e44ec11-4cdd-48a4-86de-8489b61992e4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 🧠 Identificación de mensaje\n\nAquí identificamos si el mensaje recibido es un **audio** o un **texto**.\n\n- Si es **texto**, se envía directamente al agente para su interpretación.\n- Si es **audio**, se redirige a un nodo de tipo `convert to file` para transcribir el contenido a texto, de modo que el agente pueda interpretarlo correctamente.\n",
        "height": 620,
        "width": 700,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        300
      ],
      "id": "8138c8fd-f4e5-40ee-b9bf-53c07d2a0d17",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 🤖 Acción del agente\n\nEn esta zona, el agente entra en acción:\n\n- **Interpreta la información recibida** (ya sea texto o transcripción de audio).\n- **Toma decisiones** en base al contenido del mensaje.\n- **Ejecuta las herramientas disponibles** (como consultas a base de datos, generación de respuestas, acciones en Shopify, etc.) para ofrecer una respuesta adecuada o realizar una tarea automatizada.\n",
        "height": 600,
        "width": 960,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        540
      ],
      "id": "903d5d90-a08d-44b5-87fb-239cc9f7fdab",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 📤 Respuesta por WhatsApp\n\nEste nodo se encarga de **enviar la respuesta generada por el agente** a la misma conversación de WhatsApp desde donde se recibió el mensaje.\n\n- Mantiene el contexto de la conversación.\n- Utiliza la API de WaAPI para realizar el envío de forma automática.\n",
        "height": 440,
        "width": 400,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2420,
        500
      ],
      "id": "d0c4f3a8-4de5-4cec-9791-17535d4b997b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## 🚀 19 Junio 2025\n\nEste agente tiene un valor en el mercado de **$997.**\n\nAccede al **Evento Online Gratis del día 19 de junio** para aprender a crear agentes mucho más avanzados y venderlos a cualquier empresa.\n\n## 👉 [Click aquí para obtener tu plaza al evento gratis](https://divisualproject.academy/evento-19-junio-plantillas)\n",
        "height": 240,
        "width": 600,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2420,
        940
      ],
      "id": "1c59f866-bc5c-4bd8-815b-c544de86f80d",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# 🛠️ Herramientas Utilizadas\n\n| Herramienta        | Descripción                                                                                         | Coste mensual              |\n|--------------------|-----------------------------------------------------------------------------------------------------|-----------------------------|\n\n| **WaAPI**          | Conexión con la API de WhatsApp.                                                                    | $6                          |\n\n| **ChatGPT**        | Transcripción de audios e interpretación de mensajes entrantes para generar respuestas.             | Pago por tokens *(variable)* |\n\n| **Supabase**       | Almacenamiento de la memoria del agente usando PostgreSQL.                                           | $0 *(versión gratuita)*     |\n\n| **Google Calendar**| Gestión de calendario y programación de eventos.                                                    | $0                          |\n\n\n---\n\n## 💰 Coste Total Mensual Estimado\n\n### **$6 (WaAPI) + tokens usados en ChatGPT**\n\n---\n\n**Hecho con ❤️ por [Juan Pe Navarro](https://www.youtube.com/@juanpe.divisual)**\n",
        "height": 540,
        "width": 660,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6ca0b93e-45e9-463e-9de4-a3079cb80269",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1200,
        1620
      ],
      "id": "9f7f6167-9e7c-4fae-826a-5c0906cd218a",
      "name": "When chat message received",
      "webhookId": "ccbefe2c-38c6-437f-8461-1043aac2f2e1"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const originalText = $input.first().json.output;\n\n  if (typeof originalText !== 'string') {\n    return {\n      json: {\n        error: 'El campo \"text\" no existe o no es un texto',\n        original: originalText\n      }\n    };\n  }\n\n  let cleaned = originalText\n    .replace(/<[^>]*>/g, '')                     // Quitar HTML\n    .replace(/\\r?\\n|\\r/g, ' ')                   // Saltos de línea a espacio\n    .replace(/\\t+/g, ' ')                        // Tabs a espacio\n    .replace(/[^\\p{L}\\p{N},.¿?:?\\s]+/gu, '')     // Mantener letras, números, , . : ¿ ? y espacios\n    .replace(/\\s+/g, ' ')                        // Normalizar múltiples espacios\n    .trim();                                     // Quitar espacios extremos\n\n  return {\n    json: {\n      cleaned\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        760
      ],
      "id": "d70c1b1b-f41f-4826-8d3a-2484732623b9",
      "name": "limpiar texto"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1180,
        500
      ],
      "id": "503d4c58-728e-47c8-b10d-43b698b58dfc",
      "name": "Transcribir audio",
      "credentials": {
        "openAiApi": {
          "id": "KWnDJaHtIyR96qkG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "defa1545-074d-4d6a-a21f-a95c2226995f",
              "name": "mensaje",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1480,
        760
      ],
      "id": "fcb575c6-f8c5-4ef6-96eb-e0de9350b5ee",
      "name": "Mapear mensaje"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://waapi.app/api/v1/instances/70972/client/action/send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chatId\": \"{{ $('Webhook').item.json.body.data.message._data.id.remote }}\",\n  \"message\": \"{{ $json.cleaned }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2500,
        760
      ],
      "id": "adcdd919-a3fe-4de2-91a7-0c2ee9bdc841",
      "name": "HTTP Request - Respuesta"
    },
    {
      "parameters": {
        "content": "## ⚠️ ATENCIÓN\n\n### Este agente lo puedes conectar también a telegram (lo que te supondría un coste mensual de **$0**\n\nAprenderás a hacerlo en el evento del día **19 de junio de 2025**\n\n## 👉 [Click aquí para obtener tu plaza al evento gratis](https://divisualproject.academy/evento-19-junio-plantillas)\n",
        "height": 240,
        "width": 620,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        280
      ],
      "id": "128a6dc6-b3fb-45f9-aca9-1086511c512f",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "calidaxBott",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        320,
        740
      ],
      "id": "b23b9fd4-c3af-4e38-b77d-aa155fd40142",
      "name": "Webhook",
      "webhookId": "f5b0365d-ee2e-4901-8b8b-7f9ab737c06f"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "abdeidr",
    "name": "n8n"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-02T11:03:16.177Z",
      "updatedAt": "2025-07-02T11:03:16.177Z",
      "role": "workflow:owner",
      "workflowId": "7pZjH66VW8fZfFdc",
      "projectId": "xdZYvePgLSibegaD"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-07-02T09:38:00.026Z",
      "updatedAt": "2025-07-02T09:38:00.026Z",
      "id": "56nVXnHRMgTIAOJh",
      "name": "Curso Adrián Sáenz"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-07-03T09:35:03.000Z",
  "versionId": "416a5689-1b30-496b-a802-70e7eaedd03a"
}