8vidnQGxQl1lxUwD.json
{
  "active": false,
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get file data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "isDeleted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflows": {
      "main": [
        [
          {
            "node": "List files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDeleted": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files": {
      "main": [
        [
          {
            "node": "github",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is new": {
      "main": [
        [
          {
            "node": "Create new file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "File is new",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Same file - Do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file data": {
      "main": [
        [
          {
            "node": "If file too large",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is different": {
      "main": [
        [
          {
            "node": "Edit existing file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If file too large": {
      "main": [
        [
          {
            "node": "Get File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit existing file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Workflows",
            "type": "main",
            "index": 0
          },
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Same file - Do nothing": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-26T10:28:46.960Z",
  "id": "8vidnQGxQl1lxUwD",
  "isArchived": false,
  "meta": {
    "templateId": "5898"
  },
  "name": "Automated n8n Workflow Backup to GitHub with Deletion Tracking",
  "nodes": [
    {
      "parameters": {},
      "id": "638dcc28-8b20-40e6-81fd-96efec4d4111",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        848,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
              "name": "Done",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "287eabd3-013d-41cd-a9c3-ae71b8d26ef9",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "position": [
        2400,
        1440
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "id": "edc8da3b-fcf1-4487-8963-464c18c209b5",
      "name": "Get File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1520,
        912
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 1,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "45ce825e-9fa6-430c-8931-9aaf22c42585",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": ""
            },
            {
              "id": "9619a55f-7fb1-4f24-b1a7-7aeb82365806",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "63859d24-34b7-4545-a3fb-fe45b3678cef",
      "name": "If file too large",
      "type": "n8n-nodes-base.if",
      "position": [
        1296,
        928
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();"
      },
      "id": "8509afb5-c772-445d-af47-de54c9deae6e",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        1520,
        1184
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "ac50a21b-f850-495a-9e41-8fdd075c3c62",
      "name": "Same file - Do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1952,
        1360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "293179e5-9ef0-4f75-b39c-987ebf13a9b5",
      "name": "File is different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1952,
        1184
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "ab03b5e9-61eb-4512-9675-afd048a761c6",
      "name": "File is new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1952,
        1008
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Switch').item.json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Switch').item.json.repo.name }}"
        },
        "filePath": "={{$('Switch').first().json.id}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Switch').first().json.name}} ({{$json.github_status}})"
      },
      "id": "a0431fdb-41ff-4bf0-8618-c743d6be159e",
      "name": "Create new file",
      "type": "n8n-nodes-base.github",
      "position": [
        2176,
        1008
      ],
      "webhookId": "93cca36a-a5f4-4919-b655-e0fa2cc2ca36",
      "typeVersion": 1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "cwp8Dv27VY5pkekR",
          "name": "GitHub idrabde7@"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Switch').item.json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Switch').item.json.repo.name }}"
        },
        "filePath": "={{$('Switch').first().json.id}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Switch').first().json.name}} ({{$json.github_status}})"
      },
      "id": "e0a9e1f0-bd40-4009-8945-24a264ddbf0d",
      "name": "Edit existing file",
      "type": "n8n-nodes-base.github",
      "position": [
        2176,
        1184
      ],
      "webhookId": "286cabce-a3ec-4202-9d94-d005502d73cc",
      "typeVersion": 1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "cwp8Dv27VY5pkekR",
          "name": "GitHub idrabde7@"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $node[\"Loop Over Items\"].context[\"done\"] }}"
        }
      },
      "id": "a4d50217-3d8c-48f3-a486-fb3c033fcef4",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        2176,
        512
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "4f529f31-26a2-4f19-b8f3-42ce583b11ad",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        848,
        608
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub and also deleted it if was deleted in n8n.\n\nThe files are saved `ID.json` for the filename.\n\n### Setup\nOpen `Globals` node and update the values below 👇\n\n- **repo.owner:** your Github username\n- **repo.name:** the name of your repository\n\n\nIf your username was `john-doe` and your repository was called `n8n-backups`:\n\n- repo.owner - john-doe\n- repo.name - n8n-backups\n\n\nThe workflow calls itself using a subworkflow, to help reduce memory usage.",
        "height": 601,
        "width": 371,
        "color": 4
      },
      "id": "c8c0bc8a-3538-4c63-8882-3dd846830649",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo.name }}"
        },
        "filePath": "={{ $('Switch').item.json.id }}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "d527bac6-971b-4be7-8481-97dd023e85e1",
      "name": "Get file data",
      "type": "n8n-nodes-base.github",
      "position": [
        1072,
        928
      ],
      "webhookId": "5cf07ee9-70c6-48bf-b370-534315f2d48e",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "cwp8Dv27VY5pkekR",
          "name": "GitHub idrabde7@"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "6c7b66fa-bfdd-47ea-9161-835415d116dd",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        496,
        1312
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "value": {},
          "schema": [],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "id": "a3021ade-6778-49df-8ad4-4d43f28d51e2",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        2400,
        512
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6cf546c5-5737-4dbd-851b-17d68e0a3780",
              "name": "repo.owner",
              "type": "string",
              "value": "abdeidr"
            },
            {
              "id": "452efa28-2dc6-4ea3-a7a2-c35d100d0382",
              "name": "repo.name",
              "type": "string",
              "value": "n8n"
            }
          ]
        },
        "options": {}
      },
      "id": "e6675677-07ac-48d9-a920-58065cc79d77",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        1072,
        512
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.name }}"
        }
      },
      "id": "fba69d35-d05b-45a1-bdd9-93a83fddf63e",
      "name": "List files",
      "type": "n8n-nodes-base.github",
      "position": [
        1728,
        608
      ],
      "webhookId": "244ea8da-851f-4afb-980c-5e5973b6a1af",
      "executeOnce": true,
      "typeVersion": 1.1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "cwp8Dv27VY5pkekR",
          "name": "GitHub idrabde7@"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "8f6b31b0-a75c-4299-a530-d15b3ff65c9a",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.origin }}",
                    "rightValue": "n8n"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "n8n"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "09e36861-1120-4343-8d38-4797e9d67eec",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.origin }}",
                    "rightValue": "github"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "github"
            }
          ]
        },
        "options": {}
      },
      "id": "f235efb7-3ff9-497d-bc32-c94f38f76183",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        720,
        1312
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "7c35c3da-b364-4ad0-b192-3691cb73eb6f",
      "name": "Get many workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1296,
        512
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "yEN2qAaHCZO87f7g",
          "name": "n8n api"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "12a90225-5a32-4b69-bee6-d61bc4369eb2",
      "name": "Workflows",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        1520,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "799e5c1f-43aa-4375-b8f2-25a3335ddb18",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        1296,
        1184
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "aea200f9-9f83-4e4e-a965-65fddcbb6a5f",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{$json.github_status}}",
                    "rightValue": "new"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "new"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "706ebf35-6f74-43b6-9f98-94cf14107947",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{$json.github_status}}",
                    "rightValue": "different"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "different"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "30c8c5a8-269f-424a-93ed-d2cbe52acf7c",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{$json.github_status}}",
                    "rightValue": "same"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "same"
            }
          ]
        },
        "options": {}
      },
      "id": "5acad04e-0c07-4663-be6f-d8cdf4ecee4e",
      "name": "Check Status",
      "type": "n8n-nodes-base.switch",
      "position": [
        1728,
        1184
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "jsCode": "const workflows = $input.first().json.workflows;\n\nconst some = workflows.some(x => x.id === $input.first().json.name.split(\".\")[0])\n\nreturn [{json: { isDeleted: !some }}];"
      },
      "id": "a5979392-d277-4580-aa16-09d18e3eb577",
      "name": "isDeleted",
      "type": "n8n-nodes-base.code",
      "position": [
        1520,
        1504
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "delete",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Switch').item.json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Switch').item.json.repo.name }}"
        },
        "filePath": "={{$('Switch').first().json.name}}",
        "commitMessage": "={{$('Switch').first().json.name}} (deleted)"
      },
      "id": "c08dde95-3a3a-4ac1-a92b-c9bcd5c7743b",
      "name": "Delete a file",
      "type": "n8n-nodes-base.github",
      "position": [
        2176,
        1632
      ],
      "webhookId": "592f888e-3e41-49ce-b88a-d73f8756eac8",
      "typeVersion": 1.1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "cwp8Dv27VY5pkekR",
          "name": "GitHub idrabde7@"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "bb927e0c-f27b-4dce-80df-8d7611467045",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.isDeleted }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "1e769761-5f93-4d67-b801-e2d6a8443aed",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        1728,
        1504
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5e73d2e7-4b1a-4180-8af2-047e52eb8a0a",
              "name": "repo.owner",
              "type": "string",
              "value": "={{ $('Globals').item.json.repo.owner }}"
            },
            {
              "id": "22445c28-5431-45a5-86ca-0ab2ff26cff5",
              "name": "repo.name",
              "type": "string",
              "value": "={{ $('Globals').item.json.repo.name }}"
            },
            {
              "id": "232d9947-a43f-48a9-b385-da1aa8f5139e",
              "name": "origin",
              "type": "string",
              "value": "n8n"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "39ad6ee3-acde-4019-b850-7a8add4e795a",
      "name": "n8n",
      "type": "n8n-nodes-base.set",
      "position": [
        1952,
        400
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5e73d2e7-4b1a-4180-8af2-047e52eb8a0a",
              "name": "repo.owner",
              "type": "string",
              "value": "={{ $('Globals').item.json.repo.owner }}"
            },
            {
              "id": "22445c28-5431-45a5-86ca-0ab2ff26cff5",
              "name": "repo.name",
              "type": "string",
              "value": "={{ $('Globals').item.json.repo.name }}"
            },
            {
              "id": "232d9947-a43f-48a9-b385-da1aa8f5139e",
              "name": "origin",
              "type": "string",
              "value": "github"
            },
            {
              "id": "456ec816-8c15-498b-bbc5-a96abce95d59",
              "name": "workflows",
              "type": "array",
              "value": "={{ $('Workflows').item.json.data }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "fc83af27-10a8-4ec4-94e7-15ab074c8ab6",
      "name": "github",
      "type": "n8n-nodes-base.set",
      "position": [
        1952,
        608
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Edit this node 👇",
        "height": 80,
        "width": 150,
        "color": 4
      },
      "id": "99e64b8f-3446-4b74-8ce6-5eccd47d0aa7",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1056,
        368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Main workflow loop",
        "height": 601,
        "width": 1831,
        "color": 7
      },
      "id": "734112c4-9175-4f50-a2d6-7970d2938624",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Subworkflow",
        "height": 941,
        "width": 2231,
        "color": 6
      },
      "id": "0dbfd9fc-e5c8-4a98-8435-5a44c1f3d56d",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        864
      ],
      "typeVersion": 1
    }
  ],
  "origin": "n8n",
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "createdAt": "2025-10-15T09:26:39.935Z",
          "updatedAt": "2025-10-15T10:20:36.000Z",
          "id": "0u4WrX90qwgUqQ0f",
          "name": "rag atlas centro",
          "active": true,
          "isArchived": false,
          "nodes": [
            {
              "parameters": {
                "options": {}
              },
              "type": "n8n-nodes-base.splitInBatches",
              "typeVersion": 3,
              "position": [
                -1120,
                128
              ],
              "id": "bccb601a-5042-4d2f-8b67-d00d9ecfba50",
              "name": "Loop Over Items"
            },
            {
              "parameters": {
                "assignments": {
                  "assignments": [
                    {
                      "id": "3a4ddc58-c303-4e51-80e3-4077dcba7e7d",
                      "name": "id",
                      "value": "={{ $('Google Drive Trigger1').item.json.id }}",
                      "type": "string"
                    },
                    {
                      "id": "f4438fa1-1b0b-4058-b387-15f512b665a7",
                      "name": "nombre",
                      "value": "={{ $('Google Drive Trigger1').item.json.name }}",
                      "type": "string"
                    }
                  ]
                },
                "options": {}
              },
              "type": "n8n-nodes-base.set",
              "typeVersion": 3.4,
              "position": [
                -816,
                160
              ],
              "id": "9983d697-1540-415d-ac7c-7764eb6e8dd9",
              "name": "Edit Fields"
            },
            {
              "parameters": {
                "rules": {
                  "values": [
                    {
                      "conditions": {
                        "options": {
                          "caseSensitive": true,
                          "leftValue": "",
                          "typeValidation": "strict",
                          "version": 2
                        },
                        "conditions": [
                          {
                            "id": "425f73f4-1f70-4bb2-b708-a400c61a2af0",
                            "leftValue": "={{ $json.nombre }}",
                            "rightValue": "pdf",
                            "operator": {
                              "type": "string",
                              "operation": "contains"
                            }
                          }
                        ],
                        "combinator": "and"
                      },
                      "renameOutput": true,
                      "outputKey": "PDF"
                    },
                    {
                      "conditions": {
                        "options": {
                          "caseSensitive": true,
                          "leftValue": "",
                          "typeValidation": "strict",
                          "version": 2
                        },
                        "conditions": [
                          {
                            "id": "09f64b2b-2e3c-4aa7-8537-175a24958a26",
                            "leftValue": "={{ $json.nombre }}",
                            "rightValue": "xlsx",
                            "operator": {
                              "type": "string",
                              "operation": "contains"
                            }
                          }
                        ],
                        "combinator": "and"
                      },
                      "renameOutput": true,
                      "outputKey": "XLSX"
                    }
                  ]
                },
                "options": {}
              },
              "type": "n8n-nodes-base.switch",
              "typeVersion": 3.2,
              "position": [
                -320,
                160
              ],
              "id": "55a241b8-4888-4bc2-b214-b6fac1d5fec2",
              "name": "Switch"
            },
            {
              "parameters": {
                "operation": "pdf",
                "options": {}
              },
              "type": "n8n-nodes-base.extractFromFile",
              "typeVersion": 1,
              "position": [
                0,
                0
              ],
              "id": "dc39e6ba-4751-49e0-ab6b-6644d00fbfdb",
              "name": "Extract from File"
            },
            {
              "parameters": {
                "operation": "xlsx",
                "options": {}
              },
              "type": "n8n-nodes-base.extractFromFile",
              "typeVersion": 1,
              "position": [
                0,
                240
              ],
              "id": "f5373512-c51f-4521-9fbb-217f486e3970",
              "name": "Extract from File1"
            },
            {
              "parameters": {
                "aggregate": "aggregateAllItemData",
                "options": {}
              },
              "type": "n8n-nodes-base.aggregate",
              "typeVersion": 1,
              "position": [
                208,
                240
              ],
              "id": "20751d5d-41f4-429f-aea3-3079d4d7d730",
              "name": "Aggregate"
            },
            {
              "parameters": {
                "fieldsToSummarize": {
                  "values": [
                    {
                      "aggregation": "concatenate",
                      "field": "data"
                    }
                  ]
                },
                "options": {}
              },
              "type": "n8n-nodes-base.summarize",
              "typeVersion": 1.1,
              "position": [
                400,
                240
              ],
              "id": "ca7b0370-a7a0-48a8-80ee-ac3f73ab10e0",
              "name": "Summarize"
            },
            {
              "parameters": {
                "options": {}
              },
              "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
              "typeVersion": 1.2,
              "position": [
                512,
                496
              ],
              "id": "6f64b0a7-0f80-4ac4-a0a5-21535a5b772f",
              "name": "Embeddings OpenAI",
              "credentials": {
                "openAiApi": {
                  "id": "KWnDJaHtIyR96qkG",
                  "name": "OpenAi account"
                }
              }
            },
            {
              "parameters": {
                "jsonMode": "expressionData",
                "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
                "options": {
                  "metadata": {
                    "metadataValues": [
                      {
                        "name": "id",
                        "value": "={{ $('Edit Fields').item.json.id }}"
                      },
                      {
                        "name": "nombre",
                        "value": "={{ $('Edit Fields').item.json.nombre }}"
                      }
                    ]
                  }
                }
              },
              "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
              "typeVersion": 1,
              "position": [
                752,
                480
              ],
              "id": "64d549a1-837b-4df8-ae45-2d412b8634fa",
              "name": "Default Data Loader"
            },
            {
              "parameters": {
                "chunkSize": 300,
                "chunkOverlap": 50,
                "options": {}
              },
              "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
              "typeVersion": 1,
              "position": [
                640,
                608
              ],
              "id": "9f5211e5-9159-4259-a978-3ab016a8014d",
              "name": "Recursive Character Text Splitter"
            },
            {
              "parameters": {
                "pollTimes": {
                  "item": [
                    {
                      "mode": "everyMinute"
                    }
                  ]
                },
                "triggerOn": "specificFolder",
                "folderToWatch": {
                  "__rl": true,
                  "value": "1FjGYlPxo9O5F1fD1NepLFf4EKVKhndnM",
                  "mode": "list",
                  "cachedResultName": "rag atlas centro",
                  "cachedResultUrl": "https://drive.google.com/drive/folders/1FjGYlPxo9O5F1fD1NepLFf4EKVKhndnM"
                },
                "event": "fileCreated",
                "options": {}
              },
              "type": "n8n-nodes-base.googleDriveTrigger",
              "typeVersion": 1,
              "position": [
                -1456,
                128
              ],
              "id": "c1a8307b-7338-4919-9143-eb1feef89ca4",
              "name": "Google Drive Trigger1",
              "credentials": {
                "googleDriveOAuth2Api": {
                  "id": "VVgVUErHhMMuBKBP",
                  "name": "Google Drive account idrabde7@"
                }
              }
            },
            {
              "parameters": {
                "mode": "insert",
                "tableName": {
                  "__rl": true,
                  "value": "documents",
                  "mode": "list",
                  "cachedResultName": "documents"
                },
                "options": {}
              },
              "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
              "typeVersion": 1,
              "position": [
                832,
                240
              ],
              "id": "e73d29d3-3496-424a-81fc-3d3ebb1e7ef4",
              "name": "Supabase Vector Store2",
              "credentials": {
                "supabaseApi": {
                  "id": "3cYHynuRWxh8Qp4v",
                  "name": "Supabase account atlas centro aimaspain"
                }
              }
            },
            {
              "parameters": {
                "operation": "download",
                "fileId": {
                  "__rl": true,
                  "value": "={{ $json.id }}",
                  "mode": "id"
                },
                "options": {}
              },
              "type": "n8n-nodes-base.googleDrive",
              "typeVersion": 3,
              "position": [
                -560,
                160
              ],
              "id": "9e64318c-de5a-4c34-80f9-8d505a0ef161",
              "name": "Download file",
              "credentials": {
                "googleDriveOAuth2Api": {
                  "id": "VVgVUErHhMMuBKBP",
                  "name": "Google Drive account idrabde7@"
                }
              }
            }
          ],
          "connections": {
            "Loop Over Items": {
              "main": [
                [],
                [
                  {
                    "node": "Edit Fields",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            },
            "Edit Fields": {
              "main": [
                [
                  {
                    "node": "Download file",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            },
            "Switch": {
              "main": [
                [
                  {
                    "node": "Extract from File",
                    "type": "main",
                    "index": 0
                  }
                ],
                [
                  {
                    "node": "Extract from File1",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            },
            "Extract from File": {
              "main": [
                [
                  {
                    "node": "Supabase Vector Store2",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            },
            "Extract from File1": {
              "main": [
                [
                  {
                    "node": "Aggregate",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            },
            "Aggregate": {
              "main": [
                [
                  {
                    "node": "Summarize",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            },
            "Summarize": {
              "main": [
                [
                  {
                    "node": "Supabase Vector Store2",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            },
            "Embeddings OpenAI": {
              "ai_embedding": [
                [
                  {
                    "node": "Supabase Vector Store2",
                    "type": "ai_embedding",
                    "index": 0
                  }
                ]
              ]
            },
            "Default Data Loader": {
              "ai_document": [
                [
                  {
                    "node": "Supabase Vector Store2",
                    "type": "ai_document",
                    "index": 0
                  }
                ]
              ]
            },
            "Recursive Character Text Splitter": {
              "ai_textSplitter": [
                [
                  {
                    "node": "Default Data Loader",
                    "type": "ai_textSplitter",
                    "index": 0
                  }
                ]
              ]
            },
            "Google Drive Trigger1": {
              "main": [
                [
                  {
                    "node": "Loop Over Items",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            },
            "Supabase Vector Store2": {
              "main": [
                [
                  {
                    "node": "Loop Over Items",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            },
            "Download file": {
              "main": [
                [
                  {
                    "node": "Switch",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            }
          },
          "settings": {
            "executionOrder": "v1"
          },
          "staticData": {
            "node:Google Drive Trigger1": {
              "lastTimeChecked": "2025-10-15T10:20:36Z"
            }
          },
          "meta": null,
          "pinData": {},
          "versionId": "228c216b-4f05-4831-b1e5-6f9e297a73fa",
          "triggerCount": 1,
          "shared": [
            {
              "createdAt": "2025-10-15T09:26:39.942Z",
              "updatedAt": "2025-10-15T09:26:39.942Z",
              "role": "workflow:owner",
              "workflowId": "0u4WrX90qwgUqQ0f",
              "projectId": "xdZYvePgLSibegaD"
            }
          ],
          "tags": [],
          "repo": {
            "owner": "abdeidr",
            "name": "n8n"
          },
          "origin": "n8n"
        }
      }
    ]
  },
  "repo": {
    "owner": "abdeidr",
    "name": "n8n"
  },
  "settings": {},
  "shared": [
    {
      "createdAt": "2025-10-26T10:28:46.964Z",
      "updatedAt": "2025-10-26T10:28:46.964Z",
      "role": "workflow:owner",
      "workflowId": "8vidnQGxQl1lxUwD",
      "projectId": "xdZYvePgLSibegaD"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-26T20:56:23.000Z",
  "versionId": "9c6a6c73-6b6b-4c8c-b443-498fbca53ca7"
}