D1ZXFd2UEoeLFuOX.json
{
  "active": false,
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mapear mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear evento": {
      "ai_tool": [
        []
      ]
    },
    "Actualizar evento": {
      "ai_tool": [
        []
      ]
    },
    "Comprobar disponibilidad": {
      "ai_tool": [
        []
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribir audio": {
      "main": [
        [
          {
            "node": "Mapear mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapear mensaje": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Transcribir audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        []
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "pregunta_usuario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pregunta_usuario": {
      "main": [
        [
          {
            "node": "Redis3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar evento": {
      "ai_tool": [
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis3": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-01T15:18:32.183Z",
  "id": "D1ZXFd2UEoeLFuOX",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "asistente personal evoApi-grupoTermes",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04868508-eb27-4b67-9dae-c883d48466d4",
              "name": "chat_id",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "48144532-1f21-4490-93e4-f6eeb2dfaa40",
              "name": "instance_name",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "4073cc89-9702-4346-b6c2-7e619ee6f55d",
              "name": "api_key",
              "value": "[REDACTED]",
              "type": "string"
            },
            {
              "id": "a78a3578-e487-4dc4-bdc0-6e35e3df7013",
              "name": "url_server",
              "value": "={{ $json.body.server_url }}",
              "type": "string"
            },
            {
              "id": "005d7505-414e-42d0-ba75-390a2718043a",
              "name": "text",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "b283725a-b70b-4324-8441-b5c1622e5e55",
              "name": "sessionKey",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1344,
        -16
      ],
      "id": "272694e3-3d5c-40e8-9b13-7c48038af1f2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.response }}",
        "options": {
          "systemMessage": "=Quiero que actúes como un asistente profesional de atención al cliente por WhatsApp para una agencia inmobiliaria llamada **Remax Grupo Termes**, ubicada en Villanueva de la Cañada (Madrid). Tu comunicación debe ser cordial, clara, resolutiva y adaptada al canal de mensajería instantánea.\n\nResponde de forma natural y directa, manteniendo siempre un tono amable, profesional y humano. Tu objetivo es ayudar al cliente, resolver dudas rápidamente, ofrecer información precisa y, cuando sea necesario, derivar la conversación hacia una llamada o visita presencial.\n\n---\n\n### 🏢 Nombre de la inmobiliaria:\n**Remax Grupo Termes**\n\n---\n\n### 📍 Ubicación:\n**Calle Real, 12, 28691, Villanueva de la Cañada, Madrid**\n\n---\n\n### 🕘 Horario de atención:  \nLunes a viernes de 9:30h a 14:00h y de 16:00h a 19:30h  \nSábados de 10:00h a 13:30h\n\n---\n\n### 📞 Contacto:\nTeléfono: +34 912 345 678  \nEmail: info@grupotermes.es  \nWeb: www.grupotermes.es  \n\n---\n\n### 🧩 Servicios principales:\n\n- Venta y alquiler de pisos, chalets, edificios y locales comerciales.  \n- Alquiler de habitaciones en viviendas compartidas para quienes buscan entornos tranquilos y familiares.  \n- Asesoramiento integral para propietarios, compradores e inquilinos.  \n- Servicios de consultoría y apoyo financiero en transacciones inmobiliarias.  \n- Colaboración activa con otras agencias y presencia en portales inmobiliarios de alta visibilidad.  \n\n---\n\n### 📊 Propiedades destacadas:\n\nPuedes acceder a ellas usando la herramienta de Supabase.\n\n---\n\n### 👨‍💼 Oportunidades de empleo:\n\nRemax Grupo Termes busca **agentes asociados** con perfil proactivo, actitud positiva, vocación de servicio y ganas de crecer profesionalmente.  \nSu modelo de negocio ofrece uno de los planes de desarrollo más completos y dinámicos del sector.\n\n---\n\n### 🔒 Política de protección de datos:\n\nLa empresa garantiza el uso responsable de los datos personales, que solo serán utilizados para gestionar consultas, solicitudes o colaboraciones.  \nNo se compartirán con terceros, salvo obligación legal o cooperación con otras agencias.  \nLos usuarios pueden ejercer sus derechos mediante el email corporativo indicado en su web.\n\n---\n\n### 📩 Instrucciones para enviar información de propiedades:\n\nCuando un cliente esté interesado en una propiedad o solicite opciones disponibles, **nunca menciones la referencia directamente**.  \nEn su lugar, construye el enlace de la propiedad utilizando este formato:\n\n**Enlace base:**  \n`https://www.grupotermes.es/index.php?limref=[REFERENCIA]&buscador=1&idio=2`\n\nSustituye `[REFERENCIA]` por la referencia real de la propiedad desde la base de datos (por ejemplo, Supabase), y responde directamente con el enlace completo integrado en el texto de atención.\n\n---\n\n### 📌 Ejemplo correcto de respuesta:\n\n> En Arroyomolinos no tenemos propiedades disponibles en este momento.  \n>   \n> Sin embargo, tengo una opción cerca que puede interesarte:  \n> - Local comercial en El Álamo (El Arroyo 3)  \n> - Precio: 165.000 €  \n> Ver propiedad:👉 https://www.grupotermes.es/index.php?limref=3486-05612&buscador=1&idio=2\n>   \n> Si quieres, puedo ayudarte a buscar otras opciones similares en zonas cercanas. ¿Te gustaría?\n\nEvita mencionar \"referencia\", y prioriza siempre el uso del enlace para facilitar la experiencia del cliente.\n\n---\n\n### 🧠 Objetivo del contenido que generes:\n\n- Atraer potenciales compradores o arrendatarios.  \n- Promocionar inmuebles y servicios con profesionalidad.  \n- Transmitir la confianza y experiencia del equipo.  \n- Incentivar colaboraciones o nuevas oportunidades laborales.  \n\n---\n## Agendar_cita\n\n## Tarea\n1. Pregúntale al cliente **para qué día y hora quiere agendar la visita o cita**.  \n2. Dile al cliente que **sí hay disponibilidad** y que para continuar necesitas algunos datos.  \n ## ✍️ Solicitud de Datos para Cita\n\nCuando el cliente quiera agendar una cita, pide los datos **uno por uno** y **espera respuesta tras cada uno** antes de pasar al siguiente:\n\n1. “Perfecto, para agendar la cita, ¿me puedes indicar tu **nombre completo**, por favor?”\n2. *(Esperar respuesta)*\n3. “Gracias, ¿me das ahora tu **correo electrónico**?”\n4. *(Esperar respuesta)*\n5. “Y por último, ¿tu **número de teléfono**, por favor?”\n\n> ⚠️ **Importante**:  \n> - **No es necesario pedir el prefijo internacional (+34)**, se asume por defecto.    \n\n\nLuego confirma:  \n> “¡Genial! Con estos datos puedo continuar con la reserva.”  \n\n3. Pide el **correo electrónico** pero no es obligatorio, si te dice que no tiene no pasa nada pones uno al azar o no lo pones directamente.  \n\n4. Pide el **número de teléfono**.  \n\n5. Agenda la cita.  \n   - Si **no se pudo reservar**, informa del error y vuelve al paso 1 para reiniciar el proceso.  \n   - Si **la reserva fue correcta**, continúa al paso 7.  \n\n6. Informa al cliente que la cita/visita ha sido agendada para el **{{fecha}}** y confirma que un asesor estará esperándole. Luego pregúntale si necesita algo más.  \n   - Si **no quiere nada más**, despídete cordialmente.  \n   - Si **sí necesita algo más**, responde usando la base de conocimientos.  \n\n---\n\n### Notas:  \n- Mantén un tono **amable, profesional y cercano**, como un asesor comercial que busca ayudar de forma personalizada.\n\n\n**Formato de salida:** texto breve, bien estructurado, amigable y adaptado al canal de WhatsApp.\n\nLa fecha de hoy es {{ $now }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1744,
        -48
      ],
      "id": "e43b1ffe-0cef-4a76-a6de-ddcb126a8900",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook1').item.json.body.data.message.audioMessage.mimetype }}",
                    "rightValue": "=audio/ogg; codecs=opus",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "be9dbcd5-0882-4ce9-9822-305865fae492"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6a0ec742-7f93-4ea1-af39-35d410da1c1a",
                    "leftValue": "={{ $('Webhook1').item.json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -896,
        -16
      ],
      "id": "89f7ac61-2def-4247-b896-2064f0868870",
      "name": "Switch"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "aimaspain.contacto@gmail.com",
          "mode": "list",
          "cachedResultName": "aimaspain.contacto@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "sendUpdates": "all",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1616,
        704
      ],
      "id": "d940a488-661d-4d6b-91b1-ff367e67d965",
      "name": "Crear evento",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "aimaspain.contacto@gmail.com",
          "mode": "list",
          "cachedResultName": "aimaspain.contacto@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1728,
        704
      ],
      "id": "153b149a-782f-4c59-8bb0-f505a3c00bd4",
      "name": "Actualizar evento",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "aimaspain.contacto@gmail.com",
          "mode": "list",
          "cachedResultName": "aimaspain.contacto@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1872,
        704
      ],
      "id": "18a24d7a-1d20-40f4-866d-7e1bc666ecf5",
      "name": "Comprobar disponibilidad",
      "credentials": {}
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "es"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -528,
        -240
      ],
      "id": "92fa818f-05d2-43c9-8e53-2ac55c3ccf28",
      "name": "Transcribir audio",
      "credentials": {},
      "notes": "los audios estan en español"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "defa1545-074d-4d6a-a21f-a95c2226995f",
              "name": "mensaje",
              "value": "={{ $json.text || $('Edit Fields').item.json.textoMensaje }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        -16
      ],
      "id": "36e45141-a3eb-4596-a4e8-22432e8c3b43",
      "name": "Mapear mensaje"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mensaje }}",
                    "rightValue": "[null]",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "ea1ce058-1302-4e81-9680-f70a12960a82"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -16,
        -16
      ],
      "id": "41c244c8-0bc8-4fbe-b677-43d7107a7e57",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "mimeType": "audio/mp3"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -768,
        -240
      ],
      "id": "352ba865-f86d-4b06-a5bc-cd3a78a6568b",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.sessionKey }}",
        "tableName": "n8n_chat_personal_calendarios"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1296,
        416
      ],
      "id": "ad53a69a-2773-451d-850c-46823277bca0",
      "name": "Postgres Chat Memory",
      "credentials": {}
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "informacion sobre propiedades de la inmobiliaria para alquilar o comprar",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1808,
        208
      ],
      "id": "31ba9856-9a33-4885-bb81-cd4f549fb807",
      "name": "Supabase Vector Store",
      "credentials": {}
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1776,
        384
      ],
      "id": "777f81ff-de6f-40ba-b4e1-c2fe1cdeb262",
      "name": "Embeddings OpenAI",
      "credentials": {}
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1456,
        224
      ],
      "id": "a7be9a05-e152-4ecf-a533-ee649dcf5385",
      "name": "OpenAI Chat Model",
      "credentials": {}
    },
    {
      "parameters": {
        "sseEndpoint": "https://personal-n8n.rk9l1c.easypanel.host/mcp/MCP/sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        2112,
        208
      ],
      "id": "d40f617b-6770-4c0a-b3e7-194abb6301a0",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.chat_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1600,
        224
      ],
      "id": "75113392-4385-43cf-8338-676f9ef80d4b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        416,
        -16
      ],
      "id": "a528c54c-bf06-418a-8020-f4a4a89f3f0e",
      "name": "Wait",
      "webhookId": "REDACTED"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8ac5729a-0f8a-4564-b4f9-dd5e1fcb4c05",
              "leftValue": "={{ $json.message.last() }}",
              "rightValue": "={{ $('Edit Fields').item.json.text }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        832,
        -16
      ],
      "id": "c3b2201b-3615-4b82-8863-e55f13edfe8d",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1136,
        288
      ],
      "id": "9ee24204-a360-4476-99fa-7f2da0ace066",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a46e63b-2ead-4f35-aaa2-ab4ef5fc69f2",
              "name": "response",
              "value": "={{ $('Redis1').item.json.message.join() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        -48
      ],
      "id": "a4dd780a-e925-4235-96e6-06ddf66beb59",
      "name": "pregunta_usuario"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utiliza esta herramienta para eliminar eventos del calendario.",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "aimaspain.contacto@gmail.com",
          "mode": "list",
          "cachedResultName": "aimaspain.contacto@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1488,
        704
      ],
      "id": "b5eb5da6-35c8-4c1a-afac-76ed1fc9f01b",
      "name": "Eliminar evento",
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "641c492a-2026-49ba-81d8-31d19976fd99",
              "leftValue": "={{ $json.body.data.key.fromMe.toString() }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1744,
        0
      ],
      "id": "47572642-138f-434d-9568-904301bf026a",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "62cf7f96-e1f3-4350-850c-548e2291ed79",
              "leftValue": "={{ $json.mensaje }}",
              "rightValue": "LLAMAME",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        -16
      ],
      "id": "21e0eb3e-c42d-41f6-bb85-796103d3b0ea",
      "name": "If2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "mmYy8QRs8ZOUZ6x2",
          "mode": "list",
          "cachedResultName": "llamadas salientes"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -448,
        208
      ],
      "id": "361c02ed-6558-4392-9cb3-151826b733ba",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "abogados",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2096,
        -32
      ],
      "id": "e0b91274-ba41-4df9-bccb-316894d74889",
      "name": "Webhook1",
      "webhookId": "REDACTED"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Edit Fields').item.json.chat_id }}",
        "messageData": "={{ $('Mapear mensaje').item.json.mensaje }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        224,
        -32
      ],
      "id": "c5a118ad-2d0a-4ea6-b484-0cde8dfbe9cb",
      "name": "Redis",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $('Edit Fields').item.json.chat_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        656,
        -16
      ],
      "id": "5c8f2559-81b8-4cc3-b836-89ca3c335334",
      "name": "Redis1",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Edit Fields').item.json.chat_id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1456,
        -144
      ],
      "id": "b30055c0-ee1a-44e4-b19c-c02d4299c2b1",
      "name": "Redis3",
      "credentials": {}
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "demo whatsap",
        "remoteJid": "={{ $('Edit Fields').item.json.chat_id }}",
        "messageText": "={{ $('AI Agent1').item.json.output }}",
        "options_message": {
          "delay": 1000
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2128,
        -48
      ],
      "id": "95e4da50-ed77-4252-b7b8-dd3f2fb427a4",
      "name": "Enviar texto",
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f7b11998-006c-40d0-869f-c67f0896d4b3",
              "name": "data.base64",
              "value": "={{ $('Webhook1').item.json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1056,
        -240
      ],
      "id": "ef296a13-598b-4362-91c8-5b3bc1073340",
      "name": "Edit Fields1"
    }
  ],
  "origin": "n8n",
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "personal-n8n.rk9l1c.easypanel.host",
            "user-agent": "axios/1.7.9",
            "content-length": "6605",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "personal-n8n.rk9l1c.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "227e2e43f3cd",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "demo whatsap",
            "data": {
              "key": {
                "remoteJid": "34612575083@s.whatsapp.net",
                "fromMe": false,
                "id": "ACCCA1BB578E40FD6AA40C1FF344062E"
              },
              "pushName": "Abde",
              "status": "DELIVERY_ACK",
              "message": {
                "audioMessage": {
                  "url": "https://mmg.whatsapp.net/v/t62.7117-24/585075317_3366609313491646_2413259027881477900_n.enc?ccb=11-4&oh=01_Q5Aa3AHkjYGyLbXroPpb_mFy227KAu9NIC6o-PrbevXJFwMwsg&oe=69443505&_nc_sid=5e03e0&mms3=true",
                  "mimetype": "audio/ogg; codecs=opus",
                  "fileSha256": "1u3NKSmg1kw8cEs+VFiEfCmdzji45sdlcAIxUcyLUJ4=",
                  "fileLength": "3666",
                  "seconds": 1,
                  "ptt": true,
                  "mediaKey": "lRehq66F5xJVCQX0PoC8Mhg4Y2L0qD57Fvh+Oo2h1po=",
                  "fileEncSha256": "5FFZ8JqOfDSgbD44rRvDKHcnpUonQCK3uCR7/L27VO8=",
                  "directPath": "/v/t62.7117-24/585075317_3366609313491646_2413259027881477900_n.enc?ccb=11-4&oh=01_Q5Aa3AHkjYGyLbXroPpb_mFy227KAu9NIC6o-PrbevXJFwMwsg&oe=69443505&_nc_sid=5e03e0",
                  "mediaKeyTimestamp": "1763496360",
                  "waveform": "AAAAAAAAAAACBQMAAAAAAAAAAAAAAAAAAAAAAAUQGycqLCwqJSAdHR8gICMlJSMfHR0cGxcTHigiHRsYEgwFBA=="
                },
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "GPmaWMlSK9/Z0Q==",
                    "senderTimestamp": "1763287586",
                    "recipientKeyHash": "DR2kVJHVntzmTQ==",
                    "recipientTimestamp": "1762884883"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "bDZlhCQKGM2dm1Cjy82I7cNLkyrwOryDRk0qY1TYtUA="
                },
                "base64": "T2dnUwACAAAAAAAAAAAAAAAAAAAAACqCBoIBE09wdXNIZWFkAQFoAIA+AAAAAABPZ2dTAAAAAAAAAAAAAAAAAAABAAAAjzLsvAEYT3B1c1RhZ3MIAAAAV2hhdHNBcHAAAAAAT2dnUwAA6FEBAAAAAAAAAAAAAgAAADCz2vAVMjr+8PHL/xP/Sf8n/yn/JP8j/vzCS4YHCAcHBwvkwTbsxYAHyXIn4UTqUAfJecjJV8AHyXnIyVfAB8l5yMlXwAfJecjJV8BLhgcHBwcAB8l5yMlXwAfJecjJV8AHyXnIyVfAB8l5yMlXwIACgtpTjneSp/5/kEX/ybnQPvufik8gS4YuKyYoK4x79zfeSyOYoKgCpuoSa0HHgiJ7y3sRKHR7aldCqUcUIQqCWPTNiXyO8AcDdCKCHoPmRugZhOmWP4Ao7u/c5INqbIZBM/+u5hCWHFoqt05yQWo6W1IRPdM7gg5SmteWWs4FPRKYSnnQ86jPlMrk0VR9ukW2rWuBN29YYG7iyoCMUTBJREl348vq67qSzxgVzm5H1nUjaWoLPYsbJYJ6/wJ90e/W8JuIi2p4rq35fyA/g+3l7mUdfcMi4HmtglhM3okJehxWVtnT+YBvrR+f06qjwIHltH6gII5AB/Nrjvsm7NB8QcGEew9zB5/hQF4+EofLXWwX+ftLhikmJSgnituWkP7OLObYXKMAFtaFws8Cofs1rxZyYIZGOuUtT1zg9lCKNaA3DaCBisBSDlKGp5N+xm6jJbcUQlWrTfz2BsRQ+QazVXLblvrF1yxoj4ns24yOXOSDiE2nCS55n+KDZJQmMsd3jx2Nqc77WZ3BTMzBeVqJbvWeGeGf5WG15NnVC7zEEJkhMhFDKivruO543pJRjesHZ5N89oGAiRr7CV4ChEXVHpBNKKAjNmAKm8JCOTjMm6k6YcgnyUuUGS1e5z5QgM8751xvgfVQtPHl+Vekuv9dPFmEPUDyxKKJV908dM8XlpgBg4BLhiMtLishgOa8uirb5LZ5poDN2PKcIe6C+PKs4pGLRdMknwf1d9fLNviI1U2OLWp+giN8ynf904Bz8gDKz4bwhQlpFSauCIQpskNowsTY6YMWGPsAJ9yI1e/3DH4YUYp5QtxKBkI5MwXoPvn/v7Jf8+n1eQZUIkZuh+8UZWrrBmc++cZQiTzK5+Lrzf3LGfUhWW9xeJt2ONbvh/KcpiBCn+owBSm91JADUdlANcdgICzRIStTZpF7HQHBF5kbSm1Ukaiqim+ygTnRfPH2LYdMIIDRij/LHr7Zo7RT++A9AOLS1DbuEus1dxh4wHE2KjtAS4YhIyUbHCj8A9/+agywBFM4ZleAJX46UwEax06cjhXHIsdA5MZlgANSzzh9zAiiaTpv0imEmX4nNk+78M6XAJEr0mYchyBFE5QgHwua2L+wRmtrXdQuQK6o2heBJqPYBMd46rpDdCbAz44e7LvxeAM+Ign2cGgfgGtjVlcpW2sshUgMfJDgXliEwBt37DyoOHofKgj0tE5a8COYWFI1b1aoK+S92xQcvGHkoRjUXS15tIsStc4Iorahwopuq2vz6fE0faEQEnVz7TJLhh8jLSo1Axz6NcAC4L+k7drgb5aTbdNvbZSOOUbxZD6jhDIAzYBwdyyL5xZgbtnxDNLakhfsPzQSHEGiOhHsUk9vKTNVrCRQgTdqym8pE/U1yxgJEalSUeKjpry/Ki4HTktH/YlMZGFkM1fvpId02LSZiJYkgnypjpboJAnJNILbkYqFZdagkuEdS2V4XXUr69jvGrdrWRoNtxnTVYIQo2qDMJ/Q3BqJ/DZALcfzUHQSbDQi122N0CYQssME8UfxEGr/5E2sI57Y2SqsNQx3C2Qd7L6iebr15g3oz+24OI5fPURwn6RqC1/vaS00vo8UqcBEfMAfS+DtxaqmTn5+GdZGQdi4mdiZt5V+nGP1pNxgS4Y2MT04NKK3wJwcvR0BPtkENnN5H5/Wu5SGlIiarh8YrYJRjkrWnqYfp4FaYoA8cdVGPjMO2sL5azVaAqIVqcmbQd0NCcMbGJtJN77oh6VqYOp2IZWGRdRtYXXG7e75rMGojNXZ3Vroxkom7CCdnP5hKPokUp4iGSfohDBZk+M/j3AwpHMbVLpamCDHBfEyH1TTT4wjZz6sWK/oLhSUTUeBS6p/lX6XKZXwnuTytlkffw25D2b4+sZoEs/cCK/WPv6PXz8yiZJNFQrRHLXp6ypbRDjq8VrilOKqtaNwKG51JfWf9ZhzjxZFpg4qkTDGrMURuEu4v/JCHq6kzzw1tdSSaj2tXDaY3G5CWRo7Eb+9S3hIPvfwoAUnswda8O4JqSAU3ByKzSYqafSjBIDIa67K4E7ZX36ZuH7C19MQ7Nv4bDXZLoawfEuGMzMvLC+hJfWWgHht00M0wILsqA/Bt/loAADhRQZKILriQ7vEzsAy9oaU+QEolKa9e4W3MJZHqUCCKlV9KHp6dLKGSgCb09jk0T9vZLwWSNaJ8F1Pid9EZ6isMlyWUvWyyUSR1QH97C8DgsyCbS/prgYjMFNEBO82LeZlgDIM+v3cWK9sQ90LTy4Jj6h44znkB94aKAUCsq8VgIxpzYH0aqX6s43LHvUZq/ROMixY4ArhDGI16/nhzZ/c+26Xj2gyYi4w+NTgoUJT7EiuNCHSDwE2i/3VrDu3mZ7/aDctjWUgHYVuLEBNf8nrH7qT7KHAE3J/btCgwz2BCJG128duJmGRbsGbvbPFBsjcfI0NG7Xv95M4X3UuR2NnL57E0Kw11ZaeZkuGLyooQC+ckRyX8DPdR53mv7e6vYp5mE+DHyHboEz5sqwpioq2agG+yc9+/FKC1NoKu4bn4Jule8tgruhLyVwgoujgH7J4HKrrLtdYZ63yfc3kj4C/gP8HzK4b+fpV6JuJGQ/96j3Hsb/QqjWVdYVjzZBsp40+rbGIUBvwRi0WVXesiZVqMICb0zg/dsywM+y1y7BA2a6MRqe6mn9RZ9xdVLqJZS0qUwnNIPS12MDPQm4W4Kl8SrS1e324i9AGpzqXp3V8f4hInqPtKflmyuovg8+3ZxAVmsxNs+OEK+xHKPG4x6nwoksEBnNeuu6GyrICKb8PZ8iekRPvU7H0BgjkxWW6fe3m7Tszu+bBZ6bx7yVsupk4uXnrzvLeW76Fa/sAKd8pXFVES4YrMjAsMZxuTVyuOrTyvPjJvFu1ZB3FOPGIYecbzxfTmCrBHhTr61V3BuZwEC/IHaCcGBUXj4noCrZZ29zgVHIU55NZDccL0dkTOsFHV6ksSuFFceWMRs2rjxBqqpv/M/rcgJugh7vUkwGs37NFAEd8I/FOBe2J0UhQAabBIRuVya2X/3eAbR17ANV1aA1usvWsaJuXW2GN0zt9hf4zA4f+vWPA3yjyyJ3YfWVpx9m9gTxOP9kkAuzZx5arQ1womyAFU63+KuGcN3NujtioskJBao3nBHaU0t2W87VsXEJA/qLRbhYQqUaj6XSCC0aYLJrFQRc7h/dNiY7+O6IEv/3ZpAcMc+xQsUPvZ5WIpFEITXtKGGdALBL2N11kh4+ZYcz1S4YsNTMrKpwlnZsw2YrEi7dMftA8ElxisjdVE1+8m0a5HQGdQxS2NmiqtoF9ZHK9FFBAndFwbsKi52Szmcp4583AsrY7xk8wGkYnPDaAqRlwS+2EsKRpdZSkc6+AkovzjE14bKwXnWieiBhEDlo9ikTJrvzCDZcztUE5jK4y2FawmGNyypZl/ptn7Ns4cw4m35EcxKqLQc1z+iCKDcW5gv6Xc3A73jzGZ9J/ty4L/R+Im6r/t5uxkwwJOrjG4oZAzRERK3wmjCW2M+fPLu6kQFzO7tHkBJ/jxyMWWmtcPNghYzbS3PbrGniJRpjDX1Lygixk8nV95d+NH3vPzScLZXNROYt4gP38RL55p7zDTQ0pdogx869xjA5j2sMF0bfqlkhLhiwrMSUnjxbztqxZsNqYhDIV9SjsLNiUdIVDI5kH/lAZkLqTNk4xF3E3rBatnhafFoyCWaiCS7wgANXx2I2NUbkywXtJGbA1T7xDEkwiN4zwXkAO7En1x/xP0CGwgmrqT9QRin0r+vm/bVQ9b1oYCr8DWvZpREKOgZoGs2MOs3hfMzWLuVV9zYoU1PL60IFhrdD73JRmeBhfABk+eSvRD0LUsevSg15N8UfBiBNMb/BBULiJCW2pPzJgJJgTUSfMFP73ZWOtUXLs5nsvGWA35sEN2q0t77ubYQwELRmxaPptT8n29wSWxPD8qzGeBGm3vJzWKrgElq59Fs8JXkuGJSowJimAdKhKdq6PJ1S0jH2eGez3Zj/6MJhSDNFR8BlPDtPw+1puyJq+gzvuLTJktZNa9m7yfONaa6ylIelPipq0PhMirKiP7Uzau8NXbE5KUqMHkBgeTn/qQfuL8SF5h2A2n44W7IGRL6c+gMasBfuRKqRcBQtBNoP3BDXnEMlS5gpQi8QI1l2bLcllUV/YMMZvVmFpJAzFr2XRNkSYLPd8ooEvBsBOKTyBhKsDvL8+k3vOMuStXSe0XJpk79DCOBknTBpdVert6ko35SstaD6zzomMsLcVAu0RqNop6TrI99ppDHrUH7/ir3yM3DXtmMhT8dbESNsJgEuGLRsXGSGIaZ6zTo4XbsNMVoEdkvtrZIjf4ov6gZ57/T2GHmEDWww9Yd/ys3hs1EQ1yXiELYAQV6TjfRFV0wWVhYbYaka7UdW+W949noA0NUFcXf8hgylemcjKUEcee8Y4IZUodximHrP9ndzPu7p9Sng1PPbkWQldDC18FngYplNi++6jkrJc34j4swOCp7ZvQQAyJi7jnc1TLJJsElseKO4VbKTaJ1KLIw5yN98kK5x6OVbNzvrans+CcLCs5GBc"
              },
              "contextInfo": null,
              "messageType": "audioMessage",
              "messageTimestamp": 1763496361,
              "instanceId": "2a0d9865-759f-4e6b-8e42-4ccaa9fd2d56",
              "source": "android"
            },
            "destination": "https://personal-n8n.rk9l1c.easypanel.host/webhook/abogados",
            "date_time": "2025-11-18T17:06:01.520Z",
            "sender": "34641750559@s.whatsapp.net",
            "server_url": "https://personal-evolution-api.rk9l1c.easypanel.host",
            "apikey": "341DA03A8BB5-4F67-9135-BECA8A83EC55"
          },
          "webhookUrl": "https://personal-n8n.rk9l1c.easypanel.host/webhook/abogados",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo": {
    "owner": "abdeidr",
    "name": "n8n"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-01T15:18:32.200Z",
      "updatedAt": "2025-07-01T15:18:32.200Z",
      "role": "workflow:owner",
      "workflowId": "D1ZXFd2UEoeLFuOX",
      "projectId": "xdZYvePgLSibegaD"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-19T10:13:48.000Z",
  "versionId": "af24ccbe-0624-47ae-a16e-bc8764c90c60"
}