evtRda6HYFQClIWX.json
{
  "active": false,
  "connections": {
    "If1": {
      "main": [
        [],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Obtener vídeo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generador de video": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener vídeo": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Limpiamos el texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiamos el texto": {
      "main": [
        [
          {
            "node": "Generador de video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Obtener vídeo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-17T10:04:05.126Z",
  "id": "evtRda6HYFQClIWX",
  "isArchived": false,
  "meta": null,
  "name": "avatar manual",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dd44e8b9-64ae-4a91-8d19-966910447f71",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1392,
        432
      ],
      "id": "65c64d01-084e-493f-bb0a-9f262af7926f",
      "name": "If1"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1584,
        512
      ],
      "id": "012d740d-ae27-49ed-bf26-53fdf64735d5",
      "name": "Wait2",
      "webhookId": "REDACTED"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        -80
      ],
      "id": "9522c9dd-db4f-4ea5-8d1a-755c5a100b54",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"c4354e13b4084e30818e85c8b6d08752\",\n        \"avatar_style\": \"normal\"\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"{{ $json.cleaned }}\",\n        \"voice_id\": \"99543ddc60234b408e527516d18e249c\",\n        \"speed\": 1.1\n      }\n    }\n  ],\n  \"dimension\": {\n    \"width\": 360,\n    \"height\": 740\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        432
      ],
      "id": "a02580f7-84d3-43ea-b766-d53d9cda9bd6",
      "name": "Generador de video",
      "credentials": {}
    },
    {
      "parameters": {
        "url": "https://api.heygen.com/v1/video_status.get",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{ $('Generador de video').item.json.data.video_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        432
      ],
      "id": "d1c651e1-81ea-4818-8c7e-ba134089ccfe",
      "name": "Obtener vídeo",
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "191ad70f-ad8c-4864-8ff4-33b57b2a08dd",
              "name": "texto",
              "value": "Lo dicen con la mejor intención, claro, pero de lo que no se dan cuenta es de lo increíblemente desafiante, estratégico y determinante que es este puesto. Para mí, la recepcionista no es solo alguien que atiende el teléfono o da citas; es, literalmente, el primer contacto humano que un paciente tiene con nuestra clínica. Y ese primer contacto puede ser el punto de inflexión",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        -80
      ],
      "id": "7b630f1a-194a-45dc-91e6-39c4185f4233",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const originalText = $input.first().json.texto\n\n  if (typeof originalText !== 'string') {\n    return {\n      json: {\n        error: 'El campo \"text\" no existe o no es un texto',\n        original: originalText\n      }\n    };\n  }\n\n  let cleaned = originalText\n    .replace(/<[^>]*>/g, '')                 // Quitar HTML\n    .replace(/\\r?\\n|\\r/g, ' ')               // Saltos de línea a espacio\n    .replace(/\\t+/g, ' ')                    // Tabs a espacio\n    .replace(/[^\\p{L}\\p{N},¿?\\s]+/gu, '')    // Letras, números, comas, espacios, ¿, ?\n    .replace(/\\s+/g, ' ')                    // Normalizar múltiples espacios\n    .trim();                                 // Quitar espacios extremos\n\n  return {\n    json: {\n      cleaned\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        32
      ],
      "id": "8d48e48d-1717-4ab4-8e3a-1a87b055b58c",
      "name": "Limpiamos el texto"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        560,
        432
      ],
      "id": "63ecbdd4-1383-442a-91c8-8f53b88273f9",
      "name": "Wait",
      "webhookId": "REDACTED"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "abdeidr",
    "name": "n8n"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-17T10:04:05.132Z",
      "updatedAt": "2025-10-17T10:04:05.132Z",
      "role": "workflow:owner",
      "workflowId": "evtRda6HYFQClIWX",
      "projectId": "xdZYvePgLSibegaD"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-17T10:48:48.000Z",
  "versionId": "4d72b19a-838c-44aa-972f-1b8ce46133c2"
}