fVuxqQtAppmoeJEH.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-18T21:13:06.594Z",
  "id": "fVuxqQtAppmoeJEH",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "FB",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "facebook-leads",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        -32
      ],
      "id": "a5f503d7-ea4d-4eda-9f54-b2c27d7c2314",
      "name": "Webhook",
      "webhookId": "REDACTED"
    },
    {
      "parameters": {
        "path": "facebook-leads",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        176
      ],
      "id": "eb6ba563-e10e-42f5-83e3-864e6fead3db",
      "name": "Webhook1",
      "webhookId": "REDACTED"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        224,
        176
      ],
      "id": "906045dc-8ed1-43b0-984d-c8e57a6f2449",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        816,
        -32
      ],
      "id": "f5441fda-f69f-4761-a1de-3c33a04e5c26",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v23.0/{{ $json.body.entry[0].changes[0].value.leadgen_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "[REDACTED]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        -96
      ],
      "id": "2f2e942e-5ef7-423a-b1ec-0a54eafb39ae",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf29c6f3-0280-4270-a365-b0a722022fba",
              "name": "email_lead",
              "value": "={{ $json.field_data[2].values[0] }}",
              "type": "string"
            },
            {
              "id": "ba8c645e-0028-4074-920b-923992f29d05",
              "name": "nombre",
              "value": "={{ $json.field_data[1].values[0] }}",
              "type": "string"
            },
            {
              "id": "4d149d54-888b-4772-8272-03842882d32c",
              "name": "que_negocio_tienes",
              "value": "={{ $json.field_data[0].values[0] }}",
              "type": "string"
            },
            {
              "id": "92ffec21-f027-49df-86bb-1343d97e1ed2",
              "name": "numero",
              "value": "={{ $json.field_data[3].values[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        -32
      ],
      "id": "853330bf-9290-4296-9c9a-99d2501f964b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v21.0/825748473770161",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "[REDACTED]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        -32
      ],
      "id": "c127bff9-2d2d-4aaf-af68-21d2dc0df526",
      "name": "HTTP Request1"
    }
  ],
  "origin": "n8n",
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "personal-n8n.rk9l1c.easypanel.host",
            "user-agent": "Webhooks/1.0 (https://fb.me/webhooks)",
            "content-length": "312",
            "accept": "*/*",
            "content-type": "application/json",
            "x-forwarded-for": "66.220.149.14",
            "x-forwarded-host": "personal-n8n.rk9l1c.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "227e2e43f3cd",
            "x-hub-signature": "sha1=29880b3ea23470c0ffdb6291e1f750692e76ba18",
            "x-hub-signature-256": "sha256=e7c3c841b7af832683b60ebeda678cb56bcc7eca3153e129dd0a8a26399c2370",
            "x-real-ip": "66.220.149.14",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "entry": [
              {
                "id": "434224159776936",
                "time": 1764011010,
                "changes": [
                  {
                    "value": {
                      "adgroup_id": "120239712888770409",
                      "ad_id": "120239712888770409",
                      "created_time": 1764011007,
                      "leadgen_id": "1395645782177775",
                      "page_id": "434224159776936",
                      "form_id": "2905688899633836"
                    },
                    "field": "leadgen"
                  }
                ]
              }
            ],
            "object": "page"
          },
          "webhookUrl": "https://personal-n8n.rk9l1c.easypanel.host/webhook/facebook-leads",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo": {
    "owner": "abdeidr",
    "name": "n8n"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-18T21:13:06.598Z",
      "createdAt": "2025-10-18T21:13:06.598Z",
      "role": "workflow:owner",
      "workflowId": "fVuxqQtAppmoeJEH",
      "projectId": "xdZYvePgLSibegaD"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-11-25T16:39:54.000Z",
  "versionId": "f48c3ef7-8848-40a9-becb-6bd4d2a286fa"
}