gm1j9Ux4VL0Rsled.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-05T10:29:11.322Z",
  "id": "gm1j9Ux4VL0Rsled",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "calidax",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -60,
        -20
      ],
      "id": "d559f0ce-2107-4a9f-a28b-8958a8a3a7f3",
      "name": "Webhook",
      "webhookId": "REDACTED"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=Eres el asistente personal mi empresa de detailing.\n\nLa fecha y hora de hoy es: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        460,
        -20
      ],
      "id": "262354fc-2b40-4b97-9bcc-0c5fcaec50d0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Edit Fields').item.json.url_server }}/message/sendText/{{ $('Edit Fields').item.json.instance_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "[REDACTED]"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Edit Fields').item.json.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            },
            {
              "name": "delay",
              "value": "={{1500}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        -20
      ],
      "id": "d640a697-a580-4f41-8691-f6a926160eb5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        420,
        180
      ],
      "id": "8e3a3dbb-c595-4654-82b1-044f18ff9713",
      "name": "OpenAI Chat Model",
      "credentials": {}
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.sessionKey }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        540,
        180
      ],
      "id": "7f3a7f4d-c8c1-41d4-9b65-0031e6352bee",
      "name": "Postgres Chat Memory",
      "credentials": {}
    },
    {
      "parameters": {
        "sseEndpoint": "https://personal-n8n.rk9l1c.easypanel.host/mcp/MCP/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        720,
        160
      ],
      "id": "b6b276eb-3bef-438b-9529-c0585ad6233b",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "SERVICIO DE DETAILING A DOMICILIO",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        580,
        260
      ],
      "id": "3fc8ca67-659c-45fb-88b8-35322f46bce9",
      "name": "Supabase Vector Store",
      "credentials": {}
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        660,
        500
      ],
      "id": "94e61963-aeaa-4347-911a-df4970959d51",
      "name": "Embeddings OpenAI",
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7657bb89-d2b6-424b-957a-0d04b4e47838",
              "name": "chat_id",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "235a813a-8e3a-403e-9a2b-b69646ffc58b",
              "name": "instance_name",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "1220e1e0-3b2f-46dd-9ce9-49acf7a3204e",
              "name": "api_key",
              "value": "[REDACTED]",
              "type": "string"
            },
            {
              "id": "ea3b4cdb-8e7f-47f7-8c8c-59fec6e875fc",
              "name": "url_server",
              "value": "={{ $json.body.server_url }}",
              "type": "string"
            },
            {
              "id": "9ecb900b-96c1-464c-a468-ea886efda5e2",
              "name": "text",
              "value": "={{ $json.body.data.message }}",
              "type": "string"
            },
            {
              "id": "c37ad6bc-3d2a-4c2f-8b23-adf7c09ffe3e",
              "name": "sessionKey",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        100,
        -20
      ],
      "id": "5646c32b-7e81-453a-bc32-ece8960af59b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mensaje }}",
                    "rightValue": "[null]",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "3571ad67-d783-47ee-86ff-ed08acf18d6a"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        280,
        -20
      ],
      "id": "bdd5293a-9fa9-426f-98d3-238402c0417e",
      "name": "Switch"
    }
  ],
  "origin": "n8n",
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "personal-n8n.rk9l1c.easypanel.host",
            "user-agent": "axios/1.7.9",
            "content-length": "959",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "personal-n8n.rk9l1c.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "7151fca3abb0",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "calidaxBot",
            "data": {
              "key": {
                "remoteJid": "34612575083@s.whatsapp.net",
                "fromMe": false,
                "id": "3F151A0B3716E4BB3122"
              },
              "pushName": "Disponible",
              "status": "DELIVERY_ACK",
              "message": {
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "pMUvNlNb/XxiQg==",
                    "senderTimestamp": "1751802956",
                    "recipientKeyHash": "LS3P5LIPRnrC0Q==",
                    "recipientTimestamp": "1751447639"
                  },
                  "deviceListMetadataVersion": 2
                },
                "conversation": "hola"
              },
              "contextInfo": {
                "expiration": 0,
                "ephemeralSettingTimestamp": "0",
                "disappearingMode": {
                  "initiator": "CHANGED_IN_CHAT"
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1752313201,
              "instanceId": "b556d824-9d0f-4f2b-849d-bd7b32d7ac6d",
              "source": "unknown"
            },
            "destination": "https://personal-n8n.rk9l1c.easypanel.host/webhook/calidax",
            "date_time": "2025-07-12T06:40:02.161Z",
            "sender": "34604863683@s.whatsapp.net",
            "server_url": "https://personal-evolution-api.rk9l1c.easypanel.host",
            "apikey": "2F69A1ACA0A6-476C-9366-06C400631ED5"
          },
          "webhookUrl": "https://personal-n8n.rk9l1c.easypanel.host/webhook/calidax",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo": {
    "owner": "abdeidr",
    "name": "n8n"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-05T10:29:11.336Z",
      "updatedAt": "2025-07-05T10:29:11.336Z",
      "role": "workflow:owner",
      "workflowId": "gm1j9Ux4VL0Rsled",
      "projectId": "xdZYvePgLSibegaD"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-07-12T10:42:20.000Z",
  "versionId": "52e36976-3908-4372-93f2-70adcfe494db"
}