mZoEl4lPm5TWxlGs.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Filtrar los que tienen correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar los que tienen correo": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapeo correo - web": {
      "main": [
        [
          {
            "node": "Limpiar codigo + colores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Mapeo correo - web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar codigo + colores": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-11T15:44:29.730Z",
  "id": "mZoEl4lPm5TWxlGs",
  "isArchived": false,
  "meta": null,
  "name": "mandar emails generico",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 30
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "[REDACTED]",
          "mode": "list",
          "cachedResultName": "scarpping email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ze-7ZHoDEwxGyt0I-mH6pusoSSfIqbqWOtVESIFSyMA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ze-7ZHoDEwxGyt0I-mH6pusoSSfIqbqWOtVESIFSyMA/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        800,
        480
      ],
      "id": "a606f75b-6bb2-4822-ad83-c560b867289a",
      "name": "Google Sheets Trigger",
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f14ca2eb-cd08-4b89-ab65-e5e926a04fa6",
              "leftValue": "={{ $json.Correo }}",
              "rightValue": "Sin enviar",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "db1d64e9-a019-4278-a4b2-7192335bf864",
              "leftValue": "={{ $json.Estado }}",
              "rightValue": "Sin enviar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "c177a804-dbaf-4435-a6ae-21b628fd6db6",
              "leftValue": "={{ $json.Correo }}",
              "rightValue": "=hola@enricgallofre.com",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1440,
        300
      ],
      "id": "534fbd72-235a-4dfc-95bc-7496108b10bb",
      "name": "Filter"
    },
    {
      "parameters": {
        "url": "={{ $json.Web }}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1660,
        440
      ],
      "id": "739f653c-1c35-44b1-9bb6-ae996cb27ff3",
      "name": "Scrape Company URLs",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "# ✉️ Envío automatizado de correos tipo *Icebreaker*\n\nEste flujo representa el paso final del sistema, donde el agente recibe leads desde una hoja de cálculo y genera correos personalizados para iniciar conversaciones comerciales de forma automatizada.\n\n---\n\n## 🔁 Flujo paso a paso\n\n### 🟢 1. Google Sheets Trigger\n> Detecta automáticamente cuando se añade un nuevo contacto a la hoja de cálculo (nuevo lead).\n\n### 🔎 2. Filter\n> Valida que la fila añadida contenga los datos necesarios (por ejemplo: email + URL).\n\n### ✍️ 3. Edit Fields\n> Ajusta el formato y estructura de los datos para que puedan ser usados correctamente en los siguientes pasos.\n\n### 🌐 4. Scrape Company URLs\n> Visita la web del contacto y extrae contenido útil para entender mejor el negocio.\n\n### 🧼 5. Limpiar código\n> Elimina etiquetas HTML u otros elementos innecesarios, dejando solo texto limpio y legible.\n\n### 🤖 6. OpenAI (Message Model)\n> El agente analiza la información y redacta un primer mensaje *icebreaker*, personalizado y contextual.\nIMPORTANTE: **REVISA Y ADAPTA EL PROMPT DEL AGENTE**\n\n### 📧 7. Gmail\n> Envía automáticamente el mensaje generado al contacto correspondiente desde tu cuenta.\n\n---\n\n## ✅ ¿Qué consigue este flujo?\n\n- Automatiza el primer contacto con leads.\n- Crea mensajes naturales y personalizados.\n- Aumenta las probabilidades de respuesta frente a correos genéricos.\n\n---\n\n**Hecho con ❤️ por [Juan Pe Navarro](https://www.youtube.com/@juanpe.divisual)**",
        "height": 1080,
        "width": 3360
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "20f36061-1730-4b23-87fb-bfb680399b9b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "maxItems": 10000
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1220,
        300
      ],
      "id": "8963921e-c138-44c7-8540-d74f9e8b135d",
      "name": "Limit"
    },
    {
      "parameters": {
        "jsCode": "// Este código filtra los items que tengan el campo 'Correo' relleno\nreturn items.filter(item => {\n  const correo = item.json.Correo;\n  return correo && correo.trim() !== '';\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        480
      ],
      "id": "586c59ff-fff6-4569-ac80-bb4be9384add",
      "name": "Filtrar los que tienen correo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb6979ad-b631-408e-b42b-8f2401b39c1c",
              "name": "correo",
              "value": "={{ $('Filter').item.json.Correo }}",
              "type": "string"
            },
            {
              "id": "999b858f-f84e-401a-8f8d-e8a7d2a9be23",
              "name": "web",
              "value": "={{ $('Filter').item.json.Web }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2260,
        320
      ],
      "id": "21b0d828-8c03-4c55-b334-02260265faa3",
      "name": "Mapeo correo - web"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1900,
        300
      ],
      "id": "3887596a-e9b0-497f-bc5d-cefc82a522ef",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const html = $('Loop Over Items').first().json.data || '';\n\n// Limpieza del texto visible\nconst clean = html\n  .replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<\\/?[^>]+(>|$)/g, '') // eliminar etiquetas HTML\n  .slice(0, 3000); // limitar longitud\n\n// Extracción de colores\nconst colorRegex = /(#(?:[0-9a-f]{3}){1,2}|rgb\\([^)]+\\)|rgba\\([^)]+\\))/gi;\nconst colores = html.match(colorRegex) || [];\n\nreturn [{\n  json: {\n    cleanText: clean,\n    colores: colores\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2520,
        320
      ],
      "id": "636e8ec8-2fe6-463f-b2cf-26bf7c480ddb",
      "name": "Limpiar codigo + colores"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "=info web: {{ $json.cleanText }}"
            },
            {
              "content": "=Actúa como un experto en ventas B2B especializado en cold emailing para empresas que ofrecen soluciones de Inteligencia Artificial y Automatización de procesos. Tu tarea es generar un mensaje *icebreaker* llamativo y personalizado que abra un correo de prospección en frío.\n\nVas a recibir la información de la web completa y los colores que se utilizan en esa web que te servirá para hacer mejor tu trabajo y además que la salida sea completamente personalizada y adaptada al posible cliente.\n\n### 🎯 Objetivo:\nEl mensaje debe captar la atención del lector desde la primera línea, generar curiosidad o identificación inmediata, y provocar una **respuesta clara y rápida**. No debe sonar genérico, ni técnico, ni ser una presentación directa de la empresa. Tampoco debe ser robótico o impersonal. **No menciones que estás vendiendo ni que representas una empresa al inicio.**\n\n\n### 🧠 Contexto del negocio (lo puedes usar implícitamente):\nSomos expertos en implementar soluciones de IA en negocios como el del prospecto, con el objetivo de automatizar procesos repetitivos, ahorrar tiempo y permitir flujos de trabajo más eficientes.  \nPuedes consultar el contenido del sitio web para inspirarte en el enfoque, tono, casos de uso y tipo de clientes.\n\n### ✅ Requisitos clave del icebreaker:\n- Que sea breve (5-7 frases máximo).\n- Que hable directamente a una posible *frustración*, *reto* o *curiosidad* del prospecto.\n- Que refleje conocimiento del contexto empresarial actual (sin exagerar).\n- Que no repita literalmente la propuesta de valor.\n- Que invite naturalmente a seguir leyendo o responder.\n- Que cuente que somos especialistas en implementar IA en negocios como el suyo (y que  lo mencione)\n- Hablar en primera persona para generar confianza, tutear.\n- Terminar con un claro CTA para que respondan sí o sí a este primer email. Este CTA tiene que ser en formato botón y ese botón debe redirigir a la respuesta del email a **aimaspain.contacto@gmail.com**\n- Utiliza colores que generen minimalisto y confianza en los seres humanos. Utiliza colores que visualmente sean correctos en todo momento(que el color del fonde del boton y el del texto del boton no sea lo mismo, que se diferencie a la vista).\n- incluye al final \"Un saludo, AimaSpain, Agencia de Inteligencia Artificial y Marketing Digital\n\n### 🧪 Formato de salida:\n- [HTML] bien estructurado, bonito y que genere confianza para ponerlo en un mail, con sus encabezados, sus negrias, etc...\nTen en cuenta en poner el fondo del texto y el color del texto en color distintos para que se pueda leer\n- [Asunto] del email en texto plano.\n- Siempre nombra las salidas como \"HTML\" y como \"ASUNTO\"\n\n### ✳️ Ejemplos de tono aceptado:\n- “¿Te ha pasado que terminas el día sintiendo que solo apagaste incendios, pero no avanzaste en lo importante?”  \n- “Vi lo que están haciendo en [Pon aqui la Industria del prospecto] y no pude evitar pensar en cómo podrías eliminar el 80% del trabajo repetitivo sin contratar a nadie nuevo.”  \n- “No sé si ya estás probando IA internamente o todavía parece ciencia ficción para tu equipo, pero…”  \n\nAhora, genera un icebreaker persuasivo para una empresa del sector: **[inserta aquí el sector del prospecto o nombre de la empresa si se conoce]**.\n",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2500,
        600
      ],
      "id": "74027b8e-69ee-443b-a4ba-343583170613",
      "name": "Agente creador de Email IceBreaker",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "[REDACTED]",
          "mode": "list",
          "cachedResultName": "scarpping email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ze-7ZHoDEwxGyt0I-mH6pusoSSfIqbqWOtVESIFSyMA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ze-7ZHoDEwxGyt0I-mH6pusoSSfIqbqWOtVESIFSyMA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Web": "={{ $('Mapeo correo - web').item.json.web }}",
            "Correo Icebreaker": "={{ $('Mapeo correo - web').item.json.correo }}",
            "Estado": "Enviado"
          },
          "matchingColumns": [
            "Web"
          ],
          "schema": [
            {
              "id": "Web",
              "displayName": "Web",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Correo Icebreaker",
              "displayName": "Correo Icebreaker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3220,
        320
      ],
      "id": "d5f59d8f-0b0e-4f31-b298-5b9bfa56a467",
      "name": "Update row in sheet",
      "credentials": {}
    },
    {
      "parameters": {
        "sendTo": "={{ $('Mapeo correo - web').item.json.correo }}",
        "subject": "=Automatiza tu clínica y recupera tiempo para lo que importa",
        "message": "=<html>\n  <body style=\"background-color: #f9fafb; color: #222; font-family: Arial, sans-serif; padding: 32px;\">\n    <h2 style=\"color: #00536a;\">¿Sientes que cada minuto en tu negocio es valioso, pero se pierde en tareas administrativas que no aportan directamente al crecimiento o satisfacción de tus clientes?</h2>\n    <p style=\"font-size:1.09em; line-height:1.6;\">\n    Sabemos que mantener un trato cercano y personalizado es fundamental, pero también lo difícil que es encontrar tiempo para lo realmente importante.<br/><br/>\n Con un agente de atención al cliente automatizada con IA, que no funciona con botones ni opciones predefinidas, sino que responde mensajes y llamadas de forma natural y autónoma, gestionando ventas y consultas al instante, ganarás más tiempo y dinero, optimizando tu negocio y reduciendo el estrés.<br/><br/>\nSi te resuena esto, dime si quieres recibir ejemplos prácticos de cómo otras empresas ya están usando esta tecnología.\n<br/><br/>\n     ¿Quieres ver cómo lo estamos haciendo en diferentes sectores?\n    </p>\n    <div style=\"margin-top: 30px;\">\n      <a href=\"mailto:aimaspain.contacto@gmail.com?subject=Quiero saber más sobre IA para mi clínica\" \n         style=\"background-color: #00536a; color: #ffffff; padding: 12px 32px; text-decoration: none; font-weight: bold; border-radius: 28px; display: inline-block; font-size:1.1em;\">\n        Quiero saber más\n      </a>\n    </div>\n    <p style=\"margin-top: 38px; color: #74828f; font-size: 1em;\">\n      Un saludo,<br/>\n      <strong>AimaSpain</strong>, Agencia de Inteligencia Artificial y Marketing Digital\n    </p>\n  </body>\n</html>",
        "options": {
          "appendAttribution": false,
          "senderName": "Aima Spain | Agencia de Inteligencia Artificial y Marketing Digital"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3220,
        120
      ],
      "id": "ad3e5ba3-fdb1-4d71-8bc6-1cdbab399734",
      "name": "Send a message",
      "webhookId": "REDACTED",
      "credentials": {}
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "abdeidr",
    "name": "n8n"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-07-11T15:44:29.749Z",
      "createdAt": "2025-07-11T15:44:29.749Z",
      "role": "workflow:owner",
      "workflowId": "mZoEl4lPm5TWxlGs",
      "projectId": "xdZYvePgLSibegaD"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-07-02T09:38:00.026Z",
      "createdAt": "2025-07-02T09:38:00.026Z",
      "id": "56nVXnHRMgTIAOJh",
      "name": "Curso Adrián Sáenz"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-07-11T15:46:30.000Z",
  "versionId": "67a10990-4713-47a4-b07c-2e1bd683577b"
}