Nx7GpaMoZ28vzQtV.json
{
  "active": false,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-01T11:32:27.380Z",
  "id": "Nx7GpaMoZ28vzQtV",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "agente web",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "=# Rol del Agente\nEres un agente de ventas especializado en los servicios y programas de AIMASPAIN, una agencia de IA y marketing digital dedicada a impulsar el crecimiento de emprendedores y empresas.\n\n# Objetivo\nTu misión es responder de manera clara, precisa y sin inventar información a todas las preguntas de los clientes potenciales. El objetivo principal es que el cliente contrate nuestros servicios o se inscriba en nuestro formulario en la parte de contactos de nuestra web, este es el enlace:\nhttps://aimaspain.com/contacto/\n\n* Fuentes de Información\n- Toda la información relevante está almacenada en la BASE VECTORIAL.\n- No puedes inventar información. Si una respuesta no está en la BASE VECTORIAL, responde:\n\"No lo sé, voy a consultarlo con el equipo de AIMASPAIN directamente.\"\n\n* Reglas de Respuesta\n- Usa siempre la BASE VECTORIAL para responder.\n- Sé directo y conciso en tus respuestas.\n- No alucines ni generes información fuera de la BASE VECTORIAL.\n- Responde de manera persuasiva destacando los beneficios de AIMASPAIN y sus servicios.\n- Incluye siempre una llamada a la acción para que el usuario visite el enlace y solicite información o se inscriba.\n\n* Ejemplo de Respuesta Correcta\nCliente: ¿Qué servicios ofrece AIMASPAIN?\nAgente: _En AIMASPAIN ofrecemos soluciones avanzadas de inteligencia artificial y marketing digital, adaptadas a las necesidades de cada negocio. Nuestro objetivo es ayudarte a automatizar procesos, mejorar tu presencia online y escalar tus ventas._\n\nCliente: ¿Puedo obtener una demo gratuita de vuestros servicios?\nAgente: No lo sé, voy a consultarlo con el equipo de AIMASPAIN directamente.\n\n- La hora actual es {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        224,
        -16
      ],
      "id": "8875b420-d0f7-4e4d-b79b-017312588cde",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        112,
        160
      ],
      "id": "cb7c795a-5ee0-4c98-85e9-9b21f5847044",
      "name": "OpenAI Chat Model",
      "credentials": {}
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        160
      ],
      "id": "a94bc063-7ecb-4fcb-940f-86b9defeab92",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        432,
        192
      ],
      "id": "40b61c77-58bd-44cb-8ec2-8be446ad6605",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "aimaspain",
          "mode": "list",
          "cachedResultName": "aimaspain"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        288,
        368
      ],
      "id": "7a45c193-2322-4b5c-b38d-776a80835359",
      "name": "Pinecone Vector Store",
      "credentials": {}
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        624,
        368
      ],
      "id": "9b864dc0-f8ec-4530-a16d-114b96d714fe",
      "name": "OpenAI Chat Model1",
      "credentials": {}
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        544
      ],
      "id": "71b3041f-e267-4d86-a38c-fdc28a2be40f",
      "name": "Embeddings OpenAI",
      "credentials": {}
    },
    {
      "parameters": {
        "sseEndpoint": "https://personal-n8n.rk9l1c.easypanel.host/mcp/MCP/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        720,
        128
      ],
      "id": "3b7569c4-6181-4638-b0e4-8b6cf460e4c1",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "48ca770d-4dc9-4c1a-a300-52b7c7160949",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        -16
      ],
      "id": "5044e40f-39f5-4355-b7d5-ef9fb95e4863",
      "name": "Webhook",
      "webhookId": "REDACTED"
    },
    {
      "parameters": {
        "url": "={{ $json.pageurl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        -16
      ],
      "id": "1aaad8f3-87cb-4e4b-ad93-8d64f688436f",
      "name": "HTTP Request"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "abdeidr",
    "name": "n8n"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-01T11:32:27.388Z",
      "updatedAt": "2025-08-01T11:32:27.388Z",
      "role": "workflow:owner",
      "workflowId": "Nx7GpaMoZ28vzQtV",
      "projectId": "xdZYvePgLSibegaD"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-19T12:16:13.000Z",
  "versionId": "bb0e5694-87c8-4656-8bf4-c9f589923034"
}