P6MIxPRzxLaEcLIJ.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request - Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-27T17:11:07.694Z",
  "id": "P6MIxPRzxLaEcLIJ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "WEBHOOK CAL.COM",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "CAL.COM",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -96,
        0
      ],
      "id": "bdf9904a-78b2-4484-952b-67a3b6aa1125",
      "name": "Webhook",
      "webhookId": "REDACTED"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "= **Notificaci贸n de evento en Cal.com**\n---\n**Nombre:** {{ $json.name }}\n**Email:** {{ $json.email }}\n**Tel茅fono:** {{ $json.numeroTel }}\n**Inicio de llamada:**{{ $json.FechaInicioLLamada }} \n**Fin de llamada:** {{ $json.FechaFinLLamada }}\n\n**Consulta:** {{ $json.ComoTePodemosAyudar }}\n**TriggerEvent**{{ $('Webhook').item.json.body.triggerEvent }}\n** Razon de la cancelacion ** {{ $('Webhook').item.json.body.payload.cancellationReason }}\n---\n*Recibido v铆a Webhook*",
        "options": {
          "systemMessage": "Eres un asistente que recibe datos de un webhook con informaci贸n de citas y llamadas. Tu tarea es generar mensajes claros y organizados para enviar por WhatsApp en texto plano.\n\nPresenta siempre la informaci贸n en el siguiente orden y con t铆tulos claros, usando saltos de l铆nea para separar cada dato:\n\n- Notificaci贸n de evento en Cal.com\n- Nombre\n- Email\n- Tel茅fono\n- Inicio de llamada\n- Fin de llamada\n- Consulta o comentario\n\nSi el evento es especial (como una llamada nueva agendada, una cancelaci贸n o actualizaci贸n), notif铆calo al principio con frases como:\n\n- \"Nueva llamada agendada:\"\n- \"Llamada cancelada:\"\n- \"Evento actualizado:\"\n\nEjemplo:\n\n---\nNueva llamada agendada:  \nNombre: Juan P茅rez  \nEmail: juan@example.com  \nTel茅fono: +34666666666  \nInicio de llamada: 28-08-2025 14:30  \nFin de llamada: 28-08-2025 15:00  \n\nConsulta: Revisi贸n de proyecto\n#En caso de que sea cancelada a帽adir;\nMotivo de la cancelacion : cambiar para otro dia\n\n---\n\nMant茅n siempre el mensaje claro, legible y f谩cil de entender para WhatsApp.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        368,
        0
      ],
      "id": "5a4e130b-447d-4202-897a-2b1a564123f7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35964075-bd67-42d8-8260-cb3788866936",
              "name": "name",
              "value": "={{ $json.body.payload.attendees[0].name }}",
              "type": "string"
            },
            {
              "id": "015ca47e-11be-4ed8-9018-6f5acfffd9da",
              "name": "email",
              "value": "={{ $json.body.payload.attendees[0].email }}",
              "type": "string"
            },
            {
              "id": "2be95ab7-1cfb-4a64-b856-2c849f2ed34e",
              "name": "numeroTel",
              "value": "={{ $json.body.payload.attendees[0].phoneNumber }}",
              "type": "string"
            },
            {
              "id": "87c5937b-04f3-4f7b-b7c1-0e90b6619fbf",
              "name": "FechaInicioLLamada",
              "value": "={{ $json.body.payload.startTime }}",
              "type": "string"
            },
            {
              "id": "89991aad-f91c-4490-a038-8c98d48e7864",
              "name": "FechaFinLLamada",
              "value": "={{ $json.body.payload.endTime }}",
              "type": "string"
            },
            {
              "id": "e9242086-9388-48bf-b81f-81dc0b5690b8",
              "name": "ComoTePodemosAyudar",
              "value": "={{ $json.body.payload.responses.notes.value }}",
              "type": "string"
            },
            {
              "id": "7be86d61-0264-4fdb-92ea-352bb2352364",
              "name": " cancellationReason",
              "value": "={{ $json.body.payload.cancellationReason }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        0
      ],
      "id": "a7a639f3-f8a9-46f9-984d-704388732129",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "endpointUrl": "https://personal-n8n.rk9l1c.easypanel.host/mcp/MCP/sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        624,
        224
      ],
      "id": "59621c6b-6d7b-4116-a53d-4f7c594d68a8",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        256,
        192
      ],
      "id": "fbe6af9d-a8ce-4969-a0cd-3909d35d7837",
      "name": "OpenAI Chat Model",
      "credentials": {}
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://personal-evolution-api.rk9l1c.easypanel.host/message/sendText/calidaxBot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "[REDACTED]"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "34612575083@s.whatsapp.net"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            },
            {
              "name": "delay",
              "value": "={{2000}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        736,
        0
      ],
      "id": "b205fdb9-6a92-44f9-a0e0-343c12cfe128",
      "name": "HTTP Request - Respuesta"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.payload.eventTypeId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        240
      ],
      "id": "857bf703-a215-479f-9d71-d52847c860fd",
      "name": "Simple Memory",
      "notesInFlow": true
    }
  ],
  "origin": "n8n",
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "personal-n8n.rk9l1c.easypanel.host",
            "user-agent": "node",
            "content-length": "3030",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "baggage": "sentry-environment=vercel-production,sentry-public_key=7fa2ea46dede9404597bde582525baca,sentry-trace_id=e32123761fc3423eb5210c37a4db22b4,sentry-sampled=false,sentry-sample_rand=0.6057830809610989,sentry-sample_rate=0",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "sentry-trace": "e32123761fc3423eb5210c37a4db22b4-44a37900d6b12a68-0",
            "x-cal-signature-256": "no-secret-provided",
            "x-forwarded-for": "18.116.50.226",
            "x-forwarded-host": "personal-n8n.rk9l1c.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "7151fca3abb0",
            "x-real-ip": "18.116.50.226",
            "x-vercel-id": "cdg1::x9br5-1756331343913-a31e75ca8708"
          },
          "params": {},
          "query": {},
          "body": {
            "triggerEvent": "BOOKING_CANCELLED",
            "createdAt": "2025-08-27T21:49:04.075Z",
            "payload": {
              "bookerUrl": "https://cal.com",
              "title": "Llamada con Abde sobre IA y Marketing",
              "length": 30,
              "type": "llamada",
              "additionalNotes": "pruebe",
              "description": "En esta llamada gratuita, conocer茅 tu negocio, retos y objetivos para detectar oportunidades reales de automatizaci贸n con IA y/o Marketing digital.\n\n****Qu茅 puedes esperar:****\n\n*   Diagn贸stico express de tu situaci贸n actual\n*   Ideas pr谩cticas de mejora\n*   Ejemplos aplicables a tu negocio\n\n Sin conocimientos t茅cnicos. Solo trae tus preguntas y ganas de escalar con tecnolog铆a.",
              "customInputs": {},
              "eventTypeId": 3165823,
              "userFieldsResponses": {},
              "responses": {
                "name": {
                  "label": "your_name",
                  "value": "AIMASPAIN",
                  "isHidden": false
                },
                "email": {
                  "label": "email_address",
                  "value": "aimaspain.contacto@gmail.com",
                  "isHidden": false
                },
                "attendeePhoneNumber": {
                  "label": "phone_number",
                  "value": "+34666666666",
                  "isHidden": false
                },
                "location": {
                  "label": "location",
                  "value": {
                    "optionValue": "",
                    "value": "integrations:zoom"
                  },
                  "isHidden": false
                },
                "title": {
                  "label": "what_is_this_meeting_about",
                  "isHidden": true
                },
                "notes": {
                  "label": "驴C贸mo te podemos ayudar?",
                  "value": "pruebe",
                  "isHidden": false
                },
                "guests": {
                  "label": "additional_guests",
                  "value": [],
                  "isHidden": true
                },
                "rescheduleReason": {
                  "label": "reason_for_reschedule",
                  "isHidden": false
                }
              },
              "startTime": "2025-08-28T14:30:00+00:00",
              "endTime": "2025-08-28T15:00:00+00:00",
              "organizer": {
                "id": 1619326,
                "username": "aima-xwyn8i",
                "email": "aimaspain.contacto@gmail.com",
                "name": "AIMASPAIN",
                "timeZone": "Europe/Madrid",
                "timeFormat": "h:mma",
                "language": {
                  "locale": "en"
                },
                "utcOffset": 120
              },
              "attendees": [
                {
                  "name": "AIMASPAIN",
                  "email": "aimaspain.contacto@gmail.com",
                  "timeZone": "Europe/Madrid",
                  "phoneNumber": "+34666666666",
                  "language": {
                    "locale": "es"
                  },
                  "utcOffset": 120
                }
              ],
              "uid": "5b51Pce9cV7HhQEsMPfgTv",
              "bookingId": 10396647,
              "location": "integrations:zoom",
              "destinationCalendar": [
                {
                  "id": 687206,
                  "integration": "google_calendar",
                  "externalId": "aimaspain.contacto@gmail.com",
                  "primaryEmail": "aimaspain.contacto@gmail.com",
                  "userId": 1619326,
                  "eventTypeId": null,
                  "credentialId": 1132158,
                  "createdAt": "2025-07-07T10:50:48.811Z",
                  "updatedAt": null,
                  "delegationCredentialId": null,
                  "domainWideDelegationCredentialId": null
                }
              ],
              "cancellationReason": "ya no quiero",
              "seatsPerTimeSlot": null,
              "seatsShowAttendees": false,
              "iCalUID": "5b51Pce9cV7HhQEsMPfgTv@Cal.com",
              "iCalSequence": 1,
              "hideOrganizerEmail": false,
              "customReplyToEmail": null,
              "eventTitle": "Calendario de Agendamiento  ",
              "eventDescription": "En esta llamada gratuita, conocer茅 tu negocio, retos y objetivos para detectar oportunidades reales de automatizaci贸n con IA y/o Marketing digital.\n\n****Qu茅 puedes esperar:****\n\n*   Diagn贸stico express de tu situaci贸n actual\n*   Ideas pr谩cticas de mejora\n*   Ejemplos aplicables a tu negocio\n\n Sin conocimientos t茅cnicos. Solo trae tus preguntas y ganas de escalar con tecnolog铆a.",
              "requiresConfirmation": null,
              "price": null,
              "currency": "usd",
              "status": "CANCELLED",
              "cancelledBy": "aimaspain.contacto@gmail.com"
            }
          },
          "webhookUrl": "https://personal-n8n.rk9l1c.easypanel.host/webhook/CAL.COM",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo": {
    "owner": "abdeidr",
    "name": "n8n"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-27T17:11:07.707Z",
      "updatedAt": "2025-08-27T17:11:07.707Z",
      "role": "workflow:owner",
      "workflowId": "P6MIxPRzxLaEcLIJ",
      "projectId": "xdZYvePgLSibegaD"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-28T17:02:40.000Z",
  "versionId": "61781108-6582-4cfc-a6e4-63ae604fa16c"
}