P6MIxPRzxLaEcLIJ.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request - Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-27T17:11:07.694Z",
  "id": "P6MIxPRzxLaEcLIJ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "WEBHOOK CAL.COM",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "CAL.COM",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -96,
        0
      ],
      "id": "bdf9904a-78b2-4484-952b-67a3b6aa1125",
      "name": "Webhook",
      "webhookId": "REDACTED"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "= **Notificaci贸n de evento en Cal.com**\n---\n**Nombre:** {{ $json.name }}\n**Email:** {{ $json.email }}\n**Tel茅fono:** {{ $json.numeroTel }}\n**Inicio de llamada:**{{ $json.FechaInicioLLamada }} \n**Fin de llamada:** {{ $json.FechaFinLLamada }}\n\n**Consulta:** {{ $json.ComoTePodemosAyudar }}\n**TriggerEvent**{{ $('Webhook').item.json.body.triggerEvent }}\n** Razon de la cancelacion ** {{ $('Webhook').item.json.body.payload.cancellationReason }}\n---\n*Recibido v铆a Webhook*",
        "options": {
          "systemMessage": "Eres un asistente que recibe datos de un webhook con informaci贸n de citas y llamadas. Tu tarea es generar mensajes claros y organizados para enviar por WhatsApp en texto plano.\n\nPresenta siempre la informaci贸n en el siguiente orden y con t铆tulos claros, usando saltos de l铆nea para separar cada dato:\n\n- Notificaci贸n de evento en Cal.com\n- Nombre\n- Email\n- Tel茅fono\n- Inicio de llamada\n- Fin de llamada\n- Consulta o comentario\n\nSi el evento es especial (como una llamada nueva agendada, una cancelaci贸n o actualizaci贸n), notif铆calo al principio con frases como:\n\n- \"Nueva llamada agendada:\"\n- \"Llamada cancelada:\"\n- \"Evento actualizado:\"\n\nEjemplo:\n\n---\nNueva llamada agendada:  \nNombre: Juan P茅rez  \nEmail: juan@example.com  \nTel茅fono: +34666666666  \nInicio de llamada: 28-08-2025 14:30  \nFin de llamada: 28-08-2025 15:00  \n\nConsulta: Revisi贸n de proyecto\n#En caso de que sea cancelada a帽adir;\nMotivo de la cancelacion : cambiar para otro dia\n\n---\n\nMant茅n siempre el mensaje claro, legible y f谩cil de entender para WhatsApp.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        368,
        0
      ],
      "id": "5a4e130b-447d-4202-897a-2b1a564123f7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35964075-bd67-42d8-8260-cb3788866936",
              "name": "name",
              "value": "={{ $json.body.payload.attendees[0].name }}",
              "type": "string"
            },
            {
              "id": "015ca47e-11be-4ed8-9018-6f5acfffd9da",
              "name": "email",
              "value": "={{ $json.body.payload.attendees[0].email }}",
              "type": "string"
            },
            {
              "id": "2be95ab7-1cfb-4a64-b856-2c849f2ed34e",
              "name": "numeroTel",
              "value": "={{ $json.body.payload.attendees[0].phoneNumber }}",
              "type": "string"
            },
            {
              "id": "87c5937b-04f3-4f7b-b7c1-0e90b6619fbf",
              "name": "FechaInicioLLamada",
              "value": "={{ $json.body.payload.startTime }}",
              "type": "string"
            },
            {
              "id": "89991aad-f91c-4490-a038-8c98d48e7864",
              "name": "FechaFinLLamada",
              "value": "={{ $json.body.payload.endTime }}",
              "type": "string"
            },
            {
              "id": "e9242086-9388-48bf-b81f-81dc0b5690b8",
              "name": "ComoTePodemosAyudar",
              "value": "={{ $json.body.payload.responses.notes.value }}",
              "type": "string"
            },
            {
              "id": "7be86d61-0264-4fdb-92ea-352bb2352364",
              "name": " cancellationReason",
              "value": "={{ $json.body.payload.cancellationReason }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        0
      ],
      "id": "a7a639f3-f8a9-46f9-984d-704388732129",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "endpointUrl": "https://personal-n8n.rk9l1c.easypanel.host/mcp/MCP/sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        624,
        224
      ],
      "id": "59621c6b-6d7b-4116-a53d-4f7c594d68a8",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        256,
        192
      ],
      "id": "fbe6af9d-a8ce-4969-a0cd-3909d35d7837",
      "name": "OpenAI Chat Model",
      "credentials": {}
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://personal-evolution-api.rk9l1c.easypanel.host/message/sendText/calidaxBot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "[REDACTED]"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "34612575083@s.whatsapp.net"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            },
            {
              "name": "delay",
              "value": "={{2000}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        736,
        0
      ],
      "id": "b205fdb9-6a92-44f9-a0e0-343c12cfe128",
      "name": "HTTP Request - Respuesta"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.payload.eventTypeId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        240
      ],
      "id": "857bf703-a215-479f-9d71-d52847c860fd",
      "name": "Simple Memory",
      "notesInFlow": true
    }
  ],
  "origin": "n8n",
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "personal-n8n.rk9l1c.easypanel.host",
            "user-agent": "node",
            "content-length": "4131",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "baggage": "sentry-environment=vercel-production,sentry-public_key=7fa2ea46dede9404597bde582525baca,sentry-trace_id=44cd231f0f9048ee9891e106cfc560df,sentry-sampled=false,sentry-sample_rand=0.38011589877159757,sentry-sample_rate=0",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "sentry-trace": "44cd231f0f9048ee9891e106cfc560df-3734a73c5110961b-0",
            "x-cal-signature-256": "no-secret-provided",
            "x-forwarded-for": "3.138.138.30",
            "x-forwarded-host": "personal-n8n.rk9l1c.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "7151fca3abb0",
            "x-real-ip": "3.138.138.30",
            "x-vercel-id": "gru1::6fz9k-1761928965841-b87784d3d1de"
          },
          "params": {},
          "query": {},
          "body": {
            "triggerEvent": "BOOKING_CREATED",
            "createdAt": "2025-10-31T16:42:48.732Z",
            "payload": {
              "bookerUrl": "https://cal.com",
              "title": "Llamada con Abde sobre IA y Marketing",
              "startTime": "2025-11-01T12:30:00Z",
              "endTime": "2025-11-01T13:00:00Z",
              "additionalNotes": "Tengo una consulta medica, especialmente me interesa la parte de agendamiento de pctes. por medio del wasthapp y del tel茅fono ,porque son muchas las llamadas pidiendo informaci贸n o agendandose para la atenci贸n m茅dica ..",
              "type": "llamada",
              "description": "En esta llamada gratuita, conocer茅 tu negocio, retos y objetivos para detectar oportunidades reales de automatizaci贸n con IA y/o Marketing digital.\n\n****Qu茅 puedes esperar:****\n\n*   Diagn贸stico express de tu situaci贸n actual\n*   Ideas pr谩cticas de mejora\n*   Ejemplos aplicables a tu negocio\n\n Sin conocimientos t茅cnicos. Solo trae tus preguntas y ganas de escalar con tecnolog铆a.",
              "eventTypeId": 3165823,
              "hideCalendarNotes": false,
              "hideCalendarEventDetails": false,
              "hideOrganizerEmail": false,
              "schedulingType": null,
              "seatsPerTimeSlot": null,
              "seatsShowAttendees": true,
              "seatsShowAvailabilityCount": true,
              "customReplyToEmail": null,
              "disableRescheduling": false,
              "disableCancelling": false,
              "organizer": {
                "id": 1619326,
                "name": "AIMASPAIN",
                "email": "aimaspain.contacto@gmail.com",
                "username": "aima-xwyn8i",
                "timeZone": "Europe/Madrid",
                "language": {
                  "locale": "en"
                },
                "timeFormat": "h:mma",
                "utcOffset": 60
              },
              "attendees": [
                {
                  "email": "dr.bmejia@hotmail.com",
                  "name": "Byron mejia",
                  "phoneNumber": "+56963716775",
                  "firstName": "",
                  "lastName": "",
                  "timeZone": "America/Santiago",
                  "language": {
                    "locale": "es"
                  },
                  "utcOffset": -180
                }
              ],
              "customInputs": {},
              "responses": {
                "name": {
                  "label": "your_name",
                  "value": "Byron mejia",
                  "isHidden": false
                },
                "email": {
                  "label": "email_address",
                  "value": "dr.bmejia@hotmail.com",
                  "isHidden": false
                },
                "attendeePhoneNumber": {
                  "label": "phone_number",
                  "value": "+56963716775",
                  "isHidden": false
                },
                "location": {
                  "label": "location",
                  "value": {
                    "optionValue": "",
                    "value": "integrations:zoom"
                  },
                  "isHidden": false
                },
                "title": {
                  "label": "what_is_this_meeting_about",
                  "isHidden": true
                },
                "notes": {
                  "label": "驴C贸mo te podemos ayudar?",
                  "value": "Tengo una consulta medica, especialmente me interesa la parte de agendamiento de pctes. por medio del wasthapp y del tel茅fono ,porque son muchas las llamadas pidiendo informaci贸n o agendandose para la atenci贸n m茅dica ..",
                  "isHidden": false
                },
                "guests": {
                  "label": "additional_guests",
                  "value": [],
                  "isHidden": true
                },
                "rescheduleReason": {
                  "label": "reason_for_reschedule",
                  "isHidden": false
                }
              },
              "userFieldsResponses": {},
              "location": "integrations:zoom",
              "destinationCalendar": [
                {
                  "id": 687206,
                  "integration": "google_calendar",
                  "externalId": "aimaspain.contacto@gmail.com",
                  "primaryEmail": "aimaspain.contacto@gmail.com",
                  "userId": 1619326,
                  "eventTypeId": null,
                  "credentialId": 1132158,
                  "createdAt": "2025-07-07T10:50:48.811Z",
                  "updatedAt": null,
                  "delegationCredentialId": null,
                  "domainWideDelegationCredentialId": null
                }
              ],
              "iCalUID": "iih4vKaVrkmbNa5SEBBw9m@Cal.com",
              "iCalSequence": 0,
              "requiresConfirmation": false,
              "oneTimePassword": null,
              "uid": "iih4vKaVrkmbNa5SEBBw9m",
              "conferenceData": {
                "createRequest": {
                  "requestId": "8867fe6c-9326-5912-9766-fb3553f58d20"
                }
              },
              "videoCallData": {
                "type": "zoom_video",
                "id": "83276489829",
                "password": "x73mJ2",
                "url": "https://us05web.zoom.us/j/83276489829?pwd=Gao3R6BrgWZYnxsDVbIq421jTahWv9.1"
              },
              "appsStatus": [
                {
                  "appName": "zoom",
                  "type": "zoom_video",
                  "success": 1,
                  "failures": 0,
                  "errors": []
                },
                {
                  "appName": "google-calendar",
                  "type": "google_calendar",
                  "success": 1,
                  "failures": 0,
                  "errors": [],
                  "warnings": []
                }
              ],
              "eventTitle": "Calendario de Agendamiento  ",
              "eventDescription": "En esta llamada gratuita, conocer茅 tu negocio, retos y objetivos para detectar oportunidades reales de automatizaci贸n con IA y/o Marketing digital.\n\n****Qu茅 puedes esperar:****\n\n*   Diagn贸stico express de tu situaci贸n actual\n*   Ideas pr谩cticas de mejora\n*   Ejemplos aplicables a tu negocio\n\n Sin conocimientos t茅cnicos. Solo trae tus preguntas y ganas de escalar con tecnolog铆a.",
              "price": 0,
              "currency": "usd",
              "length": 30,
              "bookingId": 12315652,
              "metadata": {
                "videoCallUrl": "https://us05web.zoom.us/j/83276489829?pwd=Gao3R6BrgWZYnxsDVbIq421jTahWv9.1"
              },
              "status": "ACCEPTED"
            }
          },
          "webhookUrl": "https://personal-n8n.rk9l1c.easypanel.host/webhook/CAL.COM",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo": {
    "owner": "abdeidr",
    "name": "n8n"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-27T17:11:07.707Z",
      "updatedAt": "2025-08-27T17:11:07.707Z",
      "role": "workflow:owner",
      "workflowId": "P6MIxPRzxLaEcLIJ",
      "projectId": "xdZYvePgLSibegaD"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-31T20:55:58.000Z",
  "versionId": "c21e5229-edf0-4e4a-8ed3-144cc63976fd"
}