TZFJJ6PD4KnMs1PB.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-18T22:16:55.245Z",
  "id": "TZFJJ6PD4KnMs1PB",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "whatsapp",
  "nodes": [
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "845142065349325",
        "recipientPhoneNumber": "+34612575083",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        560,
        0
      ],
      "id": "3411bf9f-6597-44f6-a883-58042a08935e",
      "name": "Send message",
      "webhookId": "REDACTED",
      "credentials": {}
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "eres chatgpt"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "25de775b-d3a5-47f7-9423-325d2d60d610",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        256
      ],
      "id": "d63e28f6-2563-422c-9eae-48fb85b43ac3",
      "name": "OpenAI Chat Model",
      "credentials": {}
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.contacts[0].wa_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        256
      ],
      "id": "ed1a6510-e6f5-4ff9-866a-907c36e35d7c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "232653b4-b66e-41ac-81ae-ca07cb8bff99",
      "name": "WhatsApp Trigger",
      "webhookId": "REDACTED",
      "credentials": {}
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "abdeidr",
    "name": "n8n"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-18T22:16:55.392Z",
      "createdAt": "2025-10-18T22:16:55.392Z",
      "role": "workflow:owner",
      "workflowId": "TZFJJ6PD4KnMs1PB",
      "projectId": "xdZYvePgLSibegaD"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-09T18:06:30.000Z",
  "versionId": "c888310c-41dd-47b6-a008-79fed420722d"
}