vKj8vnvQyBRlD2Qh.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request - Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-09-21T15:02:54.827Z",
  "id": "vKj8vnvQyBRlD2Qh",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "cal.com idrabde7@",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Cal-idrabde7",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        288,
        -272
      ],
      "id": "259e1bf8-2b89-4069-aa52-2bc3d595ab43",
      "name": "Webhook",
      "webhookId": "REDACTED"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=🚨 **Notificación de evento en Cal.com**\n---\n**Nombre:** {{ $json.name }}\n**Email:** {{ $json.email }}\n**Teléfono:** {{ $json.numeroTel }}\n**Inicio de llamada:**{{ $json.FechaInicioLLamada }} \n**Fin de llamada:** {{ $json.FechaFinLLamada }}\n**En que te podemos ayudar:{{ $json.ComoTePodemosAyudar }} **\n**Notas adicionales:** {{ $json.ComoTePodemosAyudar }}\n**TriggerEvent**{{ $('Webhook').item.json.body.triggerEvent }}\n** Razon de la cancelacion ** {{ $('Webhook').item.json.body.payload.cancellationReason }}\n---\n*Recibido vía Webhook*",
        "options": {
          "systemMessage": "=Eres un asistente que recibe datos de un webhook con información de citas y llamadas. Tu tarea es generar mensajes claros y organizados para enviar por WhatsApp en texto plano.\n\nPresenta siempre la información en el siguiente orden y con títulos claros, usando saltos de línea para separar cada dato:\n\n- Notificación de evento en Cal.com\n- Nombre\n- Email\n- Teléfono\n- Inicio de llamada (añadele dos horas para que sea horario de madrid)\n- Fin de llamada (añadele dos horas para que sea horario de madrid)\n- Consulta o comentario\n\nSi el evento es especial (como una llamada nueva agendada, una cancelación o actualización), notifícalo al principio con frases como:\n\n- \"Nueva llamada agendada:\"\n- \"Llamada cancelada:\"\n- \"Evento actualizado:\"\n\nEjemplo:\n\n---\n**Nueva llamada agendada:** o **Llamada cancelada:** (en caso de que sea cancelada)\n\n**Nombre:** {{ $json.name }}\n**Email:** {{ $json.email }}\n**Teléfono:** {{ $json.numeroTel }}\n**Inicio de llamada:**{{ $json.FechaInicioLLamada }} \n**Fin de llamada:** {{ $json.FechaFinLLamada }}\n**En que te podemos ayudar:{{ $json.ComoTePodemosAyudar }} **\n**Notas adicionales:** {{ $json.ComoTePodemosAyudar }}\n#En caso de que sea cancelada añadir;\n** Razon de la cancelacion ** {{ $('Webhook').item.json.body.payload.cancellationReason }}\n\n---\n\nMantén siempre el mensaje claro, legible y fácil de entender para WhatsApp.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        752,
        -272
      ],
      "id": "27325e4d-eedc-4cce-b601-eb9e537d8f58",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35964075-bd67-42d8-8260-cb3788866936",
              "name": "name",
              "value": "={{ $json.body.payload.attendees[0].name }}",
              "type": "string"
            },
            {
              "id": "015ca47e-11be-4ed8-9018-6f5acfffd9da",
              "name": "email",
              "value": "={{ $json.body.payload.attendees[0].email }}",
              "type": "string"
            },
            {
              "id": "2be95ab7-1cfb-4a64-b856-2c849f2ed34e",
              "name": "numeroTel",
              "value": "={{ $json.body.payload.attendees[0].phoneNumber }}",
              "type": "string"
            },
            {
              "id": "87c5937b-04f3-4f7b-b7c1-0e90b6619fbf",
              "name": "FechaInicioLLamada",
              "value": "={{ $json.body.payload.startTime }}",
              "type": "string"
            },
            {
              "id": "89991aad-f91c-4490-a038-8c98d48e7864",
              "name": "FechaFinLLamada",
              "value": "={{ $json.body.payload.endTime }}",
              "type": "string"
            },
            {
              "id": "e9242086-9388-48bf-b81f-81dc0b5690b8",
              "name": "ComoTePodemosAyudar",
              "value": "={{ $json.body.payload.responses.notes.value }}",
              "type": "string"
            },
            {
              "id": "7be86d61-0264-4fdb-92ea-352bb2352364",
              "name": " cancellationReason",
              "value": "={{ $json.body.payload.cancellationReason }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        -272
      ],
      "id": "183f5c45-34ea-4878-a546-dc570cbe5610",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "endpointUrl": "https://personal-n8n.rk9l1c.easypanel.host/mcp/MCP/sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        1008,
        -48
      ],
      "id": "46cea6a6-a40c-48c4-9762-42e2832e8f3c",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        -80
      ],
      "id": "3a1d9f7a-f044-474a-a5a4-e87cdc9e6bbc",
      "name": "OpenAI Chat Model",
      "credentials": {}
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://personal-evolution-api.rk9l1c.easypanel.host/message/sendText/calidaxBot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "[REDACTED]"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "34612575083@s.whatsapp.net"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            },
            {
              "name": "delay",
              "value": "={{2000}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        -272
      ],
      "id": "b055bd79-cf05-41c9-abde-0a16dbbdafa8",
      "name": "HTTP Request - Respuesta"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.payload.eventTypeId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        816,
        -32
      ],
      "id": "b5d21267-645a-4c27-bffc-1bb748fd746a",
      "name": "Simple Memory",
      "notesInFlow": true
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "calidaxBot",
        "remoteJid": "34612575083@s.whatsapp.net",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1040,
        -384
      ],
      "id": "be108084-5b3c-400c-8761-a72161163cb9",
      "name": "Enviar texto",
      "credentials": {}
    }
  ],
  "origin": "n8n",
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "personal-n8n.rk9l1c.easypanel.host",
            "user-agent": "node",
            "content-length": "4263",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "baggage": "sentry-environment=vercel-production,sentry-public_key=7fa2ea46dede9404597bde582525baca,sentry-trace_id=fa41f6e2875b42a683497b21593391d7,sentry-sampled=false,sentry-sample_rand=0.07229421811894121,sentry-sample_rate=0",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "sentry-trace": "fa41f6e2875b42a683497b21593391d7-5cc076adc2e1ed75-0",
            "x-cal-signature-256": "no-secret-provided",
            "x-forwarded-for": "3.150.131.11",
            "x-forwarded-host": "personal-n8n.rk9l1c.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "7151fca3abb0",
            "x-real-ip": "3.150.131.11",
            "x-vercel-id": "cdg1:cdg1::d5c7l-1760463024492-1a1954ae56e4"
          },
          "params": {},
          "query": {},
          "body": {
            "triggerEvent": "BOOKING_CREATED",
            "createdAt": "2025-10-14T17:30:27.829Z",
            "payload": {
              "bookerUrl": "https://cal.com",
              "title": "Calendario de Agendamiento 📆  between Abde Idrissi and daniel",
              "startTime": "2025-10-15T17:30:00Z",
              "endTime": "2025-10-15T18:00:00Z",
              "additionalNotes": "",
              "type": "30min",
              "description": "En esta llamada gratuita, conoceré tu negocio, retos y objetivos para detectar oportunidades reales de automatización con IA y/o Marketing digital.\n\n📌 ****Qué puedes esperar:****\n\n*   Diagnóstico express de tu situación actual\n*   Ideas prácticas de mejora\n*   Ejemplos aplicables a tu negocio\n\n💡 Sin conocimientos técnicos. Solo trae tus preguntas y ganas de escalar con tecnología.",
              "eventTypeId": 3413636,
              "hideCalendarNotes": false,
              "hideCalendarEventDetails": false,
              "hideOrganizerEmail": false,
              "schedulingType": null,
              "seatsPerTimeSlot": null,
              "seatsShowAttendees": true,
              "seatsShowAvailabilityCount": true,
              "customReplyToEmail": null,
              "disableRescheduling": false,
              "disableCancelling": false,
              "organizer": {
                "id": 1778082,
                "name": "Abde Idrissi",
                "email": "idrabde7@gmail.com",
                "username": "abde-idrissi",
                "timeZone": "Europe/Madrid",
                "language": {
                  "locale": "en"
                },
                "timeFormat": "h:mma",
                "utcOffset": 120
              },
              "attendees": [
                {
                  "email": "dscaballero@gmail.com",
                  "name": "daniel",
                  "phoneNumber": "+34617414441",
                  "firstName": "",
                  "lastName": "",
                  "timeZone": "Europe/Madrid",
                  "language": {
                    "locale": "es"
                  },
                  "utcOffset": 120
                }
              ],
              "customInputs": {},
              "responses": {
                "name": {
                  "label": "your_name",
                  "value": "daniel",
                  "isHidden": false
                },
                "email": {
                  "label": "email_address",
                  "value": "dscaballero@gmail.com",
                  "isHidden": false
                },
                "attendeePhoneNumber": {
                  "label": "phone_number",
                  "value": "+34617414441",
                  "isHidden": false
                },
                "location": {
                  "label": "location",
                  "value": {
                    "value": "integrations:google:meet",
                    "optionValue": ""
                  },
                  "isHidden": false
                },
                "como-te-podemos-ayudar": {
                  "label": "¿Cómo te podemos ayudar?",
                  "value": "Demo",
                  "isHidden": false
                },
                "check-box": {
                  "label": "¿Vas a ser tú el único responsable de tomar esta decisión? (Si no eres el único, asegúrate de que tu socio esté presente en la llamada)",
                  "value": [
                    "Si, soy el único",
                    "No, me aseguraré de que mi socio también este presente en la llamada"
                  ],
                  "isHidden": false
                },
                "notes": {
                  "label": "Notas adicionales",
                  "isHidden": false
                },
                "title": {
                  "label": "what_is_this_meeting_about",
                  "isHidden": true
                },
                "guests": {
                  "label": "additional_guests",
                  "value": [],
                  "isHidden": true
                },
                "rescheduleReason": {
                  "label": "reason_for_reschedule",
                  "isHidden": false
                }
              },
              "userFieldsResponses": {
                "como-te-podemos-ayudar": {
                  "label": "¿Cómo te podemos ayudar?",
                  "value": "Demo",
                  "isHidden": false
                },
                "check-box": {
                  "label": "¿Vas a ser tú el único responsable de tomar esta decisión? (Si no eres el único, asegúrate de que tu socio esté presente en la llamada)",
                  "value": [
                    "Si, soy el único",
                    "No, me aseguraré de que mi socio también este presente en la llamada"
                  ],
                  "isHidden": false
                }
              },
              "location": "integrations:google:meet",
              "destinationCalendar": [
                {
                  "id": 833996,
                  "integration": "google_calendar",
                  "externalId": "idrabde7@gmail.com",
                  "primaryEmail": "idrabde7@gmail.com",
                  "userId": 1778082,
                  "eventTypeId": null,
                  "credentialId": 1348541,
                  "createdAt": "2025-09-21T14:38:02.896Z",
                  "updatedAt": "2025-09-21T14:38:02.896Z",
                  "delegationCredentialId": null,
                  "domainWideDelegationCredentialId": null
                }
              ],
              "iCalUID": "i7sCGt6FXAgwo9SWBnUP2v@Cal.com",
              "iCalSequence": 0,
              "requiresConfirmation": false,
              "oneTimePassword": null,
              "uid": "i7sCGt6FXAgwo9SWBnUP2v",
              "conferenceData": {
                "createRequest": {
                  "requestId": "8a0ce172-f69a-51b5-8481-93feb73d58e2"
                }
              },
              "appsStatus": [
                {
                  "appName": "google-calendar",
                  "type": "google_calendar",
                  "success": 1,
                  "failures": 0,
                  "errors": [],
                  "warnings": []
                },
                {
                  "appName": "Google Meet",
                  "type": "conferencing",
                  "success": 1,
                  "failures": 0,
                  "errors": []
                }
              ],
              "eventTitle": "Calendario de Agendamiento 📆 ",
              "eventDescription": "En esta llamada gratuita, conoceré tu negocio, retos y objetivos para detectar oportunidades reales de automatización con IA y/o Marketing digital.\n\n📌 ****Qué puedes esperar:****\n\n*   Diagnóstico express de tu situación actual\n*   Ideas prácticas de mejora\n*   Ejemplos aplicables a tu negocio\n\n💡 Sin conocimientos técnicos. Solo trae tus preguntas y ganas de escalar con tecnología.",
              "price": 0,
              "currency": "usd",
              "length": 30,
              "bookingId": 11764577,
              "metadata": {
                "videoCallUrl": "https://meet.google.com/gfp-irgc-pqs"
              },
              "status": "ACCEPTED"
            }
          },
          "webhookUrl": "https://personal-n8n.rk9l1c.easypanel.host/webhook/Cal-idrabde7",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo": {
    "owner": "abdeidr",
    "name": "n8n"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-21T15:02:54.839Z",
      "updatedAt": "2025-09-21T15:02:54.839Z",
      "role": "workflow:owner",
      "workflowId": "vKj8vnvQyBRlD2Qh",
      "projectId": "xdZYvePgLSibegaD"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-14T20:18:56.000Z",
  "versionId": "6696273b-4138-4468-ba00-b1bcf7cf69d4"
}